Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(backoffice): skipped-by-me and reviewed-by-me filter fields
  backoffice/src/components/Applications/ApplicationFilterBuilder.tsx
Due: biome-check-backoffice

feat(backend): reviewed_by filter field for any reviewer
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_list_filters.py
  backoffice/src/client/sdk.gen.ts
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): merge reviewer dropdown into the filter conditions
  backoffice/src/components/Applications/ApplicationFilterBuilder.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

refactor(backoffice): remove the reviewer quick select
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

fix(backoffice): give the CSV export empty and success feedback
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

fix(backoffice): popup-aware status options in the filter builder
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backend): grouped counts and group-scoped listing for applications
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_group_counts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): NocoDB-style group view for the applications list
  backoffice/src/components/Applications/ApplicationsGroupedView.tsx
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backend): team-shared saved views for list pages
  backend/app/alembic/versions/2b03f8cf7cdd_saved_views.py
  backend/app/api/router.py
  backend/app/api/saved_view/__init__.py
  backend/app/api/saved_view/crud.py
  backend/app/api/saved_view/models.py
  backend/app/api/saved_view/router.py
  backend/app/api/saved_view/schemas.py
  backend/tests/api/saved_view/__init__.py
  backend/tests/api/saved_view/test_saved_views.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): saved views menu on the applications list
  backoffice/src/components/Common/SavedViewsMenu.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backoffice): clear view button on the applications list
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

fix(tests): deterministic prior-payment pick in supersede equivalence test
  backend/tests/api/payment/test_pending_release_return.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): name column no longer links to the human profile
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

refactor(backoffice): remove the status quick select from applications
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(filters): add advanced filters and filtered exports to attendees and payments
  backend/app/api/application/crud.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/api/saved_view/schemas.py
  backend/app/core/filters.py
  backend/tests/api/attendee/test_list_filters.py
  backend/tests/api/payment/test_list_filters.py
  backend/tests/api/saved_view/test_saved_views.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/Common/FilterBuilder.tsx
  backoffice/src/routes/_layout/attendees/index.tsx
  backoffice/src/routes/_layout/payments.helpers.test.ts
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): preserve the query string on custom-domain root rewrites
  portal/src/proxy.test.ts
  portal/src/proxy.ts
Due: biome-check-portal

feat(backoffice): add application related records
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/applications/ApplicationCommentThread.tsx
  backoffice/src/components/applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/applications/ApplicationRelatedRecords.test.tsx
  backoffice/src/components/applications/ApplicationRelatedRecords.tsx
  backoffice/src/components/applications/ApplicationsGroupedView.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/attendees.test.tsx
  backoffice/src/routes/_layout/attendees/index.tsx
Due: biome-check-backoffice

feat(humans): add advanced filters to the humans table
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backend/tests/api/human/test_list_filters.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/humans/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(humans): escape LIKE wildcards in the enriched_profile filter
  backend/app/api/human/crud.py
  backend/tests/api/human/test_list_filters.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): add CSV export that respects the active filters
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

feat(applications): offer fixed option values in advanced filters
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Common/FilterBuilder.tsx
  backoffice/src/components/applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/forms/ApplicationForm.tsx
  backoffice/src/contexts/WorkspaceContext.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice

feat(tenant): make the portal help button configurable per organization
  backend/app/alembic/versions/a7f2c9e4b183_tenant_help_button.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/tests/api/tenant/test_tenant_help_button.py
  backend/tests/core/dependencies/test_tenants.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/TenantForm.help-button.test.tsx
  backoffice/src/components/forms/TenantForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/HelpButton.test.tsx
  portal/src/components/HelpButton.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(tenants): stop offering deleted organizations as a context
  backend/app/api/tenant/router.py
  backend/app/core/dependencies/users.py
  backend/tests/api/tenant/test_deleted_tenant_availability.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/contexts/WorkspaceContext.tsx
  backoffice/src/routes/_layout/organizations/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(invites): pass invite id when building the preview payload
  backend/app/api/group/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(applications): human-field filters and grouped view subgroups
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_group_counts.py
  backend/tests/api/application/test_list_filters.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/applications/ApplicationsGroupedView.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): column reorder menu and columns in saved views
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/components/Common/SavedViewsMenu.tsx
  backoffice/src/components/applications/ApplicationsGroupedView.tsx
  backoffice/src/hooks/useTableColumnPrefs.ts
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

fix(portal): render the checkout SSR in the visitor's stored language
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/hooks/useCheckoutRuntime.ts
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/lib/api-client.ts
  portal/src/lib/language-storage.test.ts
  portal/src/lib/language-storage.ts
  portal/src/lib/query-keys.ts
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal

fix(tenants): make deleted organizations fully unavailable
  backend/app/api/tenant/router.py
  backend/tests/api/tenant/test_deleted_tenant_availability.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/organizations/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(checkout): extract shared open-ticketing amount math
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): add preview request/response schemas
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_preview.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): add preview_open_ticketing crud method
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_preview.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): add public POST /checkout/{slug}/preview endpoint
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_preview.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(publishable-key): add PopupPublishableKeys model + migration
  backend/app/alembic/versions/f1a2b3c4d5e6_add_popup_publishable_keys.py
  backend/app/api/publishable_key/__init__.py
  backend/app/api/publishable_key/models.py
  backend/app/models.py
  backend/tests/api/publishable_key/__init__.py
  backend/tests/api/publishable_key/test_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(publishable-key): mint/lookup/revoke crud + schemas
  backend/app/api/publishable_key/crud.py
  backend/app/api/publishable_key/schemas.py
  backend/tests/api/publishable_key/test_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(publishable-key): resolve tenant via publishable key + origin allowlist
  backend/app/core/dependencies/tenants.py
  backend/tests/api/publishable_key/test_resolver.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(publishable-key): admin endpoints to mint/list/revoke keys
  backend/app/api/publishable_key/__init__.py
  backend/app/api/publishable_key/router.py
  backend/app/api/router.py
  backend/tests/api/publishable_key/test_router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout-core): scaffold @edgeos/checkout-core package (Plan 2 Task 2.0)
  packages/checkout-core/package.json
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/smoke.test.ts
  packages/checkout-core/tsconfig.json
  packages/checkout-core/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(checkout-core): transport layer (fetch + config + typed errors)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/transport/errors.ts
  packages/checkout-core/src/transport/fetchTransport.test.ts
  packages/checkout-core/src/transport/fetchTransport.ts
  packages/checkout-core/src/transport/types.ts
Due: none

feat(checkout-core): add typed API client + local API types (Task 2.2)
  packages/checkout-core/src/client.test.ts
  packages/checkout-core/src/client.ts
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/types/api.ts
Due: none

feat(checkout-core): port step derivation + navigation as pure fns (Task 2.3)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/steps/derive.test.ts
  packages/checkout-core/src/steps/derive.ts
  packages/checkout-core/src/steps/index.ts
  packages/checkout-core/src/steps/navigation.test.ts
  packages/checkout-core/src/steps/navigation.ts
  packages/checkout-core/src/steps/templates.ts
  packages/checkout-core/src/types/api.ts
  packages/checkout-core/src/types/checkout.ts
Due: none
