Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(events): count RSVPs per date on recurring events in the event list
  backend/app/api/event/router.py
  backend/app/api/event/series.py
  backend/app/api/event_participant/crud.py
  backend/tests/test_event_occurrence_context.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(profile): collectible badges and opt-in sharing
  backend/app/alembic/versions/a4f6b8d2c9e1_public_profile_link_opt_in.py
  backend/app/api/human/models.py
  backend/tests/api/badge/test_badges.py
  backend/tests/migrations/test_public_profile_link_opt_in.py
  portal/src/components/badges/BadgeTile.test.tsx
  portal/src/components/badges/BadgeTile.tsx
  portal/src/components/badges/PublicProfileView.tsx
  portal/src/components/profile/BadgesSection.test.tsx
  portal/src/components/profile/BadgesSection.tsx
  portal/src/hooks/usePublicProfileSettings.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(migrations): track opt-in sharing head and isolate setup
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_public_profile_link_opt_in.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(profile): collectible badges and opt-in sharing (#750)
  backend/app/alembic/versions/a4f6b8d2c9e1_public_profile_link_opt_in.py
  backend/app/api/human/models.py
  backend/tests/api/badge/test_badges.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_public_profile_link_opt_in.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  portal/src/components/badges/BadgeTile.test.tsx
  portal/src/components/badges/BadgeTile.tsx
  portal/src/components/badges/PublicProfileView.tsx
  portal/src/components/profile/BadgesSection.test.tsx
  portal/src/components/profile/BadgesSection.tsx
  portal/src/hooks/usePublicProfileSettings.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): hide sharing settings without application
  portal/src/app/portal/[popupSlug]/attendees/components/PrivacySettings.test.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/PrivacySettings.tsx
Due: biome-check-portal

fix(portal): show per-unit product QR codes in payment history
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.qr.test.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.test.ts
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/QRcode.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(popup): validate public list tenant header as UUID
  backend/app/api/popup/router.py
  backend/tests/api/popup/test_public_list_tenant_header.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(popup): isolate public list regression tenants
  backend/tests/api/popup/test_public_list_tenant_header.py
Due: local-ruff-check, local-ruff-format, generate-sdk

docs(sso): add agent-friendly partner integration guide
  README.md
  examples/third-party-sso/INTEGRATION.md
  examples/third-party-sso/README.md
Due: none

feat(portal): customize sidebar per gathering
  backend/app/alembic/versions/b2f8c4d1a6e9_popup_sidebar_config.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_popup.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/PopupSidebarEditor.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(migrations): align tests with sidebar schema
  backend/tests/migrations/test_backfill_popup_event_settings.py
  backend/tests/migrations/test_cascade_popup_event_settings.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_event_attendance_modes.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_restore_companion_categories.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(check-ins): include product_category in check-ins list
  backend/app/api/check_in/router.py
  backend/app/api/check_in/schemas.py
  backend/tests/api/check_in/test_http_list_check_ins.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(check-in): filter scan history and identify merch pickups
  backend/app/api/check_in/router.py
  backend/app/api/check_in/schemas.py
  backend/tests/api/check_in/test_list_check_ins_filters.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(tickets): show unlinked spouse tickets in personal API and portal
  backend/README.md
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/schemas.py
  backend/scripts/seed_spouse_ticket_qa.py
  backend/tests/api/attendee/test_list_my_spouse_tickets.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/PersonalTicketPasses.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/PersonalTicketPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/app/portal/[popupSlug]/passes/personalTicketsProjection.test.ts
  portal/src/app/portal/[popupSlug]/passes/personalTicketsProjection.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useMyTicketsQuery.test.tsx
  portal/src/hooks/useMyTicketsQuery.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  scripts/validate-spouse-ticket-qa.py
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
