Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

test(portal): add failing tests for resolvePatronPriceMode default and fixed mode
  portal/src/hooks/checkout/resolvePatronPriceMode.test.ts
Due: biome-check-portal

feat(portal): add resolvePatronPriceMode helper
  portal/src/hooks/checkout/resolvePatronPriceMode.ts
Due: biome-check-portal

test(portal): add failing tests for PatronSection price mode decoupling
  portal/src/components/checkout-flow/steps/PatronSection.test.tsx
Due: biome-check-portal

refactor(portal): replace category===patreon check with resolvePatronPriceMode
  portal/src/components/checkout-flow/steps/PatronSection.tsx
Due: biome-check-portal

test(portal): add failing test for VariantPatronPreset fixed-price branch
  portal/src/components/checkout-flow/VariantPatronPreset.test.tsx
Due: biome-check-portal

feat(portal): implement fixed-price branch in VariantPatronPreset
  portal/src/components/checkout-flow/VariantPatronPreset.test.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
Due: biome-check-portal

chore(backend): add audit_legacy_ticketing_steps.py pre-removal SQL gate
  backend/scripts/audit_legacy_ticketing_steps.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): remove STEP_COMPONENT_REGISTRY legacy non-template path
  portal/src/app/checkout/components/CheckoutFlow.test.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/components/checkout-flow/DynamicProductStep.test.tsx
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/registries/index.ts
  portal/src/components/checkout-flow/registries/stepRegistry.ts
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/steps/MerchSection.tsx
  portal/src/components/checkout-flow/steps/PatronSection.test.tsx
  portal/src/components/checkout-flow/steps/PatronSection.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

test(portal): add bug reproducer for VariantMerchImage with category="other"
  portal/src/components/checkout-flow/variants/VariantMerchImage.test.tsx
Due: biome-check-portal

test(portal): add cart lifecycle integration test for CheckoutProvider
  portal/src/providers/checkoutProvider.lifecycle.test.tsx
Due: biome-check-portal

test(portal): add end-to-end smoke test for arbitrary product_category in checkout flow
  portal/src/components/checkout-flow/checkout-flow-category-other.test.tsx
Due: biome-check-portal

fix(portal): satisfy biome in Phase 8 test files — fix img suppression placement
  portal/src/components/checkout-flow/checkout-flow-category-other.test.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.test.tsx
  portal/src/providers/checkoutProvider.lifecycle.test.tsx
Due: biome-check-portal

fix(portal): rich render for VariantTicketSelect legacy fallback
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(portal): adapt VariantTicketSelect rich fallback to max_per_order schema
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(portal): pass all active products to selection hooks for arbitrary step.product_category
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(backend): avoid Products coercion in /attendees/my/popup response builder
  backend/app/api/attendee/router.py
  backend/tests/api/attendee/test_http_my_attendees_by_popup.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show inline error UI on /passes instead of infinite loader
  portal/src/app/portal/[popupSlug]/passes/page.tsx
Due: biome-check-portal

fix(backend): stop forcing PAT-created events to pending_approval
  backend/app/api/event/router.py
  backend/tests/test_api_key_policy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): make events calendar column sticky and self-sized
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

chore(backend): audit add_product callers ahead of always-insert flip
  backend/docs/sdd/ticket-as-first-class-entity-add-product-callers.md
Due: generate-sdk

test(backend): RED — audit script exits 1 on duplicates, check_in_code must be 8 chars
  backend/tests/api/attendee/test_check_in_code_length.py
  backend/tests/migrations/test_audit_attendee_uniqueness.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): extend check_in_code to 8 chars + audit_attendee_uniqueness script
  backend/app/api/attendee/crud.py
  backend/scripts/audit_attendee_uniqueness.py
  backend/tests/migrations/test_audit_attendee_uniqueness.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): RED — migration schema assertions for ticket entity
  backend/tests/migrations/test_ticket_entity_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): migration 0044 — ticket as first-class entity (UUID PK, check_in_code, payment_id, requires_check_in)
  backend/app/alembic/versions/0044_ticket_as_first_class_entity.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): RED — model/schema assertions for ticket entity (id, check_in_code, requires_check_in)
  backend/tests/api/attendee/test_ticket_entity_models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN phase 3 — promote AttendeeProducts to first-class Ticket entity
  backend/app/api/attendee/models.py
  backend/app/api/attendee/schemas.py
  backend/app/api/payment/schemas.py
  backend/app/api/product/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN phase 4 — CRUD rewrites for first-class tickets
  backend/app/api/attendee/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN phase 5 — rewrite create_open_ticketing_payment for single-attendee model
  backend/app/api/payment/crud.py
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN phase 6 — API contract updates for ticket entity
  backend/app/api/attendee/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): update tests for first-class ticket entity model
  backend/tests/api/attendee/test_find_by_human_popup.py
  backend/tests/api/attendee/test_http_my_attendees_by_popup.py
  backend/tests/api/attendee/test_ticket_entity_models.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/migrations/test_audit_attendee_uniqueness.py
  backend/tests/migrations/test_ticket_entity_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): satisfy ruff T201 in audit_attendee_uniqueness script
  backend/scripts/audit_attendee_uniqueness.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing test for remove_ticket(ticket_id) signature
  backend/tests/api/attendee/test_remove_ticket.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): replace remove_product with remove_ticket(ticket_id)
  backend/app/api/attendee/crud.py
  backend/tests/api/attendee/test_remove_ticket.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): create ticket_event package skeleton
  backend/app/api/ticket_event/__init__.py
  backend/tests/api/ticket_event/__init__.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing migration test for ticket_events table
  backend/tests/migrations/test_ticket_events_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): alembic migration for ticket_events event log table
  backend/app/alembic/versions/0045_ticket_events_log.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing tests for TicketEvent + CheckInPayload schemas
  backend/tests/api/ticket_event/test_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
