Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(backoffice): hide price field for patreon products in ProductForm
  backoffice/src/components/forms/ProductForm.cross-field.test.tsx
  backoffice/src/components/forms/ProductForm.patreon.test.tsx
  backoffice/src/components/forms/ProductForm.requires-check-in.test.tsx
  backoffice/src/components/forms/ProductForm.stock-fields.test.tsx
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/test-setup.ts
Due: biome-check-backoffice

feat(backoffice): payments listing shows effective_unit_price for patron lines
  backoffice/src/routes/_layout/payments.helpers.test.ts
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

feat(i18n): add Icelandic (is) locale support
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/translations/TranslationManager.tsx
  portal/src/i18n/config.ts
  portal/src/i18n/locales/is.json
Due: biome-check-backoffice, biome-check-portal

i18n(events): rename "Published" status to "Public" across locales
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

style(portal/events): distinguish tracks (violet), tags (bordered), RSVP (emerald)
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
Due: biome-check-portal

fix(payment): tolerate missing minimum key in patron template_config
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_patron_validators.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): use unit_price_override as patron amount in preview total
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_patron_payment_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): treat null patron template_config as empty config
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_patron_payment_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): decouple patron donation from ticket price
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_patron_payment_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): row-click navigation across lists, delete moves to DangerZone
  backoffice/src/components/Admin/DeleteUser.tsx
  backoffice/src/components/Admin/UserActionsMenu.tsx
  backoffice/src/components/Admin/columns.tsx
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/ui/sidebar.tsx
  backoffice/src/routes/_layout/admin/index.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/coupons/index.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/tracks/index.tsx
  backoffice/src/routes/_layout/events/venues/index.tsx
  backoffice/src/routes/_layout/groups/index.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  backoffice/src/routes/_layout/organizations/index.tsx
  backoffice/src/routes/_layout/popups/index.tsx
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

feat(migration): update reviewer mapping and streamline attendee category handling
  backend/scripts/migrate_from_source.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add compare-at price field to product form
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(backoffice): show price, slug, and inactive state in ticketing section product picker
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
Due: biome-check-backoffice

fix(portal): support dynamic checkout ticket payments
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(portal): show "Free" for $0 products and fix description expander
  portal/src/app/checkout/[popupSlug]/components/ProductPicker.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/ui/ExpandableDescription.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(portal): scope /passes 'Starting at' price to main attendee category
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
Due: biome-check-portal

fix(portal): always redirect to /portal after login
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/page.tsx
  portal/src/components/Authentication.tsx
  portal/src/lib/safe-return-to.ts
Due: biome-check-portal

fix(portal): honor explicit ?redirect= on auth for event RSVP flow
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/page.tsx
  portal/src/lib/safe-return-to.ts
Due: biome-check-portal

perf(portal): skip retries on 401 to fail fast on invalid tokens
  portal/src/providers/queryProvider.tsx
Due: biome-check-portal

feat(profile): populate popups attended and days-at cards from a new humans endpoint
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/profile/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/PopupsHistory.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/hooks/useGetProfileStats.ts
  portal/src/lib/query-keys.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show initial fallback when a popup has no image
  portal/src/components/profile/PopupsHistory.tsx
Due: biome-check-portal

fix(backend): sync group membership junction and preserve historical group_id
  backend/app/api/application/crud.py
  backend/app/api/application/models.py
  backend/app/api/group/crud.py
  backend/app/api/group/models.py
  backend/app/api/group/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): redirect to /passes after $0 payment and on SimpleFI return
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(form-builder): field_type override on base configs, half_row width, draft validation
  backend/app/alembic/versions/c5d3e8a2f9b1_basefieldconfigs_field_type.py
  backend/app/api/application/crud.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/base_field_config/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/form_field/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/form-builder/SectionDropZone.tsx
  backoffice/src/components/form-builder/constants.ts
  packages/shared-form-ui/src/components/Form/ImageUploadForm.tsx
  packages/shared-form-ui/src/components/Form/MultiSelectDetailedForm.tsx
  packages/shared-form-ui/src/components/Form/RichTextForm.tsx
  packages/shared-form-ui/src/types.ts
  packages/shared-form-ui/src/utils.ts
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Sidebar/HeaderBar.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(form-builder): support multiselect_detailed field type end-to-end
  packages/shared-form-ui/src/components/Form/MultiSelectDetailedForm.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
  portal/src/lib/form-schema-builder.ts
  portal/src/types/form-schema.ts
Due: biome-check-portal

feat(application): render signature custom fields and tweak rich_text checkbox error
  backoffice/src/components/ApplicationDetail.tsx
  portal/src/lib/form-schema-builder.ts
Due: biome-check-backoffice, biome-check-portal

feat(credits): gate credits per popup and fix month-upgrade credit math
  backend/app/alembic/versions/f7fa8db4239a_popup_credits_enabled.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/EditPassesButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalPurchase.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useCreditCalculation.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useCalculateTotal.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/strategies/TotalStrategy.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(portal): fix biome formatting in useCreditCalculation
  portal/src/hooks/checkout/useCreditCalculation.ts
Due: biome-check-portal

feat(portal): render patron description as paragraphs
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
Due: biome-check-portal

fix(portal): unblock Pay when tickets are selected via DynamicProductStep
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

fix(portal): use popup primary category for /passes 'Starting at' min price
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
Due: biome-check-portal

fix(portal): gate VariantTicketSelect description expander on overflow
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(portal): redirect to fallback slug when popup URL slug is invalid
  portal/src/providers/cityProvider.tsx
Due: biome-check-portal

fix(portal): restore change email button and populate field on express checkout
  portal/src/app/checkout/components/UserInfoForm/PersonalInfoForm.tsx
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/app/checkout/types.ts
Due: biome-check-portal

fix(backend): scope required field validation to express checkout subset for group applications
  backend/app/api/application/crud.py
  backend/app/api/form_field/crud.py
  backend/tests/api/form_field/test_form_field_express_checkout.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): respect checkout bottom bar color overrides from popup theme
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(portal): expose events sidebar and API access for accepted companions
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

fix(portal): move VariantTicketSelect hooks above early returns and apply biome formatting
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

fix(portal): align express checkout fields by help_text presence
  portal/src/app/checkout/components/UserInfoForm/PersonalInfoForm.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
