Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(templates): ticket-card + rich-text checkout step templates
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/RichTextConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-backoffice, biome-check-portal

feat(checkout): tenant-configurable step emoji + popup favicon + tracking snippets
  backend/app/alembic/versions/d1e3f7a90c12_amanita_overhaul_step_emoji_popup_favicon_tracking.py
  backend/app/api/popup/schemas.py
  backend/app/api/ticketing_step/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/FaviconOverride.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/TrackingSnippet.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): buyer step is a real TicketingStep row + i18n cleanup + email validation
  backend/app/alembic/versions/e2c8b146a7d3_backfill_buyer_step_for_direct_sale.py
  backend/app/api/ticketing_step/constants.py
  backend/app/core/db.py
  backoffice/src/routeTree.gen.ts
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/form-schema-builder.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(dev): seed_amanita.py — local test merchant fixture
  backend/scripts/seed_amanita.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): bulletproof promo-code → cart total wiring
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/discountProvider.tsx
Due: biome-check-portal

feat(events): public anonymous calendar route per popup
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/[popupSlug]/calendar/page.tsx
  portal/src/app/[popupSlug]/calendar/usePublicCalendarEvents.ts
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/not-found.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TracksPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/types.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventTimezone.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/LoginRequiredDialog.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backend): stop forcing admin-created events into PENDING_APPROVAL
  backend/app/api/event/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): brand logo in nav, globe-only lang switcher, prop plumbing
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/common/LanguageSwitcher.tsx
Due: biome-check-portal

chore(seed): real Amanita assets + hero step + buyer-first ordering
  backend/scripts/seed_amanita.py
  portal/public/amanita/aftermovie-thumb.png
  portal/public/amanita/checkout-bg.webp
  portal/public/amanita/entrada-ninos.png
  portal/public/amanita/gallery-1-blue-stage.jpg
  portal/public/amanita/gallery-2-yoga.jpg
  portal/public/amanita/gallery-3-dance.jpg
  portal/public/amanita/gallery-4-dj-kevin.png
  portal/public/amanita/gallery-5-ecstatic-dance.png
  portal/public/amanita/gallery-6-deep-house-yoga.png
  portal/public/amanita/gallery-7-elias.png
  portal/public/amanita/gallery-8-yoga.png
  portal/public/amanita/hero-flyer.png
  portal/public/amanita/logo.png
  portal/public/amanita/ticket-4-dias.png
  portal/public/amanita/ticket-7-dias.png
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): default public calendar to English
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
Due: biome-check-portal

fix(backend): tenant PATCH no-op guards (custom_domain, slug)
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/tests/api/tenant/test_patch_no_op_guards.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate openapi client after TenantUpdate schema narrow
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

chore(portal): stop tracking auto-generated next-env.d.ts
  portal/.gitignore
  portal/next-env.d.ts
Due: biome-check-portal

feat(theme): checkout nav text colour + monochrome emoji opt-in
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

fix(checkout): ticket-card surface override + Volver visibility on real first step
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

chore(seed): full Amanita Ver más copy + verde-marino navbar + housing images
  backend/scripts/seed_amanita.py
  portal/public/amanita/housing-carpa.webp
  portal/public/amanita/housing-motorhome.webp
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(theme/nav): curated Lucide-icon registry + white watermark token + sharper ticket-card images
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(checkout): email verification on the buyer step
  backend/app/api/checkout/email_verification.py
  backend/app/api/checkout/router.py
  portal/src/app/checkout/[popupSlug]/components/EmailVerificationField.tsx
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(seed): icon slugs, white watermark, ticket-card for housing+parking
  backend/scripts/seed_amanita.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Revert "feat(checkout): email verification on the buyer step"
  backend/app/api/checkout/email_verification.py
  backend/app/api/checkout/router.py
  portal/src/app/checkout/[popupSlug]/components/EmailVerificationField.tsx
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(theme): white watermark fix + themeable ticket-card surface
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

chore(seed): wire Amanita to the new card colour tokens
  backend/scripts/seed_amanita.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(ticket-card): inline accent CTA + branded "Ver más" toggle
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(portal): scrolly checkout footer scroll past snap point
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

chore(portal): remove promo-debug console logs
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/discountProvider.tsx
Due: biome-check-portal

Allow check-in for non-ticket products
  backend/app/alembic/versions/7d8e9f0a1b2c_require_check_in_only_for_tickets.py
  backend/app/api/product/models.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): clarify thank-you email copy
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): scroll to focused event card on return from event detail
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(portal): gate attendee directory by popup setting
  backend/app/alembic/versions/6b8d4f2a9c1e_popup_attendee_directory_flag.py
  backend/app/api/application/router.py
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/portal/[popupSlug]/attendees/hooks/useExportCsv.ts
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/app/portal/[popupSlug]/attendees/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useResources.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(check_in): harden self-service ownership lock and reuse record_check_in
  backend/app/api/check_in/crud.py
  backend/app/api/check_in/router.py
  backend/tests/api/check_in/test_http_self_check_in.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): link venue from event detail and add maps icon
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
Due: biome-check-portal

fix(product): sync total_stock_remaining when total_stock_cap changes
  backend/app/api/product/crud.py
  backend/tests/api/product/test_product_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): polish public calendar header and auth-gated flow
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(product): seed total_stock_remaining when only total_stock_cap is provided on create
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_product_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(api): add venues:write scope and CRUD via API key for portal venues
  backend/app/api/api_key/schemas.py
  backend/app/api/event_venue/router.py
  backend/app/core/security.py
  backend/tests/test_portal_venue_crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/api-keys/page.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/apiKeysService.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backend): introduce declarative attendee_categories per popup
  backend/app/alembic/versions/96426891f501_companion_types_declarative.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/models.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/attendee_category/__init__.py
  backend/app/api/attendee_category/crud.py
  backend/app/api/attendee_category/models.py
  backend/app/api/attendee_category/router.py
  backend/app/api/attendee_category/schemas.py
  backend/app/api/popup/crud.py
  backend/app/api/product/schemas.py
  backend/app/api/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/app/models.py
  backend/tests/api/attendee_category/__init__.py
  backend/tests/api/attendee_category/test_attendee_category.py
  backend/tests/api/attendee_category/test_attendee_validation.py
  backend/tests/api/attendee_category/test_create_attendee_category_enforcement.py
  backend/tests/api/ticketing_step/test_template_config_validation.py
  backend/tests/migrations/__init__.py
  backend/tests/migrations/test_companion_types_declarative_migration.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(theme): unified step-card surface helper + shared icon registry
  portal/src/components/checkout-flow/InsuranceCard.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/lib/checkoutStepIcons.tsx
  portal/src/lib/stepCardSurface.ts
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(checkout): enable-and-validate CTA + scroll-focus + toast + nav 3-state
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CheckoutToast.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
  portal/src/components/checkout-flow/SnapSection.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(checkout): card-hero buyer form with per-field blur validation
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
Due: biome-check-portal

feat(cart): per-step grouped drawer + restored expandable
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
