Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(portal): auto-accept reused application on group invite checkout
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
Due: biome-check-portal

fix(portal): anchor events/calendar window to popup timezone
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(portal): default events list to today
  portal/src/app/portal/[popupSlug]/events/lib/listWindow.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/listWindow.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(attendees): admin ticket management (change, remove, add product)
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/tests/api/attendee/test_swap_ticket_product.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/routes/_layout/attendees.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): add audit log for event CRUD operations
  backend/app/alembic/versions/b7f3a9c1e4d2_event_audit_logs.py
  backend/app/api/event/router.py
  backend/app/api/event_audit/__init__.py
  backend/app/api/event_audit/crud.py
  backend/app/api/event_audit/models.py
  backend/app/api/event_audit/schemas.py
  backend/app/core/logging.py
  backend/app/models.py
  backend/tests/test_event_audit_log.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): add in-app product task tracker
  backend/app/alembic/versions/f3a8c1d92e47_task_tracker.py
  backend/app/api/router.py
  backend/app/api/task/__init__.py
  backend/app/api/task/crud.py
  backend/app/api/task/models.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/app/models.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/Tasks/AttachmentField.tsx
  backoffice/src/components/Tasks/AttachmentGrid.tsx
  backoffice/src/components/Tasks/ReportBugButton.tsx
  backoffice/src/components/Tasks/TaskAttachments.tsx
  backoffice/src/components/Tasks/TaskBoard.tsx
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskCommentThread.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/taskMeta.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(tenant): show read-only credentials to admins, keep CRUD superadmin-only
  backend/app/api/tenant/router.py
  backend/tests/test_rls.py
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): surface task creator in UI
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
Due: biome-check-backoffice

feat(tasks): add Responsible filter to the board
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice

style(tasks): use thin-scrollbar to match the sidebar
  backoffice/src/components/Tasks/ReportBugButton.tsx
  backoffice/src/components/Tasks/TaskBoard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
Due: biome-check-backoffice

feat(tasks): restrict task assignment to superadmins
  backend/app/api/task/router.py
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(audit): generic admin action audit log with per-attendee history and global feed
  backend/app/alembic/versions/b7e2a4c9f013_audit_logs_table.py
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/audit_log/__init__.py
  backend/app/api/audit_log/constants.py
  backend/app/api/audit_log/crud.py
  backend/app/api/audit_log/models.py
  backend/app/api/audit_log/router.py
  backend/app/api/audit_log/schemas.py
  backend/app/api/router.py
  backend/app/models.py
  backend/tests/api/audit_log/test_audit_log.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Attendees/AttendeeActivity.tsx
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/lib/auditMessage.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/activity.tsx
  backoffice/src/routes/_layout/attendees.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(audit): unify event audit (PR 235) onto the generic audit_logs table
  backend/app/alembic/versions/b7e2a4c9f013_audit_logs_table.py
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/audit_log/actor.py
  backend/app/api/audit_log/constants.py
  backend/app/api/audit_log/crud.py
  backend/app/api/audit_log/models.py
  backend/app/api/audit_log/router.py
  backend/app/api/audit_log/schemas.py
  backend/app/api/event/router.py
  backend/app/api/event_audit/__init__.py
  backend/app/api/event_audit/crud.py
  backend/app/api/event_audit/schemas.py
  backend/app/core/logging.py
  backend/tests/api/audit_log/test_audit_log.py
  backend/tests/test_event_audit_log.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Attendees/AttendeeActivity.tsx
  backoffice/src/lib/auditMessage.ts
  backoffice/src/routes/_layout/activity.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(attendees): replace detail modal with a dedicated edit page
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/attendees.test.tsx
  backoffice/src/routes/_layout/attendees/$attendeeId.tsx
  backoffice/src/routes/_layout/attendees/index.tsx
Due: biome-check-backoffice

feat(attendees): bulk ticket add (qty + stock), clickable row, active-only products
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/tests/api/attendee/test_swap_ticket_product.py
  backend/tests/api/audit_log/test_audit_log.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/lib/auditMessage.ts
  backoffice/src/routes/_layout/attendees/index.tsx
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(attendees): clearer current-tickets UI in the ticket manager
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
Due: biome-check-backoffice

feat(attendees): segment assignable ticket products by attendee category
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/lib/ticketEligibility.test.ts
  backoffice/src/lib/ticketEligibility.ts
Due: biome-check-backoffice

style(attendees): add horizontal padding to ticket name and code line
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
Due: biome-check-backoffice

style(backoffice): make thin scrollbars global
  backoffice/src/index.css
Due: biome-check-backoffice

fix(attendees): use correct ticket-select template key in eligibility filter
  backoffice/src/lib/ticketEligibility.test.ts
  backoffice/src/lib/ticketEligibility.ts
Due: biome-check-backoffice

fix(ticketing-step): run template_config validators on ticket-select (#132)
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/attendee_category/test_attendee_validation.py
  backend/tests/api/ticketing_step/test_template_config_validation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(activity): add search, action/source filters, sort and keep pagination; move to Administration
  backend/app/api/audit_log/crud.py
  backend/app/api/audit_log/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routes/_layout/activity.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(activity): expandable row detail with old -> new diff for events
  backoffice/src/routes/_layout/activity.tsx
Due: biome-check-backoffice

fix(event-audit): derive snapshot fields from EventUpdate schema (track all edits)
  backend/app/api/event_audit/crud.py
  backoffice/src/routes/_layout/activity.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

refactor(audit): extract generic snapshot/diff machinery so resources don't duplicate it
  backend/app/api/audit_log/crud.py
  backend/app/api/audit_log/snapshot.py
  backend/app/api/event/router.py
  backend/app/api/event_audit/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(activity): bound the Action column when many fields change
  backoffice/src/lib/auditMessage.ts
  backoffice/src/routes/_layout/activity.tsx
Due: biome-check-backoffice

perf(event-audit): keep heavy 'content' out of the stored snapshot
  backend/app/api/event_audit/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): map backoffice event owner to a Human by email
  backend/app/alembic/versions/c4e1a2f7b9d0_backfill_event_owner_to_human.py
  backend/app/api/event/router.py
  backend/tests/test_event_admin_creator_mapping.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): exclude unnamed humans from participant search
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): events list view and venues grid with edit-first flow
  backoffice/src/components/Common/FormPageLayout.tsx
  backoffice/src/components/LucideIcon.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/components/events/EventsViewSwitcher.tsx
  backoffice/src/components/events/VenuesGridView.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/ui/image-upload.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.edit.tsx
  backoffice/src/routes/_layout/events/venues/index.tsx
Due: biome-check-backoffice

feat(events): let a designated host edit, cancel and manage their event
  backend/app/alembic/versions/f4a9c1e7b6d2_event_host_id.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(events): update PAT policy assertions for owner-or-host error copy
  backend/tests/test_api_key_policy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): cart summary popover, replacing resume-checkout banner
  portal/src/app/portal/layout.tsx
  portal/src/components/ResumeCheckoutBanner.tsx
  portal/src/components/Sidebar/CartBadge.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(products): precise sale-window cutoff + enforce on portal checkout
  backend/app/alembic/versions/e7d2b9f4a6c1_backfill_meal_plan_sale_cutoffs.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/product/crud.py
  backend/app/api/product/product_state.py
  backend/app/api/product/sale_window.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_enforcement_wiring.py
  backend/tests/api/product/test_product_crud.py
  backend/tests/api/product/test_product_state.py
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(humans): allow admins to hard-delete humans within their tenant
  backend/app/api/human/router.py
  backend/tests/api/human/test_hard_delete_cascade.py
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): collapsible day groups in events list + share button on event detail
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(migrations): re-chain event-owner backfill onto current dev head
  backend/app/alembic/versions/c4e1a2f7b9d0_backfill_event_owner_to_human.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
