Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(portal): remove mobile bottom nav covering page sections
  portal/src/app/portal/layout.tsx
  portal/src/components/BottomNav.tsx
Due: biome-check-portal

fix(events): preserve creator visibility through event approval
  backend/app/api/event/router.py
  backend/tests/test_event_custom_location.py
  backend/tests/test_events_approval.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add priority, type & app fields to bug reports
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/test_task_access.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/ReportBugButton.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(events) visibility on approval + feat(backoffice) bug-report fields (#315)
  backend/app/api/event/router.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/test_task_access.py
  backend/tests/test_event_custom_location.py
  backend/tests/test_events_approval.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/ReportBugButton.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

chore: sync main into dev (release v1.21 prep) (#317)
  portal/src/app/portal/layout.tsx
  portal/src/components/BottomNav.tsx
Due: biome-check-portal

chore: release dev to main (v1.21) (#318)
  backend/app/api/event/router.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/test_task_access.py
  backend/tests/test_event_custom_location.py
  backend/tests/test_events_approval.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/ReportBugButton.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(events): event-specific OpenGraph share previews on portal
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/api/event/test_public_event_share.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/event-share.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate API clients after merging dev
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(events): rich text (Markdown WYSIWYG) for event descriptions
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.schedule.tsx
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/components/Form/MarkdownEditor.tsx
  packages/shared-form-ui/src/components/Form/RichTextForm.tsx
  packages/shared-form-ui/src/components/MarkdownContent.tsx
  packages/shared-form-ui/src/index.ts
  pnpm-lock.yaml
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-backoffice, biome-check-portal

feat(events): event-specific OpenGraph share previews on portal (#319)
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/api/event/test_public_event_share.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.schedule.tsx
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/components/Form/MarkdownEditor.tsx
  packages/shared-form-ui/src/components/Form/RichTextForm.tsx
  packages/shared-form-ui/src/components/MarkdownContent.tsx
  packages/shared-form-ui/src/index.ts
  pnpm-lock.yaml
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/layout.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/event-share.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): venue day-schedule in a button-triggered modal
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/tests/test_venue_availability.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/events/venueDayLayout.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/VenueDaySchedule.tsx
  backoffice/src/components/forms/EventForm/VenueDayScheduleDialog.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDaySchedule.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDayScheduleDialog.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): venue day-schedule in a button-triggered modal (#320)
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/tests/test_venue_availability.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/events/venueDayLayout.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/VenueDaySchedule.tsx
  backoffice/src/components/forms/EventForm/VenueDayScheduleDialog.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDaySchedule.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDayScheduleDialog.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore: release dev to main (v1.22) (#324)
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/tests/api/event/test_public_event_share.py
  backend/tests/test_venue_availability.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/events/venueDayLayout.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/VenueDaySchedule.tsx
  backoffice/src/components/forms/EventForm/VenueDayScheduleDialog.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.schedule.tsx
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/components/Form/MarkdownEditor.tsx
  packages/shared-form-ui/src/components/Form/RichTextForm.tsx
  packages/shared-form-ui/src/components/MarkdownContent.tsx
  packages/shared-form-ui/src/index.ts
  pnpm-lock.yaml
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/layout.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDaySchedule.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueDayScheduleDialog.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/event-share.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): parse exdate strings in the public ICS feed
  backend/app/api/event/router.py
  backend/tests/test_public_calendar_ics.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): paginate list-view event fetches so events past the cap render
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(events): repair public calendar feed + render all events in portal list view (#325)
  backend/app/api/event/router.py
  backend/tests/test_public_calendar_ics.py
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore: release dev to main (v1.22.1) (#326)
  backend/app/api/event/router.py
  backend/tests/test_public_calendar_ics.py
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

docs: point old repo references at p2p-lanes/edgeos-monorepo
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  portal/src/components/Sidebar/FooterMenu.tsx
Due: biome-check-portal

feat(portal): expand participants list when "+N more" is clicked
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): default the new-event host to the logged-in creator
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-portal

feat(portal): add a page-size selector to the Attendee Directory
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/Pagination.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): scroll to the next open day when collapsing a day in the list
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
Due: biome-check-portal

test(portal): cover next-open-day selection for collapse scroll
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
Due: biome-check-portal

test(portal): cover the Attendee Directory page-range math
  portal/src/app/portal/[popupSlug]/attendees/components/Pagination.test.ts
  portal/src/app/portal/[popupSlug]/attendees/components/Pagination.tsx
Due: biome-check-portal

fix(events): parse EXDATE strings in emailed iTIP calendar invites
  backend/app/services/ical.py
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(auth): compare OTP codes in constant time
  backend/app/api/auth/utils.py
  backend/app/core/redis.py
  backend/tests/test_auth_code_constant_time.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): prevent RSVP capacity overbooking under concurrency
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/router.py
  backend/tests/test_rsvp_capacity_lock.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payments): authenticate SimpleFI webhooks before approving payments
  backend/app/api/payment/router.py
  backend/tests/test_simplefi_webhook_authenticity.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(coupons): redeem coupons atomically to enforce single-use under load
  backend/app/api/coupon/crud.py
  backend/tests/test_coupon_use_atomic.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(portal): satisfy biome on FooterMenu (format + useTemplate)
  portal/src/components/Sidebar/FooterMenu.tsx
Due: biome-check-portal

style(portal): biome-format the event detail page
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

style(portal): biome-format ListBody test
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.test.ts
Due: biome-check-portal

fix(events): never mutate the user's chosen time on venue select/change in create forms
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-backoffice, biome-check-portal

feat(events): require an explicit location choice + pending-approval success screen
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/components/VenueSelect.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(events): never snap user's time on venue change + explicit location choice + pending success screen (#337)
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/components/VenueSelect.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
  portal/src/app/portal/[popupSlug]/events/new/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal

feat(payment): record charged total and normalize pay-in-full plans
  backend/app/alembic/versions/c7a4e9f2d815_payments_amount_charged.py
  backend/app/api/dashboard/router.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/tests/test_installment_webhooks.py
  backend/tests/test_payment_amount_charged.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

perf(api): gzip-compress responses to speed up large payloads
  backend/app/main.py
  backend/tests/test_gzip_compression.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
