Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

refactor(events): align with repo conventions
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/new.tsx
  backoffice/src/routes/_layout/events/settings.tsx
  backoffice/src/routes/_layout/events/venues-new.tsx
  backoffice/src/routes/_layout/events/venues.tsx
Due: biome-check-backoffice

style(portal): subtle contrast between page and cards
  portal/src/app/globals.css
Due: biome-check-portal

style(portal): stronger background vs card contrast
  portal/src/app/globals.css
Due: biome-check-portal

style(portal): bump page/card contrast to a perceivable level
  portal/src/app/globals.css
Due: biome-check-portal

fix(venues): resolve property icon string to a real lucide component
  backoffice/src/components/forms/VenueForm.tsx
Due: biome-check-backoffice

feat(ui): shadcn-style TimePicker replaces native time input
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/ui/datetime-picker.tsx
  backoffice/src/components/ui/time-picker.tsx
Due: biome-check-backoffice

refactor(venues): move icon help to a tooltip, simplify input
  backoffice/src/components/forms/VenueForm.tsx
Due: biome-check-backoffice

feat(venues): property-type delete + kebab-case icon lookup
  backoffice/src/components/forms/VenueForm.tsx
Due: biome-check-backoffice

fix(venues): flatten VenueProperties join rows in API responses
  backend/app/api/event_venue/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(venues): delete property types cleanly + card-style chips
  backend/app/api/event_venue/models.py
  backoffice/src/components/forms/VenueForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(venues): use flex-wrap + fixed card size for properties
  backoffice/src/components/forms/VenueForm.tsx
Due: biome-check-backoffice

fix(venues): use static lucide imports so icons survive tree-shaking
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/lib/lucide-icon-map.ts
Due: biome-check-backoffice

fix(portal): treat cancelled RSVP as 'not registered' again
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

feat(portal): humans can create events from the portal
  portal/src/app/portal/[popupSlug]/events/lib/useFileUpload.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

add: checkout minnor fixs
  backend/app/alembic/versions/merge_heads_0029_a1b2c3d4e5f6.py
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  portal/next-env.d.ts
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix: scroll behaviour
  portal/next-env.d.ts
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/VariantYouTubeVideo.tsx
Due: biome-check-portal

feat(events): split date + time slot picker driven by venue availability
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/lib/venue-slots.ts
  portal/src/app/portal/[popupSlug]/events/lib/venue-slots.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): duration-based picker + portal upload/invitations endpoints
  backend/app/api/event/router.py
  backend/app/api/upload/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/lib/venue-slots.ts
  compose.override.yaml
  portal/src/app/portal/[popupSlug]/events/lib/venue-slots.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): duration picker, editable start, RSVP filter, portal endpoints
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useFileUpload.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-backoffice, biome-check-portal

feat(portal): RSVP filter visible across events list and calendar
  portal/src/app/portal/[popupSlug]/events/calendar/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(portal): unified events toolbar across list and calendar
  portal/src/app/portal/[popupSlug]/events/calendar/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(portal): identical events toolbar (search + actions) on both views
  portal/src/app/portal/[popupSlug]/events/calendar/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(portal): identical width + compact view switcher
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

refactor(portal): merge calendar + list into one page, toggle body only
  portal/src/app/portal/[popupSlug]/events/calendar/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(venues): _set_property_types dedupes + flushes deletes first
  backend/app/api/event_venue/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(events): split oversized forms + shared venue-slots package
  backend/app/api/event/router.py
  backoffice/Dockerfile
  backoffice/package.json
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/AvailabilityIndicator.tsx
  backoffice/src/components/forms/EventForm/ChipInput.tsx
  backoffice/src/components/forms/EventForm/RepeatPicker.tsx
  backoffice/src/components/forms/EventForm/StartTimeCombobox.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/forms/VenueForm/ChipsWithSuggestions.tsx
  backoffice/src/components/forms/VenueForm/ExceptionsEditor.tsx
  backoffice/src/components/forms/VenueForm/GallerySection.tsx
  backoffice/src/components/forms/VenueForm/PropertyPicker.tsx
  backoffice/src/components/forms/VenueForm/WeeklyHoursEditor.tsx
  packages/shared-events/package.json
  packages/shared-events/src/index.ts
  packages/shared-events/src/venue-slots.ts
  packages/shared-events/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/Dockerfile
  portal/next.config.ts
  portal/package.json
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/summarizeRrule.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventTimezone.ts
  portal/src/app/portal/[popupSlug]/events/lib/venue-slots.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

add: ticketing variants, minnor fixs
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  portal/next-env.d.ts
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/DesignVariantPanel.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

aadd: variant snap
  portal/next-env.d.ts
  portal/src/components/checkout-flow/DesignVariantPanel.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/context/designVariant.tsx
Due: biome-check-portal

add: ticketing snap
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SectionHeader.tsx
  portal/src/components/checkout-flow/SnapDotNav.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
  portal/src/components/checkout-flow/SnapSection.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-portal

fix: navigation checkout
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
Due: biome-check-portal

add git ignore bash
  .gitignore
  bash.exe.stackdump
  portal/next-env.d.ts
Due: biome-check-portal

chore: regenerate API clients after multi-language merge
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(portal): show language switcher with all portal locales
  portal/src/components/common/LanguageSwitcher.tsx
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal

add: i18n
  pnpm-lock.yaml
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/PassesCheckout.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/fee-payment-banner.tsx
  portal/src/app/portal/[popupSlug]/application/components/scholarship-section.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/Payments/PaymentHistory.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/BalancePasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/CompletePurchaseButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/EditPassesButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/InvoiceModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalFloatingBar.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalPurchase.tsx
  portal/src/components/Sidebar/BreadcrumbSegment.tsx
  portal/src/components/Sidebar/FooterMenu.tsx
  portal/src/components/Sidebar/Groups/GroupsResources.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/Sidebar/StatusResource/ResourceMenuItem.tsx
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/components/profile/HumanForm.tsx
  portal/src/components/profile/PopupsHistory.tsx
  portal/src/components/ui/ExpandableDescription.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

add: browser language
  portal/next-env.d.ts
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal

chore(backend): ruff cleanup + drop unused popup_id arg
  backend/app/api/event/crud.py
  backend/app/api/event/recurrence.py
  backend/app/api/popup/router.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/app/api/tenant/models.py
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/router.py
  backend/app/services/approval/calculator.py
  backend/app/services/email_helpers.py
  backend/scripts/migrate_from_source.py
  backend/tests/test_scholarship_workflow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): remove obsolete gcal sync test
  backend/tests/test_gcal_sync.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(events): integration tests for venue availability
  backend/tests/test_venue_availability.py
Due: local-ruff-check, local-ruff-format, generate-sdk

ci: add backend lint + tests workflow
  .github/workflows/ci.yml
Due: none

docs: events testing plan
  docs/events-testing-plan.md
Due: none
