Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(checkout): keep section header narrow when card grid widens the step
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

fix(checkout): center step nav as a hugging segmented control
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

feat(checkout): lay out ticket-card sections in a responsive grid
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(checkout): add square and portrait section image ratios
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-backoffice, biome-check-portal

fix(checkout): add top margin to each section so the header clears the nav
  portal/src/components/checkout-flow/SnapSection.tsx
Due: biome-check-portal

fix(checkout): separate section header from content with responsive gap
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

fix(checkout): cap expanded card description height
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/ui/ExpandableDescription.tsx
Due: biome-check-portal

feat: add human activity log
  backend/app/api/audit_log/constants.py
  backend/app/api/human/activity_crud.py
  backend/app/api/human/activity_schemas.py
  backend/app/api/human/router.py
  backend/tests/api/test_human_activity.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Humans/HumanActivity.tsx
  backoffice/src/components/Humans/HumanActivityDialog.tsx
  backoffice/src/lib/humanActivityMessage.ts
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(events): prevent duplicate + RSVP loss when detaching a recurring occurrence
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event_participant/crud.py
  backend/tests/test_detach_occurrence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): human rating (5-level) + per-human comments
  backend/app/alembic/versions/3c5f1a8e7d24_human_rating_and_comments.py
  backend/app/api/auth/crud.py
  backend/app/api/human/crud.py
  backend/app/api/human/models.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backend/app/api/shared/enums.py
  backend/app/core/db.py
  backend/tests/test_api_key_policy.py
  backend/tests/test_application_approval.py
  backend/tests/test_human_comments.py
  backend/tests/test_humans.py
  backend/tests/test_red_flag.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/Humans/HumanCommentThread.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): re-trigger approval on sensitive portal edits
  backend/app/api/event/router.py
  backend/tests/test_events_approval.py
Due: local-ruff-check, local-ruff-format, generate-sdk

cambio de ratings
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

feat(checkout): configurable open-checkout success/cancel URLs and customizable thank-you page
  backend/app/alembic/versions/b3f7c1a9e2d4_popup_open_checkout_redirect_urls.py
  backend/app/alembic/versions/c8d2a6f4e1b9_popup_open_checkout_signing_secret.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/schemas.py
  backend/app/utils/checkout_signing.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/product/test_enforcement_wiring.py
  backend/tests/core/test_checkout_signing.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/orderData.ts
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): group Revenue by Category by live product category
  backend/app/api/dashboard/router.py
  backend/tests/test_dashboard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

cambio de ratings (#383)
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

fix(checkout): rechain open-checkout migration after dev head to keep a single alembic head
  backend/app/alembic/versions/b3f7c1a9e2d4_popup_open_checkout_redirect_urls.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): detect product category from live products.category across widgets
  backend/app/api/dashboard/router.py
  backend/tests/test_dashboard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): surface rating changes and comments in the activity timeline
  backend/app/api/audit_log/constants.py
  backend/app/api/human/activity_crud.py
  backend/app/api/human/activity_schemas.py
  backend/app/api/human/router.py
  backend/tests/api/test_human_activity.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Humans/HumanActivity.tsx
  backoffice/src/lib/humanActivityMessage.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): rename "Avg Ticket Price" KPI to "Avg Order Value"
  backoffice/src/components/Dashboard/KeyMetricsCards.tsx
Due: biome-check-backoffice

feat(humans): rich enriched profiles — model, API & backoffice view
  backend/app/alembic/versions/b8d2f3a47c19_rich_profiles_enrichment.py
  backend/app/api/human/crud.py
  backend/app/api/human/models.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backend/app/api/shared/enums.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Humans/EnrichedProfileCard.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(tenants): add tenant SMTP settings
  backend/app/alembic/versions/d9e6f4b2a1c3_tenant_smtp_settings.py
  backend/app/api/email_template/router.py
  backend/app/api/event/router.py
  backend/app/api/event_venue/router.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/app/services/approval_notify.py
  backend/app/services/email/service.py
  backend/tests/api/tenant/test_tenant_smtp.py
  backend/tests/test_tenant_smtp_email_service.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/TenantForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): gate event RSVP on ticket ownership and application status
  backend/app/api/event_participant/router.py
  backend/tests/test_api_key_policy.py
  backend/tests/test_event_participants.py
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useCanRsvp.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(portal): sort useCanRsvp import to satisfy biome organizeImports
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

fix(tenants): resolve dev merge conflicts
  backend/app/alembic/versions/d9e6f4b2a1c3_tenant_smtp_settings.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(tenants): format SMTP tenant form
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

refactor(humans): rename neutral rating value sin_calificar to unrated
  backend/app/alembic/versions/fc6890fea75f_human_rating_english_default.py
  backend/app/api/auth/crud.py
  backend/app/api/human/schemas.py
  backend/app/api/shared/enums.py
  backend/app/core/db.py
  backend/tests/test_application_approval.py
  backend/tests/test_red_flag.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix: align merge with dev (English rating enum + import sort)
  backend/tests/api/test_human_activity.py
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix: update refundable application fee copy
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal

feat(humans): human_telegram_links table (derived Telegram-id <-> human index)
  backend/app/alembic/versions/d3a91f7c5e82_human_telegram_links.py
  backend/app/api/human/models.py
  backend/app/api/shared/enums.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): Declared panel, two-column profile layout, fix Sources 404
  backoffice/src/components/Humans/DeclaredFieldsCard.tsx
  backoffice/src/components/Humans/EnrichedProfileCard.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

chore(alembic): merge tenant-smtp and telegram-links heads
  backend/app/alembic/versions/e7a1c93f2b6d_merge_smtp_and_telegram_links_heads.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): apply contribution and defer coupon use in open checkout
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_contribution_integration.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): persist and restore anonymous open-checkout carts (backend)
  backend/app/alembic/versions/c4a7e9b21d6f_open_checkout_anonymous_cart.py
  backend/app/api/cart/crud.py
  backend/app/api/cart/models.py
  backend/app/api/cart/schemas.py
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/app/utils/checkout_signing.py
  backend/tests/api/checkout/test_open_cart.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): wire anonymous open-checkout cart persistence and restore (portal)
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

fix(test): make installments deadline date-robust
  backend/tests/api/payment/test_installments_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): add per-product insurance to open checkout
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/checkout/insuranceUi.test.ts
  portal/src/checkout/insuranceUi.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useInsuranceCalculation.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
