Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(backend): atomic decrement_total_stock + restore helpers in product/crud
  backend/app/api/payment/crud.py
  backend/app/api/product/crud.py
  backend/tests/api/product/test_product_crud_atomic.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing test for _resolve_tier_group helper
  backend/tests/api/product/test_resolve_tier_group.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): implement _resolve_tier_group in product/crud
  backend/app/api/product/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing test for total_stock_cap + tier shared_stock_cap conflict validator
  backend/tests/api/product/test_stock_cap_validator.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add cross-field validator forbidding stock cap coexistence
  backend/app/api/product/crud.py
  backend/app/api/product/validators.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing enforcement test for attendee add_product
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): wire atomic stock enforcement in attendee/crud add_product
  backend/app/api/attendee/crud.py
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing concurrent decrement test for create_open_ticketing_payment and create_payment
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): correct stale revises comment in stock split migration
  backend/app/alembic/versions/a8f3c1d9e2b4_split_max_quantity_into_total_stock_and_max_per_order.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): add ApplicationStatus to _get_or_create_application helper in enforcement test
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): wire atomic stock enforcement at create_open_ticketing_payment and create_payment + remove _validate_product_availability
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing test for ProductsCRUD.update cross-field validator wiring (task 2.5 RED)
  backend/tests/api/product/test_stock_cap_validator.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): override ProductsCRUD.update to enforce cross-inventory conflict rule (task 2.5 GREEN)
  backend/app/api/product/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing tests for stock restoration on payment expiry/cancel/reject
  backend/tests/api/payment/test_stock_restoration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): restore stock counters on payment expiry/cancel/reject via _restore_payment_stock helper
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/test_simplefi_expired_webhook.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add regression test for stock restoration on new_payment expiry edge case
  backend/tests/test_regular_payment_stock_restoration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): route new_payment expiry through update_status to trigger stock restoration
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(frontend): regenerate API types for stock cap split
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

test(portal): add failing tests for QuantitySelector max_per_order + stock_remaining caps
  portal/src/components/ui/QuantitySelector.test.ts
Due: biome-check-portal

feat(portal): consume max_per_order + total_stock_remaining in QuantitySelector
  portal/src/app/checkout/[popupSlug]/components/ProductPicker.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductTicket.tsx
  portal/src/checkout/PurchaseStrategy.test.ts
  portal/src/checkout/TotalStrategy.test.ts
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/steps/MerchSection.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useHousingSelection.ts
  portal/src/hooks/checkout/useMerchSelection.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.test.ts
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/PriceStrategy.test.ts
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
  portal/src/strategies/PurchaseStrategy.test.ts
  portal/src/strategies/TotalStrategy.test.ts
Due: biome-check-portal

test(portal): add tests for cart max_per_order + stock_remaining client-side cap
  portal/src/hooks/checkout/useMerchSelection.test.ts
Due: biome-check-portal

test(backoffice): add failing tests for ProductForm two-field stock layout
  backoffice/src/components/forms/ProductForm.stock-fields.test.tsx
Due: biome-check-backoffice

feat(backoffice): replace max_quantity input with total_stock_cap + max_per_order fields
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

chore(backoffice): rename max_quantity column references in tables/dashboards
  backoffice/src/components/products/useProductImport.ts
Due: biome-check-backoffice

test(backend): add integration tests for concurrent checkout, webhook restore, cancel/reject, add_product enforcement, and tier conflict validator
  backend/tests/api/payment/test_integration_stock_lifecycle.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): explicit resolveMaxQuantity shape in ProductPicker + biome auto-fixes
  portal/src/app/checkout/[popupSlug]/components/ProductPicker.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
Due: biome-check-portal

test(backoffice): add paging to listTierGroups mock for tsc strict shape
  backoffice/src/components/forms/ProductForm.stock-fields.test.tsx
Due: biome-check-backoffice

feat(events): venue/calendar polish + portal events view-state persistence
  .gitignore
  backend/app/api/event/router.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/app/services/event_itip.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/tracks/$trackId.edit.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/eventsViewState.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(portal): add failing tests for useStepProductResolver
  portal/src/hooks/checkout/useStepProductResolver.test.ts
Due: biome-check-portal

feat(portal): add useStepProductResolver hook for step-aware product filtering
  portal/src/hooks/checkout/useStepProductResolver.ts
Due: biome-check-portal

test(portal): add failing tests for cart selection hooks id-lookup behavior
  portal/src/hooks/checkout/useHousingSelection.test.ts
  portal/src/hooks/checkout/useMerchSelection.test.ts
  portal/src/hooks/checkout/usePatronSelection.test.ts
Due: biome-check-portal

refactor(portal): cart selection hooks accept full active product list
  portal/src/hooks/checkout/useHousingSelection.ts
  portal/src/hooks/checkout/useMerchSelection.ts
  portal/src/hooks/checkout/usePatronSelection.ts
Due: biome-check-portal

test(portal): add failing test for checkoutProvider step-aware product wiring
  portal/src/providers/checkoutProvider.test.tsx
Due: biome-check-portal

refactor(portal): replace useProductCategories with useStepProductResolver in checkoutProvider
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/useHousingSelection.test.ts
  portal/src/hooks/checkout/useMerchSelection.test.ts
  portal/src/hooks/checkout/usePatronSelection.test.ts
  portal/src/hooks/checkout/useProductCategories.ts
  portal/src/hooks/checkout/useStepProductResolver.test.ts
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

test(portal): add failing tests for step visibility based on resolved products
  portal/src/hooks/checkout/useCheckoutSteps.new.test.tsx
Due: biome-check-portal

refactor(portal): useCheckoutSteps visibility derives from resolver map
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/useCheckoutSteps.new.test.tsx
  portal/src/hooks/checkout/useCheckoutSteps.test.tsx
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/hooks/checkout/useHousingSelection.test.ts
  portal/src/hooks/checkout/useStepProductResolver.test.ts
  portal/src/hooks/checkout/useStepProductResolver.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

test(portal): add failing tests for DynamicProductStep null category and resolver integration
  portal/src/components/checkout-flow/DynamicProductStep.test.tsx
Due: biome-check-portal

feat(portal): centralize product resolution in DynamicProductStep via resolver
  portal/src/components/checkout-flow/DynamicProductStep.test.tsx
  portal/src/components/checkout-flow/DynamicProductStep.tsx
Due: biome-check-portal

test(portal): add failing tests for VariantTicketSelect empty-attendee suppression
  portal/src/components/checkout-flow/VariantTicketSelect.test.tsx
Due: biome-check-portal

feat(portal): suppress empty attendee cards in VariantTicketSelect
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
