Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

chore(seed): move the demo gathering and its lodging to September
  backend/app/core/seed_data.json
  backend/tests/core/test_seed_accommodations.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(accommodation): ask guests what the property needs to know
  backend/app/alembic/versions/a4f1c8b2e7d3_accommodation_guest_form.py
  backend/app/api/accommodation/availability.py
  backend/app/api/accommodation/guest_form.py
  backend/app/api/accommodation/payments.py
  backend/app/api/accommodation/public.py
  backend/app/api/accommodation/schemas.py
  backend/app/api/cart/schemas.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/accommodation/test_guest_form.py
  backend/tests/api/accommodation/test_payment_lifecycle.py
  backend/tests/api/accommodation/test_public_checkout.py
  backend/tests/api/checkout/test_cart_accommodation_guests.py
  backend/tests/api/ticketing_step/test_accommodation_booking_template.py
  backend/tests/migrations/test_accommodation_guest_form.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_fulfillment_type_migration.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): edit the questions a property asks its guests
  backoffice/src/components/accommodations/PropertyForm.test.tsx
  backoffice/src/components/accommodations/PropertyForm.tsx
  backoffice/src/components/accommodations/guest-form/FieldRow.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.test.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormPreview.tsx
  backoffice/src/components/accommodations/guest-form/guestForm.test.ts
  backoffice/src/components/accommodations/guest-form/guestForm.ts
  backoffice/src/components/accommodations/guest-form/index.ts
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.tsx
Due: biome-check-backoffice

feat(portal): ask the guest questions in the checkout
  portal/src/checkout/buildPaymentProductsAccommodation.test.ts
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestCard.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useAccommodationSelection.test.ts
  portal/src/hooks/checkout/useAccommodationSelection.ts
  portal/src/hooks/checkout/useCartPersistence.test.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/useOpenCheckoutQuote.test.ts
  portal/src/hooks/checkout/useOpenCheckoutQuote.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/useCartApi.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/accommodationForm.test.ts
  portal/src/lib/accommodationForm.ts
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(cart): preserve canonical checkout lines
  backend/app/api/cart/_migration.py
  backend/app/api/cart/crud.py
  backend/app/api/cart/router.py
  backend/app/api/cart/schemas.py
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_flow_cart_routes.py
  backend/tests/api/checkout/test_open_cart.py
  backend/tests/api/checkout/test_recipient_cart.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/abandoned-carts.tsx
  packages/checkout-core/src/cart/cart.test.ts
  packages/checkout-core/src/cart/mapping.ts
  packages/checkout-core/src/types/api.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Sidebar/CartBadge.tsx
  portal/src/hooks/checkout/recipientPersistence.test.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(portal): migrate cart fixtures to canonical lines
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.test.tsx
  portal/src/hooks/checkout/useCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.flow.test.ts
Due: biome-check-portal

fix(portal): hide empty popup switcher
  portal/src/components/Sidebar/PopupsMenu.test.tsx
  portal/src/components/Sidebar/PopupsMenu.tsx
Due: biome-check-portal

fix(portal): stabilize application flow selection
  portal/src/app/portal/PortalShell.test.tsx
  portal/src/app/portal/PortalShell.tsx
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.test.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.test.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/components/Portal/ApplicationUnavailable.tsx
  portal/src/components/Portal/GatheringDoorCard.test.tsx
  portal/src/components/Portal/GatheringDoorCard.tsx
  portal/src/hooks/useApplicationSchema.test.ts
  portal/src/hooks/useApplicationSchema.ts
  portal/src/hooks/useGatheringDoors.test.tsx
  portal/src/hooks/useGatheringDoors.ts
  portal/src/hooks/usePortalSalesFlows.ts
  portal/src/hooks/usePortalUpsaleFlows.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/form-data-splitter.test.ts
  portal/src/lib/form-data-splitter.ts
  portal/src/lib/initial-query-resolution.test.ts
  portal/src/lib/initial-query-resolution.ts
  portal/src/providers/themeProvider.test.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(accommodation): ask guests what the checkout needs to know
  backend/app/alembic/versions/a4f1c8b2e7d3_accommodation_guest_form.py
  backend/app/api/accommodation/availability.py
  backend/app/api/accommodation/guest_form.py
  backend/app/api/accommodation/payments.py
  backend/app/api/accommodation/schemas.py
  backend/app/api/cart/_migration.py
  backend/app/api/cart/schemas.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/accommodation/test_guest_form.py
  backend/tests/api/accommodation/test_payment_lifecycle.py
  backend/tests/api/checkout/test_cart_accommodation_guests.py
  backend/tests/api/ticketing_step/test_accommodation_booking_template.py
  backend/tests/migrations/test_accommodation_guest_form.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_fulfillment_type_migration.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useCartPersistence.test.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/useCartApi.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): edit the questions the checkout asks its guests
  backoffice/src/components/accommodations/guest-form/FieldRow.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.test.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormPreview.tsx
  backoffice/src/components/accommodations/guest-form/guestForm.test.ts
  backoffice/src/components/accommodations/guest-form/guestForm.ts
  backoffice/src/components/accommodations/guest-form/index.ts
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.tsx
Due: biome-check-backoffice

fix(checkout): respect dark theme boundaries
  portal/src/app/checkout/[popupSlug]/CheckoutShell.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutShell.tsx
  portal/src/components/CheckoutBackgroundImage.tsx
  portal/src/components/CheckoutBackgroundVideo.tsx
  portal/src/components/checkout-flow/SectionHeader.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/providers/themeProvider.test.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(portal): ask the guest questions in the checkout
  portal/src/checkout/buildPaymentProductsAccommodation.test.ts
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestCard.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useAccommodationSelection.test.ts
  portal/src/hooks/checkout/useAccommodationSelection.ts
  portal/src/hooks/checkout/useCartPersistence.test.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCheckoutQuote.test.ts
  portal/src/hooks/checkout/useOpenCheckoutQuote.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/accommodationForm.test.ts
  portal/src/lib/accommodationForm.ts
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

feat(accommodation): give a booking its own page, and the answers a column
  backend/app/api/accommodation/export.py
  backend/app/api/accommodation/router.py
  backend/app/api/accommodation/schemas.py
  backend/tests/api/accommodation/test_booking_detail.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/accommodations/BookingCalendar.tsx
  backoffice/src/components/accommodations/BookingDetailDialog.tsx
  backoffice/src/components/accommodations/BookingsTab.tsx
  backoffice/src/components/accommodations/booking-detail/BookingDetailPage.test.tsx
  backoffice/src/components/accommodations/booking-detail/BookingDetailPage.tsx
  backoffice/src/components/accommodations/booking-detail/GuestDetailsCard.tsx
  backoffice/src/components/accommodations/booking-detail/StayBand.tsx
  backoffice/src/components/accommodations/booking-detail/bookingDetail.test.ts
  backoffice/src/components/accommodations/booking-detail/bookingDetail.ts
  backoffice/src/components/accommodations/guest-form/FieldRow.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.test.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormPreview.tsx
  backoffice/src/components/accommodations/guest-form/guestForm.test.ts
  backoffice/src/components/accommodations/guest-form/guestForm.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/accommodations/bookings/$id.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(accommodation): name the three layouts the step can offer
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/ticketing_step/test_accommodation_booking_template.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): pick which of the three layouts the checkout uses
  backoffice/.gitignore
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.tsx
Due: biome-check-backoffice

feat(portal): hold one room in the checkout, not a basket
  portal/src/hooks/checkout/useAccommodationSelection.test.ts
  portal/src/hooks/checkout/useAccommodationSelection.ts
Due: biome-check-portal

feat(portal): decide what the accommodation step may offer
  portal/src/lib/accommodationBoard.test.ts
  portal/src/lib/accommodationBoard.ts
Due: biome-check-portal

feat(portal): show the rooms a buyer can book, in one of three layouts
  portal/src/components/checkout-flow/variants/VariantAccommodationBoard.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/components/checkout-flow/variants/accommodation/RecoveryNotes.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomViews.tsx
  portal/src/components/checkout-flow/variants/accommodation/StayBar.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

perf(backend): batch portal sales-flow price summaries
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/services/restrictions/offering.py
  backend/tests/api/sales_flow/test_portal_price_batch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

perf(backoffice): prefetch flow editors within workspace scope
  backoffice/src/components/SalesFlows/FlowSectionLinks.test.tsx
  backoffice/src/components/SalesFlows/FlowSectionLinks.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/Sidebar/Main.test.tsx
  backoffice/src/components/Sidebar/Main.tsx
  backoffice/src/hooks/useFlowEditorPrefetch.test.tsx
  backoffice/src/hooks/useFlowEditorPrefetch.ts
  backoffice/src/hooks/useFlowScope.ts
  backoffice/src/lib/flowEditorPrefetch.ts
  backoffice/src/lib/salesFlowQueries.ts
  backoffice/src/lib/workspaceTenantHeader.test.ts
  backoffice/src/lib/workspaceTenantHeader.ts
  backoffice/src/main.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

fix(portal): preserve sessions during transient verification failures
  portal/scripts/test-session-runtime.mjs
  portal/src/components/Authentication.test.tsx
  portal/src/components/Authentication.tsx
  portal/src/components/ServiceWorkerRegistrar.test.tsx
  portal/src/components/ServiceWorkerRegistrar.tsx
  portal/src/hooks/useAuth.ts
  portal/src/hooks/useIsAuthenticated.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/service-worker.test.ts
  portal/src/lib/service-worker.ts
  portal/src/lib/session-contract.ts
  portal/src/lib/session-lifecycle.test.ts
  portal/src/lib/session-lifecycle.ts
  portal/src/providers/sessionProvider.test.tsx
  portal/src/providers/sessionProvider.tsx
Due: biome-check-portal

fix(backoffice): say which of the two things an empty subset means
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.tsx
Due: biome-check-backoffice

feat(checkout): ask the buyer for their own details once
  backoffice/src/components/accommodations/guest-form/FieldRow.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.test.tsx
  backoffice/src/components/accommodations/guest-form/GuestFormEditor.tsx
  backoffice/src/components/accommodations/guest-form/guestForm.test.ts
  backoffice/src/components/accommodations/guest-form/guestForm.ts
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/BookingContactRow.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestCard.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/accommodationForm.ts
  portal/src/lib/buyerIdentity.test.ts
  portal/src/lib/buyerIdentity.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

fix(portal): keep content loaders inside the page
  portal/src/app/auth/page.tsx
  portal/src/app/loading.tsx
  portal/src/app/page.tsx
  portal/src/components/Authentication.test.tsx
  portal/src/components/Authentication.tsx
  portal/src/components/ui/Loader.test.tsx
  portal/src/components/ui/Loader.tsx
  portal/src/providers/tenantProvider.tsx
Due: biome-check-portal

fix(checkout): skip queries replaced by runtime data
  portal/src/hooks/useGetPassesData.ts
  portal/src/hooks/useGetPurchases.ts
  portal/src/hooks/useProductsQuery.ts
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.flow.test.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal

test(checkout): use a cancelable pending-query mock
  portal/src/providers/passesProvider.flow.test.tsx
Due: biome-check-portal

fix(checkout): avoid unrelated catalog waits
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
Due: biome-check-portal

fix(checkout): list the booked room on the review step
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.test.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBoard.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/BookingContactRow.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/accommodationForm.ts
Due: biome-check-portal

feat(backoffice): retire the legacy housing template without removing it
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/TemplatePicker.test.tsx
  backoffice/src/components/ticketing-step-builder/TemplatePicker.tsx
  backoffice/src/components/ticketing-step-builder/constants.ts
Due: biome-check-backoffice

feat(checkout): give a room its own screen, and make the card the choice
  portal/src/components/checkout-flow/variants/VariantAccommodationBoard.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomDetailsDialog.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomGallery.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomViews.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(checkout): let the chosen room go by clicking it again
  portal/src/components/checkout-flow/variants/VariantAccommodationBoard.test.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomViews.tsx
Due: biome-check-portal

fix(checkout): let an accommodation step offer the rooms it sells
  backend/app/services/restrictions/offering.py
  backend/tests/api/accommodation/test_payment_lifecycle.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style: satisfy the format and import order CI checks
  backoffice/src/components/accommodations/booking-detail/BookingDetailPage.test.tsx
  backoffice/src/components/accommodations/booking-detail/GuestDetailsCard.tsx
  backoffice/src/components/accommodations/booking-detail/bookingDetail.ts
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/buyerIdentity.test.ts
  portal/src/lib/buyerIdentity.ts
Due: biome-check-backoffice, biome-check-portal

fix(checkout): assign recipients to simple-quantity tickets
  .github/workflows/ci.yml
  backend/tests/api/payment/test_simple_quantity_recipient_contract.py
  e2e/fixtures/simple-quantity-purchase.json
  portal/src/checkout/simpleQuantityRecipients.test.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(payments): preserve sales flow in default payment redirects
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_payment_recipients.py
  backend/tests/api/payment/test_payment_url_landing_mode.py
  backoffice/src/lib/salesFlowConfigSections.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(payments): return fee success to the event overview
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_payment_recipients.py
  portal/src/app/portal/[popupSlug]/application/page.test.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show privacy field label and help text
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
Due: biome-check-portal
