Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(backend): GREEN — extend authenticate_user() with allowed_roles param (T7)
  backend/app/api/auth/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — scanner endpoints + user/authenticate role gate (T8)
  backend/app/api/auth/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — re-gate 7 scanner routes to CurrentCheckInOperator (T10 + T11)
  backend/app/api/attendee/router.py
  backend/app/api/popup/router.py
  backend/app/api/ticket_event/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — POST /users to CurrentAdmin + extend ROLE_HIERARCHY (T13 + T16)
  backend/app/api/user/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — document CRUD fallthrough for CHECK_IN_CONTROLLER in get_tenant_session (T18)
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): GREEN — add check_in_controller to UserForm roleSchema and ROLE_OPTIONS (T19)
  backoffice/src/components/forms/UserForm.tsx
Due: biome-check-backoffice

refactor(backend): remove unused CurrentUser import from attendee and popup routers
  backend/app/api/attendee/router.py
  backend/app/api/popup/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): fix ruff violations in auth/crud.py and attendee/router.py
  backend/app/api/attendee/router.py
  backend/app/api/auth/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): update test_rls.py viewer popup tests to match new dep gate
  backend/tests/test_rls.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backoffice): apply biome formatting to UserForm.tsx roleSchema enum
  backoffice/src/components/forms/UserForm.tsx
Due: biome-check-backoffice

test(backend): RED — PR2 audit tightening role-rejection tests
  backend/tests/test_audit_tightening.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — re-gate application, human, dashboard routes (T14)
  backend/app/api/application/router.py
  backend/app/api/dashboard/router.py
  backend/app/api/human/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — re-gate event, application_review, popup_reviewer routes (T15)
  backend/app/api/application_review/router.py
  backend/app/api/event/router.py
  backend/app/api/popup_reviewer/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): correct bulk_invite test — CurrentWriter allows CHECK_IN_CONTROLLER
  backend/tests/test_audit_tightening.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): RED — restore CHECK_IN_CONTROLLER bulk_invite rejection assertion
  backend/tests/test_audit_tightening.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): GREEN — tighten CurrentWriter to ADMIN/SUPERADMIN only
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regen openapi client for CHECK_IN_CONTROLLER role
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.test.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useMerchSelection.test.ts
Due: biome-check-backoffice, biome-check-portal

fix(backoffice): rename TicketEventsService to TicketEventService after client regen
  backoffice/src/routes/_layout/check-in.tsx
Due: biome-check-backoffice

fix(portal): cast through unknown for AttendeePublic.products to ProductsPass[]
  portal/src/providers/applicationProvider.tsx
Due: biome-check-portal

test(backend): RED — reject role at /login step pre-OTP
  backend/tests/test_scanner_auth_role.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): GREEN — enforce role allow-list at /login pre-OTP
  backend/app/api/auth/crud.py
  backend/app/api/auth/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): drop unsafe products cast in applicationProvider.getAttendees
  portal/src/providers/applicationProvider.tsx
Due: biome-check-portal

test(portal): fix 4 pre-existing failing tests
  portal/src/app/checkout/[popupSlug]/page.test.tsx
  portal/src/components/checkout-flow/InsuranceCard.test.tsx
Due: biome-check-portal

test(backend): RED — return 404 for disallowed role on auth endpoints
  backend/tests/test_scanner_auth_role.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): GREEN — return 404 'User not found' for role mismatch
  backend/app/api/auth/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: untrack backend/docs/sdd/ planning notes and ignore the path
  .gitignore
  backend/docs/sdd/ticket-as-first-class-entity-add-product-callers.md
Due: generate-sdk

chore(backend): remove unsolicited audit scripts and migration tests
  backend/scripts/audit_attendee_uniqueness.py
  backend/scripts/audit_legacy_ticketing_steps.py
  backend/scripts/audit_max_quantity.py
  backend/tests/migrations/__init__.py
  backend/tests/migrations/test_attendees_human_popup_index.py
  backend/tests/migrations/test_audit_attendee_uniqueness.py
  backend/tests/migrations/test_confirm_insurance_migration.py
  backend/tests/migrations/test_popup_insurance_migration.py
  backend/tests/migrations/test_split_max_quantity_migration.py
  backend/tests/migrations/test_ticket_entity_migration.py
  backend/tests/migrations/test_ticket_events_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(portal): remove unsolicited low-value tests
  portal/src/components/checkout-flow/DynamicProductStep.test.tsx
  portal/src/components/checkout-flow/VariantPatronPreset.test.tsx
  portal/src/components/checkout-flow/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/checkout-flow-category-other.test.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.test.tsx
  portal/src/components/ui/QuantitySelector.test.ts
  portal/src/hooks/checkout/useCheckoutSteps.new.test.tsx
  portal/src/providers/checkoutProvider.lifecycle.test.tsx
Due: biome-check-portal

chore(backend): apply ruff auto-fixes for CI
  backend/app/api/payment/crud.py
  backend/app/api/product/crud.py
  backend/tests/api/attendee/test_get_attendee_products.py
  backend/tests/api/payment/test_integration_stock_lifecycle.py
  backend/tests/api/payment/test_stock_restoration.py
  backend/tests/api/product/test_enforcement_wiring.py
  backend/tests/api/product/test_product_crud_atomic.py
  backend/tests/api/product/test_resolve_tier_group.py
  backend/tests/api/product/test_stock_cap_validator.py
  backend/tests/api/ticket_event/test_crud.py
  backend/tests/api/ticket_event/test_http_list_ticket_events.py
  backend/tests/test_audit_tightening.py
  backend/tests/test_regular_payment_stock_restoration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): remove unused destructured props flagged by biome ci
  portal/src/app/checkout/[popupSlug]/page.test.tsx
  portal/src/components/checkout-flow/InsuranceCard.test.tsx
  portal/src/components/checkout-flow/SectionHeader.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
Due: biome-check-portal

fix(backend): drop legacy attendee_products PK before quantity explosion
  backend/app/alembic/versions/a51d7b0ab836_ticket_as_first_class_entity.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): scope thin scrollbar to sidebar content
  backoffice/src/index.css
Due: biome-check-backoffice

fix(backend): adapt attendee_products consumers to per-ticket rows
  backend/app/api/application/router.py
  backend/app/api/group/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): build ApplicationPublic without triggering Products coercion
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(check-in): clean up payload, scan history, and portal pass UI
  backend/app/api/ticket_event/models.py
  backend/app/api/ticket_event/router.py
  backend/app/api/ticket_event/schemas.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backend/tests/api/ticket_event/test_crud.py
  backend/tests/api/ticket_event/test_schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(check-in): reject non-scannable products, flag re-scans in response
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/ticket_event/crud.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backend/tests/conftest.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(check-in): drop is_rescan, derive from total_scans > 1
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(check-in): make popup_id a first-class scope on ticket_events + scanner endpoint
  backend/app/alembic/versions/b4c8d2a1e7f9_ticket_events_popup_id.py
  backend/app/api/attendee/router.py
  backend/app/api/ticket_event/crud.py
  backend/app/api/ticket_event/models.py
  backend/app/api/ticket_event/router.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backend/tests/api/ticket_event/test_crud.py
  backend/tests/api/ticket_event/test_http_list_ticket_events.py
  backend/tests/api/ticket_event/test_schemas.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(check-in): rename ticket_events to check_ins, drop event_type abstraction
  backend/app/alembic/versions/c5e9d3b2f8a0_rename_ticket_events_to_check_ins.py
  backend/app/api/attendee/router.py
  backend/app/api/check_in/crud.py
  backend/app/api/check_in/models.py
  backend/app/api/check_in/router.py
  backend/app/api/check_in/schemas.py
  backend/app/api/router.py
  backend/app/api/ticket_event/models.py
  backend/app/api/ticket_event/schemas.py
  backend/app/models.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backend/tests/api/check_in/__init__.py
  backend/tests/api/check_in/test_crud.py
  backend/tests/api/check_in/test_http_list_check_ins.py
  backend/tests/api/check_in/test_schemas.py
  backend/tests/api/ticket_event/__init__.py
  backend/tests/conftest.py
  backend/tests/test_scanner_auth_role.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): remove Payload row from check-in sub-row
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
Due: biome-check-backoffice

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
