Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(portal): serve images through the next/image optimizer
  portal/next.config.ts
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/Quote.tsx
  portal/src/app/checkout/[popupSlug]/components/PopupHero.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/app/coming-soon/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-header.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/CoverImageField.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VenueSection.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/CollaboratorsField.tsx
  portal/src/app/portal/[popupSlug]/events/components/EventVenueField.tsx
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CoverImage.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/components/Card/EventCard.tsx
  portal/src/components/CheckoutBackgroundImage.tsx
  portal/src/components/MobilePopupSwitcher.tsx
  portal/src/components/Sidebar/PopupsMenu.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/profile/HumanForm.tsx
  portal/src/components/profile/PopupsHistory.tsx
  portal/src/components/profile/TopMatchStats.tsx
  portal/src/lib/background-image.ts
  portal/src/lib/image-optimization.ts
Due: biome-check-portal

fix(checkout): snap sections to the viewport while scrolling
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapSection.tsx
Due: biome-check-portal

feat(portal): unify first-render loading into a single loader
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/ui/Loader.tsx
  portal/src/providers/tenantProvider.tsx
Due: biome-check-portal

perf(checkout): prioritize first-section images and optimize rich-text images
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
Due: biome-check-portal

perf(checkout): load the YouTube embed behind a click facade
  portal/src/components/checkout-flow/variants/VariantYouTubeVideo.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(checkout): translate empty-state and error copy
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

perf(portal): preconnect to the API origin from the initial HTML
  portal/src/app/layout.tsx
Due: biome-check-portal

feat(backend): add SSRF-safe image ingestion service
  backend/app/services/image_ingestion.py
  backend/tests/services/__init__.py
  backend/tests/services/test_image_ingestion.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(ticketing-step): re-host external images on the CDN at save time
  backend/app/api/ticketing_step/router.py
  backend/app/services/image_ingestion.py
  backend/tests/api/ticketing_step/test_cdn_ingestion.py
  backend/tests/services/test_image_ingestion.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(popup,tenant,product): re-host external images on the CDN at save time
  backend/app/api/popup/router.py
  backend/app/api/product/router.py
  backend/app/api/tenant/router.py
  backend/tests/api/test_cdn_ingestion_popup_tenant_product.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(config): add global sweeper and supersede settings
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payments): add SimpleFi cancel methods and CancelOutcome enum
  backend/app/services/simplefi/client.py
  backend/tests/test_simplefi_cancel_methods.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(payments): add PR-2 integration tests for supersede and hold protection (RED)
  backend/tests/api/payment/test_pending_hold_pr2.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payments): implement row-lock, supersede, and sibling re-check (ADR-1/2/3)
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

docs(api): add 409/502 response schemas to payment and checkout purchase endpoints (ADR-4)
  backend/app/api/checkout/router.py
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payments): apply reliability and security review fixes for PR2 supersede
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_pending_hold_pr2.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payments): require cart continuity proof for anonymous supersede
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_pending_hold_pr2.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(payments): extract email notification helpers to service module
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/jobs/pending_payment_sweeper.py
  backend/app/services/payment_notifications.py
  backend/app/services/pending_payment_sweeper.py
  backend/tests/api/payment/test_pending_hold_pr3_sweeper.py
  backend/tests/test_payment_settlement_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payments): sweeper resilience review fixes (B1/B2/C1/W1)
  backend/app/services/pending_payment_sweeper.py
  backend/tests/api/payment/test_pending_hold_pr3_sweeper.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal/i18n): add pending_payment_wait to checkout namespace across 4 locales
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

test(portal): add exhaustive tests for payment error-dispatch helper
  portal/src/hooks/checkout/errorDispatch.test.ts
Due: biome-check-portal

feat(portal): handle supersede 409/502 contracts and send cart continuity proof
  portal/src/hooks/checkout/errorDispatch.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

chore(client): regenerate OpenAPI clients for supersede contracts
  backoffice/src/client/sdk.gen.ts
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal

chore(client): regenerate after dev rebase
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

style(payments): fix ruff format on router.py after rebase
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test: make stray .only fail vitest runs locally
  backoffice/vitest.config.ts
  portal/vitest.config.ts
Due: biome-check-backoffice, biome-check-portal

feat(product): add manual sold-out override flag
  backend/app/alembic/versions/5a73bd12eacb_add_sold_out_override_to_products.py
  backend/app/api/product/crud.py
  backend/app/api/product/product_state.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_product_sold_out.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add sold-out toggle and badge to products table
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/products.test.tsx
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

feat(portal): block and label non-on-sale products in ticket card
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/saleStateBadge.tsx
  portal/src/components/ui/QuantitySelector.test.ts
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/components/ui/SoldOutBadge.tsx
  portal/src/hooks/checkout/useTicketsStep.test.ts
  portal/src/hooks/checkout/useTicketsStep.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/product-availability.test.ts
  portal/src/lib/product-availability.ts
  portal/src/lib/product-state.ts
Due: biome-check-portal

fix(checkout): expose sold_out_override in the open-checkout runtime
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_bootstrap.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backend): auto-transition popups to ended after end_date
  backend/app/api/popup/crud.py
  backend/app/jobs/popup_ended_transition.py
  backend/app/services/popup_ended_transition.py
  backend/tests/services/test_popup_ended_transition.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(payments): extract _supersede_located_pending shared release core
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(db): backfill open_checkout_signing_secret for existing popups
  backend/app/alembic/versions/849f058ee25f_backfill_open_checkout_signing_secret.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(popup): auto-provision open_checkout_signing_secret on create
  backend/app/api/popup/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payments): add anonymous and authenticated pending-release endpoints
  backend/app/api/checkout/router.py
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(payments): TDD suite for supersede-on-checkout-return backend
  backend/tests/api/payment/test_pending_release_return.py
  backend/tests/migrations/test_backfill_open_checkout_signing_secret.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(tests): apply ruff format to pre-existing test files
  backend/tests/api/application/test_attendee_directory.py
  backend/tests/api/attendee/test_attendee_additional_data.py
  backend/tests/api/attendee/test_find_by_popup_filters.py
  backend/tests/api/event/test_public_event_share.py
  backend/tests/api/task/test_task_access.py
  backend/tests/api/task/test_task_archive.py
  backend/tests/test_accepted_email_passes_url.py
  backend/tests/test_event_visibility_filter.py
  backend/tests/test_events_approval.py
  backend/tests/test_human_comments.py
  backend/tests/test_installment_plan_guard.py
  backend/tests/test_installment_webhooks.py
  backend/tests/test_payment_amount_charged.py
  backend/tests/test_tenant_smtp_email_service.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add popup recap-stats endpoint
  backend/app/api/popup/crud.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_recap_stats.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate for pending release endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

test(backend): add HTTP-level recap-stats gating tests
  backend/tests/api/popup/test_recap_stats_endpoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk
