Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(sales-flows): dispatch reminders per sales flow with flow-aware dedupe
  backend/app/services/reminder_dispatch.py
  backend/tests/test_reminder_dispatch.py
  backend/tests/test_reminder_dispatch_flow_cadence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for flow-scoped email templates
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): resolve coupon allowance through the sales flow
  backend/app/api/coupon/crud.py
  backend/app/api/coupon/router.py
  backend/app/api/coupon/schemas.py
  backend/tests/api/coupon/test_flow_scoped_coupon_allowance.py
  backend/tests/api/coupon/test_validate_public.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(sales-flows): slice 10 review follow-ups
  backend/app/api/sales_flow/models.py
  backend/app/api/sales_flow/resolver.py
  backend/app/services/email/service.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for coupon flow_slug field
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(sales-flows): collapse public coupon flow resolution failures to the uniform error
  backend/app/api/coupon/crud.py
  backend/app/api/coupon/router.py
  backend/tests/api/coupon/test_flow_scoped_coupon_allowance.py
  backend/tests/api/coupon/test_validate_public.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): gate upsale-type flows behind portal-auth eligibility
  backend/app/api/application/crud.py
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/eligibility.py
  backend/app/api/sales_flow/router.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
  backend/tests/api/sales_flow/test_portal_upsale_listing.py
  backend/tests/api/sales_flow/test_upsale_eligibility.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): portal upsale catalog surface
  portal/src/app/portal/[popupSlug]/passes/components/UpsaleFlowsPanel.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/UpsaleFlowsPanel.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/hooks/usePortalUpsaleFlows.test.ts
  portal/src/hooks/usePortalUpsaleFlows.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/query-keys.ts
Due: biome-check-portal

chore(clients): regenerate API clients for upsale flow endpoints
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(sales-flows): enforce flow-exclusive products at purchase and correct endpoint docs
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): add restriction rule schema and evaluator package
  backend/app/alembic/versions/9cd317fadfa5_add_flow_restriction_rule.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/app/services/restrictions/__init__.py
  backend/app/services/restrictions/context.py
  backend/app/services/restrictions/enforcement.py
  backend/app/services/restrictions/evaluator.py
  backend/app/services/restrictions/schemas.py
  backend/tests/api/sales_flow/test_sales_flow_restriction_update.py
  backend/tests/migrations/test_add_flow_restriction_rule.py
  backend/tests/services/restrictions/__init__.py
  backend/tests/services/restrictions/test_evaluator.py
  backend/tests/services/restrictions/test_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): enforce restriction rules at purchase and catalog reads
  backend/app/api/checkout/crud.py
  backend/app/api/payment/crud.py
  backend/app/api/product/router.py
  backend/tests/api/checkout/test_restriction_catalog_filter.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
  backend/tests/api/payment/test_restriction_purchase_gate.py
  backend/tests/api/product/test_restriction_portal_catalog_filter.py
Due: local-ruff-check, local-ruff-format, generate-sdk

docs(sales-flows): document coupon-validate upsale asymmetry and budget-cut gap
  backend/app/api/coupon/crud.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for restriction_rule field
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(sales-flows): fail-closed restriction evaluation and seal the purchase-history oracle
  backend/app/api/product/router.py
  backend/app/services/restrictions/context.py
  backend/app/services/restrictions/enforcement.py
  backend/app/services/restrictions/evaluator.py
  backend/app/services/restrictions/schemas.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
  backend/tests/api/payment/test_restriction_purchase_gate.py
  backend/tests/api/product/test_restriction_portal_catalog_filter.py
  backend/tests/services/restrictions/test_evaluator.py
  backend/tests/services/restrictions/test_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): explicit-flow admin creation and copy-form-to-flow endpoint
  backend/app/api/application/crud.py
  backend/app/api/application/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/form_field/schemas.py
  backend/tests/api/application/test_admin_create_explicit_flow.py
  backend/tests/api/form_field/test_copy_form_to_flow_endpoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): close slice-14 backend backlog items
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/product/router.py
  backend/app/api/shared/response.py
  backend/app/services/email/service.py
  backend/tests/api/application/test_application_public_flow_id.py
  backend/tests/services/restrictions/test_context.py
  backend/tests/services/test_email_flow_tier_resolution.py
Due: local-ruff-check, local-ruff-format, generate-sdk

docs(sales-flows): update stale test_validate_public module docstring
  backend/tests/api/coupon/test_validate_public.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for slice-14 backend changes
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): backoffice restriction-rule editor
  backoffice/src/components/forms/RestrictionRuleEditor.test.tsx
  backoffice/src/components/forms/RestrictionRuleEditor.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowRestrictionRule.test.ts
  backoffice/src/lib/salesFlowRestrictionRule.ts
Due: biome-check-backoffice

feat(sales-flows): flow-aware reviewers, email templates, and copy-form UI
  backoffice/src/components/EmailTemplateEditor.tsx
  backoffice/src/components/email-template-scope.test.ts
  backoffice/src/components/email-template-scope.ts
  backoffice/src/components/forms/CopyFormToFlowDialog.test.tsx
  backoffice/src/components/forms/CopyFormToFlowDialog.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.test.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.tsx
  backoffice/src/components/forms/ReviewersManager.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

feat(sales-flows): portal error copy for restriction 403s
  portal/src/hooks/checkout/errorDispatch.test.ts
  portal/src/hooks/checkout/errorDispatch.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(sales-flows): backoffice explicit-flow picker on admin application create
  backoffice/src/components/forms/ApplicationForm.tsx
Due: biome-check-backoffice

docs(sales-flows): disclose deferred pending-review flow scoping, fix stale portal comment
  backend/app/api/application/crud.py
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): make copy-to-flow genuinely replace and close final review findings
  backend/app/api/application/crud.py
  backend/app/api/application/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/services/email/service.py
  backend/tests/api/application/test_admin_create_explicit_flow.py
  backend/tests/api/form_field/test_copy_form_to_flow_endpoint.py
  backend/tests/services/test_email_flow_tier_resolution.py
  backoffice/src/components/forms/RestrictionRuleEditor.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): reset form dirty state after saving a sales flow
  backoffice/src/components/forms/SalesFlowForm.tsx
Due: biome-check-backoffice

fix(sales-flows): size the flow email template editor dialog correctly
  backoffice/src/components/EmailTemplateEditor.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.tsx
Due: biome-check-backoffice

feat(sales-flows): add flow URL card, scope banner, and visibility explainer
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/forms/SalesFlowScopeBanner.test.tsx
  backoffice/src/components/forms/SalesFlowScopeBanner.tsx
  backoffice/src/components/forms/SalesFlowUrlCard.test.tsx
  backoffice/src/components/forms/SalesFlowUrlCard.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.test.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

feat(sales-flows): back configuration ownership with the default flow
  backend/app/alembic/versions/b8e4c1d90a2f_backfill_flow_config_ownership.py
  backend/tests/migrations/test_backfill_flow_config_ownership.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): give every ticketing step exactly one owning flow
  backend/app/alembic/versions/c5a71e3f8b24_steps_flow_required.py
  backend/app/api/checkout/crud.py
  backend/app/api/popup/router.py
  backend/app/api/ticketing_step/constants.py
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/models.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/app/core/db.py
  backend/tests/api/attendee/test_meal_plan_edit.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_flow_scoped_runtime.py
  backend/tests/api/ticketing_step/test_cdn_ingestion.py
  backend/tests/api/ticketing_step/test_flow_scoped_portal_endpoint.py
  backend/tests/api/ticketing_step/test_flow_scoped_router.py
  backend/tests/api/ticketing_step/test_flow_scoped_steps.py
  backend/tests/api/ticketing_step/test_seed_ticketing_steps_flow_type.py
  backend/tests/api/ticketing_step/test_template_config_validation.py
  backend/tests/api/ticketing_step/test_ticketing_step_patron_singleton.py
  backend/tests/conftest.py
  backend/tests/migrations/test_add_flow_id_to_ticketing_steps.py
  backend/tests/migrations/test_backfill_flow_config_ownership.py
  backend/tests/migrations/test_patron_product_rules_migration.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ticketing-step-builder/NewStepPanel.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(applications): derive express checkout scope from the entry flow
  backend/app/api/application/crud.py
  backend/tests/api/application/test_express_checkout_entry_flow.py
  backend/tests/api/group/test_group_flags.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): stop reporting checkout errors as duplicate applications
  portal/src/app/checkout/hooks/useCheckoutState.test.ts
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(backoffice): describe the invite Express Checkout toggle correctly
  backoffice/src/components/forms/InviteForm.tsx
Due: biome-check-backoffice

refactor(invites): merge referrals into invites as one access link
  backend/app/alembic/versions/a3f8c1d94e27_merge_referrals_into_invites.py
  backend/app/api/application/crud.py
  backend/app/api/application/schemas.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/payment/crud.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/models.py
  backend/app/api/referral/router.py
  backend/tests/api/application/test_express_checkout_entry_flow.py
  backend/tests/api/invite/test_invite_referral_isolation.py
  backend/tests/api/payment/test_link_discounts.py
  backend/tests/api/referral/test_referrals.py
  backend/tests/migrations/test_merge_referrals_into_invites_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): let an operator choose which products a flow sells
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_flow_product_assignment.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/FlowProductsSection.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(invites): one API surface for admin and attendee links
  backend/app/api/invite/__init__.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/app/api/router.py
  backend/tests/api/invite/test_invite_referral_isolation.py
  backend/tests/api/invite/test_unified_link_api.py
  backend/tests/api/link/test_portal_links.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal,backoffice): move both frontends onto the unified link API
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/app/r/[code]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

refactor(invites): remove the referral module and drop its table
  backend/app/alembic/versions/b8e2d7f45a19_drop_referrals_table.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/payment/crud.py
  backend/app/api/referral/__init__.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/models.py
  backend/app/api/referral/router.py
  backend/app/api/referral/schemas.py
  backend/app/models.py
  backend/tests/api/link/__init__.py
  backend/tests/api/link/test_portal_links.py
  backend/tests/api/referral/__init__.py
  backend/tests/migrations/test_groups_rework_foundation_migration.py
  backend/tests/migrations/test_merge_referrals_into_invites_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
