Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(portal): apply scholarship discount in passes checkout total
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalPurchase.tsx
  portal/src/hooks/useCalculateTotal.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/strategies/TotalStrategy.ts
Due: biome-check-portal

fix(portal): gate open-ticketing promo input by allows_coupons
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal

feat(backoffice): redesign products list with icon columns and status dot
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

fix(backoffice): wrap long values in application detail
  backoffice/src/components/ApplicationDetail.tsx
Due: biome-check-backoffice

style(portal): apply biome formatting
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalPurchase.tsx
  portal/src/strategies/TotalStrategy.ts
Due: biome-check-portal

feat(backoffice): show booking mode column on venues list
  backoffice/src/routes/_layout/events/venues/index.tsx
Due: biome-check-backoffice

feat(backoffice): stack compare price above price in products list
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

fix(portal): source event RSVP state from my_rsvp_status field
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

feat(backoffice): default table pagination to 50
  backoffice/src/hooks/useTableSearchParams.ts
  backoffice/src/routes/_layout/admin/index.tsx
Due: biome-check-backoffice

feat(backoffice): preserve list filters on back navigation from forms
  backoffice/src/components/Common/FormPageLayout.tsx
  backoffice/src/hooks/useGoBack.ts
  backoffice/src/routes/_layout/admin/$id.edit.tsx
  backoffice/src/routes/_layout/admin/new.tsx
  backoffice/src/routes/_layout/applications/new.tsx
  backoffice/src/routes/_layout/coupons/$id.edit.tsx
  backoffice/src/routes/_layout/coupons/new.tsx
  backoffice/src/routes/_layout/events/$eventId.edit.tsx
  backoffice/src/routes/_layout/events/new.tsx
  backoffice/src/routes/_layout/events/tracks/$trackId.edit.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.edit.tsx
  backoffice/src/routes/_layout/events/venues/new.tsx
  backoffice/src/routes/_layout/form-builder/$id.edit.tsx
  backoffice/src/routes/_layout/form-builder/new.tsx
  backoffice/src/routes/_layout/form-builder/sections/$id.edit.tsx
  backoffice/src/routes/_layout/form-builder/sections/new.tsx
  backoffice/src/routes/_layout/groups/$id.edit.tsx
  backoffice/src/routes/_layout/groups/new.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/new.tsx
  backoffice/src/routes/_layout/organizations/$id.edit.tsx
  backoffice/src/routes/_layout/organizations/new.tsx
  backoffice/src/routes/_layout/popups/$id.edit.tsx
  backoffice/src/routes/_layout/popups/new.tsx
  backoffice/src/routes/_layout/products/$id.edit.tsx
  backoffice/src/routes/_layout/products/new.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

feat(venues): manual drag-and-drop reorder with persisted display_order
  backend/app/alembic/versions/0050_venue_display_order.py
  backend/app/api/event_venue/crud.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/tests/test_venue_reorder.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/events/venues/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): accept function fallback in useGoBack for typed search params
  backoffice/src/hooks/useGoBack.ts
  backoffice/src/routes/_layout/applications/new.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/new.tsx
Due: biome-check-backoffice

style(backoffice): apply biome formatting to applications/new
  backoffice/src/routes/_layout/applications/new.tsx
Due: biome-check-backoffice

feat(backoffice): expose tenant DB credentials to superadmin in Organizations edit
  backoffice/src/components/forms/TenantCredentialsSection.tsx
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

feat(backoffice): add Tickets column to attendees with popover list
  backoffice/src/components/Attendees/ProductsCell.tsx
  backoffice/src/routes/_layout/attendees.tsx
Due: biome-check-backoffice

fix(coupon): allow any integer percentage 0–100 for discount_value
  backend/app/api/coupon/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add MCP connection string copy button for read-only tenant credentials
  backoffice/src/components/forms/TenantCredentialsSection.tsx
Due: biome-check-backoffice

feat(backend): derive tenant scope from session_user to close GUC bypass
  backend/app/alembic/versions/a5601e8133cb_session_user_tenant_isolation.py
  backend/app/api/tenant/credential_models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): future tenant-scoped tables inherit the session_user policy
  backend/app/alembic/utils.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): drop options= from MCP connection string
  backoffice/src/components/forms/TenantCredentialsSection.tsx
Due: biome-check-backoffice

test(backend): cover session_user tenant isolation scenarios
  backend/tests/test_rls.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): restore description line-clamp in products list
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

fix(checkout): stable per-item ids in FAQs accordion
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
Due: biome-check-portal

feat(checkout): respect real buyer-step row when present
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(checkout): respect per-step variant when step_type repeats
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

feat(checkout): mp4 video background with audio toggle
  backend/app/api/upload/router.py
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/ui/image-upload.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/components/CheckoutBackgroundVideo.tsx
  portal/src/lib/background-image.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(cart): per-step grouped drawer + restored expandable
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

fix(backend): anchor weekly BYDAY recurrence in the event's local timezone
  backend/app/api/event/crud.py
  backend/app/api/event/recurrence.py
  backend/app/api/event/router.py
  backend/tests/test_recurrence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): cart-empty bounce skips content-only steps
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(backend): count real sales when seeding cap on unlimited products
  backend/app/api/product/crud.py
  backend/tests/api/product/test_cap_seed_from_real_sales.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): respect product sold-out state across checkout variants
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/components/ui/SoldOutBadge.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useHousingSelection.test.ts
  portal/src/hooks/checkout/useHousingSelection.ts
  portal/src/hooks/checkout/useMerchSelection.test.ts
  portal/src/hooks/checkout/useMerchSelection.ts
  portal/src/lib/product-availability.test.ts
  portal/src/lib/product-availability.ts
Due: biome-check-portal

fix(checkout): stable per-item ids in FAQs accordion (#154)
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
Due: biome-check-portal

fix(checkout): respect per-step variant when step_type repeats (#156)
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

feat(cart): per-step grouped drawer + restored expandable (#159)
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

feat(checkout): respect real buyer-step row when present (#155)
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(events): surface recurring-event venue conflicts up-front
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_overrides_endpoint.py
  backend/tests/test_recurrence_conflicts.py
  backend/tests/test_recurring_availability_endpoint.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/AvailabilityIndicator.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(recurrence): sort weekly BYDAY candidates chronologically before UNTIL bail-out
  backend/app/api/event/recurrence.py
  backend/tests/test_recurrence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): make RepeatPicker UNTIL timezone-aware and gate it on start date
  backoffice/src/components/forms/EventForm/RepeatPicker.tsx
Due: biome-check-backoffice
