Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

chore(env): update environment configuration and remove deprecated variables
  .env.example
Due: none

add: portal links
  backoffice/src/hooks/useCurrentTenant.ts
  backoffice/src/lib/portal-urls.ts
  backoffice/src/routes/_layout/groups/index.tsx
  backoffice/src/routes/_layout/popups/index.tsx
Due: biome-check-backoffice

perf(backoffice): virtualize icon picker grid
  backoffice/src/components/LucideIconGrid.tsx
Due: biome-check-backoffice

fix(portal): use theme tokens for event status and warnings
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(backoffice): center event settings form on the page
  backoffice/src/routes/_layout/events/settings.tsx
Due: biome-check-backoffice

refactor(backoffice): nest venues routes and rebuild list actions
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/venues/$venueId.edit.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.schedule.tsx
  backoffice/src/routes/_layout/events/venues/index.tsx
  backoffice/src/routes/_layout/events/venues/new.tsx
Due: biome-check-backoffice

feat(backoffice): gate event and track list actions behind isAdmin
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/tracks/index.tsx
Due: biome-check-backoffice

feat(backoffice): adapt event forms to project patterns
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/ChipInput.tsx
  backoffice/src/components/forms/EventForm/RepeatPicker.tsx
  backoffice/src/components/forms/TrackForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/forms/VenueForm/ChipsWithSuggestions.tsx
  backoffice/src/components/forms/VenueForm/PropertyPicker.tsx
  backoffice/src/components/forms/VenueForm/WeeklyHoursEditor.tsx
Due: biome-check-backoffice

refactor(backend): extract invitations and hidden events CRUD
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(applications): improve reviewer visibility
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/application_review/crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(StatusBadge): update statusMap and improve badge rendering logic
  backoffice/src/components/Common/StatusBadge.tsx
Due: biome-check-backoffice

add: background checkout
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
Due: biome-check-portal

chore(ci): fix pre-existing lint and tsc errors blocking CI
  backend/app/api/popup/schemas.py
  backend/tests/api/form_field/test_form_field_date_range.py
  backend/tests/api/payment/test_insurance_calculation.py
  backend/tests/api/popup/test_popup_insurance.py
  backend/tests/migrations/test_confirm_insurance_migration.py
  backend/tests/migrations/test_popup_insurance_migration.py
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/TierGroupPicker.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/hooks/checkout/useCheckoutSteps.test.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(alembic): remove orphaned gcal_sync migration
  backend/app/alembic/versions/0032_gcal_sync.py
  backend/app/alembic/versions/0033_events_recurrence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(docs): remove events-module planning docs
  docs/events-integration-notes.md
  docs/events-testing-plan.md
Due: none

fix(portal): always route login to default popup
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/page.tsx
  portal/src/components/Authentication.tsx
  portal/src/hooks/useAuth.ts
  portal/src/hooks/useGetPopups.ts
  portal/src/lib/authRedirect.ts
Due: biome-check-portal

refactor(portal): remove weeks and brings_kids filters from attendees directory
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/app/portal/[popupSlug]/attendees/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

refactor(portal): remove participation and brings_kids columns from attendees table
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/Table/Header.tsx
Due: biome-check-portal

refactor(backend): drop brings_kids and participation filters from attendees directory
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): prevent attendee name overflow in directory table
  portal/src/app/portal/[popupSlug]/attendees/components/Table/Cells/AttendeeCell.tsx
Due: biome-check-portal

fix(portal): keep pagination stable by debouncing search inside the hook
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/app/portal/[popupSlug]/attendees/page.tsx
Due: biome-check-portal

fix(theme): decouple housing date toggles and apply navbar color override independently
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutBottomBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutTopBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewContext.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewEventCard.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewHeaderBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewProgressBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewSidebar.tsx
  backoffice/src/components/forms/ThemePreview/parts/dateFormat.ts
  backoffice/src/components/forms/ThemePreview/tabs/CheckoutView.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/globals.css
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-backoffice, biome-check-portal

fix(backend): include recurring masters outside start_time window for expansion
  backend/app/api/event/crud.py
  backend/app/api/event/recurrence.py
  backend/tests/test_event_crud.py
  backend/tests/test_recurrence.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): inline venue row actions instead of dropdown menu
  backoffice/src/routes/_layout/events/venues/index.tsx
Due: biome-check-backoffice

fix(portal): fit events toolbar in two rows on mobile
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
Due: biome-check-portal

fix(backoffice): render event times in popup tz and fix new-event tz race
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/VenueWeekCalendar.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/tracks/$trackId.edit.tsx
Due: biome-check-backoffice

feat(checkout): customizable subtitle color and empty-cart review labels
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview/themeExpand.ts
  portal/src/app/checkout/components/CheckoutFlow.test.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/themeProvider.tsx
Due: biome-check-backoffice, biome-check-portal

feat(backend): add tenant-scoped email templates
  backend/app/alembic/versions/4f2b3c1d9e8a_tenant_login_email_templates_scope.py
  backend/app/api/auth/crud.py
  backend/app/api/email_template/crud.py
  backend/app/api/email_template/models.py
  backend/app/api/email_template/router.py
  backend/app/api/email_template/schemas.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/tests/test_tenant_login_email_templates.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): support tenant-scoped email templates
  backoffice/src/components/EmailTemplateEditor.tsx
  backoffice/src/components/email-template-scope.test.ts
  backoffice/src/components/email-template-scope.ts
  backoffice/src/routes/_layout/email-templates/$type.edit.tsx
  backoffice/src/routes/_layout/email-templates/email-templates-routing.test.tsx
  backoffice/src/routes/_layout/email-templates/index.tsx
Due: biome-check-backoffice

chore: regenerate OpenAPI clients
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(checkout): enhance CartFooter and SnapFooter with isLastSection prop
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
Due: biome-check-portal

fix(email): prevent duplicate template saves and missing application variables
  backend/app/api/email_template/router.py
  backend/app/services/email_helpers.py
  backend/tests/test_application_email_contexts.py
  backend/tests/test_tenant_login_email_templates.py
  backoffice/src/routes/_layout/email-templates/$type.edit.tsx
  backoffice/src/routes/_layout/email-templates/email-templates-routing.test.tsx
  backoffice/src/routes/_layout/email-templates/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): prevent events page horizontal overflow on mobile
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

refactor(portal): use Crown icon for my-events toolbar button
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
Due: biome-check-portal

fix(email): align payment and accepted template variables
  backend/app/api/payment/router.py
  backend/app/services/email/templates.py
  backend/app/templates/emails/application/accepted.html
  backend/tests/test_email_template_contracts.py
  backend/tests/test_payment_settlement_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): merge alembic heads after tenant email templates merge
  backend/app/alembic/versions/baa61e35a1e5_merge_tenant_email_templates_with_.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): rename setting to "Who Can Create Events" and gate creation entirely
  backend/app/api/event/router.py
  backend/tests/test_events_approval.py
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
