Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(sales-flows): count an admin-granted product as being a customer
  backend/app/api/application/crud.py
  backend/app/api/sales_flow/eligibility.py
  backend/tests/api/sales_flow/test_upsale_eligibility.py
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): derive what a flow sells from its own ticketing steps
  backend/app/services/restrictions/enforcement.py
  backend/app/services/restrictions/offering.py
  backend/tests/_flow_helpers.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/checkout/test_restriction_catalog_filter.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_meal_plan_purchase_metadata.py
  backend/tests/api/payment/test_patron_payment_integration.py
  backend/tests/api/payment/test_restriction_purchase_gate.py
  backend/tests/api/product/test_enforcement_wiring.py
  backend/tests/api/product/test_restriction_portal_catalog_filter.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): make one definition of holding a product decide access
  backend/app/alembic/versions/a1d5f83c26b4_rename_has_purchased_to_has_product.py
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/schemas.py
  backend/app/services/restrictions/context.py
  backend/app/services/restrictions/enforcement.py
  backend/app/services/restrictions/evaluator.py
  backend/app/services/restrictions/schemas.py
  backend/tests/api/payment/test_approval_revocation.py
  backend/tests/migrations/test_add_flow_restriction_rule.py
  backend/tests/services/restrictions/test_context.py
  backend/tests/services/restrictions/test_evaluator.py
  backend/tests/services/restrictions/test_schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): give each flow its own approval rules and emails
  backend/app/alembic/versions/c9e2f4b71d38_approval_strategy_flow_required.py
  backend/app/api/application/crud.py
  backend/app/api/application_review/router.py
  backend/app/api/approval_strategy/crud.py
  backend/app/api/approval_strategy/models.py
  backend/app/api/approval_strategy/schemas.py
  backend/app/api/email_template/crud.py
  backend/app/core/db.py
  backend/app/services/approval/calculator.py
  backend/app/services/email/service.py
  backend/tests/api/application/test_fee_credit_paths.py
  backend/tests/api/application_review/test_flow_scoped_approval.py
  backend/tests/api/application_review/test_review_grants_fee_credit.py
  backend/tests/api/approval_strategy/test_flow_scoped_resolution.py
  backend/tests/migrations/test_add_flow_id_reviewers.py
  backend/tests/services/test_email_flow_tier_resolution.py
  backend/tests/test_application_approval.py
  backend/tests/test_red_flag.py
  backend/tests/test_scholarship_workflow.py
  backend/tests/test_tenant_login_email_templates.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): keep approval strategies to application flows
  backend/app/api/approval_strategy/crud.py
  backend/app/core/db.py
  backend/tests/api/approval_strategy/test_application_flows_only.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): keep the config backfill away from reviewers
  backend/app/alembic/versions/b8e4c1d90a2f_backfill_flow_config_ownership.py
  backend/tests/migrations/test_backfill_flow_config_ownership.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): create a flow with three fields instead of forty-three
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/ticketing_step/test_copy_steps_to_flow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/NewSalesFlowForm.tsx
  backoffice/src/routes/_layout/sales-flows/new.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): let each flow own the settings it sells with
  backend/app/alembic/versions/d4f1a72e9c85_flow_owns_its_own_config.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/coupon/test_flow_scoped_coupon_allowance.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
  backend/tests/api/sales_flow/test_resolver.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
  backend/tests/migrations/test_backfill_flow_config_ownership.py
  backoffice/src/components/forms/ConfigFieldRow.tsx
  backoffice/src/components/forms/OverrideFieldRow.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

refactor(sales-flows): remove flow_products, the second answer to what a flow sells
  backend/app/alembic/versions/4a983282b8aa_backfill_default_sales_flows.py
  backend/app/alembic/versions/b8e4c1d90a2f_backfill_flow_config_ownership.py
  backend/app/alembic/versions/fa6808697ac1_create_flow_products.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/models.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/checkout/test_upsale_flow_gate.py
  backend/tests/api/payment/test_restriction_purchase_gate.py
  backend/tests/api/sales_flow/test_sales_flow_rls.py
  backend/tests/migrations/test_backfill_flow_config_ownership.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): show which flow cannot sell before a buyer finds out
  backend/app/api/sales_flow/readiness.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_flow_readiness.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/SalesFlows/FlowMapCard.tsx
  backoffice/src/components/forms/ConfigFieldRow.tsx
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.override.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowOverrides.test.ts
  backoffice/src/lib/salesFlowOverrides.ts
  backoffice/src/routes/_layout/sales-flows/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(email): give every template exactly one tier that owns it
  backend/app/alembic/versions/e8b3f5a17d26_return_gathering_emails_to_the_popup_tier.py
  backend/app/api/email_template/crud.py
  backend/app/api/email_template/router.py
  backend/app/api/email_template/schemas.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/email_helpers.py
  backend/app/services/payment_notifications.py
  backend/tests/api/email_template/test_flow_scoped_email_templates.py
  backend/tests/services/test_email_template_scope_resolution.py
  backend/tests/test_application_email_contexts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/EmailTemplates/FlowScopePicker.tsx
  backoffice/src/components/SalesFlows/FlowMapCard.tsx
  backoffice/src/components/email-template-scope.ts
  backoffice/src/components/forms/FlowEmailTemplatesSection.test.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/email-templates/$type.edit.tsx
  backoffice/src/routes/_layout/email-templates/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): say whose things are on screen, in every flow section
  backoffice/src/components/EmailTemplates/FlowScopePicker.tsx
  backoffice/src/components/SalesFlows/FlowScopeBar.tsx
  backoffice/src/components/forms/SalesFlowScopeBanner.tsx
  backoffice/src/components/ticketing-step-builder/FlowSelector.tsx
  backoffice/src/hooks/useFlowScope.test.tsx
  backoffice/src/hooks/useFlowScope.ts
  backoffice/src/routes/_layout/email-templates/index.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

feat(sales-flows): leave the flow page editing only the flow
  backoffice/src/components/SalesFlows/FlowSectionLinks.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.test.tsx
  backoffice/src/components/forms/FlowEmailTemplatesSection.tsx
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

feat(sales-flows): an invite says which flow it invites someone into
  backend/app/alembic/versions/b7c5e2f849a1_invites_name_their_flow.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/tests/_flow_helpers.py
  backend/tests/api/invite/test_invite_create_internal.py
  backend/tests/api/invite/test_invite_flow_scope.py
  backend/tests/api/invite/test_invites.py
  backend/tests/api/payment/test_link_discounts.py
  backend/tests/api/portal/test_url_compat.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/FlowNameCell.tsx
  backoffice/src/components/forms/InviteFlowPicker.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/routes/_layout/invites/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): a group says which flow its members apply through
  backend/app/alembic/versions/c4a91e37f5d8_groups_name_their_flow.py
  backend/app/api/application/crud.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/app/core/db.py
  backend/tests/_flow_helpers.py
  backend/tests/api/application/test_fee_credit_paths.py
  backend/tests/api/application/test_portal_update_validation.py
  backend/tests/api/event/test_group_events.py
  backend/tests/api/event/test_opacity_chokepoint.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/group/test_group_flow_scope.py
  backend/tests/api/group/test_members_by_application.py
  backend/tests/api/group/test_my_groups_membership.py
  backend/tests/api/group/test_whitelist_hook.py
  backend/tests/api/human/test_hard_delete_cascade.py
  backend/tests/api/payment/test_link_discounts.py
  backend/tests/api/popup/test_ended_popup_read_only_extended.py
  backend/tests/api/portal/test_url_compat.py
  backend/tests/services/test_group_crud_helper.py
  backend/tests/test_application_approval.py
  backend/tests/test_group_express_checkout_attendee.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ApplicationFlowPicker.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/routes/_layout/groups/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): a coupon belongs to the flow it discounts
  backend/app/alembic/versions/d9f2b6c48a37_coupons_belong_to_a_flow.py
  backend/app/api/coupon/crud.py
  backend/app/api/coupon/models.py
  backend/app/api/coupon/router.py
  backend/app/api/coupon/schemas.py
  backend/app/api/group/router.py
  backend/app/api/payment/crud.py
  backend/app/core/db.py
  backend/tests/_flow_helpers.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/coupon/test_flow_scoped_coupon_allowance.py
  backend/tests/api/coupon/test_validate_public.py
  backend/tests/api/payment/test_coupon_release_on_terminal.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_pending_hold_pr2.py
  backend/tests/api/payment/test_pending_hold_pr3_sweeper.py
  backend/tests/api/payment/test_pending_release_return.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/CouponForm.tsx
  backoffice/src/components/forms/FlowPicker.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/routes/_layout/coupons/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): a flow chooses how its checkout looks
  backend/app/alembic/versions/e6d3a95c17b2_a_flow_looks_the_way_it_chooses.py
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_flow_theme_scope.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/routes/_layout/theme/index.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/providers/PublicCheckoutProviders.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): stop the flow theme taking the checkout page down
  portal/src/components/providers/PublicCheckoutProviders.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(sales-flows): open an application flow's checkout to the people it accepted
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/app/api/sales_flow/eligibility.py
  backend/tests/api/checkout/test_application_flow_checkout.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_flow_scoped_runtime.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): stop guessing which application a screen is looking at
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/useGatheringDoors.ts
  portal/src/providers/applicationProvider.selection.test.tsx
  portal/src/providers/applicationProvider.tsx
Due: biome-check-portal

feat(portal): show every way a person is part of a gathering
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/components/Portal/GatheringDoorCard.tsx
  portal/src/components/Providers.tsx
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal

feat(portal): buy through the door you came in by
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(portal): give the door card real translations
  portal/src/components/Portal/GatheringDoorCard.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): let the sidebar say which way in it is describing
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

feat(backoffice): show the applicant's history across other popups
  backend/app/api/application/history_crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_previous_applications.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/applications/ApplicationRelatedRecords.test.tsx
  backoffice/src/components/applications/ApplicationRelatedRecords.tsx
  backoffice/src/components/applications/PreviousApplicationsSection.test.tsx
  backoffice/src/components/applications/PreviousApplicationsSection.tsx
  backoffice/src/components/applications/ResourceHeader.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): apply through the door you were sent to
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

refactor(portal): decide the redirect per door instead of counting flows
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/lib/shouldRedirectToStatus.test.ts
  portal/src/app/portal/[popupSlug]/application/lib/shouldRedirectToStatus.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

feat(portal): scope referrals, events and their access gate to a door
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/components/EventsApiAccessGate.tsx
Due: biome-check-portal

fix(checkout): spend the balance and the discount of the door being bought
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/discountProvider.tsx
Due: biome-check-portal

refactor(icons): move checkout step icon registry into shared-form-ui and add a curated catalog
  backoffice/src/components/ticketing-step-builder/step-detail/checkoutIconCatalog.test.ts
  packages/shared-form-ui/src/icons/checkoutStepIcons.tsx
  packages/shared-form-ui/src/index.ts
  portal/src/lib/checkoutStepIcons.tsx
Due: biome-check-backoffice, biome-check-portal

feat(ticketing-steps): widen emoji column to 32 chars for icon slugs
  backend/app/alembic/versions/d3f7bcca3be8_widen_ticketing_step_emoji_to_32_chars.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/ticketing_step/test_ticketing_step_emoji_column.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add a curated icon picker for ticketing steps
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.tsx
Due: biome-check-backoffice

feat(backoffice): use the icon picker on ticketing steps and mirror the pick on the step card
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIdentityHeader.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIdentityHeader.tsx
Due: biome-check-backoffice

fix(backoffice): stop dropping literal emoji picks on the ticketing step card
  backoffice/src/components/ticketing-step-builder/SortableStepCard.test.ts
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
Due: biome-check-backoffice

fix(backoffice,shared-form-ui): address code review findings on step icon picker
  backoffice/src/components/ticketing-step-builder/SortableStepCard.render.test.tsx
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/checkoutIconCatalog.test.ts
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/icons/checkoutStepIcons.tsx
  packages/shared-form-ui/src/index.ts
Due: biome-check-backoffice

fix(portal): stop the auth logo leaving a grey trail while it loops
  portal/src/app/auth/AuthForm.tsx
Due: biome-check-portal

feat(backoffice): pick any IANA timezone, searchable by city or country
  backend/app/api/event_settings/schemas.py
  backend/tests/test_event_settings_access.py
  backoffice/scripts/generate-timezone-countries.mjs
  backoffice/src/components/forms/TimezoneCombobox.test.tsx
  backoffice/src/components/forms/TimezoneCombobox.tsx
  backoffice/src/components/ui/combobox.tsx
  backoffice/src/lib/timezone-countries.generated.ts
  backoffice/src/lib/timezones.test.ts
  backoffice/src/lib/timezones.ts
  backoffice/src/routes/_layout/events/settings.tsx
  packages/shared-form-ui/src/data/countries.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(applications): judge a form against the flow it was shown for
  backend/app/api/application/crud.py
  backend/app/api/form_field/crud.py
  backend/tests/api/form_field/test_validation_is_flow_scoped.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
