Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(metadata): enhance dynamic metadata generation and API integration
  compose.override.yaml
  portal/src/app/checkout/components/UserInfoForm/RedFlagScreen.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/components/steps/PatronSection.tsx
  portal/src/app/layout.tsx
  portal/src/app/online-checkin/components/checkinForm.tsx
  portal/src/app/online-checkin/components/success.tsx
  portal/src/app/online-checkin/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/constants/config.ts
  portal/src/lib/tenant.ts
  portal/src/providers/tenantProvider.tsx
Due: biome-check-portal

feat(form_field): regenerate internal name on label change during form field update
  backend/app/api/form_field/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(styles): add cursor pointer style for interactive elements
  portal/src/app/globals.css
Due: biome-check-portal

fix(errors): standardize error handling and user feedback across modals and hooks
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/ConfirmDeleteModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/ImportMembersModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/WelcomeMessageModal.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/hooks/useAttendee.ts
Due: biome-check-portal

feat(layout): integrate CheckoutProvider into PassesProvider for enhanced checkout flow
  portal/src/app/[popup]/invite/[group]/layout.tsx
Due: biome-check-portal

fix(checkout): skip form and show success on Stripe return for existing applications
  portal/src/app/checkout/components/CheckoutContent.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
Due: biome-check-portal

fix(checkout): redirect to portal when user already has purchased passes
  portal/src/app/checkout/components/CheckoutContent.tsx
Due: biome-check-portal

fix(checkout): hide resume checkout banner on checkout page
  portal/src/components/ResumeCheckoutBanner.tsx
Due: biome-check-portal

feat(backoffice): add terms and conditions URL field to popup form
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

fix(simplefi): update checkout URL to use new version for payment response
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): hide invoices button on profile page, if the popup hasnt configured invoice fields
  portal/src/components/profile/HeaderProfile.tsx
Due: biome-check-portal

fix(approval/calculator): add REJECTED paths to _calc_any_reviewer and _calc_threshold, add SELECT FOR UPDATE lock
  backend/app/services/approval/calculator.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(application): extract send_application_status_email helper
  backend/app/api/application_review/router.py
  backend/app/api/human/router.py
  backend/app/services/email_helpers.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(application/crud): use flush in create_snapshot and accept, remove submit method, fix directory filter
  backend/app/api/application/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(application): use send_application_status_email helper in router, remove ApplicationAdminUpdate
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(application): remove unused admin PATCH and DELETE routes
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(application/router): trigger approval strategy on PATCH draft→in-review and fix directory docstring
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(group): pass tenant_id in add_member and use accept() for existing members
  backend/app/api/group/crud.py
  backend/app/api/group/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(application): add integration tests for all 10 approval state-machine paths
  backend/tests/test_application_approval.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(red-flag): rewrite tests to use review flow, remove manual db cleanup
  backend/tests/test_red_flag.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI clients and apply biome formatting
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/checkout/components/steps/PatronSection.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-backoffice, biome-check-portal

chore(backoffice): rename popup to event in visible UI labels
  backoffice/src/routes/_layout/popups/index.tsx
Due: biome-check-backoffice

fix(backoffice): prevent layout shift in ImageUpload during loading
  backoffice/src/components/ui/image-upload.tsx
Due: biome-check-backoffice

fix(backoffice): invalidate tenant list cache after update mutation
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

feat(backend): add invoice PDF generation module with reportlab
  backend/app/core/invoice.py
  backend/pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add email attachment support to EmailService
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add invoice download endpoints and attach PDF to payment emails
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): replace client-side PDF generation with backend invoice endpoint
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/portal/[popupSlug]/passes/components/Payments/Invoice.tsx
  portal/src/app/portal/[popupSlug]/passes/components/Payments/PaymentHistory.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/InvoiceModal.tsx
  portal/src/components/ui/calendar.tsx
Due: biome-check-portal

feat(backoffice): add invoice download button and payment subtotal breakdown
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

fix(backoffice): format date columns in CSV exports as human-readable strings
  backoffice/src/lib/export.ts
  backoffice/src/routes/_layout/abandoned-carts.tsx
Due: biome-check-backoffice

fix(invoice): remove redundant title, use SimpleFi ID, and fix NaN payment ID in portal
  backend/app/core/invoice.py
  portal/src/app/portal/[popupSlug]/passes/components/Payments/PaymentHistory.tsx
  portal/src/hooks/useGetPaymentsData.ts
  portal/src/types/passes.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): scale popup icon proportionally when sidebar collapses
  portal/src/components/Sidebar/PopupsMenu.tsx
Due: biome-check-portal

add: redesign ticketing flow
  pnpm-lock.yaml
  portal/next-env.d.ts
  portal/package.json
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/ScrollySection.tsx
  portal/src/app/checkout/components/steps/HousingStep.tsx
  portal/src/app/checkout/components/steps/MerchSection.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/context/designVariant.tsx
Due: biome-check-portal

feat(backend): add scholarship DB migrations
  backend/app/alembic/versions/0019_add_scholarship_fields.py
  backend/app/alembic/versions/0020_scholarship_prebuilt_section.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add scholarship schemas, CRUD, endpoint, and field config
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/form_field/crud.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add scholarship email templates and dispatch logic
  backend/app/api/email_template/schemas.py
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/email_helpers.py
  backend/app/templates/emails/application/accepted_scholarship_rejected.html
  backend/app/templates/emails/application/accepted_with_discount.html
  backend/app/templates/emails/application/accepted_with_incentive.html
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add scholarship discount to payment pricing
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add redirect URLs to SimpleFi payment creation
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add scholarship workflow integration tests
  backend/tests/test_scholarship_workflow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI clients for backoffice and portal
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
