Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(i18n): AI Translate fills only blank fields and shows progress
  backoffice/src/components/translations/AITranslateButton.tsx
  backoffice/src/components/translations/TranslationManager.tsx
Due: biome-check-backoffice

fix(i18n): reliable AI translation of nested step config via opaque keys
  backend/app/services/ai_translation.py
  backend/tests/api/translation/test_translation_service.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(i18n): translate FAQ, gallery caption and rich-text step content
  backend/app/api/translation/service.py
  backend/tests/api/translation/test_translation_service.py
  backoffice/src/components/translations/templateConfigLeaves.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(i18n): give the AI translator per-field context hints
  backend/app/services/ai_translation.py
  backend/tests/api/translation/test_translation_service.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(i18n): use stable gemini-3.5-flash for AI translation
  backend/app/services/ai_translation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(i18n): revert translation model to gemini-2.5-flash for stability
  backend/app/services/ai_translation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add showcase to ticket-card variant union
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(portal): add bespoke ShowcaseStepper control
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

fix(portal): honor disabled prop in ShowcaseStepper pill state
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(portal): add ShowcaseProductRow and ShowcaseSectionCard
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(portal): render showcase variant in both data paths
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(backoffice): add Showcase option to ticket-card variant picker
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
Due: biome-check-backoffice

fix(portal): render add/remove toggle for non-stepper passes in showcase
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

test(portal): guard non-stepper pill regression at quantity>=1
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.tsx
Due: biome-check-portal

feat(portal): add checkout chrome theme vars (gradient, borders, accent)
  portal/src/app/globals.css
  portal/src/providers/themeProvider.test.ts
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(portal): add ScrollyPillNav pills nav layout variant
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/checkout-flow/ScrollyPillNav.test.tsx
  portal/src/components/checkout-flow/ScrollyPillNav.tsx
  portal/vitest.setup.ts
Due: biome-check-portal

fix(portal): remove client name from ScrollyPillNav comment
  portal/src/components/checkout-flow/ScrollyPillNav.tsx
Due: biome-check-portal

feat(portal): dispatch checkout nav variant from theme_config
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/navVariant.test.ts
  portal/src/components/checkout-flow/navVariant.ts
Due: biome-check-portal

feat(portal): consume checkout chrome vars in segmented nav + footer
  portal/src/components/checkout-flow/CartFooter.test.tsx
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

feat(backoffice): mirror checkout chrome theme vars in preview engine
  backoffice/src/components/forms/ThemePreview/constants.ts
  backoffice/src/components/forms/ThemePreview/themeExpand.test.ts
  backoffice/src/components/forms/ThemePreview/themeExpand.ts
Due: biome-check-backoffice

feat(backoffice): reflect checkout chrome vars + pills nav in theme preview
  backoffice/src/components/forms/ThemePreview/index.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutBottomBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutTopBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewContext.tsx
  backoffice/src/components/forms/ThemePreview/types.ts
Due: biome-check-backoffice

feat(backoffice): expose checkout chrome vars + nav layout in theme form
  backoffice/src/components/forms/ThemeConfigForm.tsx
Due: biome-check-backoffice

refactor(portal): source hero ornaments from config, drop skin imports
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
  portal/src/components/checkout-flow/variants/VariantHero.test.tsx
  portal/src/components/checkout-flow/variants/VariantHero.tsx
Due: biome-check-portal

refactor(portal): move hero brand tints to skin CSS variables
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
  portal/src/components/checkout-flow/variants/VariantHero.test.tsx
  portal/src/components/checkout-flow/variants/VariantHero.tsx
Due: biome-check-portal

feat(portal): intro bottom bar for content-only first steps
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(backend): ingest hero template_config images to the CDN
  backend/app/services/image_ingestion.py
  backend/tests/services/test_image_ingestion.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): hero template editor for the checkout home step
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/HeroConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/HeroConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
Due: biome-check-backoffice

fix(portal): fall back to the step label when cta_label is cleared
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

fix(portal): enable pay when the stepper cart holds only dynamic items
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

refactor(i18n): move step translations into a dedicated tab
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

fix(portal): paint the amanita nav gradient full-bleed
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

fix(portal): flat gold amanita CTA, matching the live reference
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
Due: biome-check-portal

fix(portal): render one header per step under the amanita skin
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(i18n): group nested step translations by parent record
  backoffice/src/components/translations/TranslationManager.tsx
  backoffice/src/components/translations/templateConfigLeaves.ts
Due: biome-check-backoffice

feat(i18n): friendly translation group headers and completeness indicator
  backoffice/src/components/translations/TranslationManager.tsx
  backoffice/src/components/translations/templateConfigLeaves.ts
Due: biome-check-backoffice

refactor(i18n): move product and event translations into a dedicated tab
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

fix(backend): backfill blank human fields from the checkout buyer form
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): surface the human's phone in the Humans list and detail
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

fix(i18n): send Accept-Language from ?lang so the first request isn't stale
  portal/src/lib/api-client.ts
Due: biome-check-portal

fix(i18n): drive portal language from ?lang so the switch forwards and sticks
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal
