Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(portal): restore click handlers for sidebar profile and github
  portal/src/components/Sidebar/FooterMenu.tsx
Due: biome-check-portal

chore(portal): biome and next auto-fixes after merge
  portal/next-env.d.ts
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/components/ui/pill.tsx
Due: biome-check-portal

chore: ignore docs/ folder and remove tracked events-testing.md
  .gitignore
  docs/events-testing.md
Due: none

feat(events): recurrence-aware iTIP + portal approval/calendar UX
  backend/app/api/event/router.py
  backend/app/api/event_participant/router.py
  backend/app/services/email/templates.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  backend/app/templates/emails/event/invitation.html
  backend/tests/test_event_itip.py
  backoffice/src/components/forms/VenueForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VenueSection.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/EventScheduleFields.tsx
  portal/src/app/portal/[popupSlug]/events/components/EventVenueField.tsx
  portal/src/app/portal/[popupSlug]/events/lib/AddToCalendarModal.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useCalendarAddedFlag.ts
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): make list the default events view
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(api-keys): restrict portal PATs to scoped event automation
  backend/app/alembic/versions/c8a9f4e2b1d7_api_key_scopes.py
  backend/app/api/api_key/crud.py
  backend/app/api/api_key/models.py
  backend/app/api/api_key/router.py
  backend/app/api/api_key/schemas.py
  backend/app/api/event/router.py
  backend/app/api/human/router.py
  backend/app/core/redis.py
  backend/app/core/security.py
  backend/tests/test_api_key_policy.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/HumanForm.tsx
  portal/src/app/portal/api-keys/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/apiKeysService.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal/checkout): skip query retries on 4xx in useCheckoutRuntime
  portal/src/app/checkout/[popupSlug]/hooks/useCheckoutRuntime.ts
Due: biome-check-portal

fix(portal/checkout): restore popup theme and background on open checkout
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

fix(portal): gate events navigation by popup settings
  portal/src/components/Sidebar/FooterMenu.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal/checkout): consume popup language config in open checkout
  portal/src/app/checkout/components/providers/Providers.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/common/LanguageSwitcher.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): prefer popup default_language over browser locale
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal

feat(portal/checkout): translate and de-duplicate buyer step in open checkout
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(checkout): purchase form_data uses field name not UUID
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): apply coupon code in open-ticketing payment
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(alembic): chain api_key_scopes off latest merge head
  backend/app/alembic/versions/c8a9f4e2b1d7_api_key_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal/api-keys): drop events:write scope from creation UI
  portal/src/app/portal/api-keys/page.tsx
Due: biome-check-portal

feat(events): split popup module flag from creation gate
  .gitignore
  backend/app/alembic/versions/0042_popup_events_enabled.py
  backend/app/api/popup/schemas.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/client/types.gen.ts
  portal/src/hooks/useResources.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

docs(portal): trim API docs to read+RSVP and surface OpenAPI spec
  portal/src/app/portal/docs/page.tsx
Due: biome-check-portal

feat(portal/api-keys): drop user-visible expiry field, always send null
  portal/src/app/portal/api-keys/page.tsx
Due: biome-check-portal

feat(portal/events): graceful fallback for missing or broken cover images
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CoverImage.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/page.tsx
Due: biome-check-portal

fix(backend): break circular import between security and api_key
  backend/app/api/api_key/schemas.py
  backend/app/core/security.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): biome a11y on CoverImage + format/import drift across portal
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CoverImage.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/api-keys/page.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/hooks/useResources.ts
  portal/src/lib/apiKeysService.ts
Due: biome-check-backoffice, biome-check-portal

fix(backend/tests): patch security.engine and fix bad json literal in api_key_policy
  backend/tests/conftest.py
  backend/tests/test_api_key_policy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): tenant-scoped popup slug — migration + SQLModel + schema tests
  backend/app/alembic/versions/0043_tenant_scoped_popup_slug.py
  backend/app/api/popup/models.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add same-slug-different-tenant fixtures and with_origin helper
  backend/tests/conftest.py
  backend/tests/test_fixtures.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): cover both branches of migration downgrade autocommit guard
  backend/tests/api/popup/test_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add resolve_public_tenant dependency for anonymous endpoints
  backend/app/core/dependencies/tenants.py
  backend/tests/core/dependencies/__init__.py
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): scope checkout runtime + purchase to resolved tenant
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): scope coupon validate-public to resolved tenant
  backend/app/api/coupon/crud.py
  backend/app/api/coupon/router.py
  backend/tests/api/coupon/test_validate_public.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): translate popup slug collision to structured 409
  backend/app/api/popup/router.py
  backend/tests/api/popup/test_popup.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): return 409 detail as string to match project pattern
  backend/app/api/popup/router.py
  backend/tests/api/popup/test_popup.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend/tests): satisfy ruff — sort imports, drop unused, move side-effect fixtures to usefixtures
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/coupon/test_validate_public.py
  backend/tests/api/popup/test_migration.py
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): sort IntegrityError import into the stdlib/third-party block
  backend/app/api/popup/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): gate API keys/docs behind events module + add events:write scope
  portal/src/app/portal/api-keys/page.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): use active section for scrolly footer gating + remount scroll target
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
Due: biome-check-portal

fix(portal): satisfy biome — wrap line in EventsApiAccessGate, suppress useExhaustiveDependencies in scrolly effect
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

feat(backend): remove API key rate limits on event endpoints
  backend/app/core/redis.py
  backend/app/core/security.py
  backend/tests/test_api_key_policy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add product stock columns + alembic migration with backfill
  backend/app/alembic/versions/a8f3c1d9e2b4_split_max_quantity_into_total_stock_and_max_per_order.py
  backend/app/api/checkout/schemas.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/app/api/product/tier_progression.py
  backend/app/core/db.py
  backend/tests/api/product/test_tier_progression.py
  backend/tests/migrations/test_split_max_quantity_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): pre-migration audit script for ambiguous stock rows
  backend/scripts/audit_max_quantity.py
Due: local-ruff-check, local-ruff-format, generate-sdk
