Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(backoffice): add scholarship admin panel and popup form toggles
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(portal): add scholarship section in application form and status badge
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/scholarship-section.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/components/ScholarshipStatusBadge.tsx
  portal/src/lib/form-data-splitter.ts
Due: biome-check-portal

fix(portal): use backend-provided redirect URLs for SimpleFi payments
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

style(portal): format sidebar icon container className
  portal/src/components/Sidebar/PopupsMenu.tsx
Due: biome-check-portal

fix(backend): use tenant subdomain for SimpleFi redirect URLs
  backend/app/api/payment/crud.py
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(portal): reformat usePurchaseProducts with semicolons
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
Due: biome-check-portal

add: passes redesign variants
  bash.exe.stackdump
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
Due: biome-check-portal

fix(backend): centralize scholarship gate in recalculate_status for all strategies
  backend/app/services/approval/calculator.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): simplify _get_base_fields_as_public function
  backend/app/api/form_field/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): implement feature-gated sections for popups
  backend/app/api/popup/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): invalidate additional queries on popup form success
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(backend): enhance email template functionality with popup integration
  README.md
  backend/app/api/email_template/router.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/EmailTemplateEditor.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): update logo handling and background image resolution
  backoffice/src/components/Common/Logo.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/TenantForm.tsx
  portal/src/app/[popup]/invite/[group]/page.tsx
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/Quote.tsx
  portal/src/app/checkout/page.tsx
  portal/src/app/checkout/success/page.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-header.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/lib/background-image.ts
Due: biome-check-backoffice, biome-check-portal

fix(portal): ensure loading state accounts for popups in Invite and Checkout pages
  portal/src/app/[popup]/invite/[group]/page.tsx
  portal/src/app/checkout/page.tsx
Due: biome-check-portal

add: passess design
  portal/next-env.d.ts
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/ScrollySectionNav.tsx
  portal/src/app/checkout/components/steps/HousingStep.tsx
  portal/src/app/checkout/components/steps/MerchSection.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
Due: biome-check-portal

add: package manager vercel
  package.json
Due: none

remove: yarn lock
  yarn.lock
Due: none

add: next config
  portal/next-env.d.ts
  portal/next.config.ts
Due: biome-check-portal

add: tenant
  portal/src/app/layout.tsx
  portal/src/lib/tenant.ts
  portal/src/providers/tenantProvider.tsx
Due: biome-check-portal

feat(backend): add companion participation detection CRUD and schemas
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add participation endpoint and companion guard
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add participation endpoint and companion guard tests
  backend/tests/conftest.py
  backend/tests/test_participation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI client for participation endpoint
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal): add participation hooks and extend ApplicationProvider
  portal/src/hooks/useMyTicketsQuery.ts
  portal/src/hooks/useParticipationQuery.ts
  portal/src/lib/query-keys.ts
  portal/src/providers/applicationProvider.tsx
Due: biome-check-portal

feat(portal): add companion view and passes for companion users
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/usePermission.ts
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/components/CompanionPasses.tsx
  portal/src/components/CompanionView.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

add: variants
  portal/next.config.ts
  portal/src/app/checkout/components/DesignVariantPanel.tsx
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/ScrollySectionNav.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
Due: biome-check-portal

feat(portal): add reactive useIsAuthenticated hook and replace all isLoggedIn() calls
  portal/src/app/auth/page.tsx
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/app/checkout/hooks/useEmailVerification.ts
  portal/src/app/page.tsx
  portal/src/components/Sidebar/hooks/useGetGroups.ts
  portal/src/hooks/useAuth.ts
  portal/src/hooks/useCartApi.ts
  portal/src/hooks/useGetApplications.ts
  portal/src/hooks/useGetPopups.ts
  portal/src/hooks/useGetPurchases.ts
  portal/src/hooks/useIsAuthenticated.ts
  portal/src/hooks/useMyTicketsQuery.ts
  portal/src/hooks/useParticipationQuery.ts
  portal/src/hooks/useProductsQuery.ts
Due: biome-check-portal

refactor(portal): consolidate invite route into /checkout as single entry point
  portal/src/app/[popup]/invite/[group]/hook/useGetInviteData.ts
  portal/src/app/[popup]/invite/[group]/layout.tsx
  portal/src/app/[popup]/invite/[group]/page.tsx
  portal/src/app/checkout/components/CheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/components/profile/Groups.tsx
  portal/src/components/profile/ReferralLinks.tsx
Due: biome-check-portal

fix(backend): remove sensitive fields from PopupPublic and add tenant-scoped public endpoint
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/models.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/popups/index.tsx
  portal/src/app/checkout/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/ToolbarTop.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/providers/cityProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): fix checkout back-navigation — application upsert and form pre-fill
  backend/app/api/application/router.py
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/checkout/hooks/useUserForm.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): use useEffect for auth redirect instead of render-time redirect
  portal/src/components/Authentication.tsx
Due: biome-check-portal

fix(portal): adjust popup dropdown alignment and width
  portal/src/components/Sidebar/PopupsMenu.tsx
Due: biome-check-portal

fix(portal): avoid mutating attendees array in sortAttendees
  portal/src/helpers/filters.ts
Due: biome-check-portal

refactor(portal): memoize provider context values and stabilize callbacks
  portal/src/providers/applicationProvider.tsx
  portal/src/providers/cityProvider.tsx
  portal/src/providers/discountProvider.tsx
Due: biome-check-portal

refactor(portal): stabilize passesProvider and fix checkout step restoration
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal

fix(backoffice): restrict email templates access for viewer role
  backoffice/src/routes/_layout/email-templates/$type.edit.tsx
  backoffice/src/routes/_layout/email-templates/index.tsx
Due: biome-check-backoffice

Improve auth flow and login form validation
  backoffice/src/hooks/useAuth.ts
  backoffice/src/main.tsx
  backoffice/src/routes/login.tsx
Due: biome-check-backoffice

add: modular ticketing
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/StepConfigPanel.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/useProductCategories.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal
