Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

refactor(backend): resolve third-party tenant from api key alone (drop X-Tenant-Id header)
  backend/app/api/auth/router.py
  backend/app/api/auth/schemas.py
  backend/tests/api/auth/test_third_party_login.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): hash tenant third-party key with peppered SHA-256 to match api_keys convention
  backend/app/alembic/versions/5e5739582c92_third_party_otp_scoped_auth.py
  backend/app/api/auth/router.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): enforce third-party scope subset on portal api-key minting
  backend/app/api/api_key/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): tenant third-party key rotation and revocation endpoints
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): tag OTP codes with origin and reject cross-flow redemption
  backend/app/alembic/versions/3e8f4a2b1c5d_humans_auth_code_origin.py
  backend/app/api/auth/crud.py
  backend/app/api/auth/router.py
  backend/app/api/human/schemas.py
  backend/app/core/redis.py
  backend/tests/api/auth/test_third_party_login.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): third-party human OTP login and authenticate endpoints
  backend/app/api/auth/crud.py
  backend/app/api/auth/router.py
  backend/app/api/auth/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): admin-api-key dual-auth coverage across 14 domains
  backend/tests/api/admin_api_key/test_domain_dual_auth.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): admin-owned API keys CRUD module and router
  backend/app/api/admin_api_key/__init__.py
  backend/app/api/admin_api_key/crud.py
  backend/app/api/admin_api_key/router.py
  backend/app/api/admin_api_key/schemas.py
  backend/app/api/api_key/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): hide third-party integration panel for non-admin roles
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

feat(backoffice): third-party integration panel in tenant settings
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/components/forms/ThirdPartyIntegrationSection.tsx
Due: biome-check-backoffice

feat(auth): swap people-centric admin routes to AdminOrApiKey dual-auth
  backend/app/api/application/router.py
  backend/app/api/group/router.py
  backend/app/api/human/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): wire admin-api-keys router in api aggregator
  backend/app/api/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate OpenAPI client for third-party and admin api-keys endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(auth): add CurrentCheckInOrApiKey factory and CurrentOperatorJwtOnly dep
  backend/app/api/user/router.py
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): hide Agentic access sidebar entry behind feature flag
  backoffice/src/components/Sidebar/AppSidebar.tsx
Due: biome-check-backoffice

test(backend): drop unused imports in admin dual-auth tests
  backend/tests/api/admin_api_key/test_domain_dual_auth.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): refresh OpenAPI clients after X-Tenant-Id removal and OTP origin tagging
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

test(backend): fix lint in admin api-keys CRUD tests
  backend/tests/api/admin_api_key/test_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(auth): swap event ecosystem admin routes to AdminOrApiKey dual-auth
  backend/app/api/attendee/router.py
  backend/app/api/event/router.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_venue/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): admin api-keys CRUD contract tests
  backend/tests/api/admin_api_key/__init__.py
  backend/tests/api/admin_api_key/test_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): admin API keys management page
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/api-keys.tsx
Due: biome-check-backoffice

feat(auth): swap config/catalog admin routes to AdminOrApiKey dual-auth
  backend/app/api/form_field/router.py
  backend/app/api/form_section/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/track/router.py
  backend/app/api/translation/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(auth): swap commerce admin routes to AdminOrApiKey dual-auth
  backend/app/api/coupon/router.py
  backend/app/api/payment/router.py
  backend/app/api/product/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): drop incorrect global unique on users.email and normalize humans email casing
  backend/app/alembic/versions/d8f2e4a9c1b6_lowercase_emails.py
  backend/app/api/auth/pending_human_models.py
  backend/app/api/human/schemas.py
  backend/app/api/user/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(shared-form-ui): align PhoneInputForm styling with standard input
  packages/shared-form-ui/src/components/Form/PhoneInputForm.tsx
Due: none

fix(events): treat rejected events as freeing the venue slot
  backend/app/api/event/crud.py
  backend/tests/test_recurrence_conflicts.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): also invalidate attendees query after successful payment
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

fix(backoffice): emoji input shows step-type's default icon, not a hardcoded ticket
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

test(payment): add failing unit tests for calculate_contribution_amount
  backend/tests/api/payment/test_contribution_calculation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): implement calculate_contribution_amount pure function
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(alembic): rebase purchase_metadata onto upstream auth-migration chain
  backend/app/alembic/versions/a1f9c2e8b5d1_attendee_products_purchase_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add contribution fields to popup model and migration
  backend/app/alembic/versions/f6c1f50160ef_popup_contribution_fee.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_popup_contribution_patch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): add contribution_amount to PaymentBase and PaymentPreview
  backend/app/api/payment/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(payment): add failing integration tests for contribution in _apply_discounts
  backend/tests/api/payment/test_contribution_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): wire contribution fee into _apply_discounts and payment creation
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(payment): add direct-sale exclusion and persistence tests for contribution
  backend/tests/api/payment/test_contribution_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(lint): fix ruff import order and unused import in contribution tests
  backend/tests/api/payment/test_contribution_calculation.py
  backend/tests/api/payment/test_contribution_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI client with contribution fee fields
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal): show RSVP loading + error feedback on events list
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(events): replace status dropdown with Save as Draft / Publish Event buttons
  backoffice/src/components/forms/EventForm.tsx
Due: biome-check-backoffice

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
