Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(invites): gate pending link checkout
  backend/app/api/application/crud.py
  backend/app/api/group/router.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/tests/api/invite/test_unified_link_api.py
  backend/tests/api/link/test_portal_links.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/components/PopupCheckoutContent.test.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/invite/[token]/page.tsx
  portal/src/app/r/[code]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flow): create fresh flows explicitly
  backend/app/api/form_field/router.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/app/api/ticketing_step/router.py
  backend/tests/api/form_field/test_copy_form_to_flow_endpoint.py
  backend/tests/api/invite/test_invite_flow_scope.py
  backend/tests/api/sales_flow/test_a_new_door_only_gets_what_it_can_use.py
  backend/tests/api/sales_flow/test_flow_seeds_from_sibling.py
  backend/tests/api/sales_flow/test_flow_theme_scope.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backend/tests/api/ticketing_step/test_copy_steps_to_flow.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/components/SalesFlows/FlowSectionLinks.test.tsx
  backoffice/src/components/forms/CopyFormToFlowDialog.test.tsx
  backoffice/src/components/forms/CopyFormToFlowDialog.tsx
  backoffice/src/components/forms/FlowNameCell.tsx
  backoffice/src/components/forms/FlowPicker.tsx
  backoffice/src/components/forms/FormFieldForm.tsx
  backoffice/src/components/forms/FormSectionForm.tsx
  backoffice/src/components/forms/NewSalesFlowWizard.test.tsx
  backoffice/src/components/forms/NewSalesFlowWizard.tsx
  backoffice/src/hooks/useFlowScope.test.tsx
  backoffice/src/hooks/useFlowScope.ts
  backoffice/src/lib/salesFlowQueries.ts
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
  backoffice/src/routes/_layout/form-builder/index.tsx
  backoffice/src/routes/_layout/sales-flows/index.tsx
  backoffice/src/routes/_layout/theme/index.tsx
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add purchase orders
  backend/app/api/popup/schemas.py
  backend/tests/api/payment/test_http_my_payments_by_popup.py
  backend/tests/api/popup/test_portal_popup_reports_its_doors.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.test.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.test.ts
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.ts
  portal/src/app/portal/[popupSlug]/orders/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add people and access views
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.tsx
  portal/src/app/portal/[popupSlug]/people/page.tsx
  portal/src/app/portal/[popupSlug]/people/peopleProjection.test.ts
  portal/src/app/portal/[popupSlug]/people/peopleProjection.ts
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.ts
  portal/src/app/portal/[popupSlug]/tickets/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): show the backend's reason when checkout fails
  portal/src/hooks/checkout/errorDispatch.test.ts
  portal/src/hooks/checkout/errorDispatch.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

refactor(portal): route checkout and applications through named flows
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/lib/resolveApplicationFlowId.test.ts
  portal/src/app/portal/[popupSlug]/application/lib/resolveApplicationFlowId.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.test.tsx
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/hooks/usePortalSalesFlows.test.ts
  portal/src/lib/language-storage.test.ts
Due: biome-check-portal

feat(portal): add privacy-safe interaction telemetry
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/portal-telemetry.test.ts
  portal/src/lib/portal-telemetry.ts
Due: biome-check-portal

test(portal): cover application checkout redirect
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.test.tsx
Due: biome-check-portal

fix(portal): restore popup host label translations
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(checkout): isolate open-cart persistence by flow
  portal/src/hooks/checkout/useOpenCartPersistence.flow.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/providers/checkoutProvider.tsx
  portal/vitest.setup.ts
Due: biome-check-portal

feat(portal): organize navigation around available participation
  portal/src/app/portal/[popupSlug]/passes/layout.test.tsx
  portal/src/app/portal/[popupSlug]/passes/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
  portal/src/app/portal/[popupSlug]/shop/components/shopOffers.test.ts
  portal/src/app/portal/[popupSlug]/shop/components/shopOffers.ts
  portal/src/app/portal/[popupSlug]/tickets/LegacyTicketsRedirect.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/LegacyTicketsRedirect.tsx
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/Sidebar/StatusResource/ResourceMenuItem.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResources.ended.test.tsx
  portal/src/hooks/useResources.shop.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/types/resources.ts
Due: biome-check-portal

feat(portal): strengthen people tickets and orders hierarchy
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.tsx
  portal/src/app/portal/[popupSlug]/people/peoplePresentation.test.ts
  portal/src/app/portal/[popupSlug]/people/peoplePresentation.ts
  portal/src/app/portal/[popupSlug]/people/peopleProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
Due: biome-check-portal

feat(portal): brand navigation and Shop catalog
  portal/src/app/portal/PortalShell.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/Sidebar/PopupsMenu.tsx
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/Sidebar/SidebarComponents.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(checkout): clear cache on direct identity switch
  portal/src/app/checkout/components/PopupCheckoutContent.test.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
Due: biome-check-portal

test(portal): align checkout test contracts
  portal/src/app/checkout/[popupSlug]/thank-you/page.test.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.test.tsx
  portal/src/hooks/checkout/useTicketsStep.test.ts
Due: biome-check-portal

test(portal): isolate event focus boundaries
  portal/src/app/portal/[popupSlug]/events/page.test.tsx
Due: biome-check-portal

test(portal): stabilize event date fixture
  portal/src/app/portal/[popupSlug]/events/new/page.test.tsx
Due: biome-check-portal

feat(portal): scope flow themes to checkout
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.flow.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/common/LanguageSwitcher.flowTheme.test.tsx
  portal/src/components/common/LanguageSwitcher.tsx
  portal/src/providers/themeProvider.test.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(portal): isolate portal chrome tokens
  portal/src/app/globals.css
  portal/src/app/portal/PortalShell.test.tsx
  portal/src/app/portal/PortalShell.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarComponents.tsx
Due: biome-check-portal

feat(portal): add Directory sidebar identity
  portal/src/app/globals.css
  portal/src/components/Sidebar/PopupsMenu.test.tsx
  portal/src/components/Sidebar/PopupsMenu.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarComponents.tsx
  portal/src/components/Sidebar/portalSidebarTokens.test.tsx
  portal/src/hooks/useResources.directory.test.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/directoryLocalization.test.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): refine tickets access rows
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): add responsive orders ledger
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.test.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.test.ts
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.ts
Due: biome-check-portal

fix(sales-flows): enforce upsale restrictions in portal catalog
  backend/app/api/application/crud.py
  backend/tests/api/sales_flow/test_portal_upsale_listing.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): remove sales flow visibility notices
  backoffice/src/components/SalesFlows/FlowStandingCard.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.test.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

fix(portal): preserve chrome styling in overlay menus
  portal/src/components/MobilePopupSwitcher.tsx
  portal/src/components/Sidebar/CartBadge.tsx
  portal/src/components/Sidebar/DropdownMenu.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/components/common/LanguageSwitcher.tsx
Due: biome-check-portal

style(portal): polish order ledger cards
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
Due: biome-check-portal

style(portal): refine shop catalog cards
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
Due: biome-check-portal

style(checkout): remove portal logo from step navigation
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

fix(checkout): align cart footer with portal sidebar
  portal/src/app/globals.css
  portal/src/components/checkout-flow/SnapFooter.tsx
Due: biome-check-portal

fix(checkout): refresh upsale catalog after approval
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

feat(sales-flows): expose safe portal price summaries
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_portal_flow_listing.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backend/tests/api/sales_flow/test_portal_upsale_listing.py
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add truthful Shop card hierarchy
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
  portal/src/app/portal/[popupSlug]/shop/components/shopOffers.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(sales-flow): restrict application shop prices
  backend/app/api/sales_flow/crud.py
  backend/tests/api/sales_flow/test_portal_flow_listing.py
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(portal): align legacy passes redirect coverage
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
Due: biome-check-portal

chore(api): regenerate clients for AI copilot endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(ai): expire restored download cards safely
  backoffice/src/components/ai/ActivitySummary.test.tsx
  backoffice/src/components/ai/ToolPartRenderer.tsx
  backoffice/src/components/ai/ToolShell.test.tsx
  backoffice/src/components/ai/ToolShell.tsx
  backoffice/src/components/ai/conversation-store.test.ts
  backoffice/src/components/ai/conversation-store.ts
  backoffice/src/components/ai/tool-types.ts
Due: biome-check-backoffice

fix(checkout): prevent duplicate companion ticket lines
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
Due: biome-check-portal
