Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(backend): merge the amanita-skin and dev migration lineages
  backend/app/alembic/versions/5e55fdcf3ff9_merge_amanita_skin_branch_with_dev.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(translations): make hero copy translatable
  backend/app/api/translation/service.py
  backend/tests/api/translation/test_translation_service.py
  backoffice/src/components/translations/templateConfigLeaves.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): surface the language switcher on the Amanita checkout
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
Due: biome-check-portal

feat(portal): translate the Amanita catalog buttons
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(carts): handle anonymous open-checkout carts in abandoned list
  backend/app/api/cart/router.py
  backend/app/api/cart/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/abandoned-carts.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(carts): match anonymous cart email case-insensitively
  backend/app/api/cart/crud.py
  backend/tests/api/checkout/test_open_cart.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(products): de-flake concurrent stock decrement race
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): in-card confirm CTA, and gate the buyer form on the stepper
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(portal): centre the bottom bar's Total on the bar, not on the gap
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

style(portal): collapse calls biome's formatter wants on one line
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

fix(checkout): collect buyer fields via the form builder, not bespoke code
  backend/app/alembic/versions/5e55fdcf3ff9_merge_amanita_skin_branch_with_dev.py
  backend/app/alembic/versions/70e815ed504e_add_phone_to_humans.py
  backend/app/api/checkout/schemas.py
  backend/app/api/human/crud.py
  backend/app/api/human/schemas.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/human/test_phone_field.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
  portal/src/hooks/checkout/usePaymentSubmit.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): render the organizer's fields on open-ticketing checkouts
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/app/checkout/types.test.ts
  portal/src/app/checkout/types.ts
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

fix(portal): one heading and a paired name row on the Amanita buyer step
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

feat(carts): key open-checkout carts by human, one per email
  backend/app/alembic/versions/e266b8601d0c_drop_unused_anonymous_cart_email_index.py
  backend/app/api/cart/crud.py
  backend/app/api/cart/models.py
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_open_cart.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): let the amanita skin own the hero's ornaments
  backend/app/services/image_ingestion.py
  backend/tests/services/test_image_ingestion.py
  backoffice/src/components/ticketing-step-builder/template-configs/HeroConfig.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
  portal/src/components/checkout-flow/variants/VariantHero.test.tsx
  portal/src/components/checkout-flow/variants/VariantHero.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(migration): drop legacy backfill from groups_rework
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): caption amanita cards from the section, not its products
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
  portal/src/hooks/checkout/ticketSections.ts
  portal/src/hooks/checkout/useTicketsStep.test.ts
  portal/src/hooks/checkout/useTicketsStep.ts
Due: biome-check-portal

feat(popups): invalidate group/invite/referral links on ended popups
  backend/app/api/group/router.py
  backend/app/api/invite/router.py
  backend/app/api/popup/guards.py
  backend/app/api/referral/router.py
  backend/tests/api/group/test_my_groups_membership.py
  backend/tests/api/invite/test_invites.py
  backend/tests/api/referral/test_referrals.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(invite): recognize the redeemer on re-entry, redirect to portal
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/app/core/dependencies/users.py
  backend/tests/api/invite/test_invites.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/invite/[token]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat: self-serve trial provisioning + magic-link handoff al backoffice
  backend/app/alembic/versions/b3d8f1a6c4e2_tenant_trials.py
  backend/app/api/attendee/crud.py
  backend/app/api/auth/crud.py
  backend/app/api/router.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/app/api/trial/__init__.py
  backend/app/api/trial/crud.py
  backend/app/api/trial/models.py
  backend/app/api/trial/router.py
  backend/app/api/trial/schemas.py
  backend/app/core/redis.py
  backend/app/jobs/trial_expiration.py
  backend/app/models.py
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/trial_expiration.py
  backend/app/services/trial_limits.py
  backend/app/templates/emails/auth/trial_ended.html
  backend/app/templates/emails/auth/trial_reminder.html
  backend/app/templates/emails/auth/trial_welcome.html
  backend/tests/api/trial/__init__.py
  backend/tests/api/trial/test_trial_attendee_cap.py
  backend/tests/api/trial/test_trial_suspension.py
  backend/tests/api/trial/test_trials.py
  backend/tests/conftest.py
  backend/tests/services/test_trial_expiration.py
  backoffice/src/routes/_layout/index.tsx
  backoffice/src/routes/login.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): shape the amanita buyer form and confirm like the mockup
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

style(portal): wrap the assertions biome ci wants across lines
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
Due: biome-check-portal

fix(checkout): link accepted applications to the group so its discount applies
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
Due: biome-check-portal

fix(portal): remove the passes section from the group member view
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MemberItem.tsx
Due: biome-check-portal

fix(checkout): read the buyer and confirm headings from the step config
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/skins/amanita/SectionShell.tsx
Due: biome-check-portal

feat(checkout): make the buyer step one the step config owns
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

style(portal): collapse an assertion biome ci wants on fewer lines
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
Due: biome-check-portal

feat(form-builder): regenerate field key on label edit while unused
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/tests/api/form_field/test_form_field_rename.py
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(auth): make get_optional_human degrade to anonymous on any bad token
  backend/app/core/dependencies/users.py
  backend/tests/api/invite/test_invites.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): an organizer-named pay button, and amanita bar fixes
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBackground.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/skins/amanita/SectionShell.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-backoffice, biome-check-portal

fix(portal): give the empty confirm state the brand mark, not a shopping bag
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
Due: biome-check-portal

style(portal): size the empty-state brand mark
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
Due: biome-check-portal

fix(backoffice): botón Report a bug legible en light theme
  backoffice/src/components/Tasks/ReportBugButton.tsx
Due: biome-check-backoffice

feat(backoffice): sección Onboarding propia, default para tenants en trial
  backoffice/src/components/Dashboard/TrialOnboarding.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/index.tsx
  backoffice/src/routes/_layout/onboarding.tsx
Due: biome-check-backoffice

feat(checkout): per-step FAQs, authored in the backoffice
  backoffice/src/components/ticketing-step-builder/template-configs/FaqItemsEditor.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/FaqItemsEditor.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/FaqsConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/FaqsConfig.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaStepFaqs.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaStepFaqs.tsx
  portal/src/components/checkout-flow/skins/amanita/FaqList.tsx
  portal/src/components/checkout-flow/skins/amanita/FaqsDrawer.tsx
Due: biome-check-backoffice, biome-check-portal

fix(checkout): draw the step's Footer Note in the stepper
  portal/src/components/checkout-flow/StepFootnotes.test.tsx
  portal/src/components/checkout-flow/StepFootnotes.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

fix(portal): serve skin art with CORS so masked ornaments render
  portal/next.config.ts
Due: biome-check-portal

style(portal): apply pending biome unsafe autofixes
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
Due: biome-check-portal

fix(checkout): drop the redundant section heading on the buyer step
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
