Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

perf(backend): eliminate N+1 queries in list endpoints
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application_review/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/models.py
  backend/app/api/event_venue/crud.py
  backend/app/api/group/crud.py
  backend/app/api/popup_reviewer/router.py
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(bulk-grant): search, category filter, and sortable headers on products table
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
Due: biome-check-backoffice

refactor(check-in-pass): eliminate N+1, move ORM to CRUD, source subject from metadata
  backend/app/api/attendee/crud.py
  backend/app/api/popup/crud.py
  backend/app/services/checkin_pass_dispatch.py
  backend/app/services/email/templates.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(emails): redesign check-in pass default template for editor edits
  backend/app/templates/emails/check_in/pass.html
Due: generate-sdk

refactor(check-in-pass): run dispatch as a job module, drop HTTP cron endpoint
  .env.example
  backend/README.md
  backend/app/api/internal/router.py
  backend/app/api/router.py
  backend/app/core/config.py
  backend/app/jobs/__init__.py
  backend/app/jobs/checkin_pass_dispatch.py
  backend/tests/test_checkin_pass_dispatch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(popup): cover disabling check-in pass via PopupUpdate
  backend/tests/test_popup_checkin_pass_lead_days.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(jobs): bootstrap SQLAlchemy registry by importing the models barrel
  backend/app/jobs/__init__.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(ui): scrollable products dialog and drop events:write coming-soon styling
  backoffice/src/components/ui/table.tsx
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
  portal/src/app/portal/agentic-access/page.tsx
Due: biome-check-backoffice, biome-check-portal

feat(humans): superadmin hard delete with full cascade
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/tests/api/human/test_hard_delete_cascade.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(humans): drop deleted human's cached queries before invalidating list
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice

fix(events): show email times in the event timezone, harden portal tz flash
  backend/app/api/event/router.py
  backend/app/services/approval_notify.py
  backend/app/services/event_datetime.py
  backend/app/services/event_itip.py
  backend/tests/test_event_when_format.py
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(attendees): filter list by attendees with at least one ticket
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/api/attendee/test_find_by_popup_has_tickets.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/attendees.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(humans): invalidate list query after delete
  backoffice/src/routes/_layout/humans/$id.edit.tsx
Due: biome-check-backoffice

feat(ui): reusable thin-scrollbar utility on DataTable
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/index.css
Due: biome-check-backoffice

fix(events): stop edit form from clobbering saved start time with venue's open hour
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
Due: biome-check-portal

feat(payments): show buyer email/name in payments table
  backend/app/api/payment/crud.py
  backend/app/api/payment/models.py
  backend/app/api/payment/schemas.py
  backend/tests/api/payment/test_payment_list_search.py
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(grant-tickets): collect only email when granting tickets
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
Due: biome-check-backoffice

feat(products): add category filter and sortable category column
  backend/app/api/product/crud.py
  backend/tests/api/product/test_product_list_filter_sort.py
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(events): filter by creator + staff-only admin notes
  backend/app/alembic/versions/d4b1e7a9c2f5_event_admin_notes.py
  backend/app/api/event/crud.py
  backend/app/api/event/models.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/core/dependencies/users.py
  backend/tests/test_event_admin_notes.py
  backend/tests/test_event_creator_filter.py
  backoffice/src/routes/_layout/events/$eventId.edit.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate backoffice & portal API clients
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(test): isolate product filter/sort tests with a dedicated popup
  backend/tests/api/product/test_product_list_filter_sort.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): add "View on Geobrowser" link on event detail page
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(events): recognize superadmins as staff for portal admin notes
  backend/app/core/dependencies/users.py
  backend/tests/test_event_admin_notes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): always render calendar in popup timezone
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_timezone.py
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/lib/events/useEventTimezone.ts
  backoffice/src/routes/_layout/events/index.tsx
  packages/shared-events/src/index.ts
  packages/shared-events/src/venue-slots.test.ts
  packages/shared-events/src/venue-slots.ts
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useEventTimezone.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): localize popup card dates with valid locale
  portal/src/app/portal/[popupSlug]/application/components/form-header.tsx
  portal/src/components/Card/EventCard.tsx
  portal/src/helpers/dates.ts
Due: biome-check-portal

fix(db): drop unused invites.recipient_human_id column
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
  backend/app/api/invite/models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(db): groups-rework PR-1 DB foundation — schema, models, and migration
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
  backend/app/api/application/schemas.py
  backend/app/api/event/schemas.py
  backend/app/api/group/schemas.py
  backend/app/api/invite/__init__.py
  backend/app/api/invite/models.py
  backend/app/api/popup/schemas.py
  backend/app/api/referral/__init__.py
  backend/app/api/referral/models.py
  backend/app/models.py
  backend/tests/migrations/test_groups_rework_foundation_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(db): rebase migration onto current dev head
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): add EventOpaque schema and project_event_for opacity chokepoint
  backend/app/api/event/schemas.py
  backend/app/services/event_visibility.py
  backend/tests/services/__init__.py
  backend/tests/services/test_event_visibility.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(groups): add get_human_group_ids to GroupsCRUD — T-gr-009
  backend/app/api/group/crud.py
  backend/tests/services/test_group_crud_helper.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): plumb opacity chokepoint into 7 portal/availability endpoints
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/api/event/test_opacity_chokepoint.py
  backend/tests/services/test_event_visibility.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): plumb opacity chokepoint into portal venue availability endpoint
  backend/app/api/event_venue/router.py
  backend/tests/api/event/test_opacity_chokepoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(applications): explicit group flag reads for auto-accept and express checkout
  backend/app/api/application/crud.py
  backend/tests/api/group/__init__.py
  backend/tests/api/group/test_group_flags.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(groups): POST /groups/{id}/members/by-application M:N entry point
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/tests/api/group/test_members_by_application.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): whitelist resolution hook on signup + popup flag guards
  backend/app/api/application/crud.py
  backend/app/api/group/schemas.py
  backend/app/api/human/crud.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/group/test_whitelist_hook.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(lint): fix import sort order in group router and human crud
  backend/app/api/group/router.py
  backend/app/api/human/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(group): update express-checkout test to set explicit flags
  backend/tests/test_group_express_checkout_attendee.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): add popup-scoped placeholder image for events
  backend/app/alembic/versions/7a3f9c1d8e2b_event_settings_placeholder_url.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_settings/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): use backend presigned URL flow for profile photo upload
  portal/src/helpers/upload.ts
Due: biome-check-portal

feat(backend): add request-scoped logging with request_id and principal
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
