Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(backend): merge divergent alembic heads from trial provisioning
  backend/app/alembic/versions/f30eec99dce9_merge_tenant_trials_and_drop_anonymous_.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(backoffice): use semantic color tokens in new components
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(applications): show the applicant's rating in the detail
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Humans/HumanRatingBadge.tsx
  backoffice/src/routes/_layout/humans/$id.tsx
Due: biome-check-backoffice

fix(applications): fetch reviewer identities via the control-plane session
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): warn when a section step has no product category
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionsEditor.tsx
Due: biome-check-backoffice

style(backoffice): align redesign copy to gathering terminology
  backoffice/src/components/ticketing-step-builder/step-detail/ConfirmStepFields.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
Due: biome-check-backoffice

fix(backoffice): restore sidebar label contrast in light theme
  backoffice/src/components/Common/Appearance.tsx
  backoffice/src/components/Sidebar/PopupSelector.tsx
  backoffice/src/components/Sidebar/TenantSelector.tsx
  backoffice/src/components/Sidebar/User.tsx
Due: biome-check-backoffice

style(backoffice): align admin copy to gathering and organization terms
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/taskMeta.ts
  backoffice/src/components/forms/TenantCredentialsSection.tsx
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/components/forms/UserForm.tsx
  backoffice/src/routes/_layout/admin/index.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  backoffice/src/routes/_layout/popups/index.tsx
Due: biome-check-backoffice

refactor(backoffice/popups): reorganize PopupForm into ordered tabs
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(portal): add floating help button with mailto support
  portal/src/components/HelpButton.tsx
  portal/src/components/Providers.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

style(backoffice/popups): apply biome formatting to PopupForm tabs
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

fix(portal): allow editing applications while in review
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

feat(backend): add automatic reminder emails engine
  backend/app/alembic/versions/c4e9a1b7d3f2_email_logs.py
  backend/app/alembic/versions/d5b8e2f1a9c4_popup_reminder_cadence.py
  backend/app/api/email_log/__init__.py
  backend/app/api/email_log/crud.py
  backend/app/api/email_log/models.py
  backend/app/api/email_log/schemas.py
  backend/app/api/email_template/schemas.py
  backend/app/api/popup/schemas.py
  backend/app/jobs/reminder_dispatch.py
  backend/app/models.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/reminder_dispatch.py
  backend/app/templates/emails/application/abandoned_application.html
  backend/app/templates/emails/application/purchase_reminder.html
Due: local-ruff-check, local-ruff-format, generate-sdk

style(portal): collapse accepted/rejected guard onto one line for biome
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

fix(portal): drop hardcoded help email, hide button without tenant sender_email
  portal/src/components/HelpButton.tsx
Due: biome-check-portal

chore(clients): regenerate OpenAPI clients with reminder template types
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): add automatic reminder email config to popup settings
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(backoffice): improve reminder email settings usability
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

refactor(backoffice): align check-in pass email with automatic emails section
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

fix(backoffice): exclude display-only fields from application columns and truncate long labels
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backoffice): group email templates list by category with honest badges
  backoffice/src/routes/_layout/email-templates/index.tsx
Due: biome-check-backoffice

test(backend): add reminder dispatch integration tests
  backend/tests/test_reminder_dispatch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat: add email logs section to the backoffice
  backend/app/api/email_log/__init__.py
  backend/app/api/email_log/crud.py
  backend/app/api/email_log/router.py
  backend/app/api/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/email-logs.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backend): enforce form validation on application updates and close base-field bypasses
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/base_field_config/router.py
  backend/app/api/checkout/crud.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/application/test_portal_update_validation.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/form_field/test_base_field_config_guards.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(applications): add reviewer comment threads and skip action
  backend/app/alembic/versions/e88d72173244_application_comments_and_skips.py
  backend/app/api/application/crud.py
  backend/app/api/application/models.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/application_review/crud.py
  backend/app/api/application_review/models.py
  backend/app/api/application_review/router.py
  backend/app/api/application_review/schemas.py
  backend/app/api/human/models.py
  backend/app/api/shared/models.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Applications/ApplicationCommentThread.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): optional short label for custom form fields as column name
  backend/app/alembic/versions/0795d50caaa6_add_form_field_short_label.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/schemas.py
  backend/tests/api/form_field/test_form_field_short_label.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backend): chain short_label migration off current dev head
  backend/app/alembic/versions/0795d50caaa6_add_form_field_short_label.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(humans): replace enrichment evidence deep links with source labels
  backend/app/alembic/versions/cb6357be874e_enrichment_fact_source_label.py
  backend/app/api/human/crud.py
  backend/app/api/human/models.py
  backend/app/api/human/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Humans/EnrichedProfileCard.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(backend): apply ruff format to tenant models
  backend/app/api/tenant/models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): expose per-reviewer skip state and reason on applications
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/application_review/crud.py
  backend/app/api/application_review/router.py
  backend/tests/api/application_review/test_skip_visibility.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): sticky review sidebar and visible skip state
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Applications/ApplicationCommentThread.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(backoffice): show real pending total and load up to 1000 in review queue
  backoffice/src/routes/_layout/applications/review-queue.tsx
Due: biome-check-backoffice

fix(backoffice): reset table page when switching gathering
  backoffice/src/components/Sidebar/PopupSelector.tsx
Due: biome-check-backoffice

feat(backend): complex filter conditions for the applications list
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_list_filters.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): filter builder for the applications list
  backoffice/src/components/Applications/ApplicationFilterBuilder.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backoffice): merge quick status select into the filter conditions
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

fix(portal): preserve popup URL through login
  portal/src/components/Authentication.test.tsx
  portal/src/components/Authentication.tsx
  portal/src/lib/safe-return-to.test.ts
  portal/src/lib/safe-return-to.ts
  portal/src/providers/queryProvider.tsx
Due: biome-check-portal

fix(backoffice): stop legacy status param from resurrecting filter conditions
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backoffice): export CSV respects the active filters
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice

feat(backend): per-user virtual filter fields skipped_by_me and reviewed_by_me
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_list_filters.py
  backoffice/src/client/sdk.gen.ts
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
