Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

docs(events): add manual test plan for portal + backoffice events flow
  docs/events-testing.md
Due: none

feat(payments): add server-side search for popup payments
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/api/payment/test_payment_list_search.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/payments.helpers.test.ts
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): venue edit-mode availability fix + portal venue photo/edit
  backend/app/api/event_venue/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): move events create button next to page heading
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(checkout): support schema-backed personal info form
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.test.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/PersonalInfoForm.tsx
  portal/src/app/checkout/components/UserInfoForm/UserInfoForm.test.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useApplicationData.test.ts
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/app/checkout/hooks/useCheckoutState.test.ts
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/checkout/hooks/useUserForm.ts
  portal/src/app/checkout/types.test.ts
  portal/src/app/checkout/types.ts
Due: biome-check-portal

fix(events): treat venues with no weekly hours as always-open in the UI
  backoffice/src/components/VenueHoursSummary.tsx
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/components/VenueHoursSummary.tsx
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): crop cover images before upload on events and venues
  backoffice/package.json
  backoffice/src/components/CoverImageCropper.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/ui/image-upload.tsx
  pnpm-lock.yaml
Due: biome-check-backoffice

chore: gitignore local scratch notes (*.local.md, TODO.local.md)
  .gitignore
Due: none

fix(payments): handle expired SimpleFI requests
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/services/simplefi/client.py
  backend/tests/test_simplefi_expired_webhook.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): add payments status filter and sorting
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/api/payment/test_payment_list_search.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/payments.helpers.test.ts
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): correct payments status typing
  backoffice/src/routes/_layout/payments.helpers.ts
Due: biome-check-backoffice

fix(portal): show inactive purchased passes
  portal/src/app/portal/[popupSlug]/passes/Tabs/BuyPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/providers/passesProvider.test.ts
  portal/src/providers/passesProvider.tsx
  portal/vitest.setup.ts
Due: biome-check-portal

fix(portal): ignore inactive passes in CTA pricing
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
Due: biome-check-portal

fix(portal): remove fake CTA registration counts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

add: variant ticket
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

chore(events): rework kinds, drop venue amenities, paste-many chips, fix property tenant ID
  backend/app/alembic/versions/0036_event_kinds_no_amenities.py
  backend/app/api/event_settings/schemas.py
  backend/app/api/event_venue/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/ChipInput.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/forms/VenueForm/PropertyPicker.tsx
  backoffice/src/routes/_layout/events/properties.tsx
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): pending-approval email backoffice link + portal popup-window hint on event creation
  backend/app/services/approval_notify.py
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): Day calendar view, URL-persisted state, RSVP per occurrence, popup-window backend validation
  backend/app/alembic/versions/0038_rsvp_occurrence_start.py
  backend/app/api/event/router.py
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/models.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_participant/schemas.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  portal/next-env.d.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

add: scroll header bar
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/new/page.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-portal

feat(api-keys): personal access tokens + dual auth + portal docs page
  backend/app/alembic/versions/0039_api_keys.py
  backend/app/api/api_key/__init__.py
  backend/app/api/api_key/crud.py
  backend/app/api/api_key/models.py
  backend/app/api/api_key/router.py
  backend/app/api/api_key/schemas.py
  backend/app/api/router.py
  backend/app/core/security.py
  backend/app/models.py
  portal/src/app/docs/page.tsx
  portal/src/app/portal/api-keys/page.tsx
  portal/src/components/Sidebar/FooterMenu.tsx
  portal/src/hooks/useApiKeys.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/apiKeysService.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): housing UX, mobile bg gap, error styling, initial loading
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(events): highlighted flag, popup-window anchored list, date-picker closed days
  backend/app/alembic/versions/0040_event_highlighted.py
  backend/app/api/event/crud.py
  backend/app/api/event/schemas.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  openapi.json
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/types.gen.ts
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/ui/date-picker.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): portal start-time UX overhaul + approval-required setting
  backend/app/alembic/versions/0041_events_require_approval.py
  backend/app/api/event/router.py
  backend/app/api/event_settings/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/settings.tsx
  openapi.json
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(auth): scope no-OTP checkout to a popup-bound token tier
  backend/app/alembic/versions/8b1f6e2c4d7a_popup_checkout_otp_toggle.py
  backend/app/api/auth/crud.py
  backend/app/api/auth/router.py
  backend/app/api/auth/schemas.py
  backend/app/api/coupon/router.py
  backend/app/api/email_template/router.py
  backend/app/api/form_field/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/core/dependencies/users.py
  backend/app/core/security.py
  backend/app/services/email_helpers.py
  backend/tests/test_checkout_otp_token.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/checkout/components/CheckoutLoginGate.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/EmailVerification.tsx
  portal/src/app/checkout/components/UserInfoForm/UserInfoForm.test.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useEmailVerification.ts
  portal/src/app/checkout/success/page.tsx
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Authentication.tsx
  portal/src/hooks/useGetApplications.ts
  portal/src/hooks/useIsAuthenticated.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/auth-token.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(ci): replace timezone.utc with UTC alias and fix portal test types
  backend/app/api/event/router.py
  portal/src/app/checkout/types.test.ts
  portal/src/providers/passesProvider.test.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(ci): sort imports in passesProvider.test.ts
  portal/src/providers/passesProvider.test.ts
Due: biome-check-portal

chore(backend): merge alembic heads after main into dev merge
  backend/app/alembic/versions/9180e5a720c7_merge_main_into_dev_heads.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Revert "Merge pull request #67 from p2p-lanes/feat/checkout-otp-token-tier"
  backend/app/alembic/versions/8b1f6e2c4d7a_popup_checkout_otp_toggle.py
  backend/app/api/auth/crud.py
  backend/app/api/auth/router.py
  backend/app/api/auth/schemas.py
  backend/app/api/coupon/router.py
  backend/app/api/email_template/router.py
  backend/app/api/form_field/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/core/dependencies/users.py
  backend/app/core/security.py
  backend/app/services/email_helpers.py
  backend/tests/test_checkout_otp_token.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/checkout/components/CheckoutLoginGate.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/EmailVerification.tsx
  portal/src/app/checkout/components/UserInfoForm/UserInfoForm.test.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useEmailVerification.ts
  portal/src/app/checkout/success/page.tsx
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Authentication.tsx
  portal/src/hooks/useGetApplications.ts
  portal/src/hooks/useIsAuthenticated.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/auth-token.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal/events): reposition add-to-calendar + tactile filter pills
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
Due: biome-check-portal

add: events toolbar, venue, pills ui
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/FilterToggleButtons.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/SearchField.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TagsPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TracksPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/ViewSwitcher.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/types.ts
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/Sidebar/hooks/useBreadcrumbNameMapping.ts
  portal/src/components/VenueHoursPreview.tsx
  portal/src/components/ui/pill.tsx
Due: biome-check-portal

feat(backoffice/events): venue UX overhaul, popup-aware date picker, smart defaults
  backoffice/src/components/VenueHoursPreview.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/StartTimeCombobox.tsx
  backoffice/src/components/forms/EventForm/VenueDetailsDialog.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/ui/date-picker.tsx
Due: biome-check-backoffice

feat(checkout): backend api for open ticketing direct-sale flow
  backend/app/alembic/versions/3f8a1c9e4b2d_open_ticketing_buyer_snapshot.py
  backend/app/api/checkout/__init__.py
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/coupon/crud.py
  backend/app/api/coupon/router.py
  backend/app/api/coupon/schemas.py
  backend/app/api/human/crud.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/api/router.py
  backend/app/core/rate_limit.py
  backend/app/main.py
  backend/tests/api/checkout/__init__.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/coupon/__init__.py
  backend/tests/api/coupon/test_validate_public.py
  backend/tests/api/human/__init__.py
  backend/tests/api/human/test_find_or_create.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_direct_payment_deleted.py
  backend/tests/core/__init__.py
  backend/tests/core/test_rate_limit.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate openapi clients for open ticketing endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

refactor(portal): locale-aware money formatting per popup currency
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/providers/cityProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

feat(portal): festival open ticketing checkout route
  portal/src/app/[popupSlug]/invite/[group]/page.tsx
  portal/src/app/[popupSlug]/page.tsx
  portal/src/app/checkout/[popupSlug]/components/CouponField.tsx
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/app/checkout/[popupSlug]/components/OrderSummary.tsx
  portal/src/app/checkout/[popupSlug]/components/PopupHero.tsx
  portal/src/app/checkout/[popupSlug]/components/ProductPicker.tsx
  portal/src/app/checkout/[popupSlug]/hooks/useCheckoutRuntime.ts
  portal/src/app/checkout/[popupSlug]/hooks/useOpenTicketingPurchase.ts
  portal/src/app/checkout/[popupSlug]/hooks/usePublicCoupon.ts
  portal/src/app/checkout/[popupSlug]/page.test.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/app/checkout/components/providers/Providers.tsx
  portal/src/app/checkout/layout.tsx
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/registries/stepRegistry.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/steps/OpenCheckoutBuyerStep.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/query-keys.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/discountProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

feat(portal): standardize event overview for direct-sale popups
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/components/Card/EventCard.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal
