Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(portal): do not answer for two doors at once
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/hooks/useRequireDoor.ts
  portal/src/hooks/useResources.ts
Due: biome-check-portal

refactor(backoffice): drop the create-application and create-human screens
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/applications/new.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  backoffice/src/routes/_layout/humans/new.tsx
Due: biome-check-backoffice

fix(attendees): refuse to add someone who already attends on their own
  backend/app/api/attendee/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): stop the door filter hiding direct purchases
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal

fix(checkout): let a direct purchase find the person who is already there
  backend/app/api/attendee/crud.py
  backend/app/api/payment/crud.py
  backend/tests/api/attendee/test_find_or_create_buyer_attendee.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): a companion who buys for themselves is still one person
  backend/app/api/attendee/crud.py
  backend/app/api/payment/crud.py
  backend/tests/api/attendee/test_find_or_create_buyer_attendee.py
  portal/src/components/CompanionPasses.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(attendees): stop every remaining route adding a person who is already here
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/api/application/test_admin_grant_tickets.py
  backend/tests/api/attendee/test_duplicate_person_guards.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(attendees): let someone leave a party without losing what they paid for
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/tests/api/application/test_detach_companion.py
  backend/tests/api/attendee/test_duplicate_person_guards.py
  backoffice/src/client/sdk.gen.ts
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(attendees): prefer a buyer's own application row over one they are a guest on
  backend/app/api/attendee/crud.py
  backend/tests/api/attendee/test_duplicate_person_guards.py
  backend/tests/api/attendee/test_find_or_create_buyer_attendee.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(email): take the tenant login template back out after each test
  backend/tests/migrations/test_add_flow_id_email_templates_and_logs.py
  backend/tests/test_tenant_login_email_templates.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(attendees): let a person and their party show at every door they hold
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/api/attendee_category/test_create_attendee_category_enforcement.py
  portal/src/components/Providers.tsx
  portal/src/hooks/useResolvedAttendees.test.tsx
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): stop counting heads per door on the participation card
  portal/src/components/Portal/GatheringDoorCard.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(checkout): land a buyer on the page of the flow they bought through
  backend/app/api/payment/crud.py
  backend/tests/_flow_helpers.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_pending_release_return.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(sales-flows): seed a new flow from the flow already selling
  backend/app/api/sales_flow/crud.py
  backend/tests/api/sales_flow/test_flow_seeds_from_sibling.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): say what each sales-flow setting does
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/ui/inline-form.tsx
Due: biome-check-backoffice

refactor(backoffice): stop offering flow-owned settings on the event form
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

fix(emails): send reminder job emails from the tenant sender
  backend/app/services/reminder_dispatch.py
  backend/tests/test_reminder_dispatch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): tour guiado de producto para clientes nuevos
  backoffice/src/components/Dashboard/TrialOnboarding.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/Sidebar/Main.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/onboarding/TourOverlay.tsx
  backoffice/src/components/onboarding/TourProvider.test.tsx
  backoffice/src/components/onboarding/TourProvider.tsx
  backoffice/src/components/onboarding/tourSteps.test.ts
  backoffice/src/components/onboarding/tourSteps.ts
  backoffice/src/components/onboarding/types.ts
  backoffice/src/components/onboarding/useTourAnchor.test.ts
  backoffice/src/components/onboarding/useTourAnchor.ts
  backoffice/src/routes/_layout.tsx
Due: biome-check-backoffice

fix(checkout): say so when a door has nothing on sale
  portal/src/components/checkout-flow/DynamicProductStep.test.ts
  portal/src/components/checkout-flow/DynamicProductStep.tsx
Due: biome-check-portal

fix(portal): send an accepted applicant to the passes of their own door
  portal/src/app/portal/[popupSlug]/application/lib/resolvedApplicationDestination.test.ts
  portal/src/app/portal/[popupSlug]/application/lib/resolvedApplicationDestination.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

fix(portal): stop the application form trusting any flow in the URL
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

build(backoffice): servir shared-form-ui como fuente en vez de pre-bundlearlo
  backoffice/vite.config.ts
Due: biome-check-backoffice

feat(backend): endpoint de catalogo de Google Fonts para el theme editor
  .env.example
  backend/app/api/google_fonts/__init__.py
  backend/app/api/google_fonts/router.py
  backend/app/api/google_fonts/schemas.py
  backend/app/api/router.py
  backend/app/core/config.py
  backend/tests/api/google_fonts/__init__.py
  backend/tests/api/google_fonts/test_google_fonts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): selector de Google Fonts en el editor de tema
  backoffice/src/components/forms/GoogleFontPicker.tsx
  backoffice/src/components/forms/ThemeConfigForm.fonts.test.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/lib/google-font.test.ts
  backoffice/src/lib/google-font.ts
Due: biome-check-backoffice

feat(portal): aplicar la fuente configurada en theme_config
  portal/src/app/globals.css
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/lib/google-font.test.ts
  portal/src/lib/google-font.ts
  portal/src/providers/themeProvider.test.tsx
  portal/src/providers/themeProvider.tsx
  portal/vitest.setup.ts
Due: biome-check-portal

fix(backoffice): tipar el mock de workspace en el test del tour
  backoffice/src/components/onboarding/TourProvider.test.tsx
Due: biome-check-backoffice

fix(sales-flows): let each door decide its own application settings
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/dashboard/router.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/form_section/router.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/router.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/router.py
  backend/tests/api/sales_flow/test_flow_owns_application_settings.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): move the application settings off the event form
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(sales-flows): give each door its own insurance and contribution
  backend/app/alembic/versions/f1c7a4b90d63_flow_owns_checkout_fees.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/payment/test_flow_owns_checkout_fees.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): move the checkout fees off the event form
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): give each door its own installment terms
  backend/app/alembic/versions/a7e4b2c81f95_flow_owns_installment_terms.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/_flow_helpers.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_flow_owns_installment_terms.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): move the installment plans off the event form
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ConfigFieldRow.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(sales-flows): stop handing buyers the key that signs their orders
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/usePortalSalesFlows.ts
  portal/src/hooks/usePortalUpsaleFlows.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): let each door take its own invites and set its own check-in timing
  backend/app/alembic/versions/c3d9f6e02a48_flow_owns_invites_and_checkin.py
  backend/app/api/application/crud.py
  backend/app/api/attendee/crud.py
  backend/app/api/invite/router.py
  backend/app/api/sales_flow/schemas.py
  backend/app/services/checkin_pass_dispatch.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/invite/test_invite_flow_scope.py
  backend/tests/api/sales_flow/test_flow_owns_invites_and_checkin.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): move invites and check-in timing off the event form
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): name a popup's first flow for what it does
  backend/app/alembic/versions/d5a81c4e7b60_default_flow_says_what_it_is.py
  backend/app/api/sales_flow/crud.py
  backend/tests/api/sales_flow/test_default_flow_naming.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): let each door decide who may share it
  backend/app/alembic/versions/e2b6a90d4c17_flow_owns_attendee_links.py
  backend/app/api/application/crud.py
  backend/app/api/invite/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/_flow_helpers.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/invite/test_unified_link_api.py
  backend/tests/api/link/test_portal_links.py
  backend/tests/api/sales_flow/test_flow_owns_attendee_links.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): move the sharing settings off the event form
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

refactor(backoffice): one place for links, however they were made
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/invites/index.tsx
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
Due: biome-check-backoffice

fix(checkout): let a door sell even when the gathering takes applications
  backend/app/api/application/router.py
  backend/app/api/checkout/crud.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/router.py
  backend/tests/api/checkout/test_a_direct_door_on_an_application_event.py
  backend/tests/api/checkout/test_public_checkout_share.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
