Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(test): correct Products return type annotation in contribution helper
  backend/tests/api/payment/test_contribution_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): treat draft events as freeing the venue slot
  backend/app/api/event/crud.py
  backend/app/api/event_venue/router.py
  backend/tests/test_recurrence_conflicts.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add third-party apps model, migration backfill, and per-app lookup contract tests
  backend/tests/api/auth/test_third_party_login_per_app_lookup.py
  backend/tests/api/third_party_app/__init__.py
  backend/tests/api/third_party_app/test_backfill_migration.py
  backend/tests/api/third_party_app/test_models.py
  backend/tests/api/third_party_app/test_models_unique_index.py
  backend/tests/core/test_constants_rename.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add contribution section to popup form
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

fix(backoffice): keep contribution description textarea at stable width
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(backend): migrate third-party auth to per-tenant ThirdPartyApps table
  backend/app/alembic/versions/c0b101dd74e8_third_party_apps_table.py
  backend/app/api/api_key/router.py
  backend/app/api/auth/router.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/app/api/third_party_app/__init__.py
  backend/app/api/third_party_app/crud.py
  backend/app/api/third_party_app/models.py
  backend/app/api/third_party_app/schemas.py
  backend/app/core/security.py
  backend/tests/api/api_key/test_third_party_scope_restriction.py
  backend/tests/api/auth/test_third_party_login.py
  backend/tests/api/tenant/test_third_party_key_rotation.py
  backend/tests/api/third_party_app/test_backfill_migration.py
  backend/tests/conftest.py
  backend/tests/core/test_constants_rename.py
  backend/tests/core/test_security_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): cover JWT issued_by_app_id, per-app scopes at issuance, per-app subset on api-key mint
  backend/tests/api/api_key/test_create_per_app_scopes.py
  backend/tests/api/auth/test_third_party_login_per_app.py
  backend/tests/core/test_security_per_app_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): token payload carries issued_by_app_id
  backend/app/core/security.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): mint third-party JWT with per-app scopes and touch last_used
  backend/app/api/auth/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): enforce per-app api-key scope subset with legacy v1 grace fallback
  backend/app/api/api_key/router.py
  backend/app/api/third_party_app/crud.py
  backend/tests/api/api_key/test_create_per_app_scopes.py
  backend/tests/api/auth/test_third_party_login_per_app.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): show contribution column and breakdown in payments list
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

feat(portal): add contribution i18n fallbacks in 4 locales
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): add contribution types and preview wiring
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

feat(portal): show contribution line in review card before checkout
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal

feat(portal): render contribution line in checkout summary
  portal/src/components/checkout-flow/CartItemList.tsx
Due: biome-check-portal

test(backend): third-party app admin CRUD contract tests (RED)
  backend/tests/api/third_party_app/test_available_scopes.py
  backend/tests/api/third_party_app/test_crud_create.py
  backend/tests/api/third_party_app/test_crud_list_get.py
  backend/tests/api/third_party_app/test_crud_revoke.py
  backend/tests/api/third_party_app/test_crud_rotate.py
  backend/tests/api/third_party_app/test_crud_update.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add ThirdPartyApps CRUD helpers and schemas
  backend/app/api/third_party_app/__init__.py
  backend/app/api/third_party_app/crud.py
  backend/app/api/third_party_app/router.py
  backend/app/api/third_party_app/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): wire third-party-apps router in api aggregator
  backend/app/api/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): clean up unused imports in third-party-app CRUD tests
  backend/tests/api/third_party_app/test_available_scopes.py
  backend/tests/api/third_party_app/test_crud_create.py
  backend/tests/api/third_party_app/test_crud_list_get.py
  backend/tests/api/third_party_app/test_crud_rotate.py
  backend/tests/api/third_party_app/test_crud_update.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): /me/access + /me/access/docs + scope registry contract tests
  backend/tests/api/access/__init__.py
  backend/tests/api/access/test_me_access.py
  backend/tests/api/access/test_me_access_docs.py
  backend/tests/api/access/test_scope_registry_invariant.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): tag require_human_scope with scope attribute for introspection
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): SCOPE_ROUTES_REGISTRY built from application.routes, /me/access and /me/access/docs endpoints, scope_route decorator on portal routes
  backend/app/api/access/__init__.py
  backend/app/api/access/introspection.py
  backend/app/api/access/markdown.py
  backend/app/api/access/router.py
  backend/app/api/access/schemas.py
  backend/app/api/api_key/router.py
  backend/app/api/attendee/router.py
  backend/app/api/auth/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
  backend/app/api/router.py
  backend/app/main.py
  backend/tests/api/access/test_me_access.py
  backend/tests/api/access/test_me_access_docs.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): drop bogus line.purchase_metadata on open-ticketing path
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): repair failing checkout tests and duplicate email render
  portal/src/app/checkout/[popupSlug]/thank-you/page.test.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.test.tsx
  portal/src/app/checkout/components/UserInfoForm/PersonalInfoForm.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/providers/checkoutProvider.test.tsx
Due: biome-check-portal

feat(backend): decorate application portal routes for /me/access/docs coverage
  backend/app/api/application/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): remove v1 third-party integration section from tenant form
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/components/forms/ThirdPartyIntegrationSection.tsx
Due: biome-check-backoffice

feat(backoffice): third-party apps management page with create, rotate, revoke
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/third-party-apps.tsx
Due: biome-check-backoffice

chore(client): regenerate OpenAPI clients for v2 third-party apps and self-discovery
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): show Third-party Apps in sidebar Agentic access group
  backoffice/src/components/Sidebar/AppSidebar.tsx
Due: biome-check-backoffice

fix(portal): collapse contribution section into single line with icon
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal

style(portal): apply biome format to PopupCheckoutContent test
  portal/src/app/checkout/components/PopupCheckoutContent.test.tsx
Due: biome-check-portal

fix(backend): chain third_party_apps migration after a1f9c2e8b5d1 (current dev head)
  backend/app/alembic/versions/c0b101dd74e8_third_party_apps_table.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): allow portal RSVP on recurring series master
  backend/app/api/event/router.py
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice/events): add Calendar and Day views with shared filters
  backoffice/src/components/events/CoverImage.tsx
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsDayView.tsx
  backoffice/src/components/events/EventsViewSwitcher.tsx
  backoffice/src/lib/events/summarizeRrule.ts
  backoffice/src/lib/events/useEventTimezone.ts
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice

feat(backend): add portal:rsvp_manage and venues:read to third-party scope catalog
  backend/app/api/event_participant/router.py
  backend/app/core/dependencies/users.py
  backend/app/core/security.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backend): allow pre-login discovery on /me/access via raw third-party api key
  backend/app/api/access/router.py
  backend/tests/api/access/test_me_access.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): consolidate third-party discovery under /third-party-apps/* and add filtered openapi.json
  backend/app/api/access/router.py
  backend/app/api/router.py
  backend/tests/api/access/test_me_access.py
  backend/tests/api/access/test_me_access_docs.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): granular portal scopes and DRY needs() helper
  backend/app/api/access/introspection.py
  backend/app/api/api_key/router.py
  backend/app/api/application/router.py
  backend/app/api/attendee/router.py
  backend/app/api/event_participant/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
  backend/app/core/dependencies/users.py
  backend/app/core/security.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(backend): align tests with granular portal scope catalog
  backend/tests/api/access/test_me_access.py
  backend/tests/api/access/test_me_access_docs.py
  backend/tests/api/access/test_scope_registry_invariant.py
  backend/tests/api/api_key/test_create_per_app_scopes.py
  backend/tests/api/auth/test_third_party_login_per_app.py
  backend/tests/api/third_party_app/test_backfill_migration.py
  backend/tests/api/third_party_app/test_crud_create.py
  backend/tests/api/third_party_app/test_crud_list_get.py
  backend/tests/api/third_party_app/test_crud_revoke.py
  backend/tests/api/third_party_app/test_crud_rotate.py
  backend/tests/api/third_party_app/test_crud_update.py
  backend/tests/conftest.py
  backend/tests/core/dependencies/test_scope_guards.py
  backend/tests/core/test_constants_rename.py
  backend/tests/core/test_security_per_app_scopes.py
  backend/tests/core/test_security_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(events): add timezone regression tests across shared/backend/portal
  backend/tests/test_event_timezone.py
  packages/shared-events/package.json
  packages/shared-events/src/venue-slots.test.ts
  packages/shared-events/vitest.config.ts
  pnpm-lock.yaml
  portal/src/app/portal/[popupSlug]/events/lib/useEventScheduling.test.ts
  portal/src/app/portal/[popupSlug]/events/new/page.test.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk
