Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

add: ticketing flow
  backend/app/alembic/versions/0023_add_watermark_to_ticketing_steps.py
  backend/app/api/ticketing_step/constants.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/StepConfigPanel.tsx
  portal/next-env.d.ts
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(basefieldconfigs): add optional custom label column and update related schemas
  backend/app/alembic/versions/0021_basefieldconfigs_label.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/base_field_config/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/forms/FormFieldForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(client): log API response status and body for better debugging
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(logging): update logger formatting to use braces for consistency
  backend/app/api/group/crud.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

add: steps, variants etc
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/StepCanvas.tsx
  backoffice/src/components/ticketing-step-builder/StepConfigPanel.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/stepRegistry.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/types/checkout.ts
Due: biome-check-backoffice, biome-check-portal

fix: update environment variable references from INTERNAL_API_URL to NEXT_PUBLIC_API_URL
  compose.override.yaml
  portal/src/lib/api-client.ts
  portal/src/lib/tenant.ts
  portal/src/proxy.ts
Due: biome-check-portal

refactor(tenant): improve tenant resolution logic for custom domains and subdomains
  backend/app/api/tenant/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(applications): enhance custom columns handling to ensure accurate data export
  backend/app/api/application/crud.py
  backend/app/api/form_field/router.py
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

refactor(migrate): enhance reviewer mapping with skip tables option
  backend/scripts/migrate_from_source.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add application fee payment flow with pending_fee status
  backend/app/alembic/versions/0023_add_application_fee_fields.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/services/simplefi/client.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add pending_fee to dashboard stats and popup fee validation
  backend/app/api/dashboard/router.py
  backend/app/api/dashboard/schemas.py
  backend/app/api/popup/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): harden SSR tenant resolution and middleware header propagation
  portal/src/app/layout.tsx
  portal/src/providers/tenantProvider.tsx
  portal/src/proxy.ts
Due: biome-check-portal

feat(portal): application fee UX - hook, banner and pending_fee status
  portal/src/app/portal/[popupSlug]/application/components/fee-payment-banner.tsx
  portal/src/components/Card/EventCard.tsx
  portal/src/components/Card/EventProgressBar.tsx
  portal/src/hooks/useApplicationFee.ts
Due: biome-check-portal

fix(portal): reliable form pre-population via lazy useReducer initializer
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

fix(select): bypass Radix SelectValue lazy item registration for pre-populated values
  packages/shared-form-ui/src/components/Form/SelectForm.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  portal/src/components/ui/Form/Select.tsx
Due: biome-check-portal

feat(backoffice): add pending_fee status, popup fee config and dashboard
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/index.tsx
Due: biome-check-backoffice

chore: regenerate OpenAPI clients and route tree after backend changes
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routeTree.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

add: config steps
  backend/app/alembic/versions/0024_rename_display_variant_to_template.py
  backend/app/api/ticketing_step/constants.py
  backend/app/api/ticketing_step/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/StepConfigPanel.tsx
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/MerchImageConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/PatronPresetConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  backoffice/src/components/ticketing-step-builder/template-configs/types.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
  docs/example.png
  portal/next-env.d.ts
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/DynamicProductStep.tsx
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/stepRegistry.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/checkout/components/variants/VariantHousingDate.tsx
  portal/src/app/checkout/components/variants/VariantMerchImage.tsx
  portal/src/app/checkout/components/variants/VariantPatronPreset.tsx
  portal/src/app/checkout/components/variants/VariantQuantitySpinner.tsx
  portal/src/app/checkout/components/variants/VariantTicketCard.tsx
  portal/src/app/checkout/components/variants/VariantTicketSelect.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/hooks/checkout/useProductCategories.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(applications): skip fee gate on update when application fee already paid
  backend/app/api/application/router.py
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): invalidate cache query on application list
  backoffice/src/routes/_layout/applications/$id.tsx
Due: biome-check-backoffice

add: ticketing configs templates
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  portal/src/app/checkout/components/CartFooter.tsx
  portal/src/app/checkout/components/DesignVariantPanel.tsx
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/ScrollySectionNav.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/checkout/components/steps/PassSelectionSection.tsx
  portal/src/app/checkout/components/variants/VariantTicketSelect.tsx
  portal/src/context/designVariant.tsx
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

add: housing, youtube template
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/YouTubeVideoConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/DynamicProductStep.tsx
  portal/src/app/checkout/components/ScrollyCheckoutFlow.tsx
  portal/src/app/checkout/components/variants/VariantHousingDate.tsx
  portal/src/app/checkout/components/variants/VariantYouTubeVideo.tsx
Due: biome-check-backoffice, biome-check-portal

add: gallery
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/ImageGalleryConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  portal/src/app/checkout/components/DynamicProductStep.tsx
  portal/src/app/checkout/components/variants/VariantImageGallery.tsx
Due: biome-check-backoffice, biome-check-portal

feat(dashboard): enhance dashboard with new metrics and charts, add enriched data structures
  backend/app/api/dashboard/router.py
  backend/app/api/dashboard/schemas.py
  backoffice/package.json
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Dashboard/ApplicationFunnelChart.tsx
  backoffice/src/components/Dashboard/CumulativeTrendsCharts.tsx
  backoffice/src/components/Dashboard/DistributionCharts.tsx
  backoffice/src/components/Dashboard/KeyMetricsCards.tsx
  backoffice/src/components/Dashboard/RevenueBreakdownCharts.tsx
  backoffice/src/components/Dashboard/index.ts
  backoffice/src/components/ui/chart.tsx
  backoffice/src/routes/_layout/index.tsx
  pnpm-lock.yaml
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

add: fast checkout
  .gitignore
  portal/next-env.d.ts
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/components/CheckoutContent.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/checkout/hooks/useGetCheckoutData.ts
  portal/src/app/checkout/page.tsx
Due: biome-check-portal

refactor checkout components
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/stepRegistry.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/DesignVariantPanel.tsx
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/InsuranceCard.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySection.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/registries/index.ts
  portal/src/components/checkout-flow/registries/stepRegistry.ts
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/steps/MerchSection.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/steps/PatronSection.tsx
  portal/src/components/checkout-flow/steps/SuccessStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/VariantYouTubeVideo.tsx
Due: biome-check-portal

add: layout theme colors
  backend/app/alembic/versions/0028_add_theme_config_to_popups.py
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/app/portal/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Providers.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat: add Segment analytics tracking to portal
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/layout.tsx
  portal/src/components/utils/SegmentAnalytics.tsx
Due: biome-check-portal

add: footer note
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-backoffice, biome-check-portal

add: faqs, minnor fixs
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/FaqsConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/next-env.d.ts
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
Due: biome-check-backoffice, biome-check-portal

add: add faamily, view more, housing
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/globals.css
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/components/Providers.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/registries/stepRegistry.ts
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/steps/MerchSection.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/ui/ExpandableDescription.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useHousingSelection.ts
  portal/src/hooks/checkout/useMerchSelection.ts
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.ts
  portal/src/types/checkout.ts
Due: biome-check-backoffice, biome-check-portal

add: preview theme
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview.tsx
Due: biome-check-backoffice

Add: ticketing steps
  backend/app/api/dashboard/router.py
  backend/app/api/product/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

add: housing variant
  portal/next-env.d.ts
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-portal

feat: allow email reuse for soft-deleted users
  backend/app/alembic/versions/a1b2c3d4e5f6_allow_reuse_deleted_user_email.py
  backend/app/api/user/crud.py
  backend/app/api/user/models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): settings upsert, property types tenant, venue UX
  backend/app/api/event_settings/router.py
  backend/app/api/event_venue/router.py
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk
