Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

chore: clean up project structure and update dependencies
  .npmrc
  backoffice/Dockerfile
  packages/api-client/package.json
  packages/api-client/tsconfig.build.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  portal/Dockerfile
  portal/next.config.ts
  portal/package.json
  portal/src/lib/utils.ts
  portal/tsconfig.json
Due: biome-check-backoffice, biome-check-portal

chore: update pnpm-lock.yaml to remove deprecated API client dependencies and clean up portal references
  pnpm-lock.yaml
Due: none

refactor: simplify CORS configuration in main.py and clean up settings in config.py
  backend/app/core/config.py
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat: enhance application and attendee management with search functionality
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Common/CommandPalette.tsx
  backoffice/src/components/EmailTemplateEditor.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/Sidebar/PopupSelector.tsx
  backoffice/src/components/Sidebar/TenantSelector.tsx
  backoffice/src/components/Sidebar/User.tsx
  backoffice/src/components/forms/CouponForm.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/components/forms/UserForm.tsx
  backoffice/src/components/ui/sidebar.tsx
  backoffice/src/routes/_layout.tsx
  backoffice/src/routes/_layout/applications/$id.tsx
  backoffice/src/routes/_layout/attendees.tsx
  backoffice/src/routes/_layout/payments.tsx
  backoffice/src/routes/_layout/popups/$id.edit.tsx
  backoffice/src/routes/_layout/popups/new.tsx
  backoffice/src/routes/_layout/tenants/$id.edit.tsx
  backoffice/src/routes/_layout/tenants/new.tsx
  portal/src/components/profile/StatsCards.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

add: form builder dnd
  .playwright-mcp/page-2026-03-02T20-36-03-613Z.png
  .playwright-mcp/page-2026-03-02T20-36-31-197Z.png
  .playwright-mcp/page-2026-03-02T20-53-41-827Z.png
  .playwright-mcp/page-2026-03-02T20-53-48-720Z.png
  .playwright-mcp/page-2026-03-02T20-55-23-000Z.png
  backoffice/doc/form-builder.md
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/DragOverlayContent.tsx
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/form-builder/FieldPalette.tsx
  backoffice/src/components/form-builder/FormCanvas.tsx
  backoffice/src/components/form-builder/SectionDropZone.tsx
  backoffice/src/components/form-builder/constants.ts
  backoffice/src/components/form-builder/index.ts
  backoffice/src/components/forms/FormFieldForm.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
  yarn.lock
Due: biome-check-backoffice

feat: add base field configuration management to the API
  backend/app/alembic/versions/0013_add_base_field_configs.py
  backend/app/api/base_field_config/__init__.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/base_field_config/models.py
  backend/app/api/base_field_config/router.py
  backend/app/api/base_field_config/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_section/models.py
  backend/app/api/popup/models.py
  backend/app/api/popup/router.py
  backend/app/api/router.py
  backend/app/api/tenant/models.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix: reorder
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/SectionDropZone.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice

feat: add protected field functionality to form sections and fields
  backend/app/alembic/versions/0013_add_base_field_configs.py
  backend/app/api/form_field/router.py
  backend/app/api/form_field/schemas.py
  backend/app/api/form_section/router.py
  backend/app/api/form_section/schemas.py
  backend/app/api/popup/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor: remove unused section field from field data initialization
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat: add protected column to formsections table
  backend/app/alembic/versions/0014_add_protected_to_formsections.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat: implement cart functionality with credit and insurance features
  backend/app/alembic/versions/0015_add_cart_credit_insurance.py
  backend/app/api/application/schemas.py
  backend/app/api/cart/__init__.py
  backend/app/api/cart/crud.py
  backend/app/api/cart/models.py
  backend/app/api/cart/router.py
  backend/app/api/cart/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/app/api/product/schemas.py
  backend/app/api/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/routes/_layout/payments.tsx
  backoffice/src/routes/_layout/products/index.tsx
  portal/next-env.d.ts
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/checkout/components/steps/PatronSection.tsx
  portal/src/app/checkout/types.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/CompletePurchaseButton.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useCartApi.ts
  portal/src/hooks/useCartStorage.ts
  portal/src/hooks/usePaymentRedirect.ts
  portal/src/lib/query-keys.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat: remove organization and role fields from humans and applications
  .gitignore
  backend/app/alembic/versions/0016_remove_org_role_from_humans.py
  backend/app/alembic/versions/0017_add_companions_section.py
  backend/app/api/application/crud.py
  backend/app/api/application/models.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backend/scripts/migrate_from_source.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/forms/ApplicationForm.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  backoffice/src/routes/_layout/payments.tsx
  backoffice/src/routes/_layout/products/index.tsx
  portal/src/app/checkout/components/UserInfoForm/PersonalInfoForm.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/checkout/hooks/useUserForm.ts
  portal/src/app/checkout/types.ts
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/ImportMembersModal.tsx
  portal/src/app/portal/profile/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/HumanForm.tsx
  portal/src/hooks/useGetProfile.ts
  portal/src/lib/form-data-splitter.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(form-builder): backend API, backoffice form builder UI, portal dynamic form and field components
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/schemas.py
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/form-builder/SectionDropZone.tsx
  backoffice/src/components/form-builder/constants.ts
  backoffice/src/components/forms/FormFieldForm.tsx
  backoffice/src/components/forms/FormSectionForm.tsx
  portal/src/app/globals.css
  portal/src/app/layout.tsx
  portal/src/app/portal/[popupSlug]/application/components/SectionWrapper.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/fields/dynamic-field.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
  portal/src/components/ui/MultiSelect.tsx
  portal/src/components/ui/label.tsx
  portal/src/types/form-schema.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat: add image_url field to products and update related schemas
  backend/app/alembic/versions/f02d72b54ad3_add_image_url_to_products.py
  backend/app/api/form_field/router.py
  backend/app/api/product/schemas.py
  backend/app/core/db.py
  backend/app/core/seed_data.json
  backend/app/models.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  portal/src/app/checkout/components/steps/HousingStep.tsx
  portal/src/app/checkout/components/steps/MerchSection.tsx
  portal/src/app/checkout/components/steps/PassSelectionSection.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useCartApi.ts
  portal/src/hooks/useResources.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(form-builder): update renderSection parameter for clarity
  backoffice/src/components/form-builder/FormCanvas.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice

shared package ui
  backoffice/package.json
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/constants.ts
  backoffice/src/components/forms/ApplicationForm.tsx
  backoffice/src/components/ui/multi-select-pills.tsx
  backoffice/vite.config.ts
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/components/AddonInput.tsx
  packages/shared-form-ui/src/components/Checkbox.tsx
  packages/shared-form-ui/src/components/Form/AddonInputForm.tsx
  packages/shared-form-ui/src/components/Form/CheckboxForm.tsx
  packages/shared-form-ui/src/components/Form/InputForm.tsx
  packages/shared-form-ui/src/components/Form/SelectForm.tsx
  packages/shared-form-ui/src/components/Form/TextAreaForm.tsx
  packages/shared-form-ui/src/components/FormInputWrapper.tsx
  packages/shared-form-ui/src/components/Input.tsx
  packages/shared-form-ui/src/components/Label.tsx
  packages/shared-form-ui/src/components/MultiSelect.tsx
  packages/shared-form-ui/src/components/RadioGroup.tsx
  packages/shared-form-ui/src/components/RequiredFieldIndicator.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  packages/shared-form-ui/src/components/Select.tsx
  packages/shared-form-ui/src/components/Textarea.tsx
  packages/shared-form-ui/src/index.ts
  packages/shared-form-ui/src/types.ts
  packages/shared-form-ui/src/utils.ts
  packages/shared-form-ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/next-env.d.ts
  portal/next.config.ts
  portal/package.json
  portal/src/app/portal/[popupSlug]/application/components/companions-section.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/fields/dynamic-field.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/lib/form-data-splitter.ts
  portal/src/lib/form-schema-builder.ts
  portal/src/types/form-schema.ts
Due: biome-check-backoffice, biome-check-portal

merge
  portal/next-env.d.ts
Due: biome-check-portal

feat(cart): implement abandoned carts listing with enriched details
  backend/app/api/cart/crud.py
  backend/app/api/cart/router.py
  backend/app/api/cart/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/DragOverlayContent.tsx
  backoffice/src/components/form-builder/FieldPalette.tsx
  backoffice/src/components/form-builder/FormCanvas.tsx
  backoffice/src/components/form-builder/SectionDropZone.tsx
  backoffice/src/components/form-builder/SortableSectionWrapper.tsx
  backoffice/src/components/form-builder/constants.ts
  backoffice/src/components/form-builder/index.ts
  backoffice/src/components/forms/FormFieldForm.tsx
  backoffice/src/components/forms/FormSectionForm.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/abandoned-carts.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
  portal/src/app/checkout/components/CartFooter.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/checkout/components/steps/MerchSection.tsx
  portal/src/app/layout.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/fields/dynamic-field.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
  portal/src/app/portal/[popupSlug]/application/components/section-separator.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/ImportMembersModal.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/hooks/useCartApi.ts
  portal/src/providers/applicationProvider.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/discountProvider.tsx
  portal/src/providers/tenantProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

add: shared package ui, form builder fields, portal application fields
  backoffice/src/main.tsx
  backoffice/src/routes/__root.tsx
Due: biome-check-backoffice

fix(constants): update required fields for residence and partner details
  backend/app/api/base_field_config/constants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

add: read only fields backoffice
  backoffice/src/components/form-builder/CanvasField.tsx
Due: biome-check-backoffice

fix(SelectForm): remove unnecessary undefined fallback for value prop
  packages/shared-form-ui/src/components/Form/SelectForm.tsx
  portal/src/components/ui/Form/Select.tsx
Due: biome-check-portal

refactor(ImportMembersModal): update drag event types for better compatibility
  portal/next-env.d.ts
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/ImportMembersModal.tsx
Due: biome-check-portal

fix(config): update SIMPLEFI_API_URL for consistency
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(env): add API URLs to .env.example and enhance error handling in main.py
  .env.example
  .playwright-mcp/page-2026-03-02T20-36-03-613Z.png
  .playwright-mcp/page-2026-03-02T20-36-31-197Z.png
  .playwright-mcp/page-2026-03-02T20-53-41-827Z.png
  .playwright-mcp/page-2026-03-02T20-53-48-720Z.png
  .playwright-mcp/page-2026-03-02T20-55-23-000Z.png
  backend/app/api/attendee/router.py
  backend/app/core/db.py
  backend/app/main.py
  backoffice/doc/form-builder.md
  backoffice/src/components/Admin/DeleteUser.tsx
  backoffice/src/components/Pending/PendingUsers.tsx
  backoffice/src/components/forms/ApplicationForm.tsx
  backoffice/src/components/forms/FormFieldForm.tsx
  backoffice/src/components/forms/HumanForm.tsx
  backoffice/src/components/forms/PopupForm.tsx
  portal/next-env.d.ts
  portal/src/app/checkout/components/CartFooter.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/checkout/hooks/useUserForm.ts
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/Table/Cells/CellControl.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/components/common/ParticipationTickets.tsx
  portal/src/components/profile/Groups.tsx
  portal/src/components/profile/HumanForm.tsx
  portal/src/hooks/useGetPaymentsData.ts
  portal/src/hooks/useResources.ts
  scripts/test-local.sh
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(payment): add installment plan support and enhance payment models
  backend/app/alembic/versions/0018_add_installment_fields.py
  backend/app/api/cart/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/models.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/services/simplefi/client.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/routes/_layout/abandoned-carts.tsx
  backoffice/src/routes/_layout/payments.tsx
  portal/src/app/checkout/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/ResumeCheckoutBanner.tsx
  portal/src/components/Sidebar/CartBadge.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore: update .gitignore and remove tsconfig.tsbuildinfo
  .gitignore
  portal/tsconfig.tsbuildinfo
Due: biome-check-portal

feat(cart): implement find_by_human_popup method and update cart retrieval logic
  backend/app/api/cart/crud.py
  backend/app/api/cart/router.py
  portal/src/hooks/useCartApi.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): enhance application status handling and email notifications
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/payment/crud.py
  portal/next-env.d.ts
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/app/checkout/hooks/useUserForm.ts
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/components/profile/Groups.tsx
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/utils/environment.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor: improve code readability and structure in various components
  portal/next-env.d.ts
  portal/src/app/checkout/hooks/useApplicationData.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal

feat(payment): add endpoint to retrieve the latest payment status for an application
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/next-env.d.ts
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/steps/SuccessStep.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/hooks/checkout/useCheckoutSteps.ts
  portal/src/hooks/checkout/useCreditCalculation.ts
  portal/src/hooks/checkout/useHousingSelection.ts
  portal/src/hooks/checkout/useInsuranceCalculation.ts
  portal/src/hooks/checkout/useMerchSelection.ts
  portal/src/hooks/checkout/usePatronSelection.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/usePaymentVerification.ts
  portal/src/hooks/checkout/useProductCategories.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(discount): enhance discount code handling and validation logic
  portal/biome.json
  portal/src/app/portal/[popupSlug]/passes/components/common/DiscountCode.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal

feat(purchases): implement endpoint to retrieve attendee purchases by popup
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useGetPurchases.ts
  portal/src/hooks/useProductsQuery.ts
  portal/src/lib/query-keys.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(popup): add invoice fields and terms and conditions URL to popups
  backend/app/alembic/versions/38aafddc6982_add_invoice_fields_to_popups.py
  backend/app/alembic/versions/f6f60a7711ff_add_terms_and_conditions_url_to_popups.py
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/checkout/components/CartFooter.tsx
  portal/src/app/checkout/components/steps/ConfirmStep.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/Payments/Invoice.tsx
  portal/src/app/portal/[popupSlug]/passes/components/Payments/PaymentHistory.tsx
  portal/src/app/portal/[popupSlug]/passes/components/ToolbarTop.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/EdgeWrapped/EdgeWrappedModal.tsx
  portal/src/components/profile/EdgeWrapped/ErrorState.tsx
  portal/src/components/profile/EdgeWrapped/LoadingState.tsx
  portal/src/components/profile/EdgeWrapped/SuccessState.tsx
  portal/src/components/profile/EdgeWrapped/XIcon.tsx
  portal/src/components/profile/EdgeWrapped/constants.ts
  portal/src/components/profile/EdgeWrapped/index.ts
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/tenantProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
