Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(events): add "View on Geobrowser" link on event detail page (#222)
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(events): raise portal event query cap to API max so date-ranged views stop truncating
  portal/src/app/[popupSlug]/calendar/usePublicCalendarEvents.ts
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/eventsQuery.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(events): add portal calendar-summary endpoint and reliable paging total
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): calendar and day views fetch on demand without a count cap
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
Due: biome-check-portal

fix(events): apply "My events" filter to calendar and day views
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): calendar and day views fetch on demand without a count cap (#293)
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(venues): add Order Venues modal with drag-and-drop ranking
  backoffice/src/components/events/OrderVenuesDialog.tsx
  backoffice/src/routes/_layout/events/venues/index.tsx
Due: biome-check-backoffice

feat(events): denser venue columns in portal day view
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
Due: biome-check-portal

feat(events): sticky filter toolbar on the public calendar
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
Due: biome-check-portal

fix(checkout): disable meal-plan weeks whose sale has ended
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/mealPlanShared.test.ts
  portal/src/components/checkout-flow/variants/saleStateBadge.tsx
Due: biome-check-portal

fix(tasks): close the task modal after saving an edit
  backoffice/src/components/Tasks/TaskDialog.tsx
Due: biome-check-backoffice

feat(portal): land ticket holders on the events list
  portal/src/app/portal/[popupSlug]/page.tsx
Due: biome-check-portal

fix(checkout): disable meal-plan weeks whose sale has ended (#294)
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/mealPlanShared.test.ts
  portal/src/components/checkout-flow/variants/saleStateBadge.tsx
Due: biome-check-portal

feat(events): copy attendee emails for event managers
  backend/app/api/event_participant/router.py
  backend/app/api/event_participant/schemas.py
  backend/tests/test_event_participants.py
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): sticky per-day headers in the events list
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useMeasuredHeight.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(humans): filter the backoffice humans list by attributes
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/tests/test_humans.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(events): read-only event view page in backoffice with share
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice

feat(portal): mobile bottom nav + pop-up city switcher
  portal/src/app/portal/layout.tsx
  portal/src/components/BottomNav.tsx
  portal/src/components/MobilePopupSwitcher.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
Due: biome-check-portal

feat(portal): make the portal an installable PWA
  portal/public/icons/icon-192.png
  portal/public/icons/icon-512.png
  portal/public/icons/icon-maskable-512.png
  portal/public/sw.js
  portal/src/app/layout.tsx
  portal/src/app/manifest.ts
  portal/src/components/ServiceWorkerRegistrar.tsx
Due: biome-check-portal

fix(events): keep schedule when changing venue on portal edit form
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
Due: biome-check-portal

fix(events): keep schedule when changing venue on portal edit form (#296)
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
Due: biome-check-portal

Portal + backoffice batch: events UX, humans filters, copy attendees, bottom nav, PWA (#295)
  backend/app/api/event_participant/router.py
  backend/app/api/event_participant/schemas.py
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/tests/test_event_participants.py
  backend/tests/test_humans.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/events/OrderVenuesDialog.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/venues/index.tsx
  backoffice/src/routes/_layout/humans/index.tsx
  portal/public/icons/icon-192.png
  portal/public/icons/icon-512.png
  portal/public/icons/icon-maskable-512.png
  portal/public/sw.js
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/layout.tsx
  portal/src/app/manifest.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useMeasuredHeight.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/BottomNav.tsx
  portal/src/components/MobilePopupSwitcher.tsx
  portal/src/components/ServiceWorkerRegistrar.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): satisfy biome ci on the service worker
  portal/public/sw.js
Due: biome-check-portal

fix(events): derive portal domain from host for backoffice share (#299)
  backoffice/src/lib/portal-urls.ts
Due: biome-check-backoffice

chore: sync main into dev (resolve conflicts for #297) (#298)
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-portal

fix(events): derive portal domain from host for backoffice share
  backoffice/src/lib/portal-urls.ts
Due: biome-check-backoffice

chore: merge main (v1.18.0) into dev (#301)
  backend/app/api/event/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): edit meal plans per-week, hide button for passed weeks, keep chronological order
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
Due: biome-check-portal

feat(portal): edit meal plans per-week + hide button for passed weeks (#305)
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
Due: biome-check-portal

feat(events): sticky day headers + auto-scroll to today in backoffice list (#308)
  backoffice/src/components/events/EventsListView.tsx
Due: biome-check-backoffice

feat(events): sticky day headers + auto-scroll to today in backoffice list
  backoffice/src/components/events/EventsListView.tsx
Due: biome-check-backoffice

fix(events): restore event edit broken by read-only view page
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/$eventId_.edit.tsx
Due: biome-check-backoffice

fix(events): restore edit route + stop backoffice calendar truncating events (#309)
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/lib/events/fetchAllEvents.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/$eventId_.edit.tsx
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice

fix(events): stop the backoffice calendar truncating events; unify fetching
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/lib/events/fetchAllEvents.ts
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice

chore: release dev to main (v1.20) (#313)
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/lib/events/fetchAllEvents.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/$eventId_.edit.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
Due: biome-check-backoffice, biome-check-portal

fix(portal): remove mobile bottom nav covering page sections (#314)
  portal/src/app/portal/layout.tsx
  portal/src/components/BottomNav.tsx
Due: biome-check-portal
