Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

Admite el borrado de comentarios para superadmins
  backoffice/src/components/Tasks/TaskCommentThread.tsx
Due: biome-check-backoffice

Restricción de crear eventos en el pasado
  backoffice/src/components/forms/EventForm.tsx
Due: biome-check-backoffice

Add visibility badge in all views of backoffice
  backoffice/src/components/events/EventBadges.tsx
  backoffice/src/components/events/EventsDayView.tsx
Due: biome-check-backoffice

Complete venue filter in portal day view + include pending exports
  db-schema-refactor.html
  db-schema-refactor.md
  portal/src/app/portal/[popupSlug]/events/page.tsx
  roadmap_export/roadmap-edits-2026-05-23 (1).json
  roadmap_export/roadmap-edits-2026-05-23.json
  roadmap_export/roadmap-edits-2026-05-25.json
  roadmap_export/roadmap-edits-2026-05-26.json
  roadmap_export/roadmap-edits-2026-05-27.json
Due: biome-check-portal

boton de geo mida igual que el otro
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

fix(groups): auto-join whitelisted emails on portal signup
  backend/app/api/auth/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(groups): replace ambassador groups with leader assignment and email invites
  backend/app/alembic/versions/c7a4e2f1b8d3_drop_group_ambassador.py
  backend/app/api/group/crud.py
  backend/app/api/group/models.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/app/api/payment/crud.py
  backend/app/core/db.py
  backend/app/core/seed_data.json
  backend/tests/api/group/test_whitelist_hook.py
  backend/tests/api/human/test_hard_delete_cascade.py
  backend/tests/migrations/test_groups_rework_backfill_migration.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/groups/GroupMembersSection.tsx
  backoffice/src/routes/_layout/groups/index.tsx
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MemberItem.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MembersList.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/Groups.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): clarify private group event option in portal forms
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VisibilityField.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-portal

chore: untrack personal/local working files
  .gitignore
  automation/telegram-task-sync/.gitignore
  automation/telegram-task-sync/README.md
  automation/telegram-task-sync/ROUTINE_PROMPT.md
  automation/telegram-task-sync/create_claude_user.py
  automation/telegram-task-sync/read_telegram.py
  db-schema-refactor.html
  db-schema-refactor.md
  roadmap_export/roadmap-edits-2026-05-23 (1).json
  roadmap_export/roadmap-edits-2026-05-23.json
  roadmap_export/roadmap-edits-2026-05-25.json
  roadmap_export/roadmap-edits-2026-05-26.json
  roadmap_export/roadmap-edits-2026-05-27.json
Due: local-ruff-check, local-ruff-format

fix(event-settings): allow non-admin users to read event settings
  backend/app/api/event_settings/router.py
  backend/tests/test_event_settings_access.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): add status filter with Active Events preset
  backend/app/api/event/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsDayView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/lib/events/fetchAllEvents.ts
  backoffice/src/lib/events/statusFilter.ts
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): event settings access + status filter with Active Events preset (#358)
  backend/app/api/event/router.py
  backend/app/api/event_settings/router.py
  backend/tests/test_event_settings_access.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsDayView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/lib/events/fetchAllEvents.ts
  backoffice/src/lib/events/statusFilter.ts
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(tenant): add meta tracking configuration
  backend/app/alembic/versions/1f4b9d8c2e6a_tenant_meta_tracking.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/app/core/dependencies/tenants.py
  backend/app/core/redis.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add meta pixel checkout tracking
  portal/src/app/checkout/[popupSlug]/hooks/useOpenTicketingPurchase.ts
  portal/src/app/layout.tsx
  portal/src/components/MetaPixel.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/meta-pixel.test.ts
  portal/src/lib/meta-pixel.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(payment): send meta capi purchase events
  backend/app/alembic/versions/2a7c9e4f1b6d_payment_meta_attribution.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/models.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/services/meta_capi.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_payment_idempotency.py
  backend/tests/test_meta_capi.py
  backend/tests/test_payment_settlement_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(api): regenerate frontend clients
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(backoffice): use fake meta pixel placeholder
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

fix(backend): update CI test fixtures
  backend/tests/api/payment/test_integration_stock_lifecycle.py
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): remove unsupported simplefi signature check
  backend/app/api/payment/router.py
  backend/app/services/simplefi/__init__.py
  backend/app/services/simplefi/client.py
  backend/tests/api/payment/test_integration_stock_lifecycle.py
  backend/tests/test_payment_settlement_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tracking): add tenant Meta Pixel and CAPI purchase tracking (#360)
  backend/app/alembic/versions/1f4b9d8c2e6a_tenant_meta_tracking.py
  backend/app/alembic/versions/2a7c9e4f1b6d_payment_meta_attribution.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/models.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/tenant/schemas.py
  backend/app/core/dependencies/tenants.py
  backend/app/core/redis.py
  backend/app/services/meta_capi.py
  backend/app/services/simplefi/__init__.py
  backend/app/services/simplefi/client.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_integration_stock_lifecycle.py
  backend/tests/api/payment/test_payment_idempotency.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backend/tests/core/dependencies/test_tenants.py
  backend/tests/test_meta_capi.py
  backend/tests/test_payment_settlement_metadata.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/TenantForm.tsx
  portal/src/app/checkout/[popupSlug]/hooks/useOpenTicketingPurchase.ts
  portal/src/app/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/MetaPixel.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/meta-pixel.test.ts
  portal/src/lib/meta-pixel.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): reconcile Revenue by Category with Total Revenue
  backend/app/api/dashboard/router.py
  backend/tests/test_dashboard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): reconcile Revenue by Category with Total Revenue (#361)
  backend/app/api/dashboard/router.py
  backend/tests/test_dashboard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: sync main into dev (PR #328 participants show-all) (#362)
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(coupons): release held coupon use when payment expires or is cancelled
  backend/app/api/coupon/crud.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_coupon_release_on_terminal.py
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(coupons): release held coupon use when payment expires or is cancelled (#363)
  backend/app/api/coupon/crud.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_coupon_release_on_terminal.py
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(coupons): redeem coupons atomically to enforce single-use under load (#334)
  backend/app/api/coupon/crud.py
  backend/tests/test_coupon_use_atomic.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): use popup currency for runtime products
  backend/app/api/checkout/crud.py
  backend/tests/api/checkout/test_bootstrap.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): use popup currency for runtime products (#365)
  backend/app/api/checkout/crud.py
  backend/tests/api/checkout/test_bootstrap.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(tenant): omit landing_mode from admin tenant updates
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

fix(tenant): omit landing_mode from admin tenant updates (#366)
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

feat(tracking): send initiate checkout capi event
  backend/app/api/checkout/router.py
  backend/app/services/meta_capi.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/test_meta_capi.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(tracking): gate initiate checkout on pending payment
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): apply section image aspect ratio in portal
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

fix(checkout): prevent step nav titles from truncating
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

fix(events): eliminate portal calendar event duplication on scroll
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat: allow ADMIN to edit landing_mode
  backend/app/api/tenant/router.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backoffice/src/components/forms/TenantForm.landing-mode.test.tsx
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

Revert "feat: allow ADMIN to edit landing_mode"
  backend/app/api/tenant/router.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backoffice/src/components/forms/TenantForm.landing-mode.test.tsx
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): keep full popup window in events list view
  portal/src/app/portal/[popupSlug]/events/lib/listWindow.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/listWindow.ts
Due: biome-check-portal

fix(checkout): adaptive density for step nav
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
