Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(portal): invalidate attendees query after group checkout submit
  backend/tests/test_group_express_checkout_attendee.py
  portal/src/app/checkout/hooks/useCheckoutState.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): compute /passes 'Starting at' from ticket-select sections
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
Due: biome-check-portal

fix(backend): remove unused Applications import in group express checkout test
  backend/tests/test_group_express_checkout_attendee.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): stop sending application accepted email when leader adds group member
  backend/app/api/group/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(theme): toggle checkout background image per context
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview/index.tsx
  backoffice/src/components/forms/ThemePreview/tabs/CheckoutView.tsx
  backoffice/src/components/forms/ThemePreview/types.ts
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/lib/background-image.ts
Due: biome-check-backoffice, biome-check-portal

fix(portal): isolate week→month auto-promote and reset attendee selections on cart clear
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

feat(checkout): gate ticket sections by application form answer
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-backoffice, biome-check-portal

fix(portal): polish snap-scroll, hide native scrollbar overlap, refine row description toggle
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

style(portal): biome format pass
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

feat(backend): per-step navbar visibility, emoji, popup favicon, buyer-step backfill
  backend/app/alembic/versions/a3f72c1d9b0e_step_meta_and_popup_favicon.py
  backend/app/alembic/versions/c8d3a5e1f29b_backfill_buyer_step_for_direct_sale.py
  backend/app/api/popup/schemas.py
  backend/app/api/ticketing_step/constants.py
  backend/app/api/ticketing_step/schemas.py
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate OpenAPI clients for step meta + favicon
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): popup favicon upload + per-step navbar toggle and emoji
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

fix(backend,portal): suppress accepted email for group-flow checkouts
  backend/app/api/application/models.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/services/email_helpers.py
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/client/types.gen.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): step card surface helper + curated step icon registry
  portal/src/lib/checkoutStepIcons.tsx
  portal/src/lib/stepCardSurface.ts
Due: biome-check-portal

feat(theme): opt-in card colour, watermark, nav text overrides
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

refactor(checkout): consume shared step icon registry in nav and cart
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

feat(checkout): theme-aware insurance card surface
  portal/src/components/checkout-flow/InsuranceCard.tsx
Due: biome-check-portal

feat(quantity-selector): accent tone for primary-on-card CTA
  portal/src/components/ui/QuantitySelector.tsx
Due: biome-check-portal

feat(portal): VariantRichText sanitized HTML banner template
  backoffice/src/components/ticketing-step-builder/template-configs/RichTextConfig.tsx
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
Due: biome-check-backoffice, biome-check-portal

feat(portal): VariantTicketCard sectioned cards template
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-backoffice, biome-check-portal

chore(checkout): register ticket-card and rich-text in variant + template registries
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  portal/src/components/checkout-flow/registries/variantRegistry.ts
Due: biome-check-backoffice, biome-check-portal

fix(checkout): drop interactive row wrapper from VariantTicketCard.ProductRow
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

feat(checkout-icons): add mushroom glyph to step icon registry
  portal/src/lib/checkoutStepIcons.tsx
Due: biome-check-portal

Revert "feat(checkout): VariantTicketCard + VariantRichText templates"
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/RichTextConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/lib/checkoutStepIcons.tsx
Due: biome-check-backoffice, biome-check-portal

feat(checkout): validation state + helpers on CheckoutProvider
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(checkout): email validation in form-schema-builder + tests
  portal/src/lib/form-schema-builder.test.ts
  portal/src/lib/form-schema-builder.ts
Due: biome-check-portal

feat(checkout): CheckoutToast + CartFooter enable-and-validate pattern
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CheckoutToast.tsx
Due: biome-check-portal

feat(checkout): wire validation flow into ScrollyCheckoutFlow + SnapFooter
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
Due: biome-check-portal

feat(checkout): 3-state nav with emoji rendering and brand logo
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

feat(checkout): buyer form hero band + on-blur validation
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
Due: biome-check-portal

feat(checkout): i18n keys for validation flow (es/en/zh)
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(test): use FormFieldSchema 'text' type, not 'string'
  portal/src/lib/form-schema-builder.test.ts
Due: biome-check-portal

feat(checkout): FaviconOverride component + compact LanguageSwitcher
  portal/src/components/checkout-flow/FaviconOverride.tsx
  portal/src/components/common/LanguageSwitcher.tsx
Due: biome-check-portal

feat(checkout): mount FaviconOverride + brand logo on open-ticketing checkout
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

refactor(checkout): extract LightboxOverlay; click-to-expand in masonry
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
Due: biome-check-portal

feat(portal,backend): let group invitees detach from a host's application
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  portal/src/app/checkout/components/CompanionSwitchPrompt.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(form-ui): opt-in errorTone prop on shared form components
  packages/shared-form-ui/src/components/Form/AddonInputForm.tsx
  packages/shared-form-ui/src/components/Form/CheckboxForm.tsx
  packages/shared-form-ui/src/components/Form/InputForm.tsx
  packages/shared-form-ui/src/components/Form/SelectForm.tsx
  packages/shared-form-ui/src/components/Form/TextAreaForm.tsx
  packages/shared-form-ui/src/components/Input.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  packages/shared-form-ui/src/index.ts
Due: none

feat(checkout): warning-tone inline errors in open-ticketing buyer form
  portal/src/app/checkout/[popupSlug]/components/OpenTicketingBuyerForm.tsx
  portal/src/app/portal/[popupSlug]/application/components/fields/dynamic-field.tsx
Due: biome-check-portal

feat(backoffice): allow editing approved scholarship discount
  backoffice/src/components/ApplicationDetail.tsx
Due: biome-check-backoffice

fix(backoffice): wrap long values in application detail
  backoffice/src/components/ApplicationDetail.tsx
Due: biome-check-backoffice
