Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

test(events): make _make_human idempotent in admin-notes tests
  backend/tests/test_event_admin_notes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(directory): make the attendee directory attendee-centric
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_attendee_directory.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(dashboard): correct metric semantics and popup-local trend bucketing
  backend/app/api/dashboard/router.py
  backend/app/api/dashboard/schemas.py
  backend/tests/test_dashboard.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Dashboard/ApplicationFunnelChart.tsx
  backoffice/src/components/Dashboard/CumulativeTrendsCharts.tsx
  backoffice/src/components/Dashboard/KeyMetricsCards.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(cart): avoid post-commit reload race on portal cart update
  backend/app/api/cart/crud.py
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(pre-commit): drop generate-sdk from pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(automation): add telegram-task-sync routine
  automation/telegram-task-sync/.gitignore
  automation/telegram-task-sync/README.md
  automation/telegram-task-sync/ROUTINE_PROMPT.md
  automation/telegram-task-sync/create_claude_user.py
  automation/telegram-task-sync/generate_session.py
  automation/telegram-task-sync/read_telegram.py
  automation/telegram-task-sync/requirements.txt
Due: local-ruff-check, local-ruff-format

chore(lint): drop ty from lint.sh
  backend/scripts/lint.sh
Due: generate-sdk

chore(deps): remove ty type checker
  backend/README.md
  backend/pyproject.toml
  uv.lock
Due: generate-sdk

fix(directory): exclude kids from the attendee directory
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(automation): switch telegram reader from MTProto to Bot API
  automation/telegram-task-sync/README.md
  automation/telegram-task-sync/generate_session.py
  automation/telegram-task-sync/read_telegram.py
  automation/telegram-task-sync/requirements.txt
Due: local-ruff-check, local-ruff-format

feat(automation): include replied-to message context in telegram reader
  automation/telegram-task-sync/ROUTINE_PROMPT.md
  automation/telegram-task-sync/read_telegram.py
Due: local-ruff-check, local-ruff-format

docs(automation): triage the bug quoted in a reply_to, not just own text
  automation/telegram-task-sync/ROUTINE_PROMPT.md
Due: none

feat(tasks): open board to all users by visibility, add priority, shareable links
  backend/app/alembic/versions/b3d8f1a25c47_task_priority.py
  backend/app/api/task/crud.py
  backend/app/api/task/models.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/__init__.py
  backend/tests/api/task/test_task_access.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskBoard.tsx
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/taskMeta.ts
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): inline delete button; drop danger zone; cover priority update
  backend/tests/api/task/test_task_access.py
  backoffice/src/components/Tasks/TaskDialog.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(automation): watch multiple Telegram groups in task-sync
  automation/telegram-task-sync/README.md
  automation/telegram-task-sync/ROUTINE_PROMPT.md
  automation/telegram-task-sync/read_telegram.py
Due: local-ruff-check, local-ruff-format

feat(automation): attribute Telegram messages to their forum topic
  automation/telegram-task-sync/README.md
  automation/telegram-task-sync/ROUTINE_PROMPT.md
  automation/telegram-task-sync/read_telegram.py
Due: local-ruff-check, local-ruff-format

fix(portal): evaluate product sale window by instant, not calendar day
  portal/src/lib/product-availability.test.ts
  portal/src/lib/product-availability.ts
  portal/src/lib/product-state.ts
Due: biome-check-portal

fix(portal): scope host picker to popup attendees, stop leaking opted-out names
  backend/app/api/application/crud.py
  backend/app/api/event_participant/router.py
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/tests/api/application/test_directory_humans_privacy.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): correct portal pagination totals; restrict admin-notes writes
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event_venue/crud.py
  backend/app/api/event_venue/router.py
  backend/app/api/track/router.py
  backend/tests/test_event_admin_notes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(portal): i18n the events calendar copy and de-duplicate RSVP logic
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/summarizeRrule.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventRsvp.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(backoffice): expose credits_enabled toggle in popup form
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(portal): edit purchased passes in-flow with upgrade credit
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

fix(portal): clamp pagination range and i18n controls; keep prev page data
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/components/common/Pagination.tsx
Due: biome-check-portal

fix(tasks): show board link to admins in sidebar
  backoffice/src/components/Sidebar/AppSidebar.tsx
Due: biome-check-backoffice

feat: remove "Chef's choice" option from meal plans (UI only)
  backoffice/src/components/ticketing-step-builder/template-configs/MealPlanSelectConfig.tsx
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/hooks/checkout/useMealPlanSelection.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

feat(invite): add invite module — schemas, crud, router, router registration (T-gr-022..T-gr-026)
  backend/app/api/invite/__init__.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/app/api/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(invite): add invite module integration tests — 27 tests covering REQ-GR-001..007, REQ-GR-026 (T-gr-027)
  backend/tests/api/invite/__init__.py
  backend/tests/api/invite/test_invites.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): event share button always copies link to clipboard
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
Due: biome-check-portal

feat(referral): add referral module — schemas, crud, router, router registration, and attribution wiring (T-gr-028..T-gr-033)
  backend/app/api/application/crud.py
  backend/app/api/application/schemas.py
  backend/app/api/referral/__init__.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/router.py
  backend/app/api/referral/schemas.py
  backend/app/api/router.py
  backend/tests/api/referral/__init__.py
  backend/tests/api/referral/test_referrals.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): group_id validators, iTIP branching, and mutual exclusion (T-gr-035..T-gr-041)
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/services/event_itip.py
  backend/tests/api/event/test_group_events.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): self-RSVP cancel no longer sends event-cancelled email
  backend/app/api/email_template/schemas.py
  backend/app/api/event_participant/router.py
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/event_itip.py
  backend/app/templates/emails/event/rsvp_cancelled.html
  backend/tests/test_event_itip.py
  backend/tests/test_event_participants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(groups): URL compat layer + EE26 legacy data migration (T-gr-042..T-gr-048)
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/app/api/router.py
  backend/tests/api/portal/test_url_compat.py
  backend/tests/migrations/test_groups_rework_backfill_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): correct RSVP lifecycle on cancel and capacity count
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_participant/crud.py
  backend/tests/test_event_itip.py
  backend/tests/test_event_participants.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(calendar): add TV board view at /calendar/tv
  portal/src/app/[popupSlug]/calendar/tv/TvCalendarClient.tsx
  portal/src/app/[popupSlug]/calendar/tv/page.tsx
  portal/src/app/[popupSlug]/calendar/tv/useViewport.ts
  portal/src/i18n/locales/en.json
Due: biome-check-portal

feat(events): land on the next upcoming event when opening the portal
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
Due: biome-check-portal

feat(events): event collaborators across backend, portal and backoffice
  backend/app/alembic/versions/a7f3c2d8e1b4_event_collaborator_ids.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_collaborators.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/components/CollaboratorsField.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): add a Tracks section to the portal events area
  portal/src/app/portal/[popupSlug]/events/lib/usePopupTracks.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/tracks/page.tsx
  portal/src/components/Sidebar/hooks/useBreadcrumbNameMapping.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
Due: biome-check-portal

test(events): assert add-to-calendar export UID matches the iTIP UID
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): hide visibility/tenant scoping from non-superadmins
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
Due: biome-check-backoffice
