Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(checkout-core): SelectionState + pure reducers (Task 2.4)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/selection/index.ts
  packages/checkout-core/src/selection/state.test.ts
  packages/checkout-core/src/selection/state.ts
Due: none

feat(checkout-core): order-line assembly SelectionState → ProductLine[] (Task 2.5)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/order/buildOrderLines.test.ts
  packages/checkout-core/src/order/buildOrderLines.ts
  packages/checkout-core/src/order/index.ts
Due: none

feat(checkout-core): buyer form schema→validation + custom_ handling (Task 2.6)
  packages/checkout-core/package.json
  packages/checkout-core/src/form/buyer.ts
  packages/checkout-core/src/form/form.test.ts
  packages/checkout-core/src/form/index.ts
  packages/checkout-core/src/form/schema.ts
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/types/form.ts
  pnpm-lock.yaml
Due: none

feat(checkout-core): debounced /preview pricing driver (Task 2.7)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/pricing/driver.test.ts
  packages/checkout-core/src/pricing/driver.ts
  packages/checkout-core/src/pricing/index.ts
Due: none

feat(checkout-core): cart persistence + restore (Task 2.8)
  packages/checkout-core/src/cart/cart.test.ts
  packages/checkout-core/src/cart/driver.ts
  packages/checkout-core/src/cart/index.ts
  packages/checkout-core/src/cart/mapping.ts
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/types/api.ts
Due: none

feat(checkout-core): normalized analytics bus + Meta/GA adapters (Task 2.9)
  packages/checkout-core/src/analytics/analytics.test.ts
  packages/checkout-core/src/analytics/bus.ts
  packages/checkout-core/src/analytics/events.ts
  packages/checkout-core/src/analytics/ga.ts
  packages/checkout-core/src/analytics/index.ts
  packages/checkout-core/src/analytics/metaPixel.ts
  packages/checkout-core/src/index.ts
Due: none

feat(checkout-core): orchestration store / state machine (Task 2.10)
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/store/index.ts
  packages/checkout-core/src/store/store.test.ts
  packages/checkout-core/src/store/store.ts
Due: none

feat(checkout-core): finalize public surface (Task 2.11) — Plan 2 complete
  packages/checkout-core/src/index.test.ts
  packages/checkout-core/src/index.ts
Due: none

feat(checkout-react): React adapter over the headless core (Plan 3.1-3.3)
  packages/checkout-react/package.json
  packages/checkout-react/src/CheckoutProvider.test.tsx
  packages/checkout-react/src/CheckoutProvider.tsx
  packages/checkout-react/src/context.ts
  packages/checkout-react/src/hooks.ts
  packages/checkout-react/src/index.ts
  packages/checkout-react/tsconfig.json
  packages/checkout-react/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(payments): apply invite and referral discounts at checkout
  backend/app/api/application/crud.py
  backend/app/api/invite/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/invite/test_invite_create_internal.py
  backend/tests/api/payment/test_link_discounts.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(referrals): admin force-disable and hardened public preview
  backend/app/alembic/versions/b7c9d4a2f18e_referral_is_disabled.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/models.py
  backend/app/api/referral/router.py
  backend/app/api/referral/schemas.py
  backend/tests/api/referral/test_referrals.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): enforce popup group_private_events_enabled on create
  backend/app/api/event/router.py
  backend/tests/api/event/test_group_events.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(coupons): enforce allows_coupons server-side
  backend/app/api/coupon/crud.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/coupon/test_validate_public.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(invites): gate the public preview on invites_enabled
  backend/app/api/invite/router.py
  backend/tests/api/invite/test_invites.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(checkout): end-to-end SDK contract test against the real backend
  backend/tests/api/checkout/test_sdk_contract.py
  packages/checkout-core/src/types/api.ts
Due: local-ruff-check, local-ruff-format, generate-sdk

docs(sdk): reference custom-checkout example consuming the headless SDK
  examples/custom-checkout/README.md
  examples/custom-checkout/package.json
  examples/custom-checkout/src/CustomCheckout.test.tsx
  examples/custom-checkout/src/CustomCheckout.tsx
  examples/custom-checkout/src/main.tsx
  examples/custom-checkout/tsconfig.json
  examples/custom-checkout/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(cors): allow X-EdgeOS-Publishable-Key through CORS preflight
  backend/app/main.py
  backend/tests/api/checkout/test_sdk_contract.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: translate remaining Spanish UI text and code comments to English
  backend/app/api/human/router.py
  backoffice/src/components/forms/ThemePreview/constants.ts
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutBottomBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutTopBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/ring.ts
  backoffice/src/components/forms/ThemePreview/tabs/CheckoutView.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/ConfirmStepFields.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/HeroConfig.tsx
  backoffice/src/routes/_layout/humans/$id.tsx
  portal/src/app/checkout/components/TransitionScreen.tsx
  portal/src/app/checkout/hooks/useCookies.ts
  portal/src/app/portal/[popupSlug]/attendees/components/Pagination.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/DetailItem.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MemberItem.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/OptionsMenu.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/QRcode.tsx
  portal/src/components/ui/card.tsx
  portal/src/helpers/validate.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(publishable-keys): mint at the tenant level, not per-popup
  backend/app/alembic/versions/c2d4e6f8a1b3_publishable_key_popup_optional.py
  backend/app/api/publishable_key/crud.py
  backend/app/api/publishable_key/models.py
  backend/app/api/publishable_key/router.py
  backend/app/api/publishable_key/schemas.py
  backend/tests/api/publishable_key/test_router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): manage publishable keys from the organization edit
  backoffice/src/components/forms/PublishableKeysSection.tsx
  backoffice/src/components/forms/TenantForm.tsx
  backoffice/src/services/publishableKeys.ts
Due: biome-check-backoffice

test(invites): fix order-dependent email collision in recipient guard test
  backend/tests/api/invite/test_invite_create_internal.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(groups): group module rework
  backend/app/api/group/crud.py
  backend/app/api/group/models.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/tests/api/portal/test_url_compat.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(invites,referrals): new backend modules
  backend/app/api/invite/__init__.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/app/api/referral/__init__.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/models.py
  backend/app/api/referral/router.py
  backend/app/api/referral/schemas.py
  backend/tests/api/invite/__init__.py
  backend/tests/api/invite/test_invite_create_internal.py
  backend/tests/api/invite/test_invites.py
  backend/tests/api/referral/__init__.py
  backend/tests/api/referral/test_referrals.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(db): groups-rework schema foundation
  backend/app/alembic/versions/5238a7bf67df_popup_max_referrals_per_attendee.py
  backend/app/alembic/versions/b7c9d4a2f18e_referral_is_disabled.py
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
  backend/app/alembic/versions/c7a4e2f1b8d3_drop_group_ambassador.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routeTree.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): groups, invites and referrals UI
  backoffice/Dockerfile
  backoffice/src/components/Common/CopyLinkButton.tsx
  backoffice/src/components/Common/StatusBadge.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/groups/GroupMembersSection.tsx
  backoffice/src/lib/portal-urls.ts
  backoffice/src/routes/_layout/applications/$id.tsx
  backoffice/src/routes/_layout/groups/$id.edit.tsx
  backoffice/src/routes/_layout/groups/index.tsx
  backoffice/src/routes/_layout/humans/$id.tsx
  backoffice/src/routes/_layout/invites/$inviteId/edit.tsx
  backoffice/src/routes/_layout/invites/index.tsx
  backoffice/src/routes/_layout/invites/new.tsx
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
Due: biome-check-backoffice

feat(checkout): attribution wiring and link discounts
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/auth/crud.py
  backend/app/api/coupon/crud.py
  backend/app/api/human/crud.py
  backend/app/api/human/router.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/guards.py
  backend/app/api/popup/schemas.py
  backend/app/api/router.py
  backend/app/core/db.py
  backend/app/core/dependencies/users.py
  backend/app/core/seed_data.json
  backend/app/models.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/coupon/test_validate_public.py
  backend/tests/api/group/__init__.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/group/test_members_by_application.py
  backend/tests/api/group/test_my_groups_membership.py
  backend/tests/api/group/test_whitelist_hook.py
  backend/tests/api/human/test_hard_delete_cascade.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
  backend/tests/api/payment/test_link_discounts.py
  backend/tests/conftest.py
  backend/tests/migrations/test_groups_rework_foundation_migration.py
  backend/tests/services/test_event_visibility.py
  backend/tests/services/test_group_crud_helper.py
  backend/tests/test_group_express_checkout_attendee.py
  compose.override.yaml
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): groups, invites and referrals UI
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/invite/[token]/page.tsx
  portal/src/app/invite/layout.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VisibilityField.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/AddMemberModal.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MemberItem.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MembersList.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/page.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/app/portal/profile/page.tsx
  portal/src/app/r/[code]/page.tsx
  portal/src/app/r/layout.tsx
  portal/src/components/profile/Groups.tsx
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/hooks/useGetGroup.ts
  portal/src/hooks/useHumanAttendeesQuery.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/form-data-splitter.ts
  portal/src/providers/queryProvider.tsx
Due: biome-check-portal

feat(events): group-private events and visibility chokepoint
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_venue/router.py
  backend/app/services/event_itip.py
  backend/app/services/event_visibility.py
  backend/tests/api/event/test_group_events.py
  backend/tests/api/event/test_opacity_chokepoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(backoffice): sort imports in referrals list
  backoffice/src/routes/_layout/referrals/index.tsx
Due: biome-check-backoffice

feat(checkout-sdk): default baseUrl to the EdgeOS production API
  packages/checkout-core/src/client.ts
  packages/checkout-core/src/index.ts
  packages/checkout-core/src/transport/fetchTransport.ts
  packages/checkout-core/src/transport/types.ts
Due: none

fix(checkout-sdk): rebuild the store on a StrictMode remount so preview stays live
  packages/checkout-core/src/store/store.test.ts
  packages/checkout-core/src/store/store.ts
  packages/checkout-react/src/CheckoutProvider.test.tsx
  packages/checkout-react/src/CheckoutProvider.tsx
Due: none

docs(checkout-sdk): add the building-edgeos-checkout Claude Code skill
  packages/checkout-react/skills/building-edgeos-checkout/README.md
  packages/checkout-react/skills/building-edgeos-checkout/SKILL.md
  packages/checkout-react/skills/building-edgeos-checkout/api-contract.md
  packages/checkout-react/skills/building-edgeos-checkout/example-checkout.tsx
  packages/checkout-react/skills/building-edgeos-checkout/hooks-reference.md
Due: none

feat(sales-flows): add sales_flows and flow_products foundation tables
  backend/app/alembic/versions/b79d252e79c2_create_sales_flows.py
  backend/app/alembic/versions/fa6808697ac1_create_flow_products.py
  backend/app/api/router.py
  backend/app/api/sales_flow/__init__.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/models.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/__init__.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
  backend/tests/api/sales_flow/test_sales_flow_rls.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for sales-flows endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): backfill one default sales_flow per popup
  backend/app/alembic/versions/4a983282b8aa_backfill_default_sales_flows.py
  backend/tests/migrations/test_backfill_default_sales_flows.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): guard backfill against slug collisions and insert races
  backend/app/alembic/versions/4a983282b8aa_backfill_default_sales_flows.py
  backend/tests/migrations/test_backfill_default_sales_flows.py
Due: local-ruff-check, local-ruff-format, generate-sdk

build(checkout-sdk): package checkout-core + checkout-react for npm publishing
  packages/checkout-core/README.md
  packages/checkout-core/package.json
  packages/checkout-core/tsup.config.ts
  packages/checkout-react/README.md
  packages/checkout-react/package.json
  packages/checkout-react/tsup.config.ts
  pnpm-lock.yaml
Due: none

feat(sales-flows): add flow override mode/value pure helpers
  backoffice/src/lib/salesFlowOverrides.test.ts
  backoffice/src/lib/salesFlowOverrides.ts
Due: biome-check-backoffice
