Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(email): deep-link accepted-email CTA to popup passes page
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/templates/emails/application/accepted.html
  backend/app/templates/emails/application/accepted_scholarship_rejected.html
  backend/app/templates/emails/application/accepted_with_discount.html
  backend/app/templates/emails/application/accepted_with_incentive.html
  backend/tests/test_accepted_email_passes_url.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): remove clashing dark frame on insurance card
  portal/src/components/checkout-flow/InsuranceCard.tsx
Due: biome-check-portal

fix(checkout): serve attendee categories in public open-checkout runtime
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_bootstrap.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): keep header static on mobile to smooth calendar scroll
  portal/src/components/Sidebar/HeaderBar.tsx
Due: biome-check-portal

feat(theme): expose checkout footer, card and nav-text color overrides
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview/themeExpand.ts
Due: biome-check-backoffice

fix(theme): preview uses theme background instead of cosmic gradient fallback
  backoffice/src/components/forms/ThemePreview/tabs/CheckoutView.tsx
Due: biome-check-backoffice

fix(checkout): polish ticket-card section cards (equal height, CTA contrast, image seam)
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/ui/QuantitySelector.tsx
Due: biome-check-portal

feat(portal): show edit-passes toggle across all ticket templates
  portal/src/components/checkout-flow/DynamicProductStep.tsx
  portal/src/components/checkout-flow/shared/EditPassesToggle.tsx
Due: biome-check-portal

refactor(portal): unify ticket templates under shared useTicketsStep contract
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/ticketSections.test.ts
  portal/src/hooks/checkout/ticketSections.ts
  portal/src/hooks/checkout/useCreditCalculation.test.ts
  portal/src/hooks/checkout/useTicketsStep.test.ts
  portal/src/hooks/checkout/useTicketsStep.ts
  portal/src/providers/passesProvider.test.ts
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
  portal/src/strategies/passQuantityHelper.ts
Due: biome-check-portal

feat(payments): make application credit a first-class balance decoupled from edit-passes
  backend/app/alembic/versions/38964c981259_credit_applied_column.py
  backend/app/alembic/versions/9afa5db2f4cd_rename_credits_enabled_to_edit_passes_enabled.py
  backend/app/api/audit_log/actor.py
  backend/app/api/audit_log/constants.py
  backend/app/api/event/router.py
  backend/app/api/human/activity_crud.py
  backend/app/api/human/activity_schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/app/api/popup/schemas.py
  backend/tests/api/human/test_credit_activity.py
  backend/tests/api/payment/test_credit_debit.py
  backend/tests/api/payment/test_credit_helper.py
  backend/tests/api/payment/test_credit_restore.py
  backend/tests/api/payment/test_credit_split.py
  backend/tests/api/payment/test_credit_zero_branch.py
  backend/tests/api/payment/test_discountable_product.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useCreditCalculation.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/useTicketsStep.test.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): reveal SnapSection header on tall mobile sections
  portal/src/components/checkout-flow/SnapSection.tsx
Due: biome-check-portal

feat(applications): grant application-fee payment as credit on approval
  backend/app/alembic/versions/70b397330323_fee_credit_granted_column.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_fee_credit.py
  backend/tests/api/application/test_fee_credit_paths.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): add admin endpoint and backoffice UI to grant credit
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_credit_grant_endpoint.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(payments): record a passes-edited activity event on portal edits
  backend/app/api/audit_log/constants.py
  backend/app/api/human/activity_crud.py
  backend/app/api/human/activity_schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/api/payment/test_passes_edited_event.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/lib/humanActivityMessage.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): hide edit-passes toggle when pass editing is disabled
  portal/src/components/checkout-flow/shared/EditPassesToggle.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
Due: biome-check-portal

fix(portal): show applied credit in cart so the lower total is explained
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(backoffice): drop duplicate balance from grant credit panel
  backoffice/src/components/ApplicationDetail.tsx
Due: biome-check-backoffice

fix(payments): attribute credit movements to the buyer and fix source
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_credit_zero_branch.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payments): correct credit debit accounting and tighten credit grant
  backend/app/api/application/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/application/test_credit_grant_endpoint.py
  backend/tests/api/payment/test_credit_debit.py
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): improve checkout share previews and scope PWA to portal
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_public_checkout_share.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/public/file.svg
  portal/public/globe.svg
  portal/public/icons/icon.png
  portal/public/next.svg
  portal/public/vercel.svg
  portal/public/window.svg
  portal/src/app/checkout/[popupSlug]/layout.tsx
  portal/src/app/layout.tsx
  portal/src/app/manifest.ts
  portal/src/app/portal/PortalShell.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/layout.tsx
  portal/src/app/portal/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/ServiceWorkerRegistrar.tsx
  portal/src/lib/checkout-share.ts
  portal/src/lib/event-share.ts
  portal/src/lib/share-metadata.ts
  portal/src/lib/tenant-metadata.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): drop dead 404 branch in share fetchers
  portal/src/app/layout.tsx
  portal/src/components/ServiceWorkerRegistrar.tsx
  portal/src/lib/checkout-share.ts
  portal/src/lib/event-share.ts
Due: biome-check-portal

fix(checkout): sort share router imports and resolve tenant via X-Tenant-Id in tests
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_public_checkout_share.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): reorder tenant form by importance
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

fix(portal): guard localStorage in SDK interceptor for SSR
  portal/src/lib/api-client.ts
Due: biome-check-portal

fix(portal): remove popup-root auto-redirect to events
  portal/src/app/portal/[popupSlug]/page.tsx
Due: biome-check-portal

fix(portal): block events route for non-accepted applications
  portal/src/app/portal/[popupSlug]/events/layout.tsx
Due: biome-check-portal

fix(applications): grant fee credit on review acceptance and manual fee approval
  backend/app/api/application_review/router.py
  backend/app/api/payment/router.py
  backend/tests/api/application_review/__init__.py
  backend/tests/api/application_review/test_review_grants_fee_credit.py
  backend/tests/api/payment/test_fee_credit_manual_approval.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show 404 page for unknown popup slugs instead of a server error
  portal/src/app/[popupSlug]/page.tsx
Due: biome-check-portal

fix(portal): keep submitted applications out of the form after fee payment
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

fix(portal): make full/month passes single-select in checkout selection
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

fix(portal): stop step nav from crashing with an infinite render loop
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

feat(analytics): add tenant-scoped Google Analytics 4 tracking
  backend/app/alembic/versions/c58bb16def73_tenant_ga_tracking.py
  backend/app/api/tenant/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/TenantForm.tsx
  portal/src/app/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/utils/GoogleAnalytics.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/google-analytics.test.ts
  portal/src/lib/google-analytics.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(tenant): set GA fields on tenant resolver mocks
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): restrict Sentry to production with loguru integration and tracing
  backend/app/core/config.py
  backend/app/main.py
  backend/pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): align external thank-you redirect with signed contract
  backend/app/api/payment/crud.py
  backend/app/utils/checkout_signing.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/core/test_checkout_signing.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): align thank-you redirect payload with Amanita field spec
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/utils/checkout_signing.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/core/test_checkout_signing.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(analytics): use raw order id as Purchase event_id for cross-partner dedup
  backend/app/services/meta_capi.py
  backend/tests/test_meta_capi.py
  portal/src/lib/meta-pixel.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): capture entry-URL attribution and persist on the payment
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/attribution.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(payments): handle partial installment charges
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/tests/test_installment_webhooks.py
  backoffice/src/routes/_layout/payments.helpers.test.ts
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

style(payments): format adjustment display
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice
