Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(directory): search only shared attendee fields
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory_search_privacy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(directory): resolve role and organization form aliases
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory_custom_fields.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): align directory search placeholder with supported fields
  portal/src/i18n/directoryLocalization.test.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(directory): hide visually empty rows with an opt-in filter
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory_empty_rows.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.test.tsx
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(directory): align SQL privacy trimming with serialization
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory_empty_rows.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(directory): normalize category keys consistently on read
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory_categories.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add directory sharing settings
  portal/src/app/portal/[popupSlug]/attendees/components/PrivacySettings.tsx
  portal/src/app/portal/[popupSlug]/attendees/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(directory): scope attendees and sharing settings to primary flow
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory_primary_flow.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/attendees/components/PrivacySettings.test.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/PrivacySettings.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(humans): handle JSON null in enrichment presence filter
  backend/app/api/human/crud.py
  backend/tests/api/human/test_list_filters.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): read coupons, insurance and contribution from the flow; show product descriptions and icons
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_portal_checkout_config.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/OtherPurchasedProducts.tsx
  portal/src/app/portal/[popupSlug]/passes/otherProductVisual.test.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductVisual.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductsProjection.test.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductsProjection.ts
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.coupon.test.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.test.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(email): populate event update change values
  CUSTOM_POPUP_HOME.md
  backend/app/services/event_itip.py
  backend/app/templates/emails/event/updated.html
  docs/human-profile-privacy.md
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(security): require backoffice JWT sessions for custom exports
  backend/app/api/custom_export/router.py
  backend/tests/test_custom_export_api.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(ai): update default OpenAI model to gpt-6-luna
  .env.example
  ai-service/README.md
  ai-service/src/config.test.ts
  ai-service/src/config.ts
Due: none

feat(badges): issuer policies, allowances and peer badge sending (SIM-108 phase 2)
  backend/app/alembic/versions/c7e3a9f15b28_badge_issuer_policies.py
  backend/app/api/badge/__init__.py
  backend/app/api/badge/crud.py
  backend/app/api/badge/models.py
  backend/app/api/badge/policies.py
  backend/app/api/badge/router.py
  backend/app/api/badge/schemas.py
  backend/app/api/router.py
  backend/app/core/security.py
  backend/app/models.py
  backend/tests/api/badge/test_issuer_policies.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/IssuerPolicies.tsx
  backoffice/src/routes/_layout/badges/$id.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/Table/Header.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/badges/SendBadgeDialog.tsx
  portal/src/hooks/useIssuableBadges.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/query-keys.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(payments): link buyers to primary application attendees
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_payment_recipients.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(badges): automatic badge rules from check-ins (SIM-108 phase 3)
  backend/app/alembic/versions/d4f8b2c6e9a1_badge_rules.py
  backend/app/api/badge/__init__.py
  backend/app/api/badge/crud.py
  backend/app/api/badge/models.py
  backend/app/api/badge/router.py
  backend/app/api/badge/rules.py
  backend/app/api/badge/schemas.py
  backend/app/api/event_participant/attendance.py
  backend/app/api/event_participant/router.py
  backend/app/api/router.py
  backend/app/jobs/badge_rules_sweep.py
  backend/app/models.py
  backend/tests/api/badge/test_badge_rules.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/BadgeRules.tsx
  backoffice/src/routes/_layout/badges/$id.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(badges): show which badges an attendee already has when giving one
  backend/app/api/badge/policies.py
  backend/app/api/badge/router.py
  backend/app/api/badge/schemas.py
  backend/tests/api/badge/test_issuer_policies.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/badges/SendBadgeDialog.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/query-keys.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(badges): composable badge rules with tags, hosting and streaks
  backend/app/alembic/versions/e5a1c3d7f9b2_badge_rule_conditions.py
  backend/app/api/badge/router.py
  backend/app/api/badge/rules.py
  backend/app/api/badge/schemas.py
  backend/app/api/event_participant/attendance.py
  backend/app/api/event_participant/router.py
  backend/app/jobs/badge_rules_sweep.py
  backend/tests/api/badge/test_badge_rules.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/BadgeRules.tsx
  backoffice/src/components/Badges/rules/ConditionEditor.tsx
  backoffice/src/components/Badges/rules/ruleText.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(badges): set a badge up completely while creating it
  backend/app/api/badge/crud.py
  backend/app/api/badge/router.py
  backend/app/api/badge/rules.py
  backend/app/api/badge/schemas.py
  backend/tests/api/badge/test_badge_rules.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/BadgeForm.tsx
  backoffice/src/components/Badges/BadgeRules.tsx
  backoffice/src/components/Badges/IssuerPolicies.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): promote all available weeks to month
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

feat(badges): let a list of emails give a badge
  backend/app/alembic/versions/f7c2b9e4a6d1_badge_policy_emails.py
  backend/app/api/badge/models.py
  backend/app/api/badge/policies.py
  backend/app/api/badge/router.py
  backend/app/api/badge/schemas.py
  backend/tests/api/badge/test_issuer_policies.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/IssuerPolicies.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): scope RSVPs to occurrences and show series participants
  backend/app/api/event/occurrence.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event/series.py
  backend/app/api/event/series_schemas.py
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/presentation.py
  backend/app/api/event_participant/router.py
  backend/tests/test_event_occurrence_context.py
  backend/tests/test_event_series_summary.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventAttendanceCard.test.tsx
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.test.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.tsx
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(events): add isolated RSVP validation fixtures and guide
  backend/scripts/README.rsvp-validation.md
  backend/scripts/rsvp_validation.nginx.conf
  backend/scripts/rsvp_validation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): wait for initial permission queries before redirecting
  portal/src/components/Permissions.test.tsx
  portal/src/components/Permissions.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/useResources.permissions.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/providers/applicationProvider.loading.test.tsx
  portal/src/providers/applicationProvider.tsx
Due: biome-check-portal

refactor(events): focus occurrence participants on backoffice presentation
  backend/app/api/event/occurrence.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event/series.py
  backend/app/api/event/series_schemas.py
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/presentation.py
  backend/app/api/event_participant/router.py
  backend/scripts/README.rsvp-validation.md
  backend/scripts/rsvp_validation.nginx.conf
  backend/scripts/rsvp_validation.py
  backend/tests/test_event_occurrence_context.py
  backend/tests/test_event_series_summary.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventAttendanceCard.test.tsx
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.test.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.tsx
  backoffice/src/components/events/occurrenceParticipants.test.ts
  backoffice/src/components/events/occurrenceParticipants.ts
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(directory): include ticket grants without applications
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory_primary_flow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): align occurrence rosters and summarize unlisted attendees
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalParticipants.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalParticipants.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(security): restrict popup configuration to administrative JWTs
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/core/dependencies/users.py
  backend/tests/api/popup/test_check_in_privacy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(security): isolate scanner tenant checks from pagination
  backend/tests/api/popup/test_check_in_privacy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): support editing recurring occurrences
  backend/app/api/event/router.py
  backend/tests/test_detach_occurrence.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): read coupons, insurance and contribution from the flow; show product descriptions and icons
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/schemas.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_portal_checkout_config.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/OtherPurchasedProducts.tsx
  portal/src/app/portal/[popupSlug]/passes/otherProductVisual.test.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductVisual.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductsProjection.test.ts
  portal/src/app/portal/[popupSlug]/passes/otherProductsProjection.ts
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.coupon.test.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.test.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk
