Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(backoffice): show charged amount column in payments table
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

feat(backoffice): explain quoted-vs-charged delta as rail discount/surcharge
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

feat(payment): record plan rail/provider in source at activation
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/tests/test_installment_webhooks.py
  backend/tests/test_payment_amount_charged.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/payments.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(tests): fix ruff findings in installments test files
  backend/tests/api/payment/test_installments_integration.py
  backend/tests/test_calculate_max_installments.py
  backend/tests/test_simplefi_client_installments.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show empty state instead of infinite loader on passes with no tickets
  portal/src/app/portal/[popupSlug]/passes/page.tsx
Due: biome-check-portal

Allow Back-end filters by "unlisted" and "private" events
  backend/app/api/event/router.py
  backend/tests/test_event_visibility_filter.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

Bug compartido por mati
  backend/app/api/audit_log/snapshot.py
  backend/tests/test_audit_snapshot_jsonable.py
  backend/tests/test_event_audit_log.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show gated checkout sections when the application never answered the gating field
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(venues): expand recurring events into busy slots in availability
  backend/app/api/event_venue/router.py
  backend/tests/test_venue_availability.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): default and cap event capacity to the venue's capacity
  backend/app/api/event/router.py
  backend/tests/test_event_capacity_cap.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): make venue (or custom location) mandatory, retire online events
  backend/app/api/event/router.py
  backend/tests/test_event_custom_location.py
  backend/tests/test_events_approval.py
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VenueSection.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueSelect.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): default admin-granted (comped) tickets to directory-private
  backend/app/api/application/crud.py
  backend/tests/api/application/test_admin_grant_tickets.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test: give portal-created events a location in unrelated suites
  backend/tests/test_event_collaborators.py
  backend/tests/test_event_creator_filter.py
  backend/tests/test_event_popup_window.py
  backend/tests/test_event_timezone.py
  backend/tests/test_event_visibility_filter.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): offer installment plans on open-ticketing express checkout
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test: add is_installment_plan to remaining SimpleFi response mocks
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): replace native start-time input with venue-aware slot picker
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/EventForm/StartTimeCombobox.tsx
  backoffice/src/components/forms/EventForm/StartTimeSelect.tsx
  packages/shared-events/src/index.ts
  packages/shared-events/src/venue-slots.test.ts
  packages/shared-events/src/venue-slots.ts
Due: biome-check-backoffice

fix(checkout): make scrolly nav tracking viewport-height independent + tap-robust
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

fix(db): revert clean up unused environment variables
  compose.override.yaml
Due: none

fix(groups): close verify-report gaps — referral page, express-checkout, i18n, leakage test
  backend/app/api/application/crud.py
  backend/app/api/attendee/crud.py
  backend/app/api/invite/router.py
  backend/app/api/referral/router.py
  backend/app/api/referral/schemas.py
  backend/tests/api/event/test_opacity_chokepoint.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/invite/test_invites.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/invite/[token]/page.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/app/r/[code]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/form-data-splitter.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(referrals): wrap /r and /invite routes in PublicCheckoutProviders
  portal/src/app/invite/layout.tsx
  portal/src/app/r/layout.tsx
Due: biome-check-portal

fix(invite): correct uses-remaining label (was rendering {{count}} literal)
  portal/src/app/portal/[popupSlug]/invite/[token]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(attendee): persist declarative required_fields via additional_data
  backend/app/alembic/versions/d4e8f1a92b67_add_additional_data_to_attendees.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/core/db.py
  backend/tests/api/attendee/test_attendee_additional_data.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.tsx
  backoffice/src/lib/age-group.ts
  backoffice/src/routes/_layout/attendees/$attendeeId.tsx
  backoffice/src/routes/_layout/attendees/index.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/hooks/useAttendee.ts
  portal/src/types/Attendee.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(attendee): persist declarative required_fields via additional_data (#351)
  backend/app/alembic/versions/d4e8f1a92b67_add_additional_data_to_attendees.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/core/db.py
  backend/tests/api/attendee/test_attendee_additional_data.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.tsx
  backoffice/src/lib/age-group.ts
  backoffice/src/routes/_layout/attendees/$attendeeId.tsx
  backoffice/src/routes/_layout/attendees/index.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/hooks/useAttendee.ts
  portal/src/types/Attendee.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): event badges, RSVP counts, past-event guards, markdown comments
  backend/app/api/event/router.py
  backend/app/api/event_participant/crud.py
  backoffice/src/components/Tasks/TaskCommentThread.tsx
  backoffice/src/components/events/EventBadges.tsx
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsListView.tsx
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(invite): invite link reuses public group-checkout flow (no membership)
  backend/app/api/application/crud.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/tests/api/invite/test_invite_create_internal.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/invite/[token]/page.tsx
  portal/src/app/portal/[popupSlug]/invite/[token]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(client): dedupe AttendeeEmailsResponse type from branch integration
  backoffice/src/client/types.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(referrals): per-popup limit on referrals per attendee (1 link, configurable max_uses)
  backend/app/alembic/versions/5238a7bf67df_popup_max_referrals_per_attendee.py
  backend/app/api/popup/schemas.py
  backend/app/api/referral/crud.py
  backend/app/api/referral/router.py
  backend/tests/api/referral/test_referrals.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(invite,referral): no-store on preview endpoints so exhausted/expired state is not cached
  backend/app/api/invite/crud.py
  backend/app/api/invite/router.py
  backend/app/api/referral/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Modificar botón de 'view on geobrowser'
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(referrals): referral link uses public checkout flow (attribution preserved)
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/r/[code]/page.tsx
Due: biome-check-portal

fix(referrals): treat /r/ as a public route so 401s don't redirect to auth
  portal/src/providers/queryProvider.tsx
Due: biome-check-portal

fix(checkout): gate my-attendees query on auth so anonymous public checkout makes no 401 calls
  portal/src/hooks/useHumanAttendeesQuery.ts
Due: biome-check-portal

feat(applications): surface 'Referred by' in backoffice application detail
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/applications/$id.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(referrals): gate referral creation on holding a ticket for the popup
  backend/app/api/attendee/crud.py
  backend/app/api/referral/router.py
  backend/tests/api/referral/test_referrals.py
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): wire VITE_PORTAL_DOMAIN so portal copy-links enable locally
  backoffice/Dockerfile
  backoffice/src/lib/portal-urls.ts
  compose.override.yaml
Due: biome-check-backoffice

Status active task: reemplazar badge "active" por check en flags de Products
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

Feature: filter events by venue in the frontend portal
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/lib/eventsViewState.ts
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalEvents.ts
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/VenuesPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/types.ts
  portal/src/app/portal/[popupSlug]/events/lib/usePopupVenues.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
