Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(events): custom location + Meeting option for venue-less events
  backend/app/alembic/versions/0044_event_custom_location.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  backend/tests/test_event_custom_location.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VenueSection.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/EventVenueField.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueSelect.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backend): TicketEvent model + CheckInPayload + TicketEventPublic schemas
  backend/app/api/attendee/schemas.py
  backend/app/api/ticket_event/models.py
  backend/app/api/ticket_event/schemas.py
  backend/tests/api/attendee/test_remove_ticket.py
  backend/tests/api/ticket_event/test_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing tests for record_check_in + summary CRUD
  backend/tests/api/ticket_event/test_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): ticket_event/crud.py with record_check_in + summary helpers
  backend/app/api/ticket_event/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): add failing HTTP API tests for POST /attendees/check-in/{code}
  backend/tests/api/attendee/test_http_check_in_post.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): shift check-in endpoint to POST + enriched TicketPublic with scan summary
  backend/app/alembic/versions/0045_ticket_events_log.py
  backend/app/api/attendee/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(portal): sync auto-generated next-env.d.ts
  portal/next-env.d.ts
Due: biome-check-portal

chore(portal,backoffice): manually update API types for ticket-as-first-class-entity
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

test(portal): RED — mergeAvailableAndPurchasedProducts attendee_category filter removal
  portal/src/providers/passesProvider.test.ts
Due: biome-check-portal

feat(portal): remove attendee_category filter from mergeAvailableAndPurchasedProducts
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal

test(portal): RED — TicketQRList per-ticket QR display with requires_check_in filter
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.test.tsx
Due: biome-check-portal

feat(portal): per-ticket QR display and per-ticket identity (Phase 7)
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.tsx
  portal/src/components/CompanionPasses.tsx
  portal/src/components/CompanionView.tsx
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/providers/passesProvider.tsx
  portal/src/types/Attendee.ts
Due: biome-check-portal

feat(backoffice): replace attendee_category with requires_check_in toggle in ProductForm
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(backoffice): per-ticket check_in_codes in ViewAttendee dialog + CSV export expansion
  backoffice/src/routes/_layout/attendees.test.tsx
  backoffice/src/routes/_layout/attendees.tsx
Due: biome-check-backoffice

feat(backoffice): add Scan Ticket route — POST check-in endpoint + TicketPublic display
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routes/_layout.tsx
  backoffice/src/routes/_layout/scan.test.tsx
  backoffice/src/routes/_layout/scan.tsx
Due: biome-check-backoffice

fix(backoffice): register scan route in routeTree.gen, fix CheckInPayload source field
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/scan.test.tsx
  backoffice/src/routes/_layout/scan.tsx
Due: biome-check-backoffice

style: fix biome import ordering and formatting in PR 2 changed files
  backoffice/src/routes/_layout/attendees.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/types/Attendee.ts
Due: biome-check-backoffice, biome-check-portal

test(backend): add failing test for requires_check_in in attendee_products response
  backend/tests/api/attendee/test_http_my_attendees_by_popup.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): expose requires_check_in on AttendeeProductPublic
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(frontend): add requires_check_in to AttendeeProductPublic in generated types
  backoffice/src/client/types.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal): propagate requires_check_in to ticket_entries and require strict === true for QR display
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.tsx
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal

chore: biome auto-format
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/routes/_layout/attendees.test.tsx
  backoffice/src/routes/_layout/scan.test.tsx
  backoffice/src/routes/_layout/scan.tsx
  portal/src/providers/passesProvider.test.ts
Due: biome-check-backoffice, biome-check-portal

test(backend): migrate tests to always-insert add_product semantics
  backend/tests/api/attendee/test_http_my_attendees_by_popup.py
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backoffice): rename start_date/end_date copy to Available from/until
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(backoffice): show requires_check_in toggle for all categories
  backoffice/src/components/forms/ProductForm.requires-check-in.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

test(backend): add failing test for max_per_order > total_stock_cap
  backend/tests/api/product/test_stock_cap_validator.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add cross-field validator max_per_order <= total_stock_cap
  backend/app/api/product/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): client-side validation max_per_order vs total_stock_cap
  backoffice/src/components/forms/ProductForm.cross-field.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

Revert "chore(backoffice): rename start_date/end_date copy to Available from/until"
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(backend): TicketEventListItem schema with attendee + product names
  backend/app/api/ticket_event/models.py
  backend/app/api/ticket_event/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GET /ticket-events endpoint with filters, pagination, and tenant scoping
  backend/app/alembic/versions/a3f9e1b2c4d7_ticket_events_rls.py
  backend/app/api/router.py
  backend/app/api/ticket_event/router.py
  backend/tests/api/ticket_event/test_http_list_ticket_events.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): type AttendeePublic.products as list[AttendeeProductPublic]
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/tests/api/attendee/test_get_attendee_products.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): type AttendeeListItem for list, AttendeeWithOriginPublic for detail dialog
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/attendees.test.tsx
  backoffice/src/routes/_layout/attendees.tsx
Due: biome-check-backoffice

chore(backoffice): delete /scan route (replaced by /check-in)
  backoffice/src/routes/_layout/scan.test.tsx
  backoffice/src/routes/_layout/scan.tsx
Due: biome-check-backoffice

feat(backoffice): /check-in scan history route with expandable rows and event type filter
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout.tsx
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
Due: biome-check-backoffice

chore(backoffice): apply biome formatting to ProductForm files
  backoffice/src/components/forms/ProductForm.cross-field.test.tsx
  backoffice/src/components/forms/ProductForm.requires-check-in.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

test(backend): RED — establish CHECK_IN_CONTROLLER fixtures
  backend/app/api/shared/enums.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): add role assertion test helpers
  backend/tests/_role_assertions.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): RED — scanner auth role tests (T4 + T6 + T9 + T12 + T17)
  backend/tests/test_scanner_auth_role.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): GREEN — add get_check_in_operator() and CurrentCheckInOperator (T5)
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk
