Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(sales-flows): add backoffice Sales Flows list and detail CRUD
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/forms/OverrideFieldRow.tsx
  backoffice/src/components/forms/SalesFlowForm.override.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
  backoffice/src/routes/_layout/sales-flows/index.tsx
  backoffice/src/routes/_layout/sales-flows/new.tsx
Due: biome-check-backoffice

fix(sales-flows): mask signing secret, seed overrides from inherited values, coerce empty overrides to null
  backoffice/src/components/forms/OverrideFieldRow.tsx
  backoffice/src/components/forms/SalesFlowForm.override.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
Due: biome-check-backoffice

feat(sales-flows): add nullable flow_id to applications and payments
  backend/app/alembic/versions/4e221ea1a2ee_add_flow_id_applications_payments.py
  backend/app/api/application/schemas.py
  backend/app/api/payment/schemas.py
  backend/tests/migrations/test_add_flow_id_applications_payments.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for payment sales_flow_id
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

@ refactor(checkout-sdk): move the Claude Code skill into checkout-core so all consumers get it
  packages/checkout-core/README.md
  packages/checkout-core/package.json
  packages/checkout-core/skills/building-edgeos-checkout/README.md
  packages/checkout-core/skills/building-edgeos-checkout/SKILL.md
  packages/checkout-core/skills/building-edgeos-checkout/api-contract.md
  packages/checkout-core/skills/building-edgeos-checkout/core-store-reference.md
  packages/checkout-core/skills/building-edgeos-checkout/example-checkout.tsx
  packages/checkout-core/skills/building-edgeos-checkout/example-vanilla.ts
  packages/checkout-core/skills/building-edgeos-checkout/hooks-reference.md
  packages/checkout-react/README.md
  packages/checkout-react/package.json
  packages/checkout-react/skills/building-edgeos-checkout/README.md
  packages/checkout-react/skills/building-edgeos-checkout/SKILL.md
Due: none

@ fix(migrations): merge dev referral and publishable-key alembic heads
  backend/app/alembic/versions/789b23407b33_merge_dev_referral_and_publishable_key_.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): auto-provision default sales_flow on popup creation
  backend/app/api/popup/crud.py
  backend/app/api/sales_flow/crud.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): re-key application uniqueness to (human, flow)
  backend/app/alembic/versions/e31496bde92c_rekey_application_uniqueness_to_flow.py
  backend/app/api/application/crud.py
  backend/app/api/application/models.py
  backend/app/api/application/router.py
  backend/tests/api/application/test_flow_scoped_duplicate_guard.py
  backend/tests/migrations/test_add_flow_id_applications_payments.py
  backend/tests/migrations/test_rekey_application_uniqueness_to_flow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

@ style(backoffice): satisfy biome ci on PublishableKeysSection
  backoffice/src/components/forms/PublishableKeysSection.tsx
Due: biome-check-backoffice

fix(sales-flows): make popup-level application lookup deterministic across flows
  backend/app/api/application/crud.py
  backend/tests/api/application/test_flow_scoped_duplicate_guard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): add nullable flow_id to form definitions
  backend/app/alembic/versions/597d9a2019ba_add_flow_id_form_definitions.py
  backend/tests/migrations/test_add_flow_id_form_definitions.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): evolve build_schema_for_popup into build_schema_for_flow
  backend/app/api/application/crud.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/base_field_config/models.py
  backend/app/api/base_field_config/schemas.py
  backend/app/api/checkout/crud.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/models.py
  backend/app/api/form_field/router.py
  backend/app/api/form_field/schemas.py
  backend/app/api/form_section/crud.py
  backend/app/api/form_section/schemas.py
  backend/tests/api/form_field/test_flow_scoped_schema.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for form sales_flow_id
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): add nullable flow_id to reviewers and approval strategies
  backend/app/alembic/versions/9bf2a7a71d10_add_flow_id_to_reviewers.py
  backend/app/api/approval_strategy/models.py
  backend/app/api/approval_strategy/schemas.py
  backend/app/api/popup_reviewer/models.py
  backend/app/api/popup_reviewer/schemas.py
  backend/tests/migrations/test_add_flow_id_reviewers.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): resolve approval strategy and reviewers through flow tri-state
  backend/app/api/application/crud.py
  backend/app/api/application_review/router.py
  backend/app/api/approval_strategy/crud.py
  backend/app/api/popup_reviewer/crud.py
  backend/app/api/popup_reviewer/router.py
  backend/app/api/sales_flow/crud.py
  backend/app/services/approval/calculator.py
  backend/tests/api/application_review/test_flow_scoped_approval.py
  backend/tests/api/approval_strategy/__init__.py
  backend/tests/api/approval_strategy/test_flow_scoped_resolution.py
  backend/tests/api/popup_reviewer/__init__.py
  backend/tests/api/popup_reviewer/test_flow_scoped_reviewers.py
  backend/tests/api/popup_reviewer/test_flow_scoped_router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for reviewer/strategy flow_id
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(sales-flows): enforce override reviewer membership on vote submission and make reviewer mode flips atomic
  backend/app/api/application_review/router.py
  backend/app/api/popup_reviewer/crud.py
  backend/app/api/sales_flow/crud.py
  backend/tests/api/application_review/test_flow_scoped_approval.py
  backend/tests/api/popup_reviewer/test_flow_scoped_reviewers.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): exclude stale votes after reviewer mode flips and guard flow mode transitions
  backend/app/api/popup_reviewer/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/services/approval/calculator.py
  backend/tests/api/application_review/test_flow_scoped_approval.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(invites): gate Add Invite on popup invites_enabled and clarify invites vs groups
  backoffice/src/routes/_layout/invites/index.tsx
Due: biome-check-backoffice

refactor(sales-flows): rename reviewer and strategy flow_id to sales_flow_id
  backend/app/alembic/versions/9bf2a7a71d10_add_flow_id_to_reviewers.py
  backend/app/api/approval_strategy/crud.py
  backend/app/api/approval_strategy/models.py
  backend/app/api/approval_strategy/schemas.py
  backend/app/api/popup_reviewer/crud.py
  backend/app/api/popup_reviewer/models.py
  backend/app/api/popup_reviewer/router.py
  backend/app/api/popup_reviewer/schemas.py
  backend/tests/api/application_review/test_flow_scoped_approval.py
  backend/tests/api/approval_strategy/test_flow_scoped_resolution.py
  backend/tests/api/popup_reviewer/test_flow_scoped_reviewers.py
  backend/tests/api/popup_reviewer/test_flow_scoped_router.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
  backend/tests/migrations/test_add_flow_id_reviewers.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(referrals): add explanatory alert and disabled-state notice on referrals page
  backoffice/src/routes/_layout/referrals/index.tsx
Due: biome-check-backoffice

feat(backoffice): add explanatory alerts to groups and coupons pages
  backoffice/src/routes/_layout/coupons/index.tsx
  backoffice/src/routes/_layout/groups/index.tsx
Due: biome-check-backoffice

feat(sales-flows): add flow-scoped ticketing steps with two-tier resolution
  backend/app/alembic/versions/96ca481168da_add_flow_id_to_ticketing_steps.py
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/models.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/ticketing_step/test_flow_scoped_router.py
  backend/tests/api/ticketing_step/test_flow_scoped_steps.py
  backend/tests/migrations/test_add_flow_id_to_ticketing_steps.py
  backend/tests/migrations/test_patron_product_rules_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): seed buyer step per flow type and align checkout runtime
  backend/app/api/checkout/crud.py
  backend/app/api/popup/router.py
  backend/app/api/ticketing_step/constants.py
  backend/app/core/db.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/ticketing_step/test_seed_ticketing_steps_flow_type.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for ticketing-step flow_id
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): wire FlowSelector into the ticketing-step builder
  backoffice/src/components/ticketing-step-builder/FlowSelector.tsx
  backoffice/src/components/ticketing-step-builder/NewStepPanel.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

fix(sales-flows): reject cross-popup flow assignment on ticketing step creation
  backend/app/api/ticketing_step/router.py
  backend/tests/api/ticketing_step/test_flow_scoped_router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): add flow-resolution contract (resolver.py)
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_resolver.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): make checkout runtime flow-aware via URL scheme
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/tests/api/checkout/test_bootstrap.py
  backend/tests/api/checkout/test_flow_scoped_runtime.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): accept an explicit flow on schema/ticketing-step endpoints
  backend/app/api/form_field/router.py
  backend/app/api/ticketing_step/router.py
  backend/tests/api/form_field/test_flow_scoped_schema_endpoints.py
  backend/tests/api/ticketing_step/test_flow_scoped_portal_endpoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): add portal sales-flow listing endpoint
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/tests/api/sales_flow/test_portal_flow_listing.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): accept explicit target flow and flow-aware duplicate messaging
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_flow_aware_application_target.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(clients): regenerate API clients for sales-flows URL scheme
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(sales-flows): add named-flow checkout route (D6 URL scheme)
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/[flowSlug]/page.tsx
  portal/src/app/checkout/[popupSlug]/hooks/useCheckoutRuntime.ts
  portal/src/lib/checkout-runtime.test.ts
  portal/src/lib/checkout-runtime.ts
  portal/src/lib/query-keys.ts
Due: biome-check-portal

feat(sales-flows): add portal FlowPicker for multi-flow applications
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/hooks/useApplicationSchema.test.ts
  portal/src/hooks/useApplicationSchema.ts
  portal/src/hooks/usePortalSalesFlows.test.ts
  portal/src/hooks/usePortalSalesFlows.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/form-data-splitter.test.ts
  portal/src/lib/form-data-splitter.ts
Due: biome-check-portal

fix(sales-flows): flow-aware application submit and redirect guards, collision-free runtime cache keys
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/lib/checkout-runtime.test.ts
  portal/src/lib/query-keys.ts
Due: biome-check-portal

fix(sales-flows): provision default flow in dev seed and harden slice 9 follow-ups
  backend/app/api/application/schemas.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/models.py
  backend/app/api/sales_flow/resolver.py
  backend/app/core/db.py
  backend/tests/core/test_seed_default_flow.py
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/FlowPicker.tsx
  portal/src/app/portal/[popupSlug]/application/lib/shouldRedirectToStatus.test.ts
  portal/src/app/portal/[popupSlug]/application/lib/shouldRedirectToStatus.ts
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

docs(sales-flows): correct stale uniqueness re-key comment on application schema
  backend/app/api/application/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): add flow tier to email_templates and email_logs schema
  backend/app/alembic/versions/66d0a714e001_add_flow_id_email_templates_and_logs.py
  backend/app/api/email_log/models.py
  backend/app/api/email_template/models.py
  backend/app/api/email_template/schemas.py
  backend/tests/migrations/test_add_flow_id_email_templates_and_logs.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flows): resolve email templates flow -> popup -> tenant
  backend/app/api/email_log/crud.py
  backend/app/api/email_template/crud.py
  backend/app/api/email_template/router.py
  backend/app/services/email/service.py
  backend/tests/api/email_template/__init__.py
  backend/tests/api/email_template/test_flow_scoped_email_templates.py
  backend/tests/services/test_email_flow_tier_resolution.py
Due: local-ruff-check, local-ruff-format, generate-sdk
