Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

refactor(portal): show only QR icon next to passes (no code text)
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.tsx
Due: biome-check-portal

feat(passes): inline per-ticket QR + category-aware rendering on /passes
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/tests/api/attendee/test_attendee_product_denormalization.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TicketQRList.tsx
  portal/src/app/portal/[popupSlug]/passes/utils/categoryDisplay.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
  portal/src/types/Attendee.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(passes): generalize /passes copy to be product-agnostic
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(passes): use payment snapshot for product name/category
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/api/attendee/test_attendee_product_snapshot.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(passes): deprecate attendee.check_in_code; use per-ticket codes
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/test_human_attendee_link.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/CompanionPasses.tsx
  portal/src/components/CompanionView.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(product): add sale window fields and derive_product_state (drop-tier-groups PR 1/4)
  backend/app/alembic/versions/a1b9c3d7e5f2_drop_tier_groups_use_sale_windows.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/router.py
  backend/app/api/checkout/crud.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/models.py
  backend/app/api/product/product_state.py
  backend/app/api/product/schemas.py
  backend/tests/api/attendee/test_attendee_product_denormalization.py
  backend/tests/api/popup/test_popup_crud.py
  backend/tests/api/product/test_product_crud.py
  backend/tests/api/product/test_product_state.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(alembic): chain migration 0045 off c5e9d3b2f8a0 to resolve dual heads
  backend/app/alembic/versions/a1b9c3d7e5f2_drop_tier_groups_use_sale_windows.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(product): delete tier_group/tier_phase code and drop legacy tables (drop-tier-groups PR 2/4)
  backend/app/alembic/versions/b2c4e6f8a1d3_drop_tier_tables_and_legacy_columns.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/schemas.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/__init__.py
  backend/app/api/product/crud.py
  backend/app/api/product/models.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/app/api/product/tier_progression.py
  backend/app/api/product/validators.py
  backend/app/api/router.py
  backend/tests/api/attendee/test_attendee_product_denormalization.py
  backend/tests/api/attendee/test_attendee_product_snapshot.py
  backend/tests/api/payment/test_integration_stock_lifecycle.py
  backend/tests/api/payment/test_stock_restoration.py
  backend/tests/api/product/test_product_crud_atomic.py
  backend/tests/api/product/test_resolve_tier_group.py
  backend/tests/api/product/test_stock_cap_validator.py
  backend/tests/api/product/test_tier_groups_api.py
  backend/tests/api/product/test_tier_progression.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(tests): drop tier_progression_enabled from popup migration test raw SQL
  backend/tests/api/popup/test_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backoffice): regen client and drop tier-group UI (drop-tier-groups PR 3/4)
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ProductForm.cross-field.test.tsx
  backoffice/src/components/forms/ProductForm.requires-check-in.test.tsx
  backoffice/src/components/forms/ProductForm.stock-fields.test.tsx
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/forms/TierGroupPicker.test.tsx
  backoffice/src/components/forms/TierGroupPicker.tsx
  backoffice/src/components/products/useProductImport.ts
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice

refactor(portal): regen client and drop tier-group + date-range UI (drop-tier-groups PR 4/4)
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductDay.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductTicket.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/CompanionPasses.tsx
  portal/src/components/CompanionView.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/common/ParticipationTickets.tsx
  portal/src/components/ui/QuantitySelector.tsx
  portal/src/helpers/tierPhaseState.ts
  portal/src/hooks/useProductsQuery.ts
  portal/src/lib/product-state.ts
  portal/src/types/Products.ts
Due: biome-check-portal

feat(portal): wire deriveProductState into PassSelectionSection (visual sale state badges)
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
Due: biome-check-portal

fix(portal): wire deriveProductState into VariantTicketSelect (the actual checkout renderer)
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

feat(checkout): gate ticket-select sections by attendee category
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/ticketing_step/__init__.py
  backend/tests/api/ticketing_step/test_template_config_validation.py
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.test.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/lib/attendee-category.test.ts
  portal/src/lib/attendee-category.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(applications): use _build_application_public on pending-review
  backend/app/api/application_review/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): multi-recipient approval emails + day-view fullscreen + venue UX
  backend/app/alembic/versions/0045_approval_emails_list.py
  backend/app/api/event_settings/router.py
  backend/app/api/event_settings/schemas.py
  backend/app/services/approval_notify.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm/ChipInput.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/settings.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/eventsViewState.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/new/page.tsx
  portal/src/app/portal/layout.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): owner can cancel event from portal detail page
  backend/app/api/event/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): show event creator card on backoffice edit page
  backoffice/src/routes/_layout/events/$eventId.edit.tsx
Due: biome-check-backoffice

feat(checkout): re-validate sale window on purchase
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(products): deprecate CSV product import
  backend/app/api/product/router.py
  backoffice/src/components/products/useProductImport.ts
  backoffice/src/routes/_layout/products/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(product): expose sale window as inclusive date across the stack
  backend/app/api/checkout/schemas.py
  backend/app/api/product/crud.py
  backend/app/api/product/product_state.py
  backend/app/api/product/router.py
  backend/app/api/product/sale_window.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_product_crud.py
  backend/tests/api/product/test_product_state.py
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/products/useProductImport.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/product-state.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): portal owners see their pending/rejected events
  backend/app/alembic/versions/0046_event_rejection_reason.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_events_approval.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/FilterToggleButtons.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): admin-chosen displayed host on event pages
  backend/app/alembic/versions/0047_event_host_display_name.py
  backend/app/api/event/schemas.py
  backend/app/api/human/router.py
  backend/app/api/human/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/components/HostDisplayField.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(backoffice): drop stray blank line in ProductForm
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(portal): flag already-scanned QR codes on attendee passes
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/check_in/crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/QRcode.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/relativeTime.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(portal): tint already-scanned QR indicator yellow instead of red
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/QRcode.tsx
Due: biome-check-portal

feat(popup): invalidate domain cache on status change for checkout tenants
  backend/app/api/popup/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tenant): resolve active popup and expose landing_mode on /by-domain
  backend/app/api/checkout/crud.py
  backend/app/api/tenant/router.py
  backend/tests/api/checkout/test_resolve_active_popup_slug.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tenant): add landing_mode enum, schema field, and migration
  backend/app/alembic/versions/e111414d5736_add_landing_mode_to_tenants.py
  backend/app/api/shared/enums.py
  backend/app/api/tenant/schemas.py
  backend/tests/api/tenant/test_landing_mode_enum.py
  backend/tests/api/tenant/test_landing_mode_migration.py
  backend/tests/api/tenant/test_tenant_schema_landing_mode.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): build slug-less checkout URLs for landing_mode=checkout
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_payment_url_landing_mode.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(test): align sold_out enforcement assertion with 422 from sale-window check
  backend/tests/api/product/test_enforcement_wiring.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): expose landing_mode and active_popup_slug on TenantPublic
  portal/src/client/types.gen.ts
Due: biome-check-portal

feat(portal): rewrite slug-less paths for landing_mode=checkout tenants
  portal/src/app/layout.tsx
  portal/src/providers/tenantProvider.tsx
  portal/src/proxy.test.ts
  portal/src/proxy.ts
  portal/vitest.setup.ts
Due: biome-check-portal

feat(portal): add branded coming-soon page for direct-checkout tenants
  portal/src/app/coming-soon/page.test.tsx
  portal/src/app/coming-soon/page.tsx
Due: biome-check-portal

feat(portal): hide /portal CTAs in direct-checkout mode
  portal/src/app/checkout/[popupSlug]/thank-you/page.test.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/page.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/success/page.test.tsx
  portal/src/app/checkout/success/page.tsx
Due: biome-check-portal

feat(backoffice): expose landing_mode and active_popup_slug on TenantPublic
  backoffice/src/client/types.gen.ts
Due: biome-check-backoffice

feat(backoffice): add landing_mode toggle to TenantForm
  backoffice/src/components/forms/TenantForm.landing-mode.test.tsx
  backoffice/src/components/forms/TenantForm.tsx
Due: biome-check-backoffice

Add self-service attendee check-in
  backend/app/alembic/versions/6c1d2e3f4a5b_add_self_check_in_enabled_to_popups.py
  backend/app/alembic/versions/7d8e9f0a1b2c_require_check_in_only_for_tickets.py
  backend/app/api/check_in/crud.py
  backend/app/api/check_in/router.py
  backend/app/api/check_in/schemas.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/models.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backoffice/package.json
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/lib/portal-urls.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/check-in.test.tsx
  backoffice/src/routes/_layout/check-in.tsx
  backoffice/vite.config.ts
  pnpm-lock.yaml
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/page.tsx
  portal/src/app/portal/[popupSlug]/check-in/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Authentication.tsx
  portal/src/lib/safe-return-to.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): brand-aware checkout polish — accent CTAs, lightbox, compact lang switcher
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/common/LanguageSwitcher.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
