Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(payments): address review findings from judgment-day batch-1
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_pending_release_return.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): show ended popups to participants in portal listing
  backend/app/api/popup/router.py
  backend/tests/api/popup/test_portal_ended_endpoint.py
  backend/tests/api/popup/test_portal_ended_visibility.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate SDK clients for recap-stats
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal/cart): extend open-cart snapshot with dynamicItems, promo_code and flushSave
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

feat(portal/checkout): pass openCartPopupSlug into CheckoutProvider
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
Due: biome-check-portal

feat(portal/checkout): release pending hold on mount and gate promo re-validation
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(portal): add recap i18n strings
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(portal): include ended popups in portal switcher
  portal/src/hooks/portalPopupList.test.ts
  portal/src/hooks/portalPopupList.ts
  portal/src/hooks/useGetPopups.ts
Due: biome-check-portal

feat(portal): lock application/passes tabs in ended popups
  portal/src/components/Sidebar/StatusResource/ResourceMenuItem.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResources.ts
Due: biome-check-portal

feat(portal): mark ended popups in switcher
  portal/src/components/Sidebar/PopupsMenu.tsx
Due: biome-check-portal

fix(portal/checkout): address review findings from judgment-day batch-2
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(portal): recap landing with stats for ended popups
  portal/src/app/portal/[popupSlug]/components/RecapLanding.test.tsx
  portal/src/app/portal/[popupSlug]/components/RecapLanding.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/hooks/useRecapStats.ts
  portal/src/lib/query-keys.ts
Due: biome-check-portal

feat(portal): guard form/passes and open events in ended popups
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
Due: biome-check-portal

fix(portal): scope recap to application popups, fix badge copy + stale comments
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/components/Sidebar/PopupsMenu.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(payments): address review findings B1-B4 — URL-safe migration secret, lock-contention test, auto-provision contract test, full-table NULL assertion
  backend/app/alembic/versions/849f058ee25f_backfill_open_checkout_signing_secret.py
  backend/tests/api/payment/test_pending_release_return.py
  backend/tests/migrations/test_backfill_open_checkout_signing_secret.py
  portal/src/hooks/checkout/useOpenCartPersistence.test.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

perf(backend): eliminate N+1 queries and move pagination to SQL
  backend/app/alembic/versions/fa4a726d54b8_add_attendees_email_index.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application_review/router.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/models.py
  backend/app/api/attendee/router.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_section/crud.py
  backend/app/api/form_section/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/application_review/test_pending_reviews.py
  backend/tests/api/attendee/test_list_by_application_pagination.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(recap): remove recap-stats endpoint and regen SDK clients
  backend/app/api/popup/crud.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_recap_stats.py
  backend/tests/api/popup/test_recap_stats_endpoint.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(recap): drop recap landing, ended popups show home card
  portal/src/app/portal/[popupSlug]/components/RecapLanding.test.tsx
  portal/src/app/portal/[popupSlug]/components/RecapLanding.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useRecapStats.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/lib/query-keys.ts
Due: biome-check-portal

fix(portal/checkout): insert first stepper add into cart in open checkout
  portal/src/hooks/checkout/useTicketsStep.ts
Due: biome-check-portal

fix(portal/housing): grid layout, single add affordance, and invalid nested buttons
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-portal

refactor(portal/checkout): unify ticket row add control and fix price block
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(portal/checkout): hide housing dates in summary when date picker is hidden
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

refactor(portal/checkout): drive nav active pill by layout instead of measurement
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

fix(portal/checkout): stop replaying the entrance animation on the above-fold section
  portal/src/components/checkout-flow/SnapSection.tsx
Due: biome-check-portal

fix(portal/checkout): stop calendar dates shifting a day across timezones
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(portal/checkout): theme rich-text typography and confirm-step error box
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/globals.css
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/variants/VariantRichText.tsx
Due: biome-check-portal

style(portal/checkout): wrap isDateOnly to satisfy biome line width
  portal/src/types/checkout.ts
Due: biome-check-portal

style(portal/checkout): drop unused QuantitySelector import
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
Due: biome-check-portal

fix(portal/checkout): portal lightbox to body to escape sold-out card opacity
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
Due: biome-check-portal

perf(backoffice/uploads): compress images client-side before presigned upload
  backoffice/src/hooks/useFileUpload.ts
  backoffice/src/lib/compress-image.ts
Due: biome-check-backoffice

fix(backend/uploads): key superadmin uploads under the active tenant folder
  backend/app/api/upload/router.py
  backend/tests/api/upload/__init__.py
  backend/tests/api/upload/test_presigned_url.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(backend/scripts): add in-place CDN image optimizer with backup and restore
  backend/scripts/optimize_cdn_images.py
Due: local-ruff-check, local-ruff-format, generate-sdk

perf(portal): serve webp only from the image optimizer
  portal/next.config.ts
Due: biome-check-portal

perf(portal/checkout): prefetch adjacent carousel and lightbox images
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
Due: biome-check-portal

feat(portal/checkout): SSR first paint for open checkout page
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/hooks/useCheckoutRuntime.ts
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/lib/checkout-runtime.ts
Due: biome-check-portal

fix(portal/checkout): encode slug and log SSR runtime degradation
  portal/src/app/checkout/[popupSlug]/layout.tsx
  portal/src/lib/checkout-runtime.test.ts
  portal/src/lib/checkout-runtime.ts
Due: biome-check-portal

test(portal/checkout): add unit tests for SSR checkout runtime
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.test.tsx
  portal/src/app/checkout/[popupSlug]/page.test.tsx
  portal/src/lib/checkout-runtime.test.ts
Due: biome-check-portal

refactor(portal/checkout): convert checkout layout to server component
  portal/src/app/checkout/components/providers/CheckoutClientShell.tsx
  portal/src/app/checkout/components/providers/Providers.tsx
  portal/src/app/checkout/layout.tsx
Due: biome-check-portal

test(backend): make portal-ended list test deterministic under shared DB
  backend/tests/api/popup/test_portal_ended_endpoint.py
Due: local-ruff-check, local-ruff-format, generate-sdk
