Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(backend): add phone/phone_country to humans
  backend/app/alembic/versions/70e815ed504e_add_phone_to_humans.py
  backend/app/api/human/schemas.py
  backend/tests/api/human/test_phone_field.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): thread phone through humans_crud.find_or_create
  backend/app/api/human/crud.py
  backend/tests/api/human/test_phone_field.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): capture buyer WhatsApp phone in open-ticketing purchase
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_purchase.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add resolveCheckoutShell helper
  portal/src/lib/checkout-shell.test.ts
  portal/src/lib/checkout-shell.ts
Due: biome-check-portal

feat(portal): extract deriveCheckoutSections shared helper
  portal/src/components/checkout-flow/deriveCheckoutSections.test.ts
  portal/src/components/checkout-flow/deriveCheckoutSections.ts
Due: biome-check-portal

feat(backoffice): allow marking popups as ended from the status select
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(portal): add unskinned StepperCheckoutFlow shell
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(portal): select checkout shell from theme_config.checkout_shell
  portal/src/components/checkout-flow/OpenCheckoutRuntime.shell.test.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

refactor(portal): select checkout shell by component to de-dup props
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
Due: biome-check-portal

feat(payments): add configurable SimpleFi success redirect behavior
  backend/app/alembic/versions/a8e3d7f4c2b9_popup_simplefi_success_behavior.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/schemas.py
  backend/app/api/shared/enums.py
  backend/app/services/simplefi/client.py
  backend/tests/test_simplefi_client_installments.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): add resolveCheckoutSkin helper
  portal/src/lib/checkout-skin.test.ts
  portal/src/lib/checkout-skin.ts
Due: biome-check-portal

chore(portal): add Amanita checkout skin assets
  portal/public/checkout-skins/amanita/artist-hero-bg-mobile.webp
  portal/public/checkout-skins/amanita/artist-hero-bg.webp
  portal/public/checkout-skins/amanita/btn-primary.webp
  portal/public/checkout-skins/amanita/btn-secondary-1.webp
  portal/public/checkout-skins/amanita/logo-fecha.webp
  portal/public/checkout-skins/amanita/logo-hongo.webp
  portal/public/checkout-skins/amanita/ornaments/bg-stars.webp
  portal/public/checkout-skins/amanita/ornaments/corner-bl.webp
  portal/public/checkout-skins/amanita/ornaments/corner-tr.webp
  portal/public/checkout-skins/amanita/ornaments/divider-1-dark.webp
  portal/public/checkout-skins/amanita/ornaments/divider-1.webp
  portal/public/checkout-skins/amanita/ornaments/divider-2.webp
  portal/public/checkout-skins/amanita/ornaments/flourish-left.svg
  portal/public/checkout-skins/amanita/ornaments/flourish-right.svg
  portal/public/checkout-skins/amanita/ornaments/star.svg
  portal/public/checkout-skins/amanita/sep-gem-bold.webp
  portal/public/checkout-skins/amanita/sep-gem-flourish.webp
  portal/public/checkout-skins/amanita/sep-gem-mid.webp
  portal/public/checkout-skins/amanita/sep-gem-thin.webp
  portal/public/checkout-skins/amanita/tercera-edicion.webp
Due: biome-check-portal

feat(portal): Amanita skin fonts + scoped design tokens
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
  portal/src/components/checkout-flow/skins/amanita/fonts.ts
Due: biome-check-portal

feat(portal): port Amanita skin primitives
  portal/src/components/checkout-flow/skins/amanita/AmanitaBackground.tsx
  portal/src/components/checkout-flow/skins/amanita/Gem.tsx
  portal/src/components/checkout-flow/skins/amanita/GoldStar.tsx
  portal/src/components/checkout-flow/skins/amanita/Ornaments.tsx
  portal/src/components/checkout-flow/skins/amanita/SectionShell.tsx
  portal/src/components/checkout-flow/skins/amanita/Stars.tsx
  portal/src/components/checkout-flow/skins/amanita/primitives.test.tsx
Due: biome-check-portal

feat(portal): apply Amanita chrome to stepper when skin=amanita
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBackground.tsx
Due: biome-check-portal

fix(portal): add missing Amanita hover CSS for pills/back button
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
Due: biome-check-portal

feat(backend): reject portal writes for ended popups
  backend/app/api/event/router.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_venue/router.py
  backend/app/api/popup/guards.py
  backend/tests/api/event/test_ended_popup_read_only.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): hide write affordances for ended popups
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(portal): send WhatsApp phone top-level in open-ticketing purchase
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

feat(portal): Amanita Tus Datos section with WhatsApp field
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

feat(portal): Amanita Confirm section
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(backend): extend ended-popup read-only guard to applications, attendees, groups, payments and carts
  backend/app/api/application/router.py
  backend/app/api/attendee/router.py
  backend/app/api/cart/router.py
  backend/app/api/group/router.py
  backend/app/api/payment/router.py
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/tests/api/popup/test_ended_popup_read_only_extended.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): surface ended-popup error on checkout payment submit
  portal/src/hooks/checkout/errorDispatch.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(portal): config-driven hero template
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantHero.test.tsx
  portal/src/components/checkout-flow/variants/VariantHero.tsx
Due: biome-check-portal

feat(portal): Amanita global FAQs drawer + pill nav details
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/FaqsDrawer.test.tsx
  portal/src/components/checkout-flow/skins/amanita/FaqsDrawer.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(portal): memoize FaqsDrawer onClose to stop focus churn
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(portal): Amanita catalog product cards over useTicketsStep
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
Due: biome-check-portal

feat(portal): route Amanita product steps to the Amanita catalog
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
  portal/src/components/checkout-flow/skins/amanita/SectionShell.tsx
Due: biome-check-portal

feat(backoffice): checkout shell + skin toggles in theme editor
  backoffice/src/components/forms/ThemeConfigForm.checkout-layout.test.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
Due: biome-check-backoffice

fix(portal): guard config before Amanita catalog to avoid null crash
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(checkout): forward checkout language to the success redirect
  backend/app/api/payment/crud.py
  backend/app/utils/checkout_signing.py
  backend/tests/api/checkout/test_purchase.py
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): support ASSET_PREFIX for CDN-served static chunks
  compose.yaml
  portal/Dockerfile
  portal/next.config.ts
Due: biome-check-portal

fix(portal): move ended-popup guard from passes page to layout
  portal/src/app/portal/[popupSlug]/passes/layout.test.tsx
  portal/src/app/portal/[popupSlug]/passes/layout.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
Due: biome-check-portal

fix(portal): serve /_next/static with CORS header at the origin
  portal/next.config.ts
Due: biome-check-portal

feat(api-keys): bind portal API keys to a single popup
  backend/app/alembic/versions/d4f7b2a9c1e6_api_key_popup_scope.py
  backend/app/api/api_key/crud.py
  backend/app/api/api_key/models.py
  backend/app/api/api_key/router.py
  backend/app/api/api_key/schemas.py
  backend/app/api/event/router.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_settings/router.py
  backend/app/api/event_venue/router.py
  backend/app/api/popup/guards.py
  backend/app/api/popup/router.py
  backend/app/api/track/router.py
  backend/app/core/security.py
  backend/tests/api/api_key/test_create_per_app_scopes.py
  backend/tests/api/api_key/test_third_party_scope_restriction.py
  backend/tests/test_api_key_policy.py
  backend/tests/test_portal_venue_crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/agentic-access/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): forward locale to SimpleFi checkout redirects
  portal/src/app/checkout/[popupSlug]/hooks/useOpenTicketingPurchase.ts
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/helpers/checkout.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

fix(i18n): make dynamic-translation overlay default-language-agnostic
  backend/app/api/popup/router.py
  backend/app/api/product/router.py
  backend/app/api/translation/service.py
  portal/src/lib/api-client.ts
  portal/src/lib/language-storage.ts
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(i18n): translate open-checkout runtime and ticketing steps
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/translation/service.py
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/lib/checkout-runtime.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(i18n): translate nested ticketing-step template_config content
  backend/app/api/checkout/crud.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/translation/service.py
  backoffice/src/components/translations/TranslationManager.tsx
  backoffice/src/components/translations/templateConfigLeaves.ts
  backoffice/src/hooks/useTranslations.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(i18n): AI-translate ticketing steps incl. nested config, add Icelandic
  backend/app/api/translation/router.py
  backend/app/api/translation/service.py
  backend/app/services/ai_translation.py
  backend/tests/api/translation/__init__.py
  backend/tests/api/translation/test_translation_service.py
  backoffice/src/components/translations/TranslationManager.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk
