Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(sales-flows): rename flows from the edit page
  backoffice/src/components/SalesFlows/RenameSalesFlowDialog.test.tsx
  backoffice/src/components/SalesFlows/RenameSalesFlowDialog.tsx
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

fix(portal): hide unlisted direct checkout CTA
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/components/Portal/DefaultPopupHome.tsx
Due: biome-check-portal

fix(email): expose flow scope for migrated templates
  backend/app/services/email/templates.py
  backend/tests/test_email_template_contracts.py
  backend/tests/test_tenant_login_email_templates.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(popups): add portal visibility setting
  backend/app/alembic/versions/f4b7c9d2e6a1_popup_visible_in_portal.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_portal_ended_endpoint.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/app/portal/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(payments): preserve open ticket recipient drafts
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_simple_quantity_recipient_contract.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(attendees): assign manual products without purchases
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/application/test_admin_grant_tickets.py
  backend/tests/api/application/test_fee_credit_paths.py
  backend/tests/api/attendee/test_swap_ticket_product.py
  backend/tests/api/payment/test_product_unit_grants.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Portal/DefaultPopupHome.tsx
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/lib/portal-sales-flows.test.ts
  portal/src/lib/portal-sales-flows.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): avoid unsaved changes warning after creation
  backoffice/src/components/forms/CreateForm.unsaved-changes.test.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/InviteForm.tsx
Due: biome-check-backoffice

fix(checkout-sdk): never call a buyer complete without the three base fields
  .gitignore
  packages/checkout-core/skills/building-edgeos-checkout/SKILL.md
  packages/checkout-core/skills/building-edgeos-checkout/api-contract.md
  packages/checkout-core/skills/building-edgeos-checkout/hooks-reference.md
  packages/checkout-core/src/store/store.test.ts
  packages/checkout-core/src/store/store.ts
Due: none

fix(checkout): serve a key on a non-primary flow by its normal rules
  backend/app/api/checkout/gate_quote.py
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/checkout/test_sdk_catalog.py
  packages/checkout-core/skills/building-edgeos-checkout/README.md
  packages/checkout-core/skills/building-edgeos-checkout/SKILL.md
  packages/checkout-core/skills/building-edgeos-checkout/api-contract.md
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show application fee payment details
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.test.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.test.ts
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(applications): filter by reviewer and review vote
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_review_vote_filters.py
  backend/tests/api/application/test_reviewer_options.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/applications/ApplicationFilterBuilder.test.tsx
  backoffice/src/components/applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/applications/reviewerGrouping.test.ts
  backoffice/src/components/forms/ReviewersManager.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): derive owned products from active entitlements
  backend/app/api/application/router.py
  backend/app/api/attendee/crud.py
  backend/tests/api/application/test_product_unit_consumer_semantics.py
  portal/src/hooks/useGetPurchases.test.ts
  portal/src/hooks/useGetPurchases.ts
  portal/src/providers/passesProvider.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(portal): update purchases query expectations
  portal/src/providers/passesProvider.flow.test.tsx
Due: biome-check-portal

fix(portal): show Referrals in the sidebar from the flow's switch
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/tests/api/invite/test_cross_popup_referrals.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useCanShareReferrals.ts
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.ended.test.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): avoid duplicate whitelist error message
  portal/src/app/checkout/hooks/useCheckoutState.ts
Due: biome-check-portal

fix(portal): show event visibility in list badge
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
Due: biome-check-portal

fix(backoffice): manage sales flow reviewers with styled confirmations
  backoffice/src/components/forms/ReviewersManager.tsx
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/forms/SalesFlowForm.visibility.test.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

fix(portal): align application multiselect styling and selection summary
  packages/shared-form-ui/src/components/Form/MultiSelectDetailedForm.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/fields/dynamic-field.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): show approved scholarship in checkout pricing
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/hooks/checkout/useCartSummary.scholarship.test.tsx
  portal/src/hooks/checkout/useTicketsStep.ts
  portal/src/lib/product-compare-price.test.ts
  portal/src/lib/product-compare-price.ts
  portal/src/providers/discountProvider.test.tsx
  portal/src/providers/discountProvider.tsx
  portal/src/strategies/PriceStrategy.test.ts
  portal/src/strategies/PriceStrategy.ts
Due: biome-check-portal

feat(referrals): support links into each eligible destination flow
  backend/app/alembic/versions/ea7c39d54f18_unique_attendee_link_per_flow.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/tests/api/invite/test_cross_popup_referrals.py
  backend/tests/api/link/test_portal_links.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/referrals/page.test.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.tsx
  portal/src/app/r/[code]/page.test.tsx
  portal/src/app/r/[code]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(products): reject blank product categories
  backend/app/alembic/versions/c82e1f4a39d7_products_category_not_blank.py
  backend/app/api/product/models.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_product_categories_query.py
  backend/tests/api/product/test_product_schemas.py
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

test(migrations): expect new product-category migration head
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(referrals): emphasize flow only for multi-flow gatherings
  portal/src/app/portal/[popupSlug]/referrals/page.test.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
Due: biome-check-portal

fix(referrals): explain why used links cannot be deleted
  portal/src/app/portal/[popupSlug]/referrals/page.test.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(ticketing): remap attendee categories when copying steps
  backend/app/api/ticketing_step/crud.py
  backend/tests/api/ticketing_step/test_copy_steps_to_flow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): keep referrals reachable on ended popups
  portal/src/app/portal/[popupSlug]/referrals/page.test.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(calendar): initialize views in the gathering timezone
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/calendarDate.test.tsx
  portal/src/app/portal/[popupSlug]/events/lib/calendarDate.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventTimezone.ts
Due: biome-check-portal

fix(events): cascade settings when deleting gatherings
  backend/app/alembic/versions/c6f1a8e4d2b7_cascade_popup_event_settings.py
  backend/app/api/event_settings/schemas.py
  backend/tests/api/popup/test_popup_event_settings.py
  backend/tests/migrations/test_cascade_popup_event_settings.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flows): align fresh checkout and flow access
  backend/app/api/sales_flow/router.py
  backend/app/api/ticketing_step/constants.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/forms/SalesFlowForm.visibility.test.tsx
  backoffice/src/components/forms/SalesFlowUrlCard.test.tsx
  backoffice/src/components/forms/SalesFlowUrlCard.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/UpsaleCheckoutRedirect.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): attendance modes and organizer roll call
  backend/app/alembic/versions/e3b7a91c5d20_event_attendance_modes.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_participant/attendance.py
  backend/app/api/event_participant/check_in.py
  backend/app/api/event_participant/check_in_crud.py
  backend/app/api/event_participant/models.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_participant/schemas.py
  backend/app/models.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_event_attendance_modes.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backend/tests/test_event_attendance.py
  backend/tests/test_event_participants.py
  backend/tests/test_event_qr_check_in.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventAttendanceCard.test.tsx
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/utils.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/check-in/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventAttendance.test.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventAttendance.tsx
  portal/src/app/portal/[popupSlug]/events/lib/readApiError.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(attendees): mark grant popup visible in portal
  backend/tests/api/application/test_admin_grant_tickets.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(attendees): persist portal visibility in fixture
  backend/tests/api/application/test_admin_grant_tickets.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(attendees): sort grant popup into portal list
  backend/tests/api/application/test_admin_grant_tickets.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(attendees): avoid portal list pagination dependency
  backend/tests/api/application/test_admin_grant_tickets.py
Due: local-ruff-check, local-ruff-format, generate-sdk

docs: remove CUSTOM_POPUP_HOME guide
  CUSTOM_POPUP_HOME.md
Due: none

feat(payments): improve filters export and table width
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/tests/api/payment/test_payment_list_search.py
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(directory): normalize privacy preferences when masking fields
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): support editing recurring occurrences
  backend/app/api/event/router.py
  backend/tests/test_detach_occurrence.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
