Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(checkout): make the ticketing step watermark translatable
  backend/app/api/translation/service.py
  backend/tests/api/translation/test_translation_service.py
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): fill Amanita card art and standardize card height
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
Due: biome-check-portal

fix(checkout): unify the Amanita confirm empty-state wording
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(checkout): space the Amanita WhatsApp country select chevron
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

fix(checkout): give Amanita scroll surfaces a thin scrollbar
  portal/src/components/checkout-flow/skins/amanita/amanita-skin.css
Due: biome-check-portal

fix(portal): apply an in-session language switch without a refresh
  portal/src/lib/api-client.ts
  portal/src/lib/language-storage.ts
  portal/src/providers/languageProvider.tsx
Due: biome-check-portal

fix(payments): gate sweeper installment approval on paid cuota, drop email
  backend/app/services/pending_payment_sweeper.py
  backend/app/services/simplefi/client.py
  backend/tests/api/payment/test_pending_hold_pr3_sweeper.py
  backend/tests/test_simplefi_cancel_methods.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): show the service fee only on the confirm step
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(checkout): remove items from the confirm order list, show per-unit quantity
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaConfirmSection.tsx
Due: biome-check-portal

fix(checkout): count total units, not distinct lines, in the cart badge
  portal/src/hooks/checkout/useCartSummary.ts
Due: biome-check-portal

fix(checkout): persist the open-checkout cart and buyer form across a reload
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(checkout): make the hero edition line free translatable text
  backend/app/api/translation/service.py
  backend/tests/api/translation/test_translation_service.py
  backoffice/src/components/ticketing-step-builder/template-configs/HeroConfig.tsx
  backoffice/src/components/translations/templateConfigLeaves.ts
  portal/src/components/checkout-flow/variants/VariantHero.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): keep the Amanita phone field digits-only and length-capped
  portal/src/components/checkout-flow/skins/amanita/AmanitaBuyerStep.tsx
Due: biome-check-portal

fix(payments): confirm installment payment on first cuota
  backend/app/api/payment/router.py
  backend/tests/test_installment_webhooks.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): logo EdgeOS wordmark en lugar del de simplefi
  backoffice/index.html
  backoffice/package.json
  backoffice/public/assets/images/edgeos-mark.svg
  backoffice/public/assets/images/favicon.png
  backoffice/src/components/Common/AuthLayout.tsx
  backoffice/src/components/Common/Logo.tsx
  backoffice/src/index.css
  pnpm-lock.yaml
Due: biome-check-backoffice

fix(portal/checkout): invalidate application credit on pending hold release
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(checkout): scroll to top when the stepper changes step
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

fix(backoffice): hide product slug field in product form
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(portal/checkout): auto-scroll active pill into view in stepper navbar
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
Due: biome-check-portal

feat(portal): remove my collectibles button from profile
  portal/src/assets/images/poap_1.png
  portal/src/assets/images/poap_2.png
  portal/src/assets/lotties/poap_lottie.json
  portal/src/components/profile/HeaderProfile.tsx
  portal/src/hooks/useGetPopups.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(backoffice): unify ticketing steps into master-detail checkout builder
  backoffice/src/components/ticketing-step-builder/AddStepDialog.tsx
  backoffice/src/components/ticketing-step-builder/NewStepPanel.tsx
  backoffice/src/components/ticketing-step-builder/SortableStepCard.tsx
  backoffice/src/components/ticketing-step-builder/StepCanvas.tsx
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.tsx
  backoffice/src/components/ticketing-step-builder/TemplatePicker.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

refactor(backoffice): restructure step detail content-first
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/ConfirmStepFields.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepContentSection.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepDisplaySettings.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIdentityHeader.tsx
Due: biome-check-backoffice

refactor(backoffice): make every step detail section collapsible
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/CollapsibleSection.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/ConfirmStepFields.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepContentSection.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepDisplaySettings.tsx
Due: biome-check-backoffice

refactor(backoffice): extract useListReorder for template-config dnd
  backoffice/src/components/ticketing-step-builder/template-configs/FaqItemsEditor.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/ImageGalleryConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/useListReorder.ts
Due: biome-check-backoffice

refactor(backoffice): collapsible ticket section cards with multi-add
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
Due: biome-check-backoffice

feat(backoffice): master-detail editor for ticket sections
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/MealPlanSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionEditor.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionEditor.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionRailRow.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionsEditor.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/sectionTypes.ts
Due: biome-check-backoffice

refactor(backoffice): widen section-based step detail and rebalance editor
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionEditor.tsx
Due: biome-check-backoffice

refactor(backoffice): make assigned products unambiguous in section editor
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionEditor.tsx
Due: biome-check-backoffice

refactor(backoffice): fold step-level appearance pickers into a group
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketCardConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
Due: biome-check-backoffice

feat(backoffice): search and scroll in section product picker
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionEditor.tsx
Due: biome-check-backoffice

refactor(backoffice): hide section rail thumbnail when template has no media
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionRailRow.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/sections/SectionsEditor.tsx
Due: biome-check-backoffice

feat(backoffice/popups): warn on save when active popup isn't launch-ready
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/popupLaunchChecklist.ts
  backoffice/src/hooks/useCustomToast.ts
Due: biome-check-backoffice

feat(capi): only emit Purchase event when order contains a ticket product
  backend/app/services/meta_capi.py
  backend/tests/test_meta_capi.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(humans): tenant-scope human_comments with RLS
  backend/app/alembic/versions/dd2e0f642142_human_comments_tenant_id_rls.py
  backend/app/api/human/activity_crud.py
  backend/app/api/human/models.py
  backend/app/api/human/router.py
  backend/tests/api/human/test_credit_activity.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(humans): redesign profile page as read-first
  backoffice/src/components/Humans/DeclaredFieldsCard.tsx
  backoffice/src/components/Humans/HumanApiKeysCard.tsx
  backoffice/src/components/Humans/HumanProfileEditForm.tsx
  backoffice/src/components/Humans/HumanRatingControl.tsx
  backoffice/src/components/Humans/humanFields.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/humans/$id.edit.tsx
  backoffice/src/routes/_layout/humans/$id.tsx
  backoffice/src/routes/_layout/humans/index.tsx
Due: biome-check-backoffice

fix(backoffice): logo wordmark siempre blanco en sidebar independiente del tema
  backoffice/src/components/Common/Logo.tsx
Due: biome-check-backoffice

fix(applications): grant credit only to accepted applications
  backend/app/api/application/router.py
  backend/tests/api/application/test_credit_grant_endpoint.py
  backoffice/src/components/ApplicationDetail.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): reviews, comments, rating and dynamic columns
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/human/crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/Common/DataTable.tsx
  backoffice/src/components/applications/ApplicationsViewSwitcher.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(attendees): redesign detail page around ticket assignment
  backoffice/src/components/Attendees/ManageAttendeeProducts.tsx
  backoffice/src/routes/_layout/attendees/$attendeeId.tsx
Due: biome-check-backoffice

feat(applications): surface an application's payments in its detail
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/routes/_layout/payments.helpers.ts
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
