Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

test(events): assert add-to-calendar export UID matches the iTIP UID
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): hide visibility/tenant scoping from non-superadmins
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
Due: biome-check-backoffice

feat(events): event collaborators across backend, portal and backoffice
  backend/app/alembic/versions/a7f3c2d8e1b4_event_collaborator_ids.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_collaborators.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/useEditEventForm.ts
  portal/src/app/portal/[popupSlug]/events/components/CollaboratorsField.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): add a Tracks section to the portal events area
  portal/src/app/portal/[popupSlug]/events/lib/usePopupTracks.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/tracks/page.tsx
  portal/src/components/Sidebar/hooks/useBreadcrumbNameMapping.ts
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
Due: biome-check-portal

feat(events): land on the next upcoming event when opening the portal
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
Due: biome-check-portal

fix(dashboard): report net revenue by category so it reconciles with total revenue
  backend/app/api/dashboard/router.py
  backend/tests/test_dashboard.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): allow host and collaborators to edit events from the portal
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/eventPermissions.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

fix(migration): rewrite _backfill_legacy() to match real EE26 prod data taxonomy
  backend/app/alembic/versions/bfaabd563367_groups_rework.py
  backend/tests/migrations/test_groups_rework_backfill_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(tasks): scope superadmin board to active workspace tenant
  backend/app/api/task/crud.py
  backend/app/api/task/router.py
  backend/tests/api/task/test_task_access.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(client): regenerate OpenAPI client for groups-rework endpoints (T-gr-049)
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal): PR-9a groups-rework portal frontend
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/invite/[token]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/invite/[token]/page.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(backoffice): add invites/referrals CRUD routes and group/popup flags (PR-9b)
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/invites/$inviteId/edit.tsx
  backoffice/src/routes/_layout/invites/index.tsx
  backoffice/src/routes/_layout/invites/new.tsx
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
Due: biome-check-backoffice

feat(tasks): archive tasks individually and bulk-archive published
  backend/app/alembic/versions/c9e4a1b7d260_task_archived_at.py
  backend/app/api/task/crud.py
  backend/app/api/task/models.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/test_task_archive.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/useTaskArchive.ts
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(events): show private/unlisted events to host and collaborators in portal listings
  backend/app/api/event/router.py
  backend/tests/test_event_collaborators.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): fall back to email for nameless collaborator chips in backoffice
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_collaborators.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): status filter + sortable list columns
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/routes/_layout/tasks/index.tsx
Due: biome-check-backoffice

fix(events): filter My events server-side so managed events past the page limit show
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_collaborators.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/usePopupTracks.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): visibility reminder under the event create/save button
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VisibilityHint.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/i18n/locales/en.json
Due: biome-check-portal

fix(events): filter My events server-side so managed events past the page limit show (#285)
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/test_event_collaborators.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/usePopupTracks.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(tasks): add an optional App field (portal | backoffice)
  backend/app/alembic/versions/d1f6b8a3c925_task_app.py
  backend/app/api/task/models.py
  backend/app/api/task/schemas.py
  backend/tests/api/task/test_task_access.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/taskMeta.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): freeze the events filters bar on scroll (list & calendar)
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(backoffice): filter the attendees list by category
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/tests/api/attendee/test_find_by_popup_filters.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/attendees/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): keep the day grid hour column pinned on horizontal scroll
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
Due: biome-check-portal

feat(events): subscribe to / download a calendar of all public events
  backend/app/api/event/router.py
  backend/tests/test_public_calendar_ics.py
  portal/src/app/portal/[popupSlug]/events/lib/SubscribeCalendarButton.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): match full name in the attendee directory search
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Integrate pending portal/backoffice work into dev (#286)
  backend/app/alembic/versions/c9e4a1b7d260_task_archived_at.py
  backend/app/alembic/versions/d1f6b8a3c925_task_app.py
  backend/app/api/application/crud.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/event/router.py
  backend/app/api/task/crud.py
  backend/app/api/task/models.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/tests/api/application/test_attendee_directory.py
  backend/tests/api/attendee/test_find_by_popup_filters.py
  backend/tests/api/task/test_task_access.py
  backend/tests/api/task/test_task_archive.py
  backend/tests/test_public_calendar_ics.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/taskMeta.ts
  backoffice/src/components/Tasks/useTaskArchive.ts
  backoffice/src/routes/_layout/attendees/index.tsx
  backoffice/src/routes/_layout/tasks/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VisibilityHint.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/SubscribeCalendarButton.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/i18n/locales/en.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate backoffice client for the merged backend
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
Due: biome-check-backoffice

fix(events): make iTIP calendar sync reliable
  backend/app/api/event/router.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(events): make iTIP calendar sync reliable (#287)
  backend/app/api/event/router.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(meal-plan): edit purchased meal-plan choices for future weeks
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/ticketing_step/meal_plan.py
  backend/tests/api/attendee/test_meal_plan_edit.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/MealPlanEditModal.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/components/checkout-flow/variants/mealPlanShared.test.ts
  portal/src/components/checkout-flow/variants/mealPlanShared.tsx
  portal/src/hooks/useUpdateMealPlanTicket.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(events): filter My events server-side so managed events past the page limit show (#285) (#289)
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-portal

Release v1.18.0 (#290)
  backend/app/alembic/versions/c9e4a1b7d260_task_archived_at.py
  backend/app/alembic/versions/d1f6b8a3c925_task_app.py
  backend/app/api/application/crud.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/event/router.py
  backend/app/api/task/crud.py
  backend/app/api/task/models.py
  backend/app/api/task/router.py
  backend/app/api/task/schemas.py
  backend/app/services/event_itip.py
  backend/app/services/ical.py
  backend/tests/api/application/test_attendee_directory.py
  backend/tests/api/attendee/test_find_by_popup_filters.py
  backend/tests/api/task/test_task_access.py
  backend/tests/api/task/test_task_archive.py
  backend/tests/test_event_itip.py
  backend/tests/test_public_calendar_ics.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Tasks/TaskCard.tsx
  backoffice/src/components/Tasks/TaskDialog.tsx
  backoffice/src/components/Tasks/columns.tsx
  backoffice/src/components/Tasks/taskMeta.ts
  backoffice/src/components/Tasks/useTaskArchive.ts
  backoffice/src/routes/_layout/attendees/index.tsx
  backoffice/src/routes/_layout/tasks/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VisibilityHint.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/SubscribeCalendarButton.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(meal-plan): edit purchased meal-plan choices for future weeks (#291)
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/attendee/schemas.py
  backend/app/api/ticketing_step/meal_plan.py
  backend/tests/api/attendee/test_meal_plan_edit.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/MealPlanEditModal.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/components/checkout-flow/variants/mealPlanShared.test.ts
  portal/src/components/checkout-flow/variants/mealPlanShared.tsx
  portal/src/hooks/useUpdateMealPlanTicket.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(popup): allow groups-rework feature flags in PopupUpdate PATCH schema
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(referral): add admin GET /admin/referrals/{id} detail endpoint
  backend/app/api/referral/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(groups): admin member management + whitelist back-resolve
  backend/app/api/group/crud.py
  backend/app/api/group/router.py
  backend/app/api/human/crud.py
  backend/tests/api/group/test_members_by_application.py
  backend/tests/api/group/test_whitelist_hook.py
  backoffice/src/components/groups/GroupMembersSection.tsx
  backoffice/src/routes/_layout/groups/$id.edit.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(groups): render members section between form and danger zone
  backoffice/src/components/forms/GroupForm.tsx
  backoffice/src/routes/_layout/groups/$id.edit.tsx
Due: biome-check-backoffice

feat(groups): show group membership in portal for members + role badge
  backend/app/api/group/crud.py
  backend/app/api/group/router.py
  backend/app/api/group/schemas.py
  backend/tests/api/group/test_my_groups_membership.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MemberItem.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/MembersList.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/Groups.tsx
  portal/src/hooks/useGetGroup.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(groups): copy-link for invites/groups in backoffice + reachable referrals nav in portal
  backoffice/src/components/Common/CopyLinkButton.tsx
  backoffice/src/lib/portal-urls.ts
  backoffice/src/routes/_layout/groups/$id.edit.tsx
  backoffice/src/routes/_layout/groups/index.tsx
  backoffice/src/routes/_layout/invites/$inviteId/edit.tsx
  backoffice/src/routes/_layout/invites/index.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-backoffice, biome-check-portal

fix(referrals): expose popup flags in PopupPublic + remove legacy referral UI
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/profile/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
