Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat(events): scope RSVPs to occurrences and show series participants
  backend/app/api/event/occurrence.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event/series.py
  backend/app/api/event/series_schemas.py
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/presentation.py
  backend/app/api/event_participant/router.py
  backend/tests/test_event_occurrence_context.py
  backend/tests/test_event_series_summary.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventAttendanceCard.test.tsx
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.test.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.tsx
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(security): isolate scanner tenant checks from pagination
  backend/tests/api/popup/test_check_in_privacy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(directory): include ticket grants without applications
  backend/app/api/application/crud.py
  backend/tests/api/application/test_attendee_directory_primary_flow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(security): restrict popup configuration to administrative JWTs
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/core/dependencies/users.py
  backend/tests/api/popup/test_check_in_privacy.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(events): focus occurrence participants on backoffice presentation
  backend/app/api/event/occurrence.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event/series.py
  backend/app/api/event/series_schemas.py
  backend/app/api/event_participant/crud.py
  backend/app/api/event_participant/presentation.py
  backend/app/api/event_participant/router.py
  backend/scripts/README.rsvp-validation.md
  backend/scripts/rsvp_validation.nginx.conf
  backend/scripts/rsvp_validation.py
  backend/tests/test_event_occurrence_context.py
  backend/tests/test_event_series_summary.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/events/EventAttendanceCard.test.tsx
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.test.tsx
  backoffice/src/components/events/OtherSeriesOccurrences.tsx
  backoffice/src/components/events/occurrenceParticipants.test.ts
  backoffice/src/components/events/occurrenceParticipants.ts
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): align occurrence rosters and summarize unlisted attendees
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.test.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalParticipants.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/fetchAllPortalParticipants.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): mobile layout fixes for header and portal pages
  portal/src/app/portal/[popupSlug]/attendees/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/summarizeRrule.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/summarizeRrule.ts
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/components/Sidebar/BreadcrumbSegment.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/profile/HeaderProfile.tsx
Due: biome-check-portal

chore(api): regenerate release clients without badges
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(checkout): block payment until flow settings are available
  portal/src/components/checkout-flow/CheckoutConfigError.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(badges): give a badge to many people from its page
  backend/app/api/badge/router.py
  backend/app/api/badge/schemas.py
  backend/tests/api/badge/test_badges.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/GiveBadgeDialog.tsx
  backoffice/src/components/Badges/IssuerPolicies.tsx
  backoffice/src/routes/_layout/badges/$id.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(ui): preserve readable spacing between description paragraphs
  backoffice/src/MarkdownContent.test.tsx
  backoffice/src/index.css
  packages/shared-form-ui/src/components/MarkdownContent.tsx
  portal/src/app/globals.css
Due: biome-check-backoffice, biome-check-portal

feat(portal): make giving badges from the directory easier to find
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/GiveableBadgesBanner.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/Table/Header.tsx
  portal/src/components/badges/BadgeStack.tsx
  portal/src/components/badges/SendBadgeDialog.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(badges): turn badges on per popup
  backend/app/alembic/versions/b3e8d1f5a2c7_popup_badges_enabled_flag.py
  backend/app/api/badge/router.py
  backend/app/api/badge/rules.py
  backend/app/api/popup/schemas.py
  backend/tests/api/badge/test_badge_rules.py
  backend/tests/api/badge/test_issuer_policies.py
  backend/tests/migrations/test_backfill_popup_event_settings.py
  backend/tests/migrations/test_cascade_popup_event_settings.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_event_attendance_modes.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_restore_companion_categories.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Badges/BadgeRules.tsx
  backoffice/src/components/Badges/BadgesOffNotice.tsx
  backoffice/src/components/Badges/IssuerPolicies.tsx
  backoffice/src/components/Badges/rules/ConditionEditor.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/badges/$id.tsx
  backoffice/src/routes/_layout/badges/index.tsx
  backoffice/src/routes/_layout/badges/new.tsx
  backoffice/src/routes/_layout/popups/$id.edit.tsx
  portal/src/app/portal/[popupSlug]/attendees/components/AttendeesTable.tsx
  portal/src/app/portal/profile/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): allow ticket holders into events
  portal/src/app/portal/[popupSlug]/events/layout.test.tsx
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/hooks/useResources.permissions.test.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

fix(directory): include granted tickets with pending applications
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory.py
  backend/tests/api/application/test_attendee_directory_primary_flow.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): route granted tickets through primary flow
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/components/EventsApiAccessGate.test.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/hooks/usePortalPrimarySalesFlow.ts
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.ended.test.tsx
  portal/src/hooks/useResources.permissions.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/lib/portal-sales-flows.test.ts
  portal/src/lib/portal-sales-flows.ts
Due: biome-check-portal

fix(portal): allow ticket holders into primary checkout
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
Due: biome-check-portal

fix(portal): honor ticket grants across portal routes
  portal/src/app/portal/[popupSlug]/application/page.test.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useBuyTicketsHref.ts
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/components/EventsApiAccessGate.test.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/components/Portal/DefaultPopupHome.tsx
  portal/src/hooks/useResources.permissions.test.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

test(portal): type ticket access fixture sources
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
Due: biome-check-portal

fix(checkout): preserve ticket segments without applications
  portal/src/components/checkout-flow/shared/TicketRecipientControls.tsx
  portal/src/hooks/checkout/ticketSections.test.ts
  portal/src/hooks/checkout/ticketSections.ts
Due: biome-check-portal

test(checkout): complete buyer recipient fixtures
  portal/src/hooks/checkout/ticketSections.test.ts
Due: biome-check-portal

fix(event): honor venue closed exceptions
  backend/app/api/event/router.py
  backend/tests/test_venue_availability.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(event): skip recurring occurrences on venue closures
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event/series.py
  backend/app/api/event_participant/router.py
  backend/tests/test_event_crud.py
  backend/tests/test_venue_availability.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(calendar): support public view links and popup-aware initial dates
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/tests/api/event/test_public_calendar_navigation.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  docs/public-calendar-embed.md
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.test.tsx
  portal/src/app/[popupSlug]/calendar/PublicCalendarClient.tsx
  portal/src/app/[popupSlug]/calendar/page.tsx
  portal/src/app/[popupSlug]/calendar/publicCalendarState.test.ts
  portal/src/app/[popupSlug]/calendar/publicCalendarState.ts
  portal/src/app/[popupSlug]/calendar/usePublicCalendarEvents.test.ts
  portal/src/app/[popupSlug]/calendar/usePublicCalendarEvents.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(calendar): add safe local QA fixtures and browser validation notes
  backend/scripts/seed_public_calendar_qa.py
  docs/public-calendar-embed.md
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(calendar): remove temporary local QA fixtures and instructions
  backend/scripts/seed_public_calendar_qa.py
  docs/public-calendar-embed.md
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): let the owner delete an event from the portal
  backend/app/api/event/router.py
  backend/tests/api/event/test_portal_event_delete.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): refresh the event detail after saving an edit
  backoffice/src/components/events/EventAttendanceCard.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/venues/$venueId.schedule.tsx
Due: biome-check-backoffice

fix(backoffice): show event host in detail view
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
Due: biome-check-backoffice

fix(backoffice): show event host in detail view (#748)
  backoffice/src/routes/_layout/events/$eventId.test.tsx
  backoffice/src/routes/_layout/events/$eventId.tsx
Due: biome-check-backoffice
