Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(portal): render application form sections by kind
  packages/shared-form-ui/src/index.ts
  packages/shared-form-ui/src/types.ts
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/types/form-schema.ts
Due: biome-check-portal

feat(backoffice): remove + add base fields in the form builder
  backoffice/src/components/form-builder/CanvasField.tsx
  backoffice/src/components/form-builder/CatalogDialog.tsx
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/form-builder/constants.ts
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice

fix(base-fields): gate configs and sections by current popup flags
  backend/app/alembic/versions/c3b8a7d5e9f1_backfill_kind_by_label.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/form_section/router.py
  backend/app/core/db.py
  backoffice/src/components/form-builder/CatalogDialog.tsx
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(popup): make re-enable of companions/scholarship idempotent
  backend/app/api/base_field_config/crud.py
  backend/app/api/popup/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): hide empty protected sections in the form builder
  backoffice/src/routes/_layout/form-builder/index.tsx
Due: biome-check-backoffice

refactor(portal): useApplicationForm uses section.kind and owns scholarship validation
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
Due: biome-check-portal

refactor(portal): replace `as string`/`as boolean` casts with typed helpers
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/form-values.ts
Due: biome-check-portal

refactor(portal): split DynamicApplicationForm into focused hooks and pieces
  portal/src/app/portal/[popupSlug]/application/components/application-fee-notice.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-companions-state.ts
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
Due: biome-check-portal

feat(application-form): per-popup layout (single page vs multi-step)
  backend/app/alembic/versions/e6a1d9b4c7f2_add_application_layout_to_popups.py
  backend/app/api/popup/schemas.py
  backend/app/api/shared/enums.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/form-builder/index.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/hooks/use-application-form.ts
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): simplify checkout background to express_checkout_background or portal bg
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/success/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/lib/background-image.ts
Due: biome-check-portal

feat(portal): design-token theme system (mode + primary/secondary/accent)
  portal/src/app/globals.css
  portal/src/providers/themeProvider.tsx
Due: biome-check-portal

feat(backoffice): dedicated /theme route with design-token form
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview/ExpandPreviewDialog.tsx
  backoffice/src/components/forms/ThemePreview/constants.ts
  backoffice/src/components/forms/ThemePreview/themeExpand.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/theme/index.tsx
Due: biome-check-backoffice

feat(backend): ticket tier groups foundation
  backend/app/alembic/versions/383a07c89142_ticket_tier_groups.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/models.py
  backend/app/api/product/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): ticket tier progression service, API, and shared stock
  backend/app/api/payment/crud.py
  backend/app/api/product/__init__.py
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/app/api/product/tier_progression.py
  backend/app/api/router.py
  backend/tests/api/product/test_product_insurance.py
  backend/tests/api/product/test_product_insurance_percentage_removed.py
  backend/tests/api/product/test_tier_groups_api.py
  backend/tests/api/product/test_tier_progression.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI clients for ticket tier progression endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backend): enrich product list endpoints with tier fields
  backend/app/api/product/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate clients for enriched product list endpoints
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): tier group authoring in product form and ticket step
  backoffice/package.json
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/forms/TierGroupPicker.test.tsx
  backoffice/src/components/forms/TierGroupPicker.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/test-setup.ts
  backoffice/tsconfig.build.json
  backoffice/vitest.config.ts
  pnpm-lock.yaml
Due: biome-check-backoffice

feat(portal): render tier groups as single card with phase progression
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/hooks/useProductsQuery.ts
  portal/src/types/Products.ts
Due: biome-check-portal

feat(backoffice): popup settings toggle for tier progression
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat: auto-order tier phases and surface phase state end-to-end
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_tier_groups_api.py
  backoffice/src/routes/_layout/products/index.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/helpers/tierPhaseState.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate clients after dropping tier phase order input
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): remove phase order field from product form
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
Due: biome-check-backoffice

feat(portal): hide edit/delete options for main attendee in passes
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
Due: biome-check-portal

feat: add upgrade and downgrade functions for product soft delete and category normalization; modify payment and product CRUD operations
  backend/app/alembic/versions/1659fd142f0a_products_soft_delete.py
  backend/app/alembic/versions/b3d7f2a9e1c8_normalize_product_category_lowercase.py
  backend/app/api/payment/crud.py
  backend/app/api/product/crud.py
  backend/app/api/product/models.py
  backend/app/api/product/router.py
  backend/app/core/db.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/TierGroupPicker.test.tsx
  backoffice/src/components/forms/TierGroupPicker.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  backoffice/src/routes/_layout/theme/index.tsx
  backoffice/tsconfig.build.json
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backend): only create ambassador group when a patreon product is purchased
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(migrate): modify run_import function for improved data migration
  backend/scripts/migrate_from_source.py
Due: local-ruff-check, local-ruff-format, generate-sdk

add: footer design pill
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

feat(theme): update theme configuration and variables for improved styling
  backoffice/src/components/forms/ThemeConfigForm.tsx
  backoffice/src/components/forms/ThemePreview/themeExpand.ts
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/globals.css
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
  portal/src/providers/themeProvider.tsx
Due: biome-check-backoffice, biome-check-portal

fix(checkout): modify ScrollyCheckoutFlowInner function for improved functionality
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

fix(portal): remove static favicon.ico so tenant icon_url applies
  portal/src/app/favicon.ico
Due: biome-check-portal

fix(portal): pill nav contrast for completed checkout sections
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
Due: biome-check-portal

fix(portal): collapse section header spacing when watermark is disabled
  portal/src/components/checkout-flow/SectionHeader.tsx
Due: biome-check-portal

chore(portal): apply biome auto-format
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/app/portal/profile/page.tsx
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/components/checkout-flow/steps/HousingStep.tsx
  portal/src/components/checkout-flow/steps/MerchSection.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantFaqs.tsx
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/components/checkout-flow/variants/VariantMerchImage.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/components/checkout-flow/variants/VariantYouTubeVideo.tsx
  portal/src/components/profile/HumanForm.tsx
  portal/src/components/profile/PopupsHistory.tsx
  portal/src/components/profile/StatsCards.tsx
  portal/src/components/profile/TopMatchStats.tsx
  portal/src/components/ui/Form/MultiselectDropdown.tsx
  portal/src/components/ui/label.tsx
  portal/src/hooks/useProductsQuery.ts
Due: biome-check-portal

fix(portal): checkout CTA reflects next section and scrolls to it
  portal/src/components/checkout-flow/CartFooter.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/SnapFooter.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(backend,portal): align application form field order across backoffice and portal
  backend/app/api/base_field_config/crud.py
  backend/app/api/form_field/router.py
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(shared-form-ui): replace eye icon with highlight toggle in MultiSelect
  backoffice/src/MultiSelect.test.tsx
  backoffice/src/components/ui/multi-select-pills.tsx
  packages/shared-form-ui/src/components/MultiSelect.tsx
  portal/src/components/ui/MultiSelect.tsx
Due: biome-check-backoffice, biome-check-portal

chore(portal): apply biome auto-format
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
Due: biome-check-portal

feat(form-builder): configurable date range for date selector fields
  backend/app/alembic/versions/499dd4b24f32_add_date_range_to_form_fields.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/schemas.py
  backend/tests/api/form_field/__init__.py
  backend/tests/api/form_field/test_form_field_date_range.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/form-builder/FieldConfigPanel.tsx
  backoffice/src/components/form-builder/__tests__/SchemaField.date.test.tsx
  backoffice/src/components/form-builder/constants.ts
  packages/shared-form-ui/src/components/Form/InputForm.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  packages/shared-form-ui/src/types.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
