Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(backoffice): harden form controls against accidental submit and post-submit blocker re-fires
  backoffice/src/components/Common/DangerZone.tsx
  backoffice/src/components/forms/ReviewersManager.tsx
  backoffice/src/hooks/useUnsavedChanges.tsx
Due: biome-check-backoffice

feat(portal): group API Keys + Docs under Agentic access with an agent-ready copy snippet
  portal/src/app/portal/docs/CopyAgentBrief.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/components/Icons/OpenClaw.tsx
  portal/src/hooks/useResources.ts
  portal/src/types/resources.ts
Due: biome-check-portal

fix(checkout): cart-empty bounce skips content-only steps (#160)
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(checkout): i18n video background audio toggle
  portal/src/components/CheckoutBackgroundVideo.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(checkout): video background perf + reduced-motion + url dep
  portal/src/components/CheckoutBackgroundVideo.tsx
Due: biome-check-portal

feat(checkout): mp4 video background with audio toggle (#158)
  backend/app/api/upload/router.py
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/ui/image-upload.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/components/CheckoutBackgroundVideo.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/background-image.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(housing): multi-image carousel + lightbox in grid/showcase variants
  backend/app/alembic/versions/0051_product_images.py
  backend/app/api/product/schemas.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ui/multi-image-upload.tsx
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): unclip MultiImageUpload remove button
  backoffice/src/components/ui/multi-image-upload.tsx
Due: biome-check-backoffice

fix(alembic): rename product_images migration to hash convention
  backend/app/alembic/versions/370ff7f4e042_product_images.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(alembic): relink product_images migration to resolve dual heads
  backend/app/alembic/versions/370ff7f4e042_product_images.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(housing): support keyboard activation on carousel trigger
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
Due: biome-check-portal

feat(housing): i18n carousel aria-labels
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(housing): multi-image carousel + lightbox in grid/showcase (#157)
  backend/app/alembic/versions/370ff7f4e042_product_images.py
  backend/app/api/product/schemas.py
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ui/multi-image-upload.tsx
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantHousingDate.tsx
  portal/src/components/checkout-flow/variants/VariantImageGallery.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): include product.images in /checkout/{slug}/runtime response
  backend/app/api/checkout/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate OpenAPI client to include product.images on CheckoutRuntimeProduct
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(checkout): include product.images in /checkout/{slug}/runtime response (#161)
  backend/app/api/checkout/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(auth): lowercase emails on input and backfill existing rows
  backend/app/alembic/versions/d8f2e4a9c1b6_lowercase_emails.py
  backend/app/api/auth/schemas.py
  backend/app/api/user/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(portal): drop OpenAPI spec link from agent docs
  portal/src/app/portal/docs/CopyAgentBrief.tsx
  portal/src/app/portal/docs/page.tsx
Due: biome-check-portal

feat(portal): merge API Keys + Docs into single Agentic Access page nested under Events
  portal/src/app/portal/agentic-access/CopyAgentBrief.tsx
  portal/src/app/portal/agentic-access/page.tsx
  portal/src/app/portal/api-keys/page.tsx
  portal/src/app/portal/docs/page.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

feat(meal-plan): backend foundation for meal_plan_select step
  backend/app/alembic/versions/a1f9c2e8b5d1_attendee_products_purchase_metadata.py
  backend/app/api/attendee/schemas.py
  backend/app/api/cart/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/app/api/ticketing_step/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(meal-plan): backoffice config UI for meal_plan_select step
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/MealPlanSelectConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
Due: biome-check-backoffice

feat(meal-plan): portal frontend for meal_plan_select step
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useMealPlanSelection.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(portal): swap dish emojis for monochromatic Lucide icons
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
Due: biome-check-portal

fix(portal): add meal_plan to category + step icon registries
  portal/src/app/portal/[popupSlug]/passes/utils/categoryDisplay.ts
  portal/src/i18n/locales/en.json
  portal/src/lib/checkoutStepIcons.tsx
Due: biome-check-portal

fix(portal): restore colorful dish emojis, tighten cell-strip boxes
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
Due: biome-check-portal

feat(portal): include meal plans in cart total + drawer
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

test(backend): add fixtures for dual-owner api keys and scope variations
  backend/tests/api/api_key/__init__.py
  backend/tests/api/api_key/test_models_owner_check.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): derive ALLOWED_API_KEY_SCOPES from typing.get_args
  backend/app/api/api_key/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(backend): drop unused type-ignore on issued_via in decode_access_token
  backend/app/core/security.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): token payload carries scopes and issued_via
  backend/app/core/security.py
  backend/tests/core/test_security_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): migrate api_keys to dual owner and tenants third-party key columns
  backend/app/alembic/versions/5e5739582c92_third_party_otp_scoped_auth.py
  backend/app/api/api_key/models.py
  backend/app/api/tenant/models.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): fix lint in scope guard and api key resolution tests
  backend/tests/api/api_key/test_admin_api_key_resolution.py
  backend/tests/core/dependencies/test_scope_guards.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add require_human_scope, CurrentAdminOrApiKey, and admin tenant-session dependencies
  backend/app/core/dependencies/users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): scope guard fixtures and contract tests for Block 4
  backend/tests/api/api_key/test_admin_api_key_resolution.py
  backend/tests/core/dependencies/test_scope_guards.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): enforce portal scopes on directory, self, and api-key routes
  backend/app/api/api_key/router.py
  backend/app/api/application/router.py
  backend/app/api/attendee/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): render meal plans in Review & Confirm step
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal

feat(backend): scope catalog, dual-owner api keys, and token payload foundations [1/6] (#164)
  backend/app/alembic/versions/5e5739582c92_third_party_otp_scoped_auth.py
  backend/app/api/api_key/models.py
  backend/app/api/api_key/schemas.py
  backend/app/api/tenant/models.py
  backend/app/core/security.py
  backend/tests/api/api_key/__init__.py
  backend/tests/api/api_key/test_models_owner_check.py
  backend/tests/conftest.py
  backend/tests/core/test_security_scopes.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): portal scope guards and CurrentAdminOrApiKey dependency [2/6] (#165)
  backend/app/api/api_key/router.py
  backend/app/api/application/router.py
  backend/app/api/attendee/router.py
  backend/app/api/human/router.py
  backend/app/api/payment/router.py
  backend/app/core/dependencies/users.py
  backend/tests/api/api_key/test_admin_api_key_resolution.py
  backend/tests/core/dependencies/test_scope_guards.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): fix lint and mock signature in third-party login and rotation tests
  backend/tests/api/api_key/test_third_party_scope_restriction.py
  backend/tests/api/auth/test_third_party_login.py
  backend/tests/api/tenant/__init__.py
  backend/tests/api/tenant/test_third_party_key_rotation.py
  backend/tests/core/dependencies/test_tenants.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(backend): third-party login, key-rotation, and scope-restriction contract tests
  backend/tests/api/api_key/test_third_party_scope_restriction.py
  backend/tests/api/auth/__init__.py
  backend/tests/api/auth/test_third_party_login.py
  backend/tests/api/tenant/test_third_party_key_rotation.py
Due: local-ruff-check, local-ruff-format, generate-sdk
