Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(portal): refine order ledger and demo invoices
  backend/app/core/db.py
  backend/app/core/seed_data.json
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.test.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): refine ticket access presentation
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(ai): restrict copilot access to operators
  ai-service/src/context.test.ts
  ai-service/src/context.ts
  backoffice/src/routes/_layout.tsx
Due: biome-check-backoffice

refactor(ai): simplify assistant availability status
  ai-service/src/index.ts
  backoffice/src/components/ai/AIAssistant.tsx
Due: biome-check-backoffice

feat(ai): keep assistant responses within EdgeOS scope
  ai-service/src/system-prompt.test.ts
  ai-service/src/system-prompt.ts
Due: none

feat(ai): persist tenant-scoped conversation history
  backend/app/alembic/versions/d9f4a2c7b1e8_ai_conversation_history.py
  backend/app/api/ai_conversation/__init__.py
  backend/app/api/ai_conversation/models.py
  backend/app/api/ai_conversation/router.py
  backend/app/api/ai_conversation/schemas.py
  backend/app/api/ai_conversation/service.py
  backend/app/api/router.py
  backend/app/models.py
  backend/tests/test_ai_conversation_api.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(ai): report per-response model token usage
  ai-service/README.md
  ai-service/src/index.ts
  ai-service/src/operation-catalog.test.ts
  ai-service/src/operation-catalog.ts
  ai-service/src/usage.test.ts
  ai-service/src/usage.ts
Due: none

feat(ai): sync conversation history through backend
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ai/AIAssistant.tsx
  backoffice/src/components/ai/conversation-store.test.ts
  backoffice/src/components/ai/conversation-store.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

chore(ai): label assistant as beta
  backoffice/src/components/ai/AIAssistant.tsx
Due: biome-check-backoffice

test(ai): cover supervised operation flow over HTTP
  ai-service/src/chat-http.test.ts
  ai-service/src/index.ts
Due: none

fix(ai): keep dashboard responsive beside assistant
  backoffice/src/components/Dashboard/CumulativeTrendsCharts.tsx
  backoffice/src/components/Dashboard/DistributionCharts.tsx
  backoffice/src/components/Dashboard/KeyMetricsCards.tsx
  backoffice/src/components/Dashboard/RevenueBreakdownCharts.tsx
  backoffice/src/components/ai/AIAssistant.tsx
  backoffice/src/components/ai/panel-width.test.ts
  backoffice/src/components/ai/panel-width.ts
  backoffice/src/index.css
  backoffice/src/routes/_layout/index.tsx
Due: biome-check-backoffice

chore(ai): avoid em dashes in assistant replies
  ai-service/src/system-prompt.test.ts
  ai-service/src/system-prompt.ts
Due: none

refactor(ai): persist write idempotency in postgres
  ai-service/README.md
  ai-service/src/chat-http.test.ts
  ai-service/src/execution-store.ts
  backend/app/alembic/versions/f3a1b7c9d2e4_ai_execution_idempotency.py
  backend/app/api/ai_execution/models.py
  backend/app/api/ai_execution/router.py
  backend/app/api/ai_execution/service.py
  backend/app/models.py
  backend/tests/test_ai_execution_service.py
  backoffice/nginx.conf
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(checkout): move the Amanita hero onto the Entradas step
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.test.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaCatalogSection.tsx
  portal/src/components/checkout-flow/skins/amanita/AmanitaHero.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

feat(accommodations): lodging domain, API and booking lifecycle
  backend/app/alembic/versions/d7c3a9e1f5b2_accommodations_domain.py
  backend/app/api/accommodation/__init__.py
  backend/app/api/accommodation/availability.py
  backend/app/api/accommodation/calendar.py
  backend/app/api/accommodation/constants.py
  backend/app/api/accommodation/crud.py
  backend/app/api/accommodation/export.py
  backend/app/api/accommodation/models.py
  backend/app/api/accommodation/payments.py
  backend/app/api/accommodation/portal_router.py
  backend/app/api/accommodation/pricing.py
  backend/app/api/accommodation/public.py
  backend/app/api/accommodation/router.py
  backend/app/api/accommodation/schemas.py
  backend/app/api/cart/schemas.py
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/crud.py
  backend/app/api/product/schemas.py
  backend/app/api/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/ticketing_step/schemas.py
  backend/app/core/dependencies/users.py
  backend/app/core/security.py
  backend/app/models.py
  backend/tests/api/accommodation/__init__.py
  backend/tests/api/accommodation/conftest.py
  backend/tests/api/accommodation/test_availability.py
  backend/tests/api/accommodation/test_concurrency.py
  backend/tests/api/accommodation/test_payment_lifecycle.py
  backend/tests/api/accommodation/test_pricing.py
  backend/tests/api/accommodation/test_public_checkout.py
  backend/tests/api/accommodation/test_router.py
  backend/tests/api/ticketing_step/test_accommodation_booking_template.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): Accommodations section and booking calendar
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/accommodations/AccommodationForm.tsx
  backoffice/src/components/accommodations/BedsEditor.test.tsx
  backoffice/src/components/accommodations/BedsEditor.tsx
  backoffice/src/components/accommodations/BookingCalendar.tsx
  backoffice/src/components/accommodations/BookingDetailDialog.tsx
  backoffice/src/components/accommodations/BookingDialog.tsx
  backoffice/src/components/accommodations/BookingsTab.tsx
  backoffice/src/components/accommodations/PhotoLibraryPicker.tsx
  backoffice/src/components/accommodations/PhotosTab.tsx
  backoffice/src/components/accommodations/PriceRulesEditor.tsx
  backoffice/src/components/accommodations/PropertiesTab.tsx
  backoffice/src/components/accommodations/RoomsBulkActions.tsx
  backoffice/src/components/accommodations/RoomsTab.tsx
  backoffice/src/components/accommodations/UnitsEditor.tsx
  backoffice/src/components/accommodations/beds.test.ts
  backoffice/src/components/accommodations/beds.ts
  backoffice/src/components/accommodations/bookingAppearance.test.ts
  backoffice/src/components/accommodations/bookingAppearance.ts
  backoffice/src/components/accommodations/calendarLayout.test.ts
  backoffice/src/components/accommodations/calendarLayout.ts
  backoffice/src/components/accommodations/exportBookings.ts
  backoffice/src/components/ticketing-step-builder/constants.ts
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/AccommodationBookingConfig.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/index.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/accommodations/index.tsx
  backoffice/src/routes/_layout/accommodations/rooms/$id.edit.tsx
  backoffice/src/routes/_layout/accommodations/rooms/new.tsx
Due: biome-check-backoffice

feat(portal): accommodation step in checkout and stays on the passes page
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AccommodationBookingRow.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/utils/accommodationBooking.ts
  portal/src/checkout/buildPaymentProductsAccommodation.test.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/CartItemList.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/registries/variantRegistry.ts
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/index.ts
  portal/src/hooks/checkout/useAccommodationSelection.test.ts
  portal/src/hooks/checkout/useAccommodationSelection.ts
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useCartApi.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

feat(seed): demo lodging inventory and a populated booking calendar
  backend/app/core/db.py
  backend/app/core/seed_data.json
  backend/scripts/assign_accommodation.py
  backend/tests/core/test_seed_accommodations.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(links): enforce lifecycle and attribution
  backend/app/alembic/versions/d9a7c2e4f1b8_enforce_referral_auto_approval.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/application/test_access_sources.py
  backend/tests/api/application/test_express_checkout_entry_flow.py
  backend/tests/api/application/test_fee_credit_paths.py
  backend/tests/api/application/test_list_filters.py
  backend/tests/api/invite/test_invite_referral_isolation.py
  backend/tests/api/invite/test_unified_link_api.py
  backend/tests/api/link/test_portal_links.py
  backend/tests/api/payment/test_link_discounts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/components/applications/ApplicationAccessSources.test.tsx
  backoffice/src/components/applications/ApplicationAccessSources.tsx
  backoffice/src/components/applications/SourceApplicationsSection.test.tsx
  backoffice/src/components/applications/SourceApplicationsSection.tsx
  backoffice/src/components/forms/InviteForm.tsx
  backoffice/src/routes/_layout/invites/index.test.tsx
  backoffice/src/routes/_layout/invites/index.tsx
  backoffice/src/routes/_layout/referrals/$referralId/edit.tsx
  backoffice/src/routes/_layout/referrals/index.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/groups/[groupSlug]/page.test.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): grey the nights a room cannot be sold on
  backend/app/api/accommodation/calendar.py
  backend/app/api/accommodation/schemas.py
  backend/tests/api/accommodation/test_router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/accommodations/BookingCalendar.tsx
  backoffice/src/components/accommodations/bookingAppearance.ts
  backoffice/src/components/accommodations/calendarLayout.test.ts
  backoffice/src/components/accommodations/calendarLayout.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): track checkout step transitions in GA4
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/StepperCheckoutFlow.tsx
  portal/src/hooks/checkout/useCheckoutStepTracking.test.tsx
  portal/src/hooks/checkout/useCheckoutStepTracking.ts
  portal/src/lib/google-analytics.test.ts
  portal/src/lib/google-analytics.ts
Due: biome-check-portal

feat(products): remove fulfillment type from frontend flows
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.patreon.test.tsx
  backoffice/src/components/forms/ProductForm.stock-fields.test.tsx
  backoffice/src/components/forms/ProductForm.test.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/MealPlanSelectConfig.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/MealPlanSelectConfig.tsx
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.test.tsx
  portal/src/components/checkout-flow/variants/VariantMealPlanSelect.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
Due: biome-check-backoffice, biome-check-portal

feat(portal): show scannable purchased product units
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.test.ts
  portal/src/app/portal/[popupSlug]/orders/ordersProjection.ts
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.tsx
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.ts
  portal/src/app/portal/[popupSlug]/tickets/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(directory): preserve unlinked attendee identity snapshots
  backend/app/api/application/router.py
  backend/tests/api/application/test_attendee_directory.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(form-builder): refresh copied flow form queries
  backoffice/src/components/forms/CopyFormToFlowDialog.test.tsx
  backoffice/src/components/forms/CopyFormToFlowDialog.tsx
Due: biome-check-backoffice

fix(coupons): bypass blocker after successful mutations
  backoffice/src/components/forms/CouponForm.test.tsx
  backoffice/src/components/forms/CouponForm.tsx
Due: biome-check-backoffice

fix(ticketing): separate flow scope from steps header
  backoffice/src/components/ticketing-step-builder/TicketingStepsHeader.test.tsx
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

fix(portal): clear stale application when flow changes
  portal/src/app/portal/[popupSlug]/application/page.test.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
Due: biome-check-portal

fix(migrations): merge main and dev heads
  backend/app/alembic/versions/e2a7c4d9f1b6_merge_main_hotfix_and_dev_heads.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): synthesize Meta fbc from captured fbclid
  portal/src/lib/attribution.test.ts
  portal/src/lib/attribution.ts
  portal/src/lib/meta-pixel.test.ts
  portal/src/lib/meta-pixel.ts
Due: biome-check-portal

fix(ai): stop repeated conversation autosaves
  backoffice/src/components/ai/AIAssistant.tsx
  backoffice/src/components/ai/useConversationAutosave.test.tsx
  backoffice/src/components/ai/useConversationAutosave.ts
Due: biome-check-backoffice

fix(backoffice): stop greying the morning a guest checks out
  backoffice/src/components/accommodations/BookingCalendar.tsx
  backoffice/src/components/accommodations/calendarLayout.test.ts
  backoffice/src/components/accommodations/calendarLayout.ts
Due: biome-check-backoffice

fix(backoffice): say what the check-out day is, in the calendar tooltip
  backoffice/src/components/accommodations/BookingCalendar.tsx
Due: biome-check-backoffice

feat(backoffice): refuse an unbookable stay in the dialog, not on the calendar
  backend/app/api/accommodation/calendar.py
  backend/app/api/accommodation/schemas.py
  backend/tests/api/accommodation/test_router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/accommodations/BookingCalendar.tsx
  backoffice/src/components/accommodations/BookingDialog.tsx
  backoffice/src/components/accommodations/bookingAppearance.ts
  backoffice/src/components/accommodations/calendarLayout.test.ts
  backoffice/src/components/accommodations/calendarLayout.ts
  backoffice/src/components/accommodations/stayRules.test.ts
  backoffice/src/components/accommodations/stayRules.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(tenants): soft-delete users with organizations
  backend/app/alembic/versions/b6d4e9f2a1c7_soft_delete_users_of_deleted_tenants.py
  backend/app/api/tenant/crud.py
  backend/app/api/user/crud.py
  backend/app/core/redis.py
  backend/tests/api/tenant/test_deleted_tenant_availability.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_fulfillment_type_migration.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backend/tests/migrations/test_soft_delete_tenant_users.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(check-in): honor live setting for existing tickets
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/router.py
  backend/app/api/check_in/router.py
  backend/app/api/payment/router.py
  backend/app/services/checkin_pass_dispatch.py
  backend/tests/api/attendee/test_http_check_in_post.py
  backend/tests/api/check_in/test_http_self_check_in.py
  backend/tests/test_product_unit_notifications_and_staff_scan.py
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.test.ts
  portal/src/app/portal/[popupSlug]/tickets/accessProjection.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): give a property its own page, like a room type
  backoffice/src/components/accommodations/PropertiesTab.tsx
  backoffice/src/components/accommodations/PropertyForm.test.tsx
  backoffice/src/components/accommodations/PropertyForm.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/accommodations/properties/$id.edit.tsx
  backoffice/src/routes/_layout/accommodations/properties/new.tsx
Due: biome-check-backoffice

fix(db): repair users email index drift
  backend/app/alembic/versions/c7e5a1b9d3f2_repair_users_email_index.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_fulfillment_type_migration.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_repair_users_email_index.py
  backend/tests/migrations/test_single_alembic_head.py
Due: local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
