Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

refactor(portal): the checkout asks the door how it sells
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/hooks/checkout/useTicketsStep.test.ts
  portal/src/hooks/checkout/useTicketsStep.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): ask the doors whether anybody applies
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/sales_flow/crud.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/providers/passesProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): stop asking the popup how it sells
  backend/app/api/popup/router.py
  backend/tests/api/popup/test_portal_popup_reports_its_doors.py
  portal/src/app/[popupSlug]/page.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/attendees/hooks/useExportCsv.ts
  portal/src/app/portal/[popupSlug]/attendees/hooks/useGetData.tsx
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/components/Providers.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/hooks/useResources.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(popups): let the doors say how an event sells
  backend/app/api/attendee/router.py
  backend/app/api/checkout/crud.py
  backend/app/api/popup/crud.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/sales_flow/crud.py
  backend/app/core/db.py
  backend/tests/api/checkout/test_resolve_active_popup_slug.py
  backend/tests/api/popup/test_changing_the_main_way_in.py
  backend/tests/api/tenant/test_tenant_landing_mode_integration.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/popups/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): show what a sales flow changed, not what it holds
  backoffice/src/components/SalesFlows/FlowDiffCard.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowConfigSections.ts
  backoffice/src/lib/salesFlowDiff.test.ts
  backoffice/src/lib/salesFlowDiff.ts
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

refactor(backoffice): take the flow diff out of the editor
  backoffice/src/components/SalesFlows/FlowDiffCard.tsx
  backoffice/src/lib/salesFlowDiff.ts
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

fix(sales-flow): seed a new way in with what its own kind can read
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_a_new_door_only_gets_what_it_can_use.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flow): let a new way in choose where it starts
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/app/api/sales_flow/templates.py
  backend/tests/_flow_helpers.py
  backend/tests/api/invite/test_invite_flow_scope.py
  backend/tests/api/sales_flow/test_a_new_door_only_gets_what_it_can_use.py
  backend/tests/api/sales_flow/test_flow_theme_scope.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): open a way in one question at a time
  backend/app/api/sales_flow/router.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backoffice/src/components/forms/NewSalesFlowForm.tsx
  backoffice/src/components/forms/NewSalesFlowWizard.tsx
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
  backoffice/src/routes/_layout/sales-flows/new.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): make the flow editor answer before it asks
  backoffice/src/components/SalesFlows/FlowMapCard.tsx
  backoffice/src/components/SalesFlows/FlowStandingCard.tsx
  backoffice/src/components/forms/ConfigSectionRow.tsx
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowReadiness.ts
  backoffice/src/lib/salesFlowSectionSummary.test.ts
  backoffice/src/lib/salesFlowSectionSummary.ts
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
Due: biome-check-backoffice

feat(backoffice): group the ways in by who can reach them
  backoffice/src/components/SalesFlows/FlowMapCard.tsx
  backoffice/src/components/SalesFlows/FlowStandingCard.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/lib/salesFlowReach.test.ts
  backoffice/src/lib/salesFlowReach.ts
  backoffice/src/lib/salesFlowReadiness.ts
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
  backoffice/src/routes/_layout/sales-flows/index.tsx
Due: biome-check-backoffice

revert(backoffice): keep calling them sales flows
  backoffice/src/components/SalesFlows/FlowStandingCard.tsx
  backoffice/src/components/Sidebar/AppSidebar.tsx
  backoffice/src/components/forms/NewSalesFlowWizard.tsx
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
  backoffice/src/routes/_layout/sales-flows/index.tsx
  backoffice/src/routes/_layout/sales-flows/new.tsx
Due: biome-check-backoffice

refactor(sales-flow): let the kind of flow decide what is offered, not what is set
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/app/api/sales_flow/templates.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowConfigSections.ts
  backoffice/src/lib/salesFlowDiff.test.ts
  backoffice/src/lib/salesFlowDiff.ts
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): stop asking where a flow starts when the answers do not differ
  backoffice/src/components/forms/NewSalesFlowWizard.tsx
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
Due: biome-check-backoffice

fix(sales-flow): stop refusing to delete a flow because of our own steps
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/tests/api/sales_flow/test_deleting_a_sales_flow.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): pick the product a restriction names, instead of typing its id
  backoffice/src/components/forms/RestrictionRuleEditor.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/lib/salesFlowRestrictionRule.test.ts
  backoffice/src/lib/salesFlowRestrictionRule.ts
Due: biome-check-backoffice

style(backoffice): say less when opening a sales flow
  backoffice/src/components/forms/NewSalesFlowWizard.tsx
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
Due: biome-check-backoffice

feat(sales-flow): close a sales flow instead of deleting what it did
  backend/app/api/application/crud.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_closing_a_sales_flow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/SalesFlows/FlowClosureCard.tsx
  backoffice/src/components/SalesFlows/FlowMapCard.tsx
  backoffice/src/routes/_layout/sales-flows/$id.edit.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(backoffice): apply biome formatting to icon picker and timezone combobox
  backoffice/src/components/forms/TimezoneCombobox.tsx
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.test.tsx
  backoffice/src/components/ticketing-step-builder/step-detail/StepIconPicker.tsx
Due: biome-check-backoffice

fix(backend): merge alembic heads after bringing dev into the branch
  backend/app/alembic/versions/fbebb0375ba9_merge_widen_ticketing_emoji_and_drop_.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(sales-flow): list direct sales on the portal
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/router.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
  backend/tests/api/sales_flow/test_portal_flow_listing.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/SalesFlowForm.tsx
  backoffice/src/components/forms/SalesFlowForm.visibility.test.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.test.tsx
  backoffice/src/components/forms/SalesFlowVisibilityNote.tsx
  portal/src/app/portal/[popupSlug]/page.test.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Portal/DirectSalesFlowsPanel.test.tsx
  portal/src/components/Portal/DirectSalesFlowsPanel.tsx
  portal/src/hooks/usePortalDirectSalesFlows.test.ts
  portal/src/hooks/usePortalDirectSalesFlows.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/query-keys.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): improve Google Fonts picker browsing
  backoffice/src/components/forms/GoogleFontPicker.test.tsx
  backoffice/src/components/forms/GoogleFontPicker.tsx
  backoffice/src/components/forms/ThemeConfigForm.fonts.test.tsx
Due: biome-check-backoffice

feat(backend): mint checkout preview tokens and serve draft popups
  backend/app/api/checkout/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/main.py
  backend/app/utils/checkout_preview.py
  backend/tests/api/checkout/test_preview_token.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): render the checkout for the backoffice live preview
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutShell.tsx
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.tsx
  portal/src/app/checkout/[popupSlug]/preview/page.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/checkout-preview.test.ts
  portal/src/lib/checkout-preview.ts
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

feat(backoffice): preview the checkout from the ticketing steps page
  backoffice/src/components/ticketing-step-builder/StepDetailPanel.tsx
  backoffice/src/components/ticketing-step-builder/step-preview/StepPreviewDialog.tsx
  backoffice/src/components/ticketing-step-builder/step-preview/previewProtocol.ts
  backoffice/src/components/ticketing-step-builder/step-preview/previewUrl.test.ts
  backoffice/src/components/ticketing-step-builder/step-preview/previewUrl.ts
  backoffice/src/components/ticketing-step-builder/step-preview/useStepPreviewBridge.test.tsx
  backoffice/src/components/ticketing-step-builder/step-preview/useStepPreviewBridge.ts
  backoffice/src/lib/portal-urls.ts
  backoffice/src/routes/_layout/ticketing-steps/index.tsx
Due: biome-check-backoffice

chore: wire the checkout preview origin through env and compose
  .env.example
  compose.override.yaml
  compose.yaml
  portal/Dockerfile
Due: biome-check-portal

fix(sales-flow): make the default flow optional
  backend/app/api/application/crud.py
  backend/app/api/approval_strategy/crud.py
  backend/app/api/checkout/router.py
  backend/app/api/coupon/router.py
  backend/app/api/form_field/router.py
  backend/app/api/group/router.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/router.py
  backend/app/api/payment/crud.py
  backend/app/api/popup/crud.py
  backend/app/api/popup/router.py
  backend/app/api/sales_flow/crud.py
  backend/app/api/sales_flow/resolver.py
  backend/app/api/sales_flow/router.py
  backend/app/api/ticketing_step/router.py
  backend/app/core/db.py
  backend/tests/api/application/test_flow_scoped_duplicate_guard.py
  backend/tests/api/sales_flow/test_default_flow_provisioning.py
  backend/tests/api/sales_flow/test_deleting_a_sales_flow.py
  backend/tests/api/sales_flow/test_resolver.py
  backend/tests/api/sales_flow/test_sales_flow_crud.py
  backend/tests/core/test_seed_default_flow.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/components/forms/SalesFlowForm.config.test.tsx
  backoffice/src/components/forms/SalesFlowForm.tsx
  portal/src/client/sdk.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): show direct-sale purchases after login
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_schemas.py
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/hooks/useResolvedAttendees.test.tsx
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/providers/passesProvider.test.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backend): drop an unused fixture from the CORS preflight test
  backend/tests/api/checkout/test_preview_token.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(api): stop partial PATCHes from nulling fields the caller never sent
  backend/app/api/tenant/schemas.py
  backend/app/api/ticketing_step/schemas.py
  backend/tests/api/shared/__init__.py
  backend/tests/api/shared/test_update_schema_fields_set.py
  backend/tests/api/tenant/test_tenant_smtp.py
  backend/tests/api/ticketing_step/test_partial_patch_preserves_config.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(groups): allow safe admin membership cleanup
  backend/app/api/group/crud.py
  backend/app/api/group/router.py
  backend/tests/api/group/test_group_admin_lifecycle.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/groups/GroupMembersSection.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): resolve the preview origin at runtime instead of build time
  .env.example
  compose.override.yaml
  compose.yaml
  portal/Dockerfile
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.tsx
  portal/src/app/checkout/[popupSlug]/preview/page.tsx
  portal/src/lib/checkout-preview.test.ts
  portal/src/lib/checkout-preview.ts
Due: biome-check-portal

fix(portal): stop an empty BACKOFFICE_ORIGIN from disabling the preview
  .env.example
  compose.yaml
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.tsx
  portal/src/app/checkout/[popupSlug]/preview/page.tsx
  portal/src/lib/checkout-preview.test.ts
  portal/src/lib/checkout-preview.ts
Due: biome-check-portal

fix(portal): drop the env var the checkout preview needed to run
  .env.example
  compose.override.yaml
  compose.yaml
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.test.tsx
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.tsx
  portal/src/app/checkout/[popupSlug]/preview/page.tsx
  portal/src/lib/checkout-preview.test.ts
  portal/src/lib/checkout-preview.ts
Due: biome-check-portal

chore(portal): satisfy the biome import-order assist in the preview test
  portal/src/app/checkout/[popupSlug]/preview/CheckoutPreviewClient.test.tsx
Due: biome-check-portal

fix(applications): repair review filters and scholarships
  backend/app/alembic/versions/c4d8e6f1a2b3_backfill_pending_scholarship_status.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/tests/api/application/test_group_counts.py
  backend/tests/api/application/test_list_filters.py
  backend/tests/migrations/test_backfill_pending_scholarship_status.py
  backend/tests/test_scholarship_workflow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/applications/ApplicationsGroupedView.tsx
  backoffice/src/routes/_layout/applications/index.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(applications): prevent reviewer filter grouping conflicts
  backend/app/api/application/router.py
  backend/tests/api/application/test_group_counts.py
  backoffice/src/components/applications/ApplicationFilterBuilder.tsx
  backoffice/src/components/applications/reviewerGrouping.test.ts
  backoffice/src/components/applications/reviewerGrouping.ts
  backoffice/src/routes/_layout/applications/index.tsx
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(applications): support review changes and admin overrides
  backend/app/alembic/versions/c4f1a2b3d5e6_application_status_override_metadata.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/application_review/crud.py
  backend/app/api/application_review/router.py
  backend/app/api/application_review/schemas.py
  backend/app/api/audit_log/constants.py
  backend/app/services/application_status.py
  backend/app/services/approval/calculator.py
  backend/tests/api/application/test_status_override.py
  backend/tests/api/application_review/test_review_changes.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/ApplicationDetail.tsx
  backoffice/src/lib/auditMessage.ts
  backoffice/src/routes/_layout/applications/index.tsx
  backoffice/src/utils.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): prevent ticketing title ligatures
  portal/src/components/checkout-flow/SectionHeader.test.tsx
  portal/src/components/checkout-flow/SectionHeader.tsx
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
