Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

add: i18n checkout provider
  portal/src/app/checkout/layout.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/checkout-flow/SectionHeader.tsx
Due: biome-check-portal

fix: navbar top, scrolly checkout
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

add: snap scroll
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
Due: biome-check-portal

feat(backoffice): venue week calendar
  backoffice/src/components/VenueWeekCalendar.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/venues-schedule.tsx
  backoffice/src/routes/_layout/events/venues.tsx
Due: biome-check-backoffice

fix(backoffice): venue calendar alignment + contrast
  backoffice/src/components/VenueWeekCalendar.tsx
Due: biome-check-backoffice

feat(sale-model): add sale_type enum and direct-purchase flow
  backend/app/alembic/versions/3e11ce245531_add_sale_type_and_direct_purchase_.py
  backend/app/api/application/crud.py
  backend/app/api/attendee/crud.py
  backend/app/api/attendee/models.py
  backend/app/api/attendee/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/models.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/api/popup/models.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/shared/enums.py
  backend/app/core/db.py
  backend/tests/test_human_attendee_link.py
  backend/tests/test_participation.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add sale_type selector and list badge for popups
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/popups/index.tsx
Due: biome-check-backoffice

feat(portal): add sale_type direct-sale flow scaffolding
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/layout.tsx
  portal/src/app/checkout/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/components/Providers.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/usePaymentVerification.ts
  portal/src/hooks/useGetPaymentsData.ts
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/hooks/useResources.ts
  portal/src/providers/passesProvider.tsx
  portal/src/types/passes.ts
Due: biome-check-portal

add: live preview theme config
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutBottomBar.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutPassCard.tsx
  backoffice/src/components/forms/ThemePreview/parts/PreviewCheckoutTopBar.tsx
  backoffice/src/components/forms/ThemePreview/tabs/CheckoutView.tsx
  portal/src/hooks/checkout/useCartPersistence.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-backoffice, biome-check-portal

refactor(backoffice): restore popup commerce section layout
  backoffice/src/components/forms/PopupForm.tsx
Due: biome-check-backoffice

feat(portal): unify public popup checkout flows
  portal/next.config.ts
  portal/src/app/[popup]/invite/[group]/page.tsx
  portal/src/app/auth/AuthForm.tsx
  portal/src/app/auth/layout.tsx
  portal/src/app/auth/page.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/app/checkout/components/CheckoutLoginGate.tsx
  portal/src/app/checkout/components/PopupCheckoutContent.tsx
  portal/src/app/checkout/components/UserInfoForm/index.tsx
  portal/src/app/checkout/hooks/useCheckoutState.ts
  portal/src/app/checkout/page.tsx
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/groups/layout.tsx
  portal/src/app/portal/[popupSlug]/application/page.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/app/portal/page.tsx
  portal/src/components/Authentication.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/components/Sidebar/StatusResource/ResourceMenuItem.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/components/checkout-flow/ScrollySectionNav.tsx
  portal/src/components/profile/Groups.tsx
  portal/src/components/profile/ReferralLinks.tsx
  portal/src/components/providers/PublicCheckoutProviders.tsx
  portal/src/hooks/useAuth.ts
  portal/src/hooks/useGetPublicGroup.ts
  portal/src/lib/authRedirect.ts
  portal/src/lib/group-route.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/languageProvider.tsx
  portal/src/providers/queryProvider.tsx
Due: biome-check-portal

refactor(portal): remove legacy checkout design variants
  portal/src/components/checkout-flow/DesignVariantPanel.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/context/designVariant.tsx
Due: biome-check-portal

fix(portal): enforce exclusive product selection rules
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

docs: integration notes before merging origin/dev
  docs/events-integration-notes.md
Due: none

feat(payments): support popup sale currency and settlement metadata
  backend/app/alembic/versions/7f8b4af4a2c1_add_currency_columns.py
  backend/app/alembic/versions/9b1f9c8e4d2a_add_settlement_currency_to_payments.py
  backend/app/api/dashboard/router.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/app/api/popup/schemas.py
  backend/app/core/db.py
  backend/app/core/invoice.py
  backend/app/services/email/service.py
  backend/app/services/simplefi/client.py
  backend/tests/test_payment_settlement_metadata.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): backend — hide events, settings, approvals, multi-slot hours
  backend/app/alembic/versions/0035_event_hidden_by_human.py
  backend/app/alembic/versions/0036_batch1_fields.py
  backend/app/alembic/versions/0037_multi_slot_weekly_hours.py
  backend/app/api/event/crud.py
  backend/app/api/event/models.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_participant/router.py
  backend/app/api/event_participant/schemas.py
  backend/app/api/event_settings/router.py
  backend/app/api/event_settings/schemas.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/app/models.py
  backend/app/services/approval_notify.py
  backend/tests/test_venue_availability.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): backoffice — calendar modals, multi-slot hours, venue/settings UI
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/VenueDayCalendar.tsx
  backoffice/src/components/VenueHoursSummary.tsx
  backoffice/src/components/VenueWeekCalendar.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/forms/VenueForm/WeeklyHoursEditor.tsx
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/events/day-by-venue.tsx
  backoffice/src/routes/_layout/events/index.tsx
  backoffice/src/routes/_layout/events/new.tsx
  backoffice/src/routes/_layout/events/settings.tsx
  packages/shared-events/src/index.ts
  packages/shared-events/src/venue-slots.ts
Due: biome-check-backoffice

feat(events): portal — hide, inline RSVP, tag filter, sidebar subsections
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/VenueHoursSummary.tsx
  portal/src/hooks/useResources.ts
Due: biome-check-portal

feat(payments): add portal payment status polling
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/tests/test_payment_portal_status.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/checkout/components/CheckoutFlow.test.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.test.tsx
  portal/src/components/checkout-flow/ScrollyCheckoutFlow.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/checkout/usePaymentVerification.test.tsx
  portal/src/hooks/checkout/usePaymentVerification.ts
  portal/src/hooks/usePaymentRedirect.test.ts
  portal/src/hooks/usePaymentRedirect.ts
  portal/vitest.config.ts
  portal/vitest.setup.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

i18n(portal): events module full coverage (en/es/zh)
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/page.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/AddToCalendarModal.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/EventsToolbar.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/app/portal/[popupSlug]/events/tracks/[trackId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/tracks/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/[venueId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/new/page.tsx
  portal/src/app/portal/[popupSlug]/events/venues/page.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(checkout): derive popup checkout mode from sale type
  backend/app/alembic/versions/c7a4e2b1d9f0_popup_checkout_mode.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/shared/enums.py
  backend/tests/test_popup_checkout_mode.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/popupCheckoutModeInfo.test.tsx
  backoffice/src/components/forms/popupCheckoutModeInfo.tsx
  pnpm-lock.yaml
  portal/package.json
  portal/src/checkout/PurchaseStrategy.test.ts
  portal/src/checkout/TotalStrategy.test.ts
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/checkout/passSelectionUi.test.ts
  portal/src/checkout/passSelectionUi.ts
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/hooks/useCalculateTotal.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/PriceStrategy.ts
  portal/src/strategies/ProductStrategies.ts
  portal/src/strategies/PurchaseStrategy.ts
  portal/src/strategies/TotalStrategy.ts
  portal/vitest.config.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

ci: provide required Settings env vars to backend pytest job
  .github/workflows/ci.yml
Due: none

fix(backoffice): prevent double discard dialog on workspace switches
  backoffice/src/components/Sidebar/PopupSelector.tsx
  backoffice/src/components/Sidebar/TenantSelector.tsx
  backoffice/src/components/Sidebar/workspaceRoute.ts
  backoffice/src/hooks/useUnsavedChanges.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

feat(portal): drive language switcher from popup supported_languages
  backend/app/api/popup/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/common/LanguageSwitcher.tsx
  portal/src/providers/languageProvider.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

refactor(portal): scope checkout mode per product category
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/checkout/popupCheckoutPolicy.ts
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/useProductCategories.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/PriceStrategy.test.ts
  portal/src/strategies/PriceStrategy.ts
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
  portal/src/strategies/PurchaseStrategy.test.ts
  portal/src/strategies/PurchaseStrategy.ts
  portal/src/strategies/TotalStrategy.test.ts
  portal/src/strategies/TotalStrategy.ts
Due: biome-check-portal

refactor(backoffice): inline checkout-mode guidance into PopupForm
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/popupCheckoutModeInfo.test.tsx
  backoffice/src/components/forms/popupCheckoutModeInfo.tsx
Due: biome-check-backoffice

fix(backoffice): tie housing show_dates and price_per_day together
  backoffice/src/components/ticketing-step-builder/template-configs/HousingDateConfig.tsx
Due: biome-check-backoffice

docs: remove stale modular-ticketing-steps design doc
  docs/example.png
  docs/modular-ticketing-steps.md
Due: none

style(portal): biome formatting and import-order fixes
  portal/src/app/globals.css
  portal/src/app/groups/[groupSlug]/page.tsx
  portal/src/app/portal/[popupSlug]/groups/[group_id]/components/TeamHeader.tsx
  portal/src/components/providers/PublicCheckoutProviders.tsx
  portal/src/hooks/useGetPublicGroup.ts
Due: biome-check-portal

feat(backend): add popup insurance model with validated percentage bounds
  backend/app/alembic/versions/9d4da1d6ca25_popup_insurance.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/models.py
  backend/app/api/product/schemas.py
  backend/tests/api/__init__.py
  backend/tests/api/popup/__init__.py
  backend/tests/api/popup/test_popup_insurance.py
  backend/tests/api/product/__init__.py
  backend/tests/api/product/test_product_insurance.py
  backend/tests/api/product/test_product_insurance_percentage_removed.py
  backend/tests/migrations/__init__.py
  backend/tests/migrations/test_popup_insurance_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): move insurance customization into confirm step template_config
  backend/app/alembic/versions/b4f2a9c1e803_confirm_insurance_template_config.py
  backend/app/alembic/versions/e1351f07b39a_insurance_checkout_step_protect.py
  backend/app/api/ticketing_step/constants.py
  backend/tests/api/popup/test_insurance_confirm_seed.py
  backend/tests/migrations/test_confirm_insurance_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

refactor(backend): derive payment insurance from popup rate and product eligibility
  backend/app/api/payment/crud.py
  backend/tests/api/payment/__init__.py
  backend/tests/api/payment/test_insurance_calculation.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore: regenerate OpenAPI client for popup insurance fields
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

feat(backoffice): configure popup insurance and product eligibility
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/ProductForm.tsx
  backoffice/src/components/ticketing-step-builder/StepCanvas.tsx
  backoffice/src/routes/_layout/products/index.tsx
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
Due: biome-check-backoffice

feat(portal): render customizable insurance card driven by popup config
  portal/src/checkout/insuranceUi.test.ts
  portal/src/checkout/insuranceUi.ts
  portal/src/components/checkout-flow/InsuranceCard.test.tsx
  portal/src/components/checkout-flow/InsuranceCard.tsx
  portal/src/components/checkout-flow/registries/stepRegistry.test.ts
  portal/src/components/checkout-flow/registries/stepRegistry.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/useCheckoutSteps.test.tsx
  portal/src/hooks/checkout/useInsuranceCalculation.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

chore: apply ruff format across backend modules
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/email_template/schemas.py
  backend/app/api/form_field/router.py
  backend/app/api/group/crud.py
  backend/app/api/group/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/app/api/tenant/models.py
  backend/app/api/tenant/router.py
  backend/app/api/ticketing_step/constants.py
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/router.py
  backend/app/api/translation/crud.py
  backend/app/api/translation/models.py
  backend/app/core/config.py
  backend/app/models.py
  backend/app/services/approval/calculator.py
  backend/app/services/email_helpers.py
  backend/scripts/migrate_from_source.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(form-sections): add kind enum to differentiate section types
  backend/app/alembic/versions/a5f3c8e2d1b9_add_kind_to_formsections.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_section/router.py
  backend/app/api/form_section/schemas.py
  backend/app/api/popup/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(base-fields): per-popup required + catalog add/remove endpoints
  backend/app/alembic/versions/d7e4b2a91c3f_add_required_to_basefieldconfigs.py
  backend/app/alembic/versions/f9a2c4e6b3d8_backfill_base_field_configs.py
  backend/app/api/application/crud.py
  backend/app/api/base_field_config/constants.py
  backend/app/api/base_field_config/crud.py
  backend/app/api/base_field_config/schemas.py
  backend/app/api/form_field/crud.py
  backend/app/api/form_field/router.py
  backend/app/api/form_field/schemas.py
  backend/app/api/popup/router.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
