Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

feat(backoffice): show_in_navbar column + step editor toggle
  backend/app/alembic/versions/0030_add_show_in_navbar_to_ticketing_steps.py
  backend/app/api/ticketing_step/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routes/_layout/ticketing-steps/$stepId.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(form-ui): soften validation error color red → amber
  packages/shared-form-ui/src/components/Form/AddonInputForm.tsx
  packages/shared-form-ui/src/components/Form/CheckboxForm.tsx
  packages/shared-form-ui/src/components/Form/InputForm.tsx
  packages/shared-form-ui/src/components/Form/SelectForm.tsx
  packages/shared-form-ui/src/components/Form/TextAreaForm.tsx
  packages/shared-form-ui/src/components/Input.tsx
  packages/shared-form-ui/src/components/RequiredFieldIndicator.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
Due: none

chore: Amanita fixture polish + i18n keys (en/es/zh)
  backend/scripts/seed_amanita.py
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(form-builder): add phone field type with E.164 input
  backend/app/api/form_field/schemas.py
  backoffice/src/components/form-builder/constants.ts
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/components/Form/PhoneInputForm.tsx
  packages/shared-form-ui/src/components/SchemaField.tsx
  packages/shared-form-ui/src/index.ts
  packages/shared-form-ui/src/types.ts
  pnpm-lock.yaml
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

chore(lint): fix import block formatting in test_operator_role
  backend/tests/test_operator_role.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(frontend): apply biome formatting after companion cleanup
  backoffice/src/components/forms/ApplicationForm.tsx
  portal/src/components/CompanionPasses.tsx
  portal/src/components/CompanionView.tsx
  portal/src/components/common/ParticipationTickets.tsx
Due: biome-check-backoffice, biome-check-portal

fix(portal): rename attendee_category to attendee_category_id in test fixtures
  portal/src/checkout/PurchaseStrategy.test.ts
  portal/src/checkout/TotalStrategy.test.ts
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/providers/passesProvider.test.ts
  portal/src/strategies/PriceStrategy.test.ts
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/PurchaseStrategy.test.ts
  portal/src/strategies/TotalStrategy.test.ts
Due: biome-check-portal

feat(frontend): schema-driven companion add UX with per-popup categories
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.test.tsx
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.tsx
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.test.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/SortableSectionCard.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/BuyPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/ToolbarTop.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/hooks/useModal.ts
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/hooks/useAttendee.ts
  portal/src/hooks/useAttendeeCategories.test.ts
  portal/src/hooks/useAttendeeCategories.ts
  portal/src/lib/attendee-category-label.test.ts
  portal/src/lib/attendee-category-label.ts
  portal/src/lib/query-keys.ts
  portal/src/types/Attendee.ts
Due: biome-check-backoffice, biome-check-portal

feat(portal): show event cover thumbnail in list view
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
Due: biome-check-portal

feat(events): add Host column to backoffice events list
  backoffice/src/routes/_layout/events/index.tsx
Due: biome-check-backoffice

fix(events): treat popup end_date as inclusive calendar day
  backend/app/api/event/router.py
  backend/tests/test_event_popup_window.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): add status/venue/date filters to backoffice events list
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/routes/_layout/events/index.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): scroll to the specific recurring occurrence on detail back
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/page.tsx
Due: biome-check-portal

feat(portal): sort tags and tracks alphabetically in toolbar popovers
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TagsPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TracksPopover.tsx
Due: biome-check-portal

fix(backend): include category_id in /attendees/my/popup response
  backend/app/api/attendee/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): add portal-scoped attendee-categories list endpoint
  backend/app/api/attendee_category/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backend): seed attendee_categories per popup and link products via FK
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate SDK for portal attendee-categories endpoint
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal

fix(portal): null-safe attendee modal and schema-driven required fields
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductCart.tsx
  portal/src/hooks/useAttendeeCategories.ts
Due: biome-check-portal

feat(portal): category-aware passes UI with section-scoped exclusivity
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/providers/passesProvider.tsx
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/strategies/ProductStrategies.ts
Due: biome-check-portal

feat(portal): category-driven Add Attendee buttons
  portal/src/app/portal/[popupSlug]/application/hooks/use-submit-application.ts
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
Due: biome-check-portal

feat(backoffice): edit max_per_application and required_fields, with defensive query guards
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.tsx
  backoffice/src/components/ticketing-step-builder/template-configs/TicketSelectConfig.tsx
Due: biome-check-backoffice

feat(passes): switch-based required-fields editor for companion categories
  backoffice/src/components/attendee-categories/AttendeeCategoriesEditor.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
Due: biome-check-backoffice, biome-check-portal

feat(popup): order list by active status then start_date desc
  backend/app/api/popup/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(venues): per-slot booking mode on weekly hours
  backend/app/alembic/versions/0048_venue_weekly_hours_booking_mode.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_venue/models.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/VenueForm.tsx
  backoffice/src/components/forms/VenueForm/WeeklyHoursEditor.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/EditEventForm.tsx
  portal/src/app/portal/[popupSlug]/events/[eventId]/edit/sections/VenueSection.tsx
  portal/src/app/portal/[popupSlug]/events/components/EventVenueField.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(api-keys): allow PAT to patch, cancel, and manage invitations on owned events
  backend/app/core/security.py
  backend/tests/test_api_key_policy.py
  portal/src/app/portal/docs/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

chore(alembic): patron product rules add column and unique indexes
  backend/app/alembic/versions/fb7da98c8d72_patron_product_rules.py
  backend/tests/migrations/__init__.py
  backend/tests/migrations/test_patron_product_rules_migration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(product): require price=0 for patreon and enforce one-per-popup
  backend/app/api/product/crud.py
  backend/app/api/product/router.py
  backend/app/api/product/schemas.py
  backend/tests/api/product/test_product_patreon_singleton.py
  backend/tests/api/product/test_product_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(ticketing-step): enforce singleton patron-preset step per popup
  backend/app/api/ticketing_step/crud.py
  backend/app/api/ticketing_step/router.py
  backend/tests/api/ticketing_step/test_ticketing_step_patron_singleton.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(payment): add unit_price_override input and effective_unit_price snapshot
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/tests/api/payment/test_patron_payment_integration.py
  backend/tests/api/payment/test_patron_validators.py
  backend/tests/api/payment/test_payment_schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(invoice): use effective_unit_price for patron line items
  backend/app/core/invoice.py
  backend/tests/core/test_invoice_patron.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(client): regenerate OpenAPI clients for patron contract
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
Due: biome-check-backoffice, biome-check-portal

fix(tests): filter popup RLS lookups by name to survive accumulated fixtures
  backend/tests/test_rls.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(conftest): scrub patron singletons between tests
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-sdk

chore(portal): remove dead resolvePatronPriceMode helper
  portal/src/hooks/checkout/resolvePatronPriceMode.test.ts
  portal/src/hooks/checkout/resolvePatronPriceMode.ts
Due: biome-check-portal

chore(alembic): merge companion types and venue slot booking heads
  backend/app/alembic/versions/42de2a61e52f_merge_companion_types_and_venue_slot_.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(portal): VariantPatronPreset writes to cart.patron, no dynamicItems
  portal/src/components/checkout-flow/variants/VariantPatronPreset.test.tsx
  portal/src/components/checkout-flow/variants/VariantPatronPreset.tsx
Due: biome-check-portal

feat(portal): submit unit_price_override for patron in buildPaymentProducts
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
Due: biome-check-portal

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
