Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*|
                backend/app/templates/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                backoffice/src/client/.*|
                portal/src/client/.*
            )$
  - repo: local
    hooks:
      - id: biome-check-backoffice
        name: biome check (backoffice)
        entry: pnpm --filter backoffice lint
        language: system
        types: [text]
        files: ^backoffice/

      - id: biome-check-portal
        name: biome check (portal)
        entry: pnpm --filter portal lint
        language: system
        types: [text]
        files: ^portal/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: python
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: python
        types: [python]

      - id: generate-sdk
        name: Generate SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: system
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix(events): resolve popup timezone before mounting event create/edit form
  backoffice/src/components/events/EventsCalendarView.tsx
  backoffice/src/components/events/EventsDayView.tsx
  backoffice/src/components/forms/EventForm.tsx
  backoffice/src/lib/events/useEventTimezone.ts
  backoffice/src/routes/_layout/events/$eventId.edit.tsx
  backoffice/src/routes/_layout/events/new.tsx
  portal/src/app/portal/[popupSlug]/events/new/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal

chore(backend): replace deprecated datetime.utcnow with datetime.now(UTC)
  backend/app/api/api_key/models.py
  backend/app/api/event/models.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_participant/schemas.py
  backend/app/api/event_settings/schemas.py
  backend/app/api/event_venue/models.py
  backend/app/api/event_venue/router.py
  backend/app/api/event_venue/schemas.py
  backend/app/api/track/schemas.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): link AttendeeProducts to originating payment
  backend/app/alembic/versions/4dffd7a49bef_backfill_attendee_products_payment_id.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_attendee_products_payment_link.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): allow backoffice to book unbookable venues
  backend/app/api/event/router.py
  backend/tests/api/event/__init__.py
  backend/tests/api/event/test_unbookable.py
  backoffice/src/components/forms/EventForm.tsx
  portal/src/app/portal/[popupSlug]/events/components/VenueSelect.tsx
  portal/src/app/portal/[popupSlug]/events/lib/useVenueAvailability.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(portal): reformat long lines in events test files
  portal/src/app/portal/[popupSlug]/events/lib/useEventScheduling.test.ts
  portal/src/app/portal/[popupSlug]/events/new/page.test.tsx
Due: biome-check-portal

fix(payment): persist + serialize meal_plan purchase_metadata end-to-end
  backend/app/alembic/versions/d2f5a7c891b3_payment_products_purchase_metadata.py
  backend/app/api/application/router.py
  backend/app/api/attendee/router.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/schemas.py
  backend/tests/api/attendee/test_attendee_product_denormalization.py
  backend/tests/api/payment/test_meal_plan_purchase_metadata.py
Due: local-ruff-check, local-ruff-format, generate-sdk

style(tests): ruff-fix import-block formatting
  backend/tests/api/payment/test_meal_plan_purchase_metadata.py
  backend/tests/test_event_timezone.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(payment): make checkout submit idempotent
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_payment_idempotency.py
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(payment): link AttendeeProducts to originating payment
  backend/app/alembic/versions/4dffd7a49bef_backfill_attendee_products_payment_id.py
  backend/app/alembic/versions/6b0327ae7ca7_merge_payment_id_backfill_and_payment_products_metadata.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_attendee_products_payment_link.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): edit third-party app name and scopes
  backoffice/src/routes/_layout/third-party-apps.tsx
Due: biome-check-backoffice

chore(backend): silence patron payment test warnings
  backend/app/api/third_party_app/models.py
  backend/tests/api/payment/test_patron_payment_integration.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): drop legacy scopes when editing third-party apps
  backoffice/src/routes/_layout/third-party-apps.tsx
Due: biome-check-backoffice

fix(backend): fall back to live product when snapshot fields are empty
  backend/app/api/attendee/router.py
  backend/tests/api/attendee/test_attendee_product_snapshot.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): dedupe duplicated attendee_products rows in Your Passes
  portal/src/app/portal/[popupSlug]/passes/utils/dedupTickets.test.ts
  portal/src/app/portal/[popupSlug]/passes/utils/dedupTickets.ts
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal

chore(portal): remove legacy step-based checkout + unused passes/buy tree
  .gitignore
  portal/src/app/checkout/components/CheckoutFlow.test.tsx
  portal/src/app/checkout/components/CheckoutFlow.tsx
  portal/src/app/checkout/components/PassesCheckout.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/BuyPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/ToolbarTop.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/BalancePasses.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/BannerDiscount.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/CompletePurchaseButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/EditPassesButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Buttons/InvoicePassesButton.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/DiscountCode.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/ProductCart.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/Special.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/Products/styles.css
  portal/src/app/portal/[popupSlug]/passes/components/common/TitleTabs.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalFloatingBar.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/TotalPurchase.tsx
  portal/src/app/portal/[popupSlug]/passes/helpers/filter.ts
  portal/src/app/portal/[popupSlug]/passes/hooks/useCalculateDiscount.ts
  portal/src/app/portal/[popupSlug]/passes/hooks/useDiscountCode.ts
  portal/src/app/portal/[popupSlug]/passes/hooks/useEditPasses.ts
  portal/src/app/portal/[popupSlug]/passes/hooks/usePurchaseProducts.ts
  portal/src/checkout/TotalStrategy.test.ts
  portal/src/hooks/useCalculateTotal.ts
  portal/src/strategies/TotalStrategy.test.ts
  portal/src/strategies/TotalStrategy.ts
Due: biome-check-portal

feat(checkout): coupon rules + Product.discountable flag
  backend/app/alembic/versions/377c2c02fe74_product_discountable.py
  backend/app/api/payment/crud.py
  backend/app/api/product/schemas.py
  backend/tests/api/payment/test_discountable_product.py
  backend/tests/api/payment/test_patron_payment_integration.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/ProductForm.tsx
  portal/src/checkout/popupCheckoutPolicy.test.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/hooks/checkout/useCartSummary.ts
  portal/src/providers/checkoutProvider.tsx
  portal/src/strategies/PriceStrategy.ts
  portal/src/strategies/ProductStrategies.test.ts
  portal/src/types/checkout.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): clarify which items the coupon applies to in cart review
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

style(portal): biome format ConfirmStep.tsx
  portal/src/components/checkout-flow/steps/ConfirmStep.tsx
Due: biome-check-portal

feat(payment): per-popup SimpleFi installment plans
  backend/app/alembic/versions/e09ad276878b_popup_installments_config.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/shared/enums.py
  backend/app/core/config.py
  backend/app/services/simplefi/client.py
  backend/tests/api/payment/test_installments_integration.py
  backend/tests/api/payment/test_patron_payment_integration.py
  backend/tests/test_calculate_max_installments.py
  backend/tests/test_installment_plan_guard.py
  backend/tests/test_installment_webhooks.py
  backend/tests/test_simplefi_client_installments.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/routes/_layout/payments.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(backoffice): show em-dash for single-installment plans
  backoffice/src/routes/_layout/payments.tsx
Due: biome-check-backoffice

fix(backend): send confirmation email for zero-amount payments
  backend/app/api/payment/router.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): eliminate duplicate AttendeeProducts in open-ticketing checkout
  backend/app/alembic/versions/94d7d49c3c92_cleanup_duplicate_orphan_attendee_products.py
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): wrap migration SQL with text() for SQLAlchemy 2.x
  backend/app/alembic/versions/94d7d49c3c92_cleanup_duplicate_orphan_attendee_products.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(payment): update open-ticketing tests for no-pre-create behavior
  backend/tests/api/payment/test_create_open_ticketing_payment.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(backend): approve and email zero-amount open-ticketing payments
  backend/app/api/checkout/router.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_create_open_ticketing_payment.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): apply group discount when arriving via /groups invite link
  portal/src/app/groups/[groupSlug]/page.tsx
Due: biome-check-portal

fix(portal): redirect zero-amount approved payments to thank-you page
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-portal

feat(agentic-access): disable POST /events for API keys until week 2
  backend/app/core/security.py
  portal/src/app/portal/agentic-access/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(events): use distinct event tags for portal calendar filter
  backend/app/api/event/crud.py
  backend/app/api/event/router.py
  backend/tests/test_event_distinct_tags.py
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/portal/[popupSlug]/events/lib/toolbar/parts/TagsPopover.tsx
  portal/src/app/portal/[popupSlug]/events/lib/usePopupTags.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(portal): avoid 30-day window race when creating write API keys
  portal/src/app/portal/agentic-access/page.tsx
Due: biome-check-portal

fix(ci): unbreak release dev → main
  backend/app/api/event/crud.py
  backend/tests/test_api_key_policy.py
  portal/src/app/portal/agentic-access/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(api-keys): server-owned write scope lifetime, bump to 90 days
  backend/app/api/admin_api_key/schemas.py
  backend/app/api/api_key/schemas.py
  backend/tests/api/admin_api_key/test_crud.py
  backend/tests/test_api_key_policy.py
  portal/src/app/portal/agentic-access/page.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test: align venues:write expiry test with server-default lifetime
  backend/tests/test_portal_venue_crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(events): split event update/cancel emails into dedicated templates
  backend/app/api/email_template/schemas.py
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/event_itip.py
  backend/app/templates/emails/event/cancelled.html
  backend/app/templates/emails/event/invitation.html
  backend/app/templates/emails/event/updated.html
  backend/tests/test_event_itip.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(checkin-pass): scheduled check-in pass email with QR code
  .env.example
  backend/app/alembic/versions/b2e9f4a1c7d3_popup_checkin_pass_lead_days.py
  backend/app/alembic/versions/c3f8a2d6e1b4_attendee_products_checkin_pass_sent_at.py
  backend/app/api/attendee/schemas.py
  backend/app/api/email_template/router.py
  backend/app/api/email_template/schemas.py
  backend/app/api/internal/__init__.py
  backend/app/api/internal/router.py
  backend/app/api/popup/schemas.py
  backend/app/api/router.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/seed_data.json
  backend/app/services/checkin_pass_dispatch.py
  backend/app/services/checkin_qr.py
  backend/app/services/email/__init__.py
  backend/app/services/email/service.py
  backend/app/services/email/templates.py
  backend/app/services/storage.py
  backend/app/templates/emails/check_in/pass.html
  backend/pyproject.toml
  backend/tests/test_check_in_pass_template.py
  backend/tests/test_checkin_pass_dispatch.py
  backend/tests/test_checkin_qr.py
  backend/tests/test_popup_checkin_pass_lead_days.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  uv.lock
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

feat(backoffice): add validity period inputs to coupon form
  backoffice/src/components/forms/CouponForm.tsx
Due: biome-check-backoffice

feat(admin-grant): per-person product overrides for bulk-grant
  backend/app/alembic/versions/a8c1f02e5d33_payments_granted_by_user_id.py
  backend/app/api/application/crud.py
  backend/app/api/application/router.py
  backend/app/api/application/schemas.py
  backend/app/api/attendee/crud.py
  backend/app/api/human/crud.py
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/tests/api/application/test_admin_grant_tickets.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/routeTree.gen.ts
  backoffice/src/routes/_layout/attendees.tsx
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(bulk-grant): drop Card wrappers + table outer borders
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
Due: biome-check-backoffice

style(bulk-grant): biome auto-format after Card removal
  backoffice/src/routes/_layout/popups/$id.bulk-grant.tsx
Due: biome-check-backoffice
