Repository p2p-lanes/edgeos-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

biome-check-backoffice:
  name: biome check (backoffice)
  entry: pnpm --filter backoffice lint
  language: system

biome-check-portal:
  name: biome check (portal)
  entry: pnpm --filter portal lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

generate-sdk:
  name: Generate SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: system

fix(portal): show privacy field label and help text (#624)
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/dynamic-application-form.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.test.tsx
  portal/src/app/portal/[popupSlug]/application/components/form-section.tsx
Due: biome-check-portal

fix(portal): clarify companions page and enforce route access
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.tsx
  portal/src/app/portal/[popupSlug]/people/layout.test.tsx
  portal/src/app/portal/[popupSlug]/people/layout.tsx
  portal/src/app/portal/[popupSlug]/people/page.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): clarify companions page and enforce route access (#625)
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.tsx
  portal/src/app/portal/[popupSlug]/people/layout.test.tsx
  portal/src/app/portal/[popupSlug]/people/layout.tsx
  portal/src/app/portal/[popupSlug]/people/page.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

feat(portal): collapse the accommodation board once a room is chosen
  portal/src/components/checkout-flow/variants/VariantAccommodationBoard.test.tsx
  portal/src/components/checkout-flow/variants/VariantAccommodationBooking.tsx
  portal/src/components/checkout-flow/variants/accommodation/Fold.tsx
  portal/src/components/checkout-flow/variants/accommodation/GuestDetailsPanel.tsx
  portal/src/components/checkout-flow/variants/accommodation/RoomViews.tsx
  portal/src/components/checkout-flow/variants/accommodation/SelectedRoomSummary.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
Due: biome-check-portal

fix(portal): retain popup scope when applying group discounts
  portal/src/providers/discountProvider.test.tsx
  portal/src/providers/discountProvider.tsx
Due: biome-check-portal

feat(popups): add optional custom HTML home pages with live previews
  CUSTOM_POPUP_HOME.md
  backend/app/alembic/versions/d9e4c2a7b6f1_popup_custom_home.py
  backend/app/api/popup/schemas.py
  backend/tests/api/popup/test_popup_custom_home.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/PopupHomeEditor.test.tsx
  backoffice/src/components/forms/PopupHomeEditor.tsx
  packages/shared-form-ui/package.json
  packages/shared-form-ui/src/popup-home/index.tsx
  pnpm-lock.yaml
  portal/src/app/portal/[popupSlug]/custom-home.test.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Portal/DefaultPopupHome.tsx
  portal/src/components/Portal/PopupHomeFrame.test.tsx
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(portal): auto-apply coupons from checkout links
  portal/src/components/checkout-flow/OpenCheckoutRuntime.coupon.test.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/hooks/checkout/useOpenCartPersistence.ts
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/hooks/checkout/usePromoCode.url.test.tsx
  portal/src/providers/checkoutProvider.test.tsx
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(portal): silently ignore invalid checkout URL coupons
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/hooks/checkout/usePromoCode.url.test.tsx
  portal/src/providers/checkoutProvider.test.tsx
Due: biome-check-portal

fix(portal): separate details navigation and group page labels
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): separate details navigation and group page labels (#630)
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): silently ignore invalid checkout URL coupons (#629)
  portal/src/hooks/checkout/usePromoCode.ts
  portal/src/hooks/checkout/usePromoCode.url.test.tsx
  portal/src/providers/checkoutProvider.test.tsx
Due: biome-check-portal

feat(checkout): preserve portal return and flow contracts
  backend/app/api/checkout/schemas.py
  backend/app/api/payment/crud.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/checkout/test_purchase.py
  backend/tests/api/payment/test_pending_release_return.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(sales-flow): keep fresh flows empty and readiness accurate
  backend/app/api/sales_flow/readiness.py
  backend/app/api/sales_flow/router.py
  backend/tests/api/sales_flow/test_flow_readiness.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backend/tests/api/sales_flow/test_where_a_new_door_starts.py
  backoffice/src/components/forms/NewSalesFlowWizard.test.tsx
  backoffice/src/lib/salesFlowStart.test.ts
  backoffice/src/lib/salesFlowStart.ts
Due: biome-check-backoffice, local-ruff-check, local-ruff-format, generate-sdk

fix(human): complete hard-delete payment cascade
  backend/app/api/human/crud.py
  backend/tests/api/human/test_hard_delete_cascade.py
Due: local-ruff-check, local-ruff-format, generate-sdk

feat(passes): group history by sales flow provenance
  portal/src/app/portal/[popupSlug]/check-in/page.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.test.tsx
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.test.ts
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.test.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/components/BuyPassesContent.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/buy/page.tsx
  portal/src/app/portal/[popupSlug]/passes/components/UpsaleFlowsPanel.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/UpsaleFlowsPanel.tsx
  portal/src/app/portal/[popupSlug]/passes/components/common/AttendeeTicket.tsx
  portal/src/app/portal/[popupSlug]/passes/layout.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.test.tsx
  portal/src/app/portal/[popupSlug]/passes/page.tsx
  portal/src/app/portal/[popupSlug]/passes/utils/dedupTickets.test.ts
  portal/src/app/portal/[popupSlug]/passes/utils/dedupTickets.ts
  portal/src/app/portal/[popupSlug]/tickets/LegacyTicketsRedirect.test.tsx
  portal/src/app/portal/[popupSlug]/tickets/LegacyTicketsRedirect.tsx
  portal/src/app/portal/[popupSlug]/tickets/page.tsx
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.test.tsx
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/hooks/useResolvedAttendees.test.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/lib/portal-sales-flows.test.ts
  portal/src/lib/portal-sales-flows.ts
Due: biome-check-portal

feat(portal): make commerce navigation flow scoped
  portal/src/app/globals.css
  portal/src/app/portal/PortalShell.test.tsx
  portal/src/app/portal/PortalShell.tsx
  portal/src/app/portal/[popupSlug]/orders/OrdersContent.test.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.test.tsx
  portal/src/app/portal/[popupSlug]/people/PeopleContent.tsx
  portal/src/app/portal/[popupSlug]/people/page.tsx
  portal/src/app/portal/[popupSlug]/people/peoplePresentation.test.ts
  portal/src/app/portal/[popupSlug]/people/peoplePresentation.ts
  portal/src/app/portal/[popupSlug]/people/peopleProjection.test.ts
  portal/src/app/portal/[popupSlug]/people/peopleProjection.ts
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/components/ShopContent.tsx
  portal/src/app/portal/[popupSlug]/shop/components/shopOffers.test.ts
  portal/src/app/portal/[popupSlug]/shop/components/shopOffers.ts
  portal/src/app/portal/[popupSlug]/shop/page.tsx
  portal/src/app/portal/[popupSlug]/tickets/AccessContent.test.tsx
  portal/src/components/Sidebar/BreadcrumbSegment.tsx
  portal/src/components/Sidebar/CartBadge.tsx
  portal/src/components/Sidebar/HeaderBar.test.tsx
  portal/src/components/Sidebar/HeaderBar.tsx
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/components/Sidebar/ResourcesMenu.tsx
  portal/src/hooks/endedResources.test.ts
  portal/src/hooks/endedResources.ts
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.directory.test.ts
  portal/src/hooks/useResources.ended.test.tsx
  portal/src/hooks/useResources.shop.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/types/resources.ts
Due: biome-check-portal

feat(portal): complete application checkout return flow
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.test.tsx
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/checkout/[popupSlug]/thank-you/orderData.ts
  portal/src/app/checkout/[popupSlug]/thank-you/page.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/thank-you/page.test.tsx
  portal/src/app/portal/[popupSlug]/thank-you/page.tsx
  portal/src/components/checkout-flow/FlowThankYouContent.tsx
  portal/src/components/checkout-flow/OpenCheckoutRuntime.tsx
  portal/src/components/checkout-flow/steps/SuccessStep.test.tsx
  portal/src/components/checkout-flow/steps/SuccessStep.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
  portal/src/lib/browser-navigation.ts
  portal/src/providers/checkoutProvider.tsx
Due: biome-check-portal

fix(checkout): preserve legacy return contracts
  backend/app/api/payment/crud.py
  backend/tests/api/sales_flow/test_portal_flow_listing_is_narrow.py
  backend/tests/api/sales_flow/test_portal_upsale_listing.py
Due: local-ruff-check, local-ruff-format, generate-sdk

test(portal): align pass history paging fixture
  portal/src/app/portal/[popupSlug]/passes/Tabs/YourPasses.test.tsx
Due: biome-check-portal

fix(portal): keep shop flow resolution local
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
Due: biome-check-portal

fix(portal): correct navigation and fee labels
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/i18n/pendingFeeTranslations.test.ts
Due: biome-check-portal

fix(portal): show required marker on consent fields
  packages/shared-form-ui/src/components/Form/RichTextForm.tsx
  portal/src/components/SchemaField.required.test.tsx
Due: biome-check-portal

test(portal): update attendee category fixture
  portal/src/lib/attendee-category-label.test.ts
Due: biome-check-portal

fix(portal): add stepped products on first increment
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
Due: biome-check-portal

fix(payments): reuse recipients across sales flows
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_payment_recipients.py
  portal/src/hooks/useResolvedAttendees.test.tsx
  portal/src/hooks/useResolvedAttendees.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(calendar): keep local wall-clock across DST and harden event listing
  backend/app/api/event/crud.py
  backend/app/api/event/recurrence.py
  backend/app/api/event/router.py
  backend/app/api/event/schemas.py
  backend/app/api/event_participant/router.py
  backend/app/services/ical.py
  backend/tests/api/event/test_calendar_listing_regressions.py
  backend/tests/test_calendar_regressions.py
  backend/tests/test_event_itip.py
  backoffice/src/components/forms/EventForm.test.tsx
  backoffice/src/components/forms/EventForm.tsx
  packages/shared-events/src/venue-slots.test.ts
  packages/shared-events/src/venue-slots.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventScheduling.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/useEventScheduling.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

style(backoffice): format EventForm test for biome ci
  backoffice/src/components/forms/EventForm.test.tsx
Due: biome-check-backoffice

feat(popups): extract custom home into dedicated resource
  CUSTOM_POPUP_HOME.md
  backend/app/alembic/versions/e2c6a91b7d4f_popup_home_resource.py
  backend/app/api/popup/models.py
  backend/app/api/popup/router.py
  backend/app/api/popup/schemas.py
  backend/app/models.py
  backend/tests/api/popup/test_popup_custom_home.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_popup_home_resource.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/components/forms/PopupForm.tsx
  backoffice/src/components/forms/PopupHomeEditor.test.tsx
  backoffice/src/components/forms/PopupHomeEditor.tsx
  backoffice/src/routes/_layout/popups/$id.edit.tsx
  packages/shared-form-ui/src/popup-home/index.tsx
  portal/src/app/portal/[popupSlug]/application/components/fee-payment-banner.tsx
  portal/src/app/portal/[popupSlug]/custom-home.test.tsx
  portal/src/app/portal/[popupSlug]/overview/page.tsx
  portal/src/app/portal/[popupSlug]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/components/Portal/PopupHomeFrame.test.tsx
  portal/src/components/Sidebar/BreadcrumbSegment.tsx
  portal/src/components/Sidebar/ResourcesMenu.test.tsx
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.ended.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

test(backend): classify atomic popup home update
  backend/tests/api/shared/test_update_schema_fields_set.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): remove GeoBrowser event button
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-portal

fix(portal): make event access popup-wide
  portal/src/app/portal/[popupSlug]/events/[eventId]/page.tsx
  portal/src/app/portal/[popupSlug]/events/layout.test.tsx
  portal/src/app/portal/[popupSlug]/events/layout.tsx
  portal/src/app/portal/[popupSlug]/events/lib/CalendarBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/DayBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/ListBody.tsx
  portal/src/app/portal/[popupSlug]/events/lib/portalEventHref.test.ts
  portal/src/app/portal/[popupSlug]/events/lib/portalEventHref.ts
  portal/src/app/portal/[popupSlug]/events/page.tsx
  portal/src/components/EventsApiAccessGate.tsx
  portal/src/hooks/useResources.commerce.test.tsx
  portal/src/hooks/useResources.ts
  portal/src/lib/popup-participation.test.ts
  portal/src/lib/popup-participation.ts
Due: biome-check-portal

fix(payments): enforce flow-scoped recipient roles
  backend/app/api/attendee/router.py
  backend/app/api/attendee/validation.py
  backend/app/api/payment/crud.py
  backend/app/services/restrictions/offering.py
  backend/tests/api/payment/test_deferred_attendee_fulfillment.py
  backend/tests/api/payment/test_payment_recipients.py
  backend/tests/api/payment/test_product_unit_recipients.py
  backend/tests/api/payment/test_simple_quantity_recipient_contract.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(portal): scope companions to checkout flow
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.test.tsx
  portal/src/app/portal/[popupSlug]/passes/components/AttendeeModal.tsx
  portal/src/checkout/simpleQuantityRecipients.test.ts
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.test.tsx
  portal/src/components/checkout-flow/shared/AddAttendeeButtons.tsx
  portal/src/components/checkout-flow/shared/TicketRecipientControls.tsx
  portal/src/components/checkout-flow/shared/recipientAssignmentLabels.ts
  portal/src/components/checkout-flow/steps/PassSelectionSection.test.tsx
  portal/src/components/checkout-flow/steps/PassSelectionSection.tsx
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/components/checkout-flow/variants/VariantTicketCard.tsx
  portal/src/components/checkout-flow/variants/VariantTicketSelect.tsx
  portal/src/hooks/checkout/buildPaymentProducts.ts
  portal/src/hooks/checkout/recipientPersistence.test.ts
  portal/src/hooks/checkout/ticketSections.test.ts
  portal/src/hooks/checkout/ticketSections.ts
  portal/src/hooks/useResolvedAttendees.test.tsx
  portal/src/hooks/useResolvedAttendees.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
  portal/src/i18n/recipientAssignmentLocalization.test.ts
  portal/src/providers/passesProvider.test.ts
  portal/src/providers/passesProvider.tsx
  portal/src/types/checkout.ts
Due: biome-check-portal

fix(checkout): preserve unrestricted recipients
  backend/app/api/payment/crud.py
  portal/src/components/checkout-flow/variants/VariantTicketCard.test.ts
  portal/src/hooks/useResolvedAttendees.test.tsx
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): respect thank-you redirect precedence
  backend/app/api/payment/crud.py
  backend/app/api/payment/router.py
  backend/app/api/payment/schemas.py
  backend/tests/api/payment/test_application_payment_redirects.py
  backend/tests/api/payment/test_payment_recipients.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.test.tsx
  portal/src/app/checkout/[popupSlug]/ApplicationCheckoutRedirect.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.flow.test.tsx
  portal/src/app/checkout/[popupSlug]/CheckoutPageClient.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ApplicationShopCheckout.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.test.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/ShopCheckoutContent.tsx
  portal/src/app/portal/[popupSlug]/shop/[flowSlug]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/types.gen.ts
  portal/src/hooks/checkout/usePaymentSubmit.payload.test.tsx
  portal/src/hooks/checkout/usePaymentSubmit.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): preserve payment object URL resolution
  backend/app/api/payment/crud.py
Due: local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): validate quantities and settle free purchases atomically
  backend/app/api/coupon/crud.py
  backend/app/api/payment/crud.py
  backend/tests/api/payment/test_application_zero_payment_atomicity.py
  backend/tests/test_coupon_use_atomic.py
  portal/src/checkout/buildPaymentProducts.test.ts
  portal/src/hooks/checkout/buildPaymentProducts.ts
Due: biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

feat(referrals): let attendees share other popups of their tenant
  backend/app/alembic/versions/b4d8e1f27a93_cross_popup_referrals.py
  backend/app/api/application/crud.py
  backend/app/api/invite/crud.py
  backend/app/api/invite/models.py
  backend/app/api/invite/router.py
  backend/app/api/invite/schemas.py
  backend/app/api/sales_flow/schemas.py
  backend/tests/api/group/test_group_flags.py
  backend/tests/api/invite/test_cross_popup_referrals.py
  backend/tests/migrations/test_drop_fulfillment_type.py
  backend/tests/migrations/test_expand_product_units.py
  backend/tests/migrations/test_materialize_historical_product_units.py
  backend/tests/migrations/test_popup_custom_home.py
  backend/tests/migrations/test_repair_payment_product_identity_constraint.py
  backend/tests/migrations/test_single_alembic_head.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  backoffice/src/lib/salesFlowConfigSections.ts
  backoffice/src/lib/salesFlowSectionSummary.test.ts
  backoffice/src/lib/salesFlowSectionSummary.ts
  backoffice/src/routes/_layout/invites/index.tsx
  portal/src/app/portal/[popupSlug]/referrals/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/is.json
  portal/src/i18n/locales/zh.json
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

fix(checkout): redirect popup alias to primary flow
  backend/app/api/checkout/router.py
  backend/app/api/checkout/schemas.py
  backend/tests/api/checkout/test_primary_flow.py
  backoffice/src/client/schemas.gen.ts
  backoffice/src/client/sdk.gen.ts
  backoffice/src/client/types.gen.ts
  portal/src/app/checkout/[popupSlug]/page.test.tsx
  portal/src/app/checkout/[popupSlug]/page.tsx
  portal/src/client/schemas.gen.ts
  portal/src/client/sdk.gen.ts
  portal/src/client/types.gen.ts
  portal/src/lib/checkout-primary.ts
Due: biome-check-backoffice, biome-check-portal, local-ruff-check, local-ruff-format, generate-sdk

Path conditions:
  biome-check-backoffice: any of: ^backoffice/
  biome-check-portal: any of: ^portal/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
